[2016-09-18 13:03] #211 closed

[2016-09-18 13:03] #221 closed

[2016-09-18 14:16] yossigil opened #233 "Eliminate empty switch"

[2016-09-18 14:16] yossigil opened #234 "Eliminate empty try block"

[2016-09-18 14:17] yossigil opened #235 "Eliminate empty finally"

[2016-09-18 15:37] NivShalmon commented on #185
I'm getting the assertion failure now, but not from the function you wrote above. I'll try to find where it happens and why

[2016-09-19 23:49] yossigil commented on #185
Thanks!

[2016-09-20 04:58] yossigil opened #236 "Bug in pushdown String"
![Uploading image.png…]()

This is a blocker since it holds the spartanization process. You know the drill:

- [ ] Produce a test case to reproduce

- [ ] Make the test fail

- [ ] Fix the bug

- [ ] Make sure the test pass

- [ ] Cleanup

- [ ] Make sure the plugin work at least on itself

- [ ] Push

This is the dump I get, many times,  the bad index is always -3 for some reason, but could be a

[2016-09-20 05:02] yossigil commented on #236
My advise: avoid playing with indices. They tend to be buggy. Just use string functions. Write your own.

[2016-09-20 05:15] yossigil opened #237 "Do not remove default values for fields which are final"
#211

[2016-09-20 05:27] #237 closed

[2016-09-20 05:32] yossigil opened #238 "Make TrimmerLog use csv"
Logic is:

- record to CSV.
- Print to screen, as per the limited numbers
- Use static fields with meaningful names of types boolean / integer /File types, th to control (a) do we log to screen? (b) do we log to file? (c) How much logging to screen? (d) which files names
- This flags could later  be injected by CLI ,Dont worry about this now.
- In the CSV, do not be afraid to log whatever informat

[2016-09-20 06:03] yossigil commented on #185
I added some printing information
[code]

[2016-09-20 10:00] NivShalmon commented on #236
I have a general idea of how this happens since it happened before, but I can't find a case where this happened. @yossigil do you have an example of code where this happened? It doesn't happen to me when I spartanize the plugin.
I updated the code to use az,iz and lisp better, as well as fixed some other bugs I found while trying to cause this. Maybe this will also solve this, though I'm sceptical

[2016-09-20 10:47] NivShalmon commented on #185
I just spartanized autorefactor and the plugin after my last commit and no assertion failures or exceptions happened.It seems this happened because the pushdown assumed only the first reciever can be null (which is true if the trenarization is sorted, since the no receiver method invocation must be the shorter one), but it didn't happen when running the plugin. This does always happen in tests how

[2016-09-20 13:03] yossigil commented on #185
This is not with AutoRefactor. This time I got it with apache common langs.

[2016-09-20 15:49] NivShalmon commented on #185
I just spartanized apache common langs as well and no exceptions. @yossigil can you check if these are solved yourself as well?

[2016-09-20 15:53] M4tt30rru opened #239 "Spartanizer does not detect Inline Spartanization."
There is an issue with this class of the commons-lang3 software:
_org.apache.commons.lang3.builder.HashCodeBuilderAndEqualsBuilderTest_

The spartanizer is not able to detect any spartanization opportunity (i.e. inlining) for the following snippet of code:

[code]

Here it is the complete class.

[code]

[2016-09-21 09:10] NivShalmon opened #240 "type of conditional expressions"
Conditional expressions handle type in an odd way, that needs to be looked into deeper. It's possible that a recursive call won't be enough when getting the type of a conditional, since it sometimes casts and sometimes doesn't (such as axiomConditional01 compared to axiomConditional19).

[2016-09-21 12:01] yossigil commented on #240
Yes, this is a good point. thanks for taking care of this. Note that there is a limit to what you can do here, since the mechanism is a bit defective. See #226 and #227

[2016-09-21 12:02] yossigil commented on #185
I think it is working now. No problems for me.

[2016-09-21 12:02] #185 closed

[2016-09-21 12:04] yossigil commented on #236
Seems to be done. If the problem persists, we will start an new issue and reference this one.

[2016-09-21 12:04] #236 closed

[2016-09-21 12:06] yossigil commented on #119
I had a vision that we would be able to print out the types we found for debugging, logging and research.  If this should become necessary, we will do it.

[2016-09-21 12:06] #119 closed

[2016-09-21 13:16] #240 closed

[2016-09-21 14:55] yossigil commented on #239
Could not verify. Test passes. Closing.

[2016-09-21 14:55] #239 closed

[2016-09-21 14:58] yossigil commented on #238
@M4tt30rru : did you finish this?

[2016-09-21 15:10] M4tt30rru commented on #238
Yes, but at the moment it is printing some basic information. I would like to improve it a little bit.

[2016-09-21 18:13] #238 closed

[2016-09-21 18:22] yossigil commented on #213
@OriRoth : I think I largely solved this. Reopen if necessary.

[2016-09-21 18:22] #213 closed

[2016-09-21 18:24] yossigil commented on #117
@OriRoth: If you write the test cases, I will solve this.

[2016-09-21 18:27] yossigil commented on #194
This is all a matter of writing a method (say in class `iz`), that will check if a statement is last in function.
I vaguely remember that I did this some time ago. Perhaps there is a threshold?

[2016-09-21 18:29] yossigil commented on #156
I think I solved this. If you write several test cases, you can finish. If the tests pass, just close this. If not assign to me.

[2016-09-21 20:31] yossigil opened #241 "Remove static modifiers on fields in interfaces"

[2016-09-21 20:46] #241 closed

[2016-09-21 20:47] yossigil opened #242 "Do not remove default values from fields in interfaces:w"

[2016-09-21 20:47] yossigil opened #243 "Do not remove default values from fields in interfaces"

[2016-09-21 20:58] yossigil commented on #242
Duplicate of #243

[2016-09-21 20:58] #242 closed

[2016-09-21 21:19] yossigil commented on #243
Closed with 9db6528914a4bc8c527f9771e2b7eec426789328

[2016-09-21 21:19] #243 closed

[2016-09-22 05:51] yossigil commented on #194
What's up?

[2016-09-22 06:21] dngreenst commented on #194
Will be done today.

[2016-09-22 09:26] yossigil opened #244 "Resurrect the rotting Python"
There are a bunch of Python files that @danielmittelman  used to create the tables on Google Docs. @M4tt30rru  can you please resurrect these, you know the drill: candles, prayers, fasting, and holy water.

@danielmittelman : can you please help in the digging? I believe the graveyard is somewhere in your back yard

[2016-09-22 09:43] dngreenst commented on #194
@yossigil to the best of my understanding, we wring for an early `return` only if we know for certain that the `ifstatement` will end with a sequencer. If that is the case, we know for certain that either the `ifstatement`'s `then` or the `return` will be executed, but never both.

I have improved the logic that detects this, and I will test it further.

However, it seems that the example in issue

[2016-09-22 11:04] yossigil opened #245 "Complete the batch spartanizer"
This means, running the command line `essence` from the batch, and reporting the compression ratios based on `wc` of these.

[2016-09-22 11:13] yossigil commented on #194
Not sure  I understand. I will take a look when it is done.

[2016-09-22 11:15] yossigil opened #246 "Bug in batch spartanizer"
It does not print the percent as string (function p).  The CSV summarizer has this property that if all values are identical, it does not produce any output for the column. Should be about an hour

[2016-09-22 11:18] yossigil commented on #246
https://github.com/SpartanRefactoring/Spartanizer/blob/7a36250e46166f998de36415f705600934acc99a/src/main/java/il/org/spartan/spartanizer/application/BatchSpartanizer.java

[2016-09-22 11:20] yossigil commented on #245
https://github.com/SpartanRefactoring/Spartanizer/blob/7a36250e46166f998de36415f705600934acc99a/src/main/java/il/org/spartan/spartanizer/application/BatchSpartanizer.java

[2016-09-22 11:21] yossigil commented on #245
https://github.com/SpartanRefactoring/Spartanizer/blob/80da96e4879f6fd9810e9f527375b70288b7404f/essence[](url)

[2016-09-22 11:30] M4tt30rru commented on #245
@yossigil just to be sure that I well understood. Do I need to implement the essence script inside BatchSpartanizer?

[2016-09-22 12:18] M4tt30rru commented on #246
@yossigil do you want me to change the CSVStatistics classes on spartan?

[2016-09-22 14:40] #231 closed

[2016-09-22 14:43] yossigil commented on #245
No, just call it from Java..

[2016-09-22 15:58] M4tt30rru commented on #246
@yossigil So, as far as I understand, there are two points here:

1) % is not being printed out? I think that maybe because % is used as a separator for the hashmap (in CSVWriter).
However, I am able to change it in spartan because there are several compilation errors (i.e. the file il.org.spartan.utils.___ is missing in the source code). Also in Travis, it is not building anymore since few days.

[2016-09-22 16:03] M4tt30rru commented on #245
I had already worked on an implementation of the script in Java. However, I can certainly make BatchSpartanizer call the script instead.

[2016-09-22 17:42] #199 closed

[2016-09-22 17:43] yossigil commented on #245
And, you do not need to do that for every file. Just apply it to the overall input file and the overall output file.

[2016-09-22 18:30] yossigil opened #247 "Bug in pushdownTernary"
!ENTRY org.eclipse.core.resources 4 2 2016-09-22 21:03:06.713
!MESSAGE Problems occurred when invoking code from plug-in: "org.eclipse.core.resources".
!STACK 0
java.lang.AssertionError: BUG:
 x = "<A HREF=\"" + base_type + ".html\" TARGET=_top>"+ short_type+ "</A>"
 i = 7
 es = ["<A HREF=\"", base_type, ".html\" TARGET=_top>", short_type, "</A>"]
 l = "</A>"
-----this is all I know.
	at il.org.sp

[2016-09-22 18:32] yossigil commented on #247
This bug occurs in spartanizing BCEL.
I think the code is
[code]

[2016-09-22 18:34] yossigil commented on #247
[code]

[2016-09-22 18:50] yossigil commented on #117
What's up?

[2016-09-22 18:50] yossigil commented on #201
Close or open?

[2016-09-23 06:54] sakopzon commented on #230
the issue falls because the final modifier is missing in the "to" string.

[2016-09-23 10:10] sakopzon commented on #156
Still not doing anything when it is out of a class scope.

[2016-09-23 11:36] dormaayan commented on #206
@yossigil :
Done

[2016-09-23 11:36] #206 closed

[2016-09-23 11:39] #247 closed

[2016-09-23 11:48] dormaayan commented on #201
@yossigil :
Close

[2016-09-23 11:48] #201 closed

[2016-09-23 11:53] yossigil commented on #206
:100:

[2016-09-23 11:56] #156 closed

[2016-09-23 11:59] yossigil commented on #230
- Fix the bug in the test then...
A1: it is a bug/
A2: it should not.

Cannot find the test anymore.

[2016-09-23 12:16] sakopzon commented on #230
test issue230a/1/2/3

[2016-09-23 12:28] yossigil commented on #230
Try to see if you can get the code to remove duplicates in modifiers. The code is illegal, but the plugin may be able to fix it...

Move the tests to a different Issue file as a I have done for all others.

[2016-09-23 12:30] yossigil commented on #230
Also, when the tests are moved to a testing class, remove  "issue230" from their name

[2016-09-23 20:51] yossigil opened #248 "Nest markers by category"
http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Forg_eclipse_core_resources_markers.html

[2016-09-24 13:23] sakopzon commented on #230
I got there the deepest I can and found that the built in equals() function is not recognizing equal annotations when called from distinct(), so I implemented it myself (during some research I found out that java actually has List<baseClass> and List<? extends baseClass> and the differences between them). I tried to find generic distinct(), contains() or equals() function of a List or stream which

[2016-09-24 16:39] yossigil commented on #230
Good job. I promised you hell on Java. Welcome to hell!

[2016-09-24 17:02] yossigil commented on #230
And yes, you are right, the stream library has distinct filter, but then you need to mess with the `equals` function. My advice: don't! Do a quick  manual sort of your own.

Or, if you feel that you have learnt enough, fix the tests; that is remove those illegal errors.

My advise: go for the second option, and close the issue with these tests running. Take note that there are three  more failing

[2016-09-24 17:12] yossigil opened #249 "Implement horizontal complexity metrics."
The client's need is a function that computes a a vague notion, known as _horizontal complexity_. It is marked as an Enhancement, and as Innovation.

With this issue, we will use TDD to make the notion precise. Each step in the TDD process is captured by git commit.

[2016-09-24 17:36] yossigil commented on #249
A commit such as the above  cf0d7b2a84b301164ce234df6ec8e429b676f384 represents a step in the TDD.

[2016-09-24 17:48] yossigil commented on #249
Notice how I assign this to myself

[2016-09-24 22:46] yossigil opened #250 "User defined tippers"
The idea is that the user writes something like
[code]
or something similar in XML, and then the user can define rules to find nanos such as `defualtsTo`

[2016-09-24 23:04] yossigil opened #251 ""if (b) {int x = some(expression(with(possible(side(effects))))); }"
Sometimes, as an intermediate, we get kinds of weird stuff such as `if (b) {int i;}`or or just plain unconditional block `{int f =E;}`, or a block within an iterative `while(b){int i= E;}`, and it may even occur in plain and enhanced `for` loops.

What do we do? When can we kill the **block**, the **initializer**, the **conditional**, or the **loop guard** in `while loop`? Things get even more hai

[2016-09-24 23:07] yossigil commented on #193
This is actually the same as #251

[2016-09-24 23:09] yossigil commented on #126
Too complicated

[2016-09-24 23:09] #126 closed

[2016-09-24 23:12] yossigil commented on #178
I am closing this for now, as it is even more complicated than #251  Use-def is tricky. Auto refactor has that though

[2016-09-24 23:12] #178 closed

[2016-09-24 23:13] yossigil commented on #173
There is a great article in the internet on `monitor`  or `convert` or something

[2016-09-24 23:15] yossigil commented on #175
Take note that I worked on warnings in `plugin.xml`, currently, there should not be any. check out #146

[2016-09-24 23:18] yossigil commented on #174
Duplicate of #146

[2016-09-24 23:18] #174 closed

[2016-09-24 23:20] yossigil commented on #146
@OriRoth Lets keep `plugin.xml` free of warnings. Please find using search in preferences how to set them all.

[2016-09-24 23:42] yossigil commented on #183
@OriRoth  it is all  a mater of editing `plugin.xml`; be sure to keep it free of warnings.
I would like CTRL-SHIFT-S to apply the current spartanization.
and CTRL-SHIFT-N to fully spartanize current window.

[2016-09-25 00:01] yossigil commented on #251
My advise: do not mess too much with the `sideEffects` function. I know it needs tweaking,  but it is a lot of work and I am not sure it is worth it. It is pretty robust now.

[2016-09-25 00:04] yossigil commented on #178
To do that properly, you need to mess with the side effects issue as in #251 , other than doing the CFG.

[2016-09-25 00:06] yossigil commented on #194
Pending on #249

[2016-09-25 00:08] yossigil commented on #225
@dormaayan can this be closed?

[2016-09-25 00:13] yossigil commented on #225
@dormaayan : actually, we need a `@Test case` for this one.

[2016-09-25 00:21] yossigil commented on #226
there are cases in which the system crashes. We get an `NPE`

[2016-09-25 00:27] yossigil commented on #250
@orimarco : this is the only way to generate tests for new wrings, which are nano patterns. The cycle time for creating wrings is unreasonable for this. Please allocate time for this. It is important.

[2016-09-25 00:29] yossigil opened #252 "Automatic detection of nanos"
Perhapsour traveral system can be used to find  nanons itself?

[2016-09-25 00:32] yossigil opened #253 "Spartanize reversed engineer code"

[2016-09-25 00:37] yossigil commented on #253
must hack `isAbbreviation`

[2016-09-25 00:41] yossigil opened #254 "Detecting plagiarism is student programs."

[2016-09-25 00:58] yossigil opened #255 "Extract tail method"
When you find that the suffix of a method has a tail, extract the tail passing to it only live arguments.  Use the same method name.

[2016-09-25 01:03] yossigil opened #256 "Move forward definition"
Need to be careful not put another variable farther, ie rescue of infinite loop.

Need to worry of calling methods such as clear, 'd = list.clone(); list.clear(); list.addAll(sort(d))': if you move forward 'd' closer to its use you get a disaster :-1:

[2016-09-25 01:08] yossigil opened #257 "Extract segment of a method"
A segment is some consecutive string of statements for which you can apply extract method factorizing. that would minimize the number of tokens, or at least the chaleonicity

[2016-09-25 01:21] yossigil opened #258 "Something at Daniel Mittelman's scale!"
Move us back to JIRA and to BIt Bucket, wile preserving the issues, the milestone, and the labels, etc.

[2016-09-25 01:24] yossigil commented on #258
It is a blocker since we must use bitbucket for the YPP to be able to use JIRA. The alternative is to to move everyone to github, and loosing JIra.

Perhaps we can use Jira on top of GitHub? Migrating issues, colors and assignments and whatever

[2016-09-25 01:26] yossigil commented on #257
If you consider taking it, assign yourself

[2016-09-25 01:30] yossigil commented on #257
The tricky bit is to optimize for something, tokens, horizontal complexity, chameleonicity, etc.

[2016-09-25 01:44] yossigil opened #259 "Approximate type system for source only, partial world information, analysis"
Relies on #119 and #94 , but may be smart enough to deal with simple templates

[2016-09-25 02:07] yossigil opened #260 "Spartanizations and mutations"

[2016-09-25 02:12] yossigil commented on #256
The real challenge is in identifying methods, based on what you have in the current file, and an _abstraction of **presumptions_**.  Presumptions are things like: NPE should not happen. x.toString is deterministic, and so isEquals

[2016-09-25 02:40] yossigil opened #261 "Explore confluence of the spartanizer"
It is likely/provable that spartanizations on not confluent. You apply them in different order, you may get different results. But how common is this? Let's compare many different policies:
= First fit (which is the present Trimmer)
= Greedy: take best according to several criteria
=Monastic: take worst according to several criteria
=Nepotistic Prefers a wring/kind
= Random

Conjecture: in  most c

[2016-09-25 02:47] yossigil opened #262 "Apply the axe to separate between the applicator and the toolbox"
Actually, there are four players: **applicators** (ProgresMonior/Batch), the **toolbox**, which is just a set of wrings (all/singleton/a particular set, e.g., of certain `Kind`), the **policy**, and the **listeners**.

A **policy** is the order at which you apply the wrings. Currently we have only the _eager_ `**Trimmer**`. In the future maybe some other policies: #261

Listeners are a different m

[2016-09-25 02:54] yossigil opened #263 "Listeners, Filters, Loggers"
Filter kinds:

- All
- None
-- First N
- eVERY NN
-- FIBONACCI
= Last nn

Loggers are currently present in the code.

[2016-09-25 03:57] OriRoth commented on #173
Yes this is the new API for *deprecated* SubProgressMonitor: SubMonitor. We should see how we can use it in GUI$Applicator instead of `pm.start(...)`.
We should also look into monitors groups.

[2016-09-25 06:27] yossigil commented on #173
Please DO NOT USE the new API. Just use the plain `convert`, or something. The system is shaking is unstsable at the moment

[2016-09-25 06:29] yossigil opened #264 "The plugin does not work"
Try to the run the plugin on itself. If you are at it, it is a good time to spartanize it all.

[2016-09-25 06:31] yossigil opened #265 "A control flow graph for the source analyzer"

[2016-09-25 06:58] dormaayan commented on #225
@yossigil : actually, I added a test case of that in friday (didn't push it yet) and it seems to works ok in the test case. But, when I run the plugin with that code it doesn't work (it shows the suggestion to spartanize but then it doesn't do the spartanization itself), I tried to find if there is any conflict between the scopeIncludes and the replacement but I did'nt find any one.
Do you have an

[2016-09-25 07:49] yossigil commented on #225
Sure. This must be a thing related to ranges. It happens all the times. You see, a spartanization returns, and it sets a marker, to which region in the code we associate the suggestion.

Now, the Trimmer tries to execute as many suggestions as possible in each batch. So, it applies a kind of trimming of the list. If a suggestion does not properly define its region (see constructors of class Sugges

[2016-09-25 08:56] sakopzon commented on #230
Do you mean this one:
@Ignore("Issue #230") @Test public void a2() {
    trimmingOf("private @Nullable T value = null;") //
        .gives("@Nullable private T value = null;") //
        .stays();
  }
Because I tan all existing tests write now and everything works..

[2016-09-25 10:08] OriRoth commented on #264
*Updates:*
* Markers are showing
* Built at startup

[2016-09-25 10:21] #264 closed

[2016-09-25 10:23] yossigil commented on #230
I think there are more `@Ignore`s like this in other folders / issues, all of a result. In junit test, ask it to present only "skipped" tests: go over them. Some are related to removed features such as Switch, but yours will pop out

[2016-09-25 10:25] yossigil commented on #250
@M4tt30rru : this is what i spoke about, the identification of nanos.

[2016-09-25 10:27] yossigil commented on #250
@orimarco : notice that:
- [ ]  I used Lola like syntax
- [ ] All we need is some hacking to quickly implement the nanos. It does not have to be through a language.

[2016-09-25 10:34] sakopzon commented on #55
We need the environment first, cause the next steps should be executed:

1. Find coercion.
2. Check for environment:
if !(current scope declares only ¢) then
    * create new function f() of the same type as the nearest parent method g().
    * change f()'s parameter name to ¢.
    * call from f() to g() with the coercion expression as actual parameter.
    * remove the coercion expression from g(

[2016-09-25 10:36] OriRoth opened #266 "GUI Performance Improvements"
@yossigil what is your opinion?
*Suggestions:*
* Count markers instead of first collectSuggestions in SpartanizeAll.
* GUI$Applicator should return number of changes (instead of boolean) instead of collectSuggestions in SpartanizeAll.
* Or markers as well, if possible.

[2016-09-25 10:43] yossigil opened #267 "Global renaming: Wring, suggest, and Suggestion go to: Tipper, tip and a Tip."
For this change to happen, I need everyone to push their work.
Please ack by marking a v on your name:

- [x]  @M4tt30rru
- [x]  @dormaayan
- [x]  @NivShalmon
- [x]  @dngreenst
- [x]  @sakopzon
- [x]  @OriRoth

And @OriRoth : FYI

[2016-09-25 10:49] yossigil commented on #246
To really understand, do two things:

- implements tests
- examine the RAW csv files

[2016-09-25 10:58] yossigil commented on #266
Not at this stage. The real performance boost will be exactly when WE DO NOT SAVE THE "ACTION" method in the marker. If you save the action, you save the parameter, if you save the parameters you save the entire AST, and this happens for EVERY compilation unit.

There are too many unstable parts. Sorry, don't touch this now.

[2016-09-25 10:58] #266 closed

[2016-09-25 11:00] yossigil opened #268 "Efficient markers"
The real performance boost will be   when we stop saving the "ACTION" method in the marker. If you save the action, you save the parameter, if you save the parameters you save the entire AST, and this happens for EVERY compilation unit.

The architecture should be able to  save the class (or the integer coming from .getNodeType()) with the marker, and nothing more. We should have a "QuickApplicato

[2016-09-25 11:01] yossigil commented on #268
Not to be touched before 2.5 is out

[2016-09-25 11:01] yossigil commented on #268
@OriRoth this is for you

[2016-09-25 11:10] sakopzon commented on #20
I can start working on it, but a lot of test cases can't be satisfied without the environment.
Should I start working on this wring, return to environment, or there is some research you saved for me?

[2016-09-25 11:29] OriRoth commented on #183
What does "apply current spartanization" mean? spartanize entire project?

[2016-09-25 12:56] sakopzon commented on #230
As I didn't see the falling tests and didn't look at the Ignored ones, I continued researching the filter idea I had.
Results: I avoided two for loops, while eliminating one by using direct access (array bit map), and the second loop is now hided under beautiful java 8 code style!

Now I saw the tests you talked about. Will treat them in a few hours.

[2016-09-25 14:47] yossigil opened #269 "Sort modifiers makes an empty suggestion"
when the modifiers include an annotation, this lead to an infinite loop

[2016-09-25 18:01] yossigil commented on #230
:+1:

[2016-09-25 18:03] yossigil commented on #183
1. Apply current spartnization to the current text. Just something better than Ctrl 1. Ctrl 2, just says, do it.
2. We can think about this later.
3. Are ctrl-1 ctrl-2 etc take?

[2016-09-25 18:05] yossigil commented on #20
No. Not a good time. We have a huge bug at the sorting, which now makes about 799 suggestions. I had to disable this, see #269 .

All this sorting of annotations needs more care.

[2016-09-25 18:16] OriRoth commented on #117
* Test case moved from `IgnoredTrimmerTest.java` to `Issue117.java`.
* Currently passing.
* Changes done in:
  * `haz.java`
  * `searchAncestors.java`
  * `step.java`

[2016-09-25 18:16] #117 closed

[2016-09-25 18:36] OriRoth commented on #183
`ctrl+1` is quickfix... I think the best option is to find unoccupied, easy to use combinations, and include a remark about them in the menu/quickfix for acknowledgement. Also it can be easily changed.

[2016-09-25 18:44] sakopzon commented on #269
my last commits don'y appear now!! some shit happened

[2016-09-25 18:50] OriRoth commented on #180
Is there an example for dollar rename + relevant for @param tag? MethodDeclarationRenameReturnToDollar does not change parameters' names.

[2016-09-25 19:16] yossigil commented on #180
Maybe it was another tipper, the one that change he name of a parameter?

[2016-09-25 19:18] yossigil commented on #269
Please make a small change, that resolves this, just this and get it over with

[2016-09-25 19:18] yossigil commented on #183
Can we start by having this first implemented?

[2016-09-25 19:24] OriRoth commented on #180
It can occur for *variables* - can't we assume there will be no @param-tagged *variables*?
OK created a utility function `SingleVariableDeclarationAbbreviation#fixJavadoc` using original implementation. Now used in MethodDeclarationRenameSingleParameterToCent.
See test `Issue180.java`: there is currently no way to test the comments, but I have run the examples successfully under the plugin.

[2016-09-25 19:42] OriRoth commented on #183
Yes it is just a change to the `plugin.xml` file.
BTW I believe I enabled warnings in this file... anyway I would not make a mess.
`Ctrl+1/2/3` are occupied.
For start: `Ctrl+5` to spartanize current window.
I will give the second task to `Ctrl+4`, but it will take more time because it requires a new handler... similar to the old `ApplySpartanization`. Probably will be called `SpartanizeSelection`

[2016-09-25 19:51] OriRoth commented on #184
You removed this feature while cleaning `plugin.xml` (i.e. there is no spartanization menu in problem view). Do you want a replacement (consider #183) or can I close the issue?

[2016-09-25 20:11] OriRoth commented on #203
OK Spartanize all is at stable condition.
Now `WringCommit` for project is more usable:
  * Show end message
  * Non busy
  * Cancleable

[2016-09-25 20:17] OriRoth commented on #203
OK now `WringComit` for **file** is more stable. Are you sure you want an end message? It's operation is rather short.
Closable?

[2016-09-25 20:29] sakopzon commented on #269
Some one wanted me to suffer:( I got a little bit crazy here now... the TODO I left about what is better, to save bitMap inside the enum or create an instance in removeSame(), made some one try and suggest a third solution: create new instance every time we call the predicate... not good :)
everything is back on it's place, but all my today's work on whileToFor wring is gone (at least the code.. b

[2016-09-25 20:35] sakopzon commented on #269
I saw "// Disabled to protect against infinite loop" comment in the toolBox, I removed comments from two wrings like this (otherwise 230 can't be activated), steel I didn't see any infinite loop...

[2016-09-25 20:40] dormaayan commented on #193
@yossigil : I implemented that, if you see more things to add/consider please let me know, if not, we can close the issue.

[2016-09-25 20:54] dormaayan commented on #193
@yossigil :
I think its done, If you find any other case you want me to handle please let me know.
For now, I close that issue.

[2016-09-25 20:54] #193 closed

[2016-09-26 06:05] yossigil commented on #193
Wow, you are amazing. Thank you very much :100:

[2016-09-26 06:08] yossigil commented on #269
The loop happens when you apply the plugin, not in testing. Your tipper (wrings are dead, remember?) says it can offer a tip, but the tip it offers has no changes in it. So, the global spartanizer, thinks there is more to do, and goes on into an infinite loop.

[2016-09-26 06:43] yossigil commented on #184
OOPS, I want this on. Sorry, there is a mysterious bug I am hunting day and night, the removal was one way to battle it.  Something regarding #226.

So please enable it. And make it identical to the main Refacor/Spartanization menu. If possible, by not cut and paste, but if ain't possible, by real cut and paste.

So: Yes

[2016-09-26 06:48] yossigil commented on #183
No. Don't do it. My intent was that when you see a tip (note the new name, tip, not suggestion), in the problems view of eclipse, you would be able to hit:CRTL-SOMETHING, which will automatically apply the first quick fix option.  But, this is not our job, as much as I need this key...

[2016-09-26 06:50] yossigil commented on #183
@OriRoth : here is another related request, which can be made into an issue if you like, but it is really short: add to the resolvers list one more resolver (known as quickfix): "Spartanize current window". This should not do anything on the GUI.

[2016-09-26 06:52] yossigil commented on #203
Yes, I want an end message that would present statistics, such as how much we saved overall, etc... But that's a subject for a separate issue, which I will hopefully open soon.

[2016-09-26 06:52] #203 closed

[2016-09-26 06:56] yossigil opened #270 "Before and after statistics for spartanize active window and spartanize project"
Compute total, and accumuating stats as in SpartanizeCurrent, for :+1:

- [ ] Spartanize entire project
- [ ] Apply tipper to current window

- [ ] LOC

- [ ] NOT: number of tokens

- [ ] Halstead metrics

[2016-09-26 06:57] yossigil commented on #270
This issue was opened as promised in #203

[2016-09-26 06:59] yossigil commented on #270
@OriRoth : if you like it it, wait to the end of the week

[2016-09-26 07:00] yossigil commented on #180
No, we cannot assume this.... It happens a lot unfortunately.

Thanks. It was a "job well done" kind of things.

[2016-09-26 07:14] yossigil commented on #269
@dormaayan : you mission, should you choose to accept it is to resolve this issue which turned out to be a blocker.

In short,the issue is the sorting of modifiers such as abstract static protected. It is hairy because modifiers and annotations are stored in one list by the JDT: list of things called extended modifiers.
The tipper (remember, no more wring lest we kill someone), should sort the mod

[2016-09-26 07:16] yossigil commented on #269
I would have made sure that the tipper only sorts modifiers, and have another tipper that sorts annotations, which is a whole new business

[2016-09-26 07:39] sakopzon commented on #230
I close the issue, as the remaining tests refer to an other wring.

[2016-09-26 07:48] yossigil opened #271 "Lycurgus of Sparta"
![image](https://cloud.githubusercontent.com/assets/12775400/18826493/50919140-83d6-11e6-8ea6-66b5645ff22c.png)
- [ ] Rename the spartanizer to lycurgus
- [ ] Describe its architecture

[2016-09-26 07:49] yossigil opened #272 "Study of metrics"
How much do we improve/save on these?

[2016-09-26 08:02] yossigil commented on #230
@sakopzon : any idea which issue?

[2016-09-26 08:04] yossigil commented on #267
Closed with 	9cb8e1c renaming with a few scarce left overs to be done better when they pop.

[2016-09-26 08:06] yossigil opened #273 "The git expert system"
You must be an expert in:
- [ ] Python
- [ ] git cmdline
- [ ] fluent programming
  to take this tough challenge.  You are to build an expert system that detects user frustration over git problems, and provide canned solutions from stack exchange

[2016-09-26 08:19] yossigil opened #274 "The unused pseudo-syntax"
Auto generate patterns like this:

[code]

[2016-09-26 08:28] yossigil opened #275 "The stub pseudo-syntax"
Automatically generate self documenting snippets such as:

[code]

or

[code]

if you pardon the pun.

The issue is similar to #274

[2016-09-26 08:31] #267 closed

[2016-09-26 08:49] yossigil commented on #137
Perhaps #250 can make use of this direction for the implementation. Most likely, not.

[2016-09-26 08:57] yossigil opened #276 "An architecture for easy traversal of ASTs"
- [ ] 1. Describe initial libraries: Perhaps even move into a different library, which has noo GUI in it!
- [ ] 2. Describe Lola implementation
- [ ] 3. Apply the implementation.
- [ ] 4. Find bugs in the original
- [ ] 5. Nice OOPSLA submission

[2016-09-26 09:05] yossigil opened #277 "Configurable logging"
- [ ] Logging level: See issue #278
- [ ] Logging policy: Abort, dialog box, ignore, passthrow
- [ ] Logging output: where to show the log

[2016-09-26 09:13] sakopzon commented on #144
I am going to implement removeLastStatement(), where is better to put it, in hop or step?

[2016-09-26 09:24] yossigil opened #278 "Logging filters"
Implement a logging filter,  which offers these options:

- [ ] all:: everything is passed
- [ ] nothing: no message is printed
- [ ] first(x) x, x = 1,2,...., means prints the first n items, x=0, means nothing. Other values mean everything.
- [ ] every(x) x, x = 1,2,.... , i.e., every(1) is all, every(2) means elements numbered 1, 3, 5, etc. x=0, Illegal values mean all.
- [ ] fibonacci: leaves e

[2016-09-26 09:26] yossigil commented on #144
assemble

[2016-09-26 09:42] yossigil commented on #232
@NivShalmon : here is a challenge for you, which I cannot get on doing. The strategy is simple:
1. Go top as high as you can in the local context. There might e a function that returns the root directly.
2. From the top go down, collecting all occurrences of method declaration, in which the declared method name is the same as that of the method your are going to push into.
3. at the moment you sus

[2016-09-26 10:05] yossigil commented on #277
@orimarco : just FYI. Might be good to know as you will scan the logs.

[2016-09-26 10:05] NivShalmon commented on #232
@yossigil Shouldn't using MethodInvocation.typeArguments be enough to determine whether the same method is used or not? If the type arguments in both lists are the same and non-generic, pushing down the trenarization should be safe.

[2016-09-26 10:47] yossigil commented on #232
You seem to be right. Could not find a counter example. But I suggest to leave this point aside for now. The original intent was to deal with about three cases in about 1000 in common-langs.  I believe the simplest solution, i.e., do not take the risk with generics, will suffice.

But, I also know we will need this sometime. So why not leave the safe cases in case of generics to the time we need t

[2016-09-26 10:48] yossigil commented on #232
@NivShalmon : but do you take the challenge?

[2016-09-26 10:52] yossigil opened #279 "QUICKFIX += OPTION to Resolve by fully spartanizing the current window"
really short: add to the resolvers list one more resolver (known as quickfix): "Spartanize current window". Should be easy and would **not** need a handler.

(Based on an idea of #183 , which seems difficult to implement)

[2016-09-26 10:53] yossigil commented on #183
@OriRoth : can we see some progress here?

[2016-09-26 10:55] yossigil opened #280 "On the cost of stubs and nothings."
Check how many times we use syntactic baggage to fill out.
1. One single trivial parameter
2. Trivial parameters

[2016-09-26 10:57] yossigil commented on #148
?

[2016-09-26 11:27] OriRoth commented on #148
Its implemented in the quickfix, and I have recently added ending messages for both **apply wring to file/project**, and made **apply wring to project** cancleable.

[2016-09-26 11:38] yossigil opened #281 "Convert while to for, gets confused, or are we missing a step?"
Does not work correctly in the code taken from our CWD code base.

[code]

The conversion is good since it is little, so please tell me that after this  tipper is applied, at least planned, to complete the conversion.

[2016-09-26 11:52] OriRoth commented on #183
I do not think I completely understand you.

*What is currently implemented:*
* Quickfix menu, opened by hovering over the marker or pressing `ctrl+1`. There you can:
 * Apply tip
 * Apply tip in ...
 * Disable tipping in ...
* Shortcut `ctrl+5` to spartanize current window

*What can I add:*
* More options o the quickfix
* More shortcuts

*Consider:*
* Fastest way to apply tip is currently `ctrl+

[2016-09-26 12:01] sakopzon commented on #281
Isn't it the same?
`static Statement recursiveElze(final IfStatement ¢) {
    Statement $ = ¢.getElseStatement();
    for ( ; $ instanceof IfStatement ; $ = ((IfStatement) $).getElseStatement());
    return $;
  }`

[2016-09-26 12:07] yossigil commented on #183
Wow looking forward to seeing this work

[2016-09-26 12:18] yossigil commented on #148
Splendid, close issues as you proceed. can we close this one?

[2016-09-26 12:22] OriRoth commented on #148
Yes. Consider we want to add metrics for end message, but this is another issue.

[2016-09-26 12:22] #148 closed

[2016-09-26 12:27] yossigil commented on #269
@dormaayan : this one is becoming critical, upon applying the plugin on itself, we can about 800 tips such as this. Worse, they make our fixed point spartanizer go ballistic.

[2016-09-26 12:27] dormaayan commented on #269
@yossigil : few minutes is done

[2016-09-26 12:40] OriRoth commented on #208
@yossigil Have you implemented something? a handler maybe? I want to work on it.

[2016-09-26 12:51] dormaayan commented on #269
@yossigil : How do you want me to sort the annotations, Alphabetically ?

[2016-09-26 12:51] yossigil commented on #208
Yes, there is a handler: `SpartanizeCurrent`

[2016-09-26 12:56] OriRoth opened #282 "Non modal dialog box SpartanizeCurrent/SpartanizeProject/WringCommit"
Appears to be a problem with **`eclipse#announce`** or even with **spartan icon**. If someone gets his eclipse freezing without getting an end message, **contact me**.
It is not clear what causes this problem, and it has a non deterministic behavior.
@yossigil it can be something with my eclipse, or a major usability issue... we should see if it is a real thing.

[2016-09-26 12:56] yossigil commented on #152
@sakopzon : `pacakge-info.java`, Documentation should be done in the package-info.java files. Try to put in each one of them a description of what kind of classes one may expect to find in them.

[2016-09-26 12:56] OriRoth commented on #202
OK added stable progress bar + closable + end message. Check it out, and see #282

[2016-09-26 12:56] #202 closed

[2016-09-26 12:57] dormaayan opened #283 "Sorting of Annotations"
Write a new wring that sorts the annotations properly.
@yossigil : What do you think is the right order ?

[2016-09-26 12:57] dormaayan commented on #269
I close that issue and move to Issue #283

[2016-09-26 12:57] #269 closed

[2016-09-26 12:58] yossigil commented on #152
#276

[2016-09-26 13:02] dormaayan commented on #144
@sakopzon : Did you find any convenient way to create a for statement and to add expressions to its initializer / updaters ?

[2016-09-26 13:02] yossigil commented on #152
Also, #271

[2016-09-26 13:05] yossigil commented on #269
:100:

[2016-09-26 13:10] OriRoth commented on #144
@dormaayan maybe `forStatement.initializers().add(initializer)`? Consider `step#initializers`, `step#condition` and `step#updaters`.

[2016-09-26 13:11] yossigil commented on #283
Reasonable order IMHO is:

 - `@Deprecated`
 - `@Override`
 - other standard annotations, defined in the lang spec in some alphabetical order
 - all other java.lang annotations, probably in alphabetical order
 - all other standard probably in alphabetical order
 - penultimate: `@SupressWarning` annotations
 - last: annotations that stick to the return type, currently I think only `@Nullable` and `

[2016-09-26 13:13] yossigil commented on #283
@dormaayan Yet, I am not sure we should be bothered with this. Feel free to remove the `wont-fix` label

[2016-09-26 13:14] yossigil commented on #202
:100:

[2016-09-26 13:17] yossigil commented on #282
I believe this is a matter of someone (probably me) who called the first think he caught on the web. There must be a way to place a non-freezing dialog. Find it,, and you have found the holy grail of this blackout

[2016-09-26 13:18] OriRoth commented on #208
`SpartanizeCurrent` is former `ApplySpartanization`, which allowed spartanization by text selection, i.e. you could have spartanize just suugestions inside marked code. This feature is still present in `GUI$Applicator`, though it always accepts no text selection.
My plan is:
* Add an option to `GUI$Applicator` for applying spartanization for a specific text selection.
* Make `SpartanizeCurrent` ab

[2016-09-26 13:35] yossigil opened #284 "Total tips followed message box"

[2016-09-26 13:37] yossigil opened #285 "Infinite loop in some tipper?"

[2016-09-26 13:41] yossigil opened #286 "It ain't polite to stare, ask others to look at you."
You keep a pointer to an AST, the AST is alive as long as you.
You let the AST save a pointer to you, you die, when the AST dies.

Applies to #268

[2016-09-26 13:42] yossigil commented on #268
Related to #276

[2016-09-26 14:02] yossigil commented on #281
OK, I am converting this into a new-tipper. Your challenge is to produce from
[code]

the following
[code]

it is tough enough, but doable, for this special case, but try to make it so it converges to the result in two, three or maybe even more tip applications.

The smaller the tip, the better

[2016-09-26 14:11] yossigil commented on #281
Actually, a non-issue at this stage. The return makes it impossible to inline into, unless we want
[code]

[2016-09-26 14:12] yossigil commented on #281
But, when it is opened, here is a test case
[code]

[2016-09-26 14:14] dormaayan commented on #144
@OriRoth  : Im aware to that way, but when I tried to add them, it didn't work because there are very specific requirements from the nodes you insert to those lists.

[2016-09-26 14:22] orimarco commented on #276
Wow, I don't think i understood...
This means to use Lola for traversing ASTs instead of your iz\az\... libraries?

[2016-09-26 14:30] yossigil commented on #258
This has to die. too complex and not worth it

[2016-09-26 14:30] #258 closed

[2016-09-26 14:44] #226 closed

[2016-09-26 14:49] #246 closed

[2016-09-26 14:51] OriRoth commented on #144
You can always check the source code: http://grepcode.com/file/repository.grepcode.com/java/eclipse.org/3.7.2/org.eclipse.jdt/core/3.7.3/org/eclipse/jdt/core/dom/ForStatement.java#ForStatement
They say about the initializers that `the list should consist of either a list of so called statement expressions (JLS2, 14.8), or a single VariableDeclarationExpression`, and about the updaters that `The li

[2016-09-26 15:08] yossigil commented on #183
When these are active, don't forget to place a reminder in the Spartanization menu.

[2016-09-26 15:09] yossigil commented on #246
:100:

[2016-09-26 15:10] yossigil commented on #276
It's a huge thing, but not as huge:

What you do is use lola to generate classes such as `az`, `iz`, and perhaps a few others, automatically

[2016-09-26 15:44] OriRoth commented on #183
Apparently eclipse does that automatically for us:
![shortcut](https://cloud.githubusercontent.com/assets/15183108/18840389/13034fc6-8417-11e6-85d5-df3e29824fa4.jpg)

[2016-09-26 15:49] yossigil opened #287 "Compute totals"
Compute total number of tips applied, and number of tips before and after
- [ ] Spartanize entire project
- [ ] Apply tipper to current window

[2016-09-26 15:57] yossigil commented on #286
Therefore, you do attach to the node (of an AST), by storing into a node a reference into your `this` . You do not store in `this` a reference to the node, lest its life is dependent on  you.

[2016-09-26 15:58] yossigil commented on #286
@sakopzon , @M4tteo , @orimarco , @dngreenst , @NivShalmon , FYI:

this is relevant to `type`, computing environment, application of wrings, etc.

[2016-09-26 16:04] yossigil commented on #284
Duplicate of #287

[2016-09-26 16:04] #284 closed

[2016-09-26 16:05] yossigil commented on #183
Let me check it out.

[2016-09-26 16:09] OriRoth commented on #287
Does it requires **metrics**? I need a short guide for it (what to include, how to get etc.).

[2016-09-26 16:15] yossigil opened #288 "Put time out of one second on the application of tipper."
If a tipper cannot return an answer within that time, remove it from the toolbox and abort it. Any time a tipper is a big buggy, we cannot do any more runs

[2016-09-26 16:16] yossigil commented on #285
@orimarco : make sure it is not you..

[2016-09-26 16:35] yossigil commented on #287
No, it doesn't. Later. Not for 2.5

[2016-09-26 16:53] yossigil commented on #36
Thinking again, it is best if we try to disturb the code as little as possible. Fixing this this would mean that we would hide out the cases in which we make a great mess. In addition, in fixing this we will get into a whole new mess with interacting with the user formatting preferences, and the fact that he may not be using any. So, https://github.com/SpartanRefactoring/Spartanizer/labels/wontfix

[2016-09-26 16:53] #36 closed

[2016-09-26 16:58] yossigil commented on #154
Are you @NivShalmon and @dormaayan  still working on this?

[2016-09-26 17:01] yossigil commented on #33
OK, I think we are beyond this now

[2016-09-26 17:01] #33 closed

[2016-09-26 17:05] yossigil commented on #288
@orimarco I think the wring should be smart enough to commit suicide, unless in a debugging mode

[2016-09-26 17:23] yossigil commented on #153
I think I implemented a tipper + tests for this, but for 'throw x' only

[2016-09-26 17:25] yossigil commented on #153
So, we still need one for:

- [ ] return
- [ ] break
- [ ] System.exit?
- [ ] continue

we will have one issue for each

[2016-09-26 17:35] yossigil commented on #152
For now, it is "wont-fix' feel free to assign yourself and start working

[2016-09-26 18:01] yossigil opened #289 "Inline Into bug"
[code]

some info is lot or watever

[2016-09-26 18:27] yossigil opened #290 "convert while to for bug."
This one fails
[code]

this must be a bug also in the assignment to start being last in its block

@sakopzon  and @dngreenst : your help is needed.

[2016-09-26 18:40] yossigil commented on #290
I thinks this input produces similar results

[2016-09-26 18:45] OriRoth commented on #289
An example for later:
[code]
Pass compilation, spartanize to
[code]
Does not pass compilation.

[2016-09-26 19:00] yossigil commented on #290
OOPS, I believe this is pending on #251 , the expression that is assigned to `coded` gets eliminated, and it should not be. Reassigning to @dormaayan  and @NivShalmon

[2016-09-26 19:04] yossigil commented on #289
There is a quickfix I think: there should be a service telling you whether something is `deterministic`, and there should be some code guarding against inlining into something such as anonymous class,body of loop, and maybe one or more cases. The solution is to guard against inlining into the left hand side of an assignment.

[2016-09-26 20:39] yossigil opened #291 "Simplify comparison of additions by moving negative elements sides and by moving integers"
- [x] Input `a + 2 == 3' output`a == 1`
- [x] Input `a + 2 > length + 1' output`a  > length -1` always move integers to the right
- [x] Input `a + 1 <= length' output`a  <= length - 1 ` always move integers to the right, and then to 'a < length', since we prefer '<' and '>' over '<=' and '>='; they are not only one character shorter, they are also clearer, since they have no ambiguity of the sort

[2016-09-26 20:45] yossigil commented on #144
I think you need to cater for this case as well:
[code]

[2016-09-26 21:06] yossigil opened #292 "Inlining into the initliazers of for loop:"
Write  Preview

Tough inlining problem
[code]
Could be inlined as
[code]
and then no further, or we can apply move closer to usage on sb, getting:
[code]
This brings forward `sb` on the expense of `line`. This could be excused for several reasons:

1. The tipper gives both tips; the applicator then decides which to apply based on its own heuristics.
2. The tipper prefers the shorter definition fir

[2016-09-26 21:16] yossigil opened #293 "FOR: Tricky dilemma of initialization"
There are two options of moving closer to definition in this case:

[code]

The first is **no move at all**, and the other is: move closer to usage of `sb` moving it jus over the head of `line`:

[code]

the jump over the queue  could be then applied again, oops, this time, preferring `line` to `sb`. Task is find a good policy and stick to it
1. The tipper gives both tips; the applicator then deci

[2016-09-26 22:42] yossigil commented on #290
I think this is also an instance
[code]

[2016-09-26 22:43] yossigil commented on #290
@sakopzon : do you know anything about this?

[2016-09-26 22:56] OriRoth commented on #184
OK there is a spartanization menu in problem view. I managed to limit the menu contribution only for the problem view (and not for projects, for instance). BUT it appears not only for tips, but for other warnings as well (bug!). I tried to deal with the problem, but it remains **unresolved** for now.
Some relevant links:
* http://stackoverflow.com/questions/11852497/add-popup-menu-to-eclipse-probl

[2016-09-26 22:56] sakopzon commented on #144
I think there are two different tippers. One should extend ReplaceToNextStatement<ForStatement>, and second ReplaceToNextStatement<WhileStatement> (then it won't be an issue which tip was activated first). And the insertion to the initializers List shouldn't be different from the insertion to the updates List I made.

[2016-09-26 23:09] yossigil opened #294 "Check usage also in generator experession"
example of our own code
``java
private static boolean isContainsSideEffect(final InfixExpression ¢) {
    for (final Expression e : extract.allOperands(¢))
      if (!sideEffects.free(e))
        return true;
    return false;
  }
[code]

[2016-09-26 23:11] yossigil opened #295 "Allow inlining into generating expression"

[2016-09-27 02:08] yossigil commented on #144
So, are you on this?

[2016-09-27 02:43] yossigil opened #296 "Centification of tail"
Consider the case of a function
[code]

looking at it tail,  we see that it appropriate for centification. The name `line` doesn't really matter, so we want a centification tipper to convert it into
[code]
Of course a #255 can do more now...

[2016-09-27 03:00] yossigil commented on #255
Another example, from
[code]
to
[code]

followed by the automatically generated auxiliary method
[code]

Note that this auxiliary method must have  the same name, the parameter names could be just generic names, or the names of the variables.

[2016-09-27 03:16] yossigil opened #297 "Automatic abbreviation of variables"
Make sure that
[code]
gets transformed to this.
[code]

[2016-09-27 03:40] yossigil opened #298 "Same as extract head but tail"
Start from

[code]

and identify automatically that extract head is better than extract tail, whereby idenifying the essence of the problem:, starting with the ProcessBuilder

[code]

Observe that the name  is `runScript¢`, with a little cent ¢, penny.  Now we allow ourselves to drop a penny pick a penny, when there is an overloading issue. Point in case here is that the newly generated function h

[2016-09-27 04:13] yossigil commented on #257
Start with this function:
[code]
It has four statements, numbered 1,2,3,4. We can therefore extract, as first step
1. 1 by itself
2. 2 by itself
3. 3 by itself
4. 4 by itself
5. -1+ 2
6.  2+3
7.  3+4

[2016-09-27 04:20] yossigil commented on #257
For **OPTION 1** We get,

[code]
 and if we are lucky,
 ``java
[code]
 and
[code]
and then we may have to method, create factory, etc.

[2016-09-27 05:21] yossigil opened #299 "Run the batchsparnizer program on all 26 projects in the GL corpus"

[2016-09-27 05:23] yossigil opened #300 "Location of the GL database"
@GalLalouche , can you please tell @M4tt30rru  how to access the GL corpus, ain't it somewhere on SSDL-APP?

[2016-09-27 05:51] #184 closed

[2016-09-27 09:12] OriRoth opened #301 "Fix install instructions"
Need to include usage of *git perspective* and *run configurations*.

[2016-09-27 09:42] #301 closed

[2016-09-27 13:56] orimarco commented on #288
I think the only way to limit the Tipper's running time is to use a thread which will be supervised and killed if it's not responding for some time.
I think the simplest way will be to create a new thread every time a Tipper is examined and limit it's time, but I'm afraid the overhead will be big, do we really want that?

[2016-09-27 14:01] orimarco commented on #285
not me

[2016-09-27 14:01] #285 closed

[2016-09-27 14:09] dngreenst commented on #106
@yossigil , we were thinking about the design of `Environment.uses(ASTNode n)` and `Environment.declares(ASTNode n)`. Some thoughts we wanted to run by you:

1. When we were thinking about the design, renaming was the main use case that came to mind. Are there any other use cases you would like us to consider?

2. We think that each one of the methods should be split:

- `Environment.declaresUp(AS

[2016-09-27 16:32] dormaayan opened #302 "Block Simplify Bug"
Transforms :
[code]
into :
[code]
Which is Illegal...

[2016-09-27 16:53] yossigil commented on #106
The differences are right: something may be in the scope without being used. But, don't let bother your. Proceed with one definition, but make it right, clear and crisp. Then, when applications come, renaming is the major one, you can fine tune it, but you cannot fine tune a definition which was not clear initially.

[2016-09-27 16:56] yossigil commented on #285
Let's keep this open until we track it

[2016-09-27 16:57] yossigil commented on #288
Not yet...

[2016-09-27 16:57] #288 closed

[2016-09-27 18:08] yossigil commented on #290
@NivShalmon : the problem might lie with the removeLastMetod. It does so carelessly.

[2016-09-27 18:11] yossigil commented on #290
It takes the last method, places it in the step part of the for, but if the last method used a variable defined in the loop, this of course fails.

[2016-09-27 18:41] dormaayan commented on #251
@yossigil :
I handled the cases of if/for/while that contains only variable declarations and don't have any side effect.
Do you see more things I should do here ?

[2016-09-27 20:26] OriRoth commented on #208
OK `Laconize function` and `Laconize class` are available to use in the marker resolution view.

*Initial state:*
We had a handler for spartanizing entire window (`LaconizeCurrent`). We wanted two new marker resolution, `Laconize function` and `Laconize class` that do basically do the same thing but only for the containing function/class.

*Solution:*
The solution chosen is to create an abstract h

[2016-09-27 20:28] OriRoth commented on #302
I think this issue has a duplication, but I cannot remember what it is called...

[2016-09-27 20:31] OriRoth commented on #208
@yossigil closable, or do you want me to allow multiple-runs-until-finish for `Laconize function` and `Laconize class`? (see *Problem* above)

[2016-09-27 20:50] #295 closed

[2016-09-27 23:28] sakopzon commented on #144
yes

[2016-09-28 00:13] OriRoth opened #303 "One handler to tip them all"
Consolidate *all* BaseHandlers; LaconizeProject, LaconizeCurrent, LaconizeClass, TipCommit etc. under **one** handler. This meta handler should support variations of:
* What *files* do we spartanize
* What *tippers* do we use
* In what *text selection* do we operate
* How many *operation cycles* we need to conduct
* What *messages* to show to the user, if any

And maybe more.

@yossigil worth cons

[2016-09-28 00:21] OriRoth commented on #189
There is a similar tip regarding the usage of `isEmpty` method with collections.... maybe in one of the older versions, if not imported to the current one.
A nice solution can be an abstract tip, replacing `InfixExpression` with `MethodInvocation` using rules defined by successors.

[2016-09-28 04:56] yossigil commented on #189
@orimarco

[2016-09-28 04:57] yossigil commented on #303
:+1:

[2016-09-28 05:01] yossigil commented on #144
I took a look at the code and spartanized it a bit. You need to write two **independent** tippers:

- One to deal with Something While(..) {}
- One to deal with for ( X; Y; ) {... lastStatementToBeRelocatedAsStepper)

Please checkout `has.sideEffects()` function. It can much help for you.

[2016-09-28 05:02] yossigil commented on #208
Finished. Locanize handler to use in Eclipse. It should what is marked, and act accordingly.

[2016-09-28 05:02] #208 closed

[2016-09-28 05:03] yossigil commented on #302
@dormaayan , @NivShalmon

What do you know of this?
Isn't this related to #251?
If so and you deal with this, close this issue

[2016-09-28 05:04] yossigil commented on #251
Do you have a test for the above case? If so, please close them both.

[2016-09-28 05:08] yossigil commented on #180
Test is failing:
`java.lang.AssertionError: Cannot parse '
/** Retrieve all operands, including parenthesized ones, under an expression
 * @param x JD
 * @return a {@link List} of all operands to the parameter */
public static List<Expression> allOperands(final InfixExpression x) {
  assert x != null;
  return hop.operands(flatten.of(x));
}
********* I tried the following options:
* Attempt 1: Sta

[2016-09-28 05:08] dormaayan commented on #302
@yossigil : That is not caused by Issue #251 but I found that problem during my work on Issue 251.
I can try to solve that

[2016-09-28 05:10] #251 closed

[2016-09-28 10:05] dormaayan commented on #302
@yossigil : Solved

[2016-09-28 10:05] #302 closed

[2016-09-28 10:26] OriRoth commented on #180
Pulled and ran it now and it passes... maybe someone touched the test utilities temporarily? Is it still failing when you ran it? I guess you are talking about `Issue180.java`.

[2016-09-28 10:33] OriRoth commented on #183
Well, what more should I do here? I can change the `ctrl+5` to something else (`ctrl+4` is unoccupied, also `alt+shift+w`). There is a way to quickly activate first marker resolution - `ctrl+1+enter`: it is possible to create a shortcut for it, but apparently it requires a *new handler* (I did not find a trivial way to do so, besides `ctrl+1+enter`).

[2016-09-28 10:37] yossigil commented on #93
Related to #261

[2016-09-28 10:41] OriRoth commented on #279
See new marker resolution `Laconize file`. Implemented by adding `implements IMarkerResolution` to `LaconizeCurrent`. Is that what you meant?

[2016-09-28 12:07] yossigil commented on #279
Don't know. Does this work?

[2016-09-28 12:07] OriRoth commented on #141
Test class `Issue141.java` has failures. @dngreenst @dormaayan did one of you worked on it? Do you want to help me solve this?

[2016-09-28 12:11] OriRoth commented on #144
Test class `Issue144.java` has failures. @sakopzon can you solve this? we want all tests to pass before release. Also @dormaayan - you are signed on the test class, consider helping us. If you have any problem talk to me.

[2016-09-28 12:14] OriRoth commented on #279
Well... yes. It just performs `LaconizeCurrent` from the problem resolution menu.

[2016-09-28 12:21] OriRoth commented on #121
Test class `Issue121.java` has failures. @dngreenst do you think you can solve it?

[2016-09-28 12:59] OriRoth opened #304 "RemoveRedundantIf creates a new empty block"
Notice (failed) test `ifEmptyThenThrowVariant` in `TrimmerTest.java`:

[code]

This is actually spartanizes to `"{} throw new Exception();"`.
I believe this is caused by `RemoveRedundantIf` tipper, replacing redundant if with an empty block. We should consider not adding the block, just erasing the if statement.
@yossigil what do you think? another option is to fix the test to:

[code]

Notice a r

[2016-09-28 13:15] OriRoth commented on #230
I inspected the failing test, and it appears the Tip called is `$BodyDeclarationModifiersPrune`.
Failing test is `Issue111#A$g`. @sakopzon notice the result is different from what you would expected, and also from applying in real environment (!) because the test utils preform the spartanization process in reverse order to the marking process, i.e. top-bottom instead bottom-up.
@yossigil Further m

[2016-09-28 14:35] yossigil commented on #230
I will take a look tonight

[2016-09-28 14:42] OriRoth commented on #145
@sakopzon whats going on with this? I will be happy if you would summarize what are the tippers regarding for->while conversions currently implemented.

[2016-09-28 14:43] NivShalmon commented on #232
I don't think I can implement the search of the compilation before the 30.9, but I will try to solve this using typeArguments, at least to avoid generics for now.

[2016-09-28 14:43] yossigil commented on #304
@dormaayan : I fixed the test.
@sakopzon : wheren't you in charge of this?

[2016-09-28 14:45] yossigil commented on #145
@sakopzon ????

[2016-09-28 14:48] yossigil commented on #232
Is searching for the method in the compilation unit so bad?

[2016-09-28 14:49] yossigil commented on #183
Leave it as is. Once we have a keybinding, we can change it later.

[2016-09-28 14:49] #183 closed

[2016-09-28 14:52] sakopzon commented on #145
There is no need for two issues on one tipper.. lets move the conversation to one of them and close the other.
I will remember to take from here the code examples when will pass my tests first.

[2016-09-28 14:52] #145 closed

[2016-09-28 14:59] yossigil commented on #145
Start a new issue then.

[2016-09-28 15:01] OriRoth commented on #145
@yossigil I believe he talks about #144

[2016-09-28 15:14] NivShalmon commented on #232
After some testing of typeArguments, it seems that using it wouldn't solve most cases, even for generics. I'll try to do a search of the compilation unit

[2016-09-28 15:37] sakopzon commented on #144
Working on it my on last commit there are only 3 falling tests of issue 144.
To make it perfect I think we need 4 tippers:
First and second for WhileStatement and ForStatement to be converted to for considering the last statement of the body.
Third and fourth for VariableDeclarations to consider ForStatement or WhileStatement as next statements and convert to for with initializers.

[2016-09-28 16:56] dormaayan commented on #225
@yossigil : Done

[2016-09-28 16:56] #225 closed

[2016-09-28 18:20] yossigil commented on #252
Here comes a commit with an example plain macros cannot do. **Fill in for syntax baggage**
Something like this
[code]
This is a real nano pattern!

@orimarco @M4tt30rru

[2016-09-28 19:09] yossigil opened #305 "The 'for';'return' gambit"
Convert

[code]

into

[code]

[2016-09-28 19:19] yossigil opened #306 "The insert into loop gambit"
[code]

into
[code]

[2016-09-28 19:22] yossigil opened #307 "Centification in complex loops:"
Convert
[code]
into
[code]

[2016-09-28 19:33] yossigil opened #308 "Centification into catch"
Convert

[code]

into

[code]

[2016-09-28 19:45] yossigil opened #309 "Change of cent and dollar"
[code]

to

[code]

[2016-09-28 19:47] yossigil commented on #225
:+1:

[2016-09-28 19:48] yossigil commented on #144
Seems you are right. But, you do not have to do this perfect.
To do your job perfectly, open up two issues, tag them as 'new-tipper' and 'YPP'.

[2016-09-28 20:23] sakopzon commented on #144
What does YPP means?

[2016-09-28 20:24] OriRoth commented on #144
Consider following example from JUnit project:
[code]
==laconized to==>
[code]
Looks strange, and also not compiling (see comments). This needs to be a test.

[2016-09-28 20:26] sakopzon opened #310 "Loop conversion with last body statement updater"
`while(true) ++i;` ---> `for(;true;++i);`
and
`for(;true;) ++i;` ---> `for(;true;++i);`

[2016-09-28 20:28] sakopzon opened #311 "Convert 'int a=0; while (b);' to 'for(int a =; b; );'"
`int a = 0;`
`while(true);`
goes to
`for(int a = 0 ; true ; )`
And same for -> for.

[2016-09-28 20:32] sakopzon commented on #310
ConvertWhileWithLastStatementUpdateToFor
ConvertForWithLastStatementUpdateToFor
Are the names of the tippers. They have been tested for any kind of updater I know.

[2016-09-28 20:34] sakopzon commented on #311
DeclarationAndWhileToFor
Is the tipper converting while -> for. Is steel under development.

[2016-09-28 20:37] sakopzon commented on #144
I opened new issues for this topic 310,311. I will consider it when I finish the main functionality of 311.

[2016-09-28 20:37] #144 closed

[2016-09-28 20:58] yossigil opened #312 "Order of updaters: inlining the last statement, should be by prepending, rather than appending it."

[2016-09-28 21:31] yossigil commented on #310
:+1:

[2016-09-28 21:31] yossigil commented on #144
:+1:

[2016-09-28 21:40] yossigil commented on #290
Subsumed by more advanced issues, eg #310 and #311

[2016-09-28 21:40] #290 closed

[2016-09-28 21:46] #294 closed

[2016-09-28 21:47] yossigil commented on #155
@NivShalmon : how are we on this one?

[2016-09-28 22:05] OriRoth opened #313 "Python tool to consolidate tests by issue"
Should be simple. I still have the script I used to split `TrimmerTest` into `TrimmerTestValid` and `TrimmerTestIgnore`.
A good behavior can be ignoring test files with `@Ignore` annotation.
@yossigil I guess we would like to do that once in a while

[2016-09-28 22:07] yossigil commented on #298
@dormaayan : FYI

[2016-09-28 22:09] yossigil commented on #296
@dormaayan

[2016-09-28 22:11] yossigil opened #314 "Long mission: let people use our code base for fault location"

[2016-09-28 22:15] yossigil opened #315 "for (X;true;Y) => for (X;;Y)"

[2016-09-28 22:18] #230 closed

[2016-09-28 22:19] yossigil commented on #154
?

[2016-09-28 22:19] yossigil commented on #154
Related to #251 ? Pending on it?

[2016-09-28 22:20] OriRoth commented on #291
The last suggestion may be dangerous, considering `double` variables. An optional safety measure may be allowing the suggestion only for whole number (assuming we do not have binding).

[2016-09-28 22:24] yossigil commented on #291
If we have binding from @sakopzon  and @dngreenst , then the `type.of(x)` might give much more accurate information. I agree that without this, very little can be said.

@sakopzon , @dngreenst : this is where your local type binder gets into play, not mentioning renaming.

[2016-09-28 22:26] yossigil commented on #282
This is were the trimmer can use the progress monitor

[2016-09-28 22:29] yossigil commented on #141
Seems as an initial search for searching why tests fail recently

[2016-09-28 22:29] OriRoth commented on #282
Only after organizing GUI$Applicator's sub monitoring. Then we can go wild with it- the new API allows doing that kind of things.

[2016-09-28 22:34] yossigil opened #316 "All classes have authors"
Can we have a tool on conarQube?

[2016-09-28 22:35] yossigil opened #317 "All classes are spartanized"

[2016-09-28 22:35] yossigil opened #318 "All tests pass"

[2016-09-28 22:36] OriRoth commented on #255
Wow looks great. Can I have it? seams really usable. The existing refactoring service of eclipse does that but not automatically.
I believe there should be a heuristic involved - extracting into method is good if done early in method body (well at least not at the very end).

[2016-09-28 22:57] yossigil commented on #255
You got it

[2016-09-28 23:14] yossigil opened #319 "Pattern to search for idioms such as empty implementation"
[code]

Or many of the things in the syntactic baggage `TipperCategory`

or an exception block that does nothing/ignore the exception/print a trace, and other fillers.

Or setters and getters, or common loop structures, such as the one in #311 #309 and their vicinity

[2016-09-28 23:23] yossigil opened #320 "Fix existing renaming"

[2016-09-28 23:28] yossigil commented on #319
Here is another caching idiom to search for
[code]

[2016-09-28 23:32] yossigil opened #321 "Spartanizing the caching pattern"
Convert
[code]
to
[code]

[2016-09-29 04:54] dormaayan commented on #154
@yossigil : issue #251 solved it
I close that issue

[2016-09-29 04:54] #154 closed

[2016-09-29 05:56] NivShalmon commented on #155
The test for the above case doesn't pass yet, but there is some inlining done now. The result of fully spartanizing the above code is:
'''JAVA
for (int i = 0; i < versionNumbers.length; ++i, $[i] = Integer.parseInt(nb)) {
	final String nb = versionNumbers[i];
}
'''
I'm not sure which tipper did this, but I think this is wrong since now i is increased before the assingment into $[i], which can caus

[2016-09-29 06:04] NivShalmon commented on #232
@yossigil I think I can get this done today, once I solve a small bug with recurser. Should I finish this or just leave it?

[2016-09-29 06:38] yossigil commented on #232
Leave it, and save your energy, we will need it today and tomorrow

[2016-09-29 06:43] yossigil commented on #155
If you run the tipper test, you will get reports in the console, telling you which tipper was applied.

[2016-09-29 06:44] yossigil commented on #154
:+1:

[2016-09-29 06:45] #180 closed

[2016-09-29 07:55] yossigil opened #322 "A tipper for redundant continue"
[code]

to

[code]

[2016-09-29 08:30] NivShalmon commented on #155
The test fails because ConvertForWithLastStatementUpdateToFor tips before DeclarationInitializerStatementTerminatingScope does. When the former is disabled, the test passes, but I don't know how to change their order while executing. @yossigil any ideas?
@sakopzon the inlining ConvertForWithLastStatementUpdateToFor is wrong here. This seems related to #310

[2016-09-29 08:41] OriRoth commented on #155
Check out the `ExcluderManager` feature. You can ask @sakopzon about it and about the order of spartanization execution, or talk to me.

[2016-09-29 09:36] yossigil opened #323 "Use first declaration as initializer"
[code]
to
[code]

[2016-09-29 09:38] yossigil commented on #310
another example
[code]
to
[code]

[2016-09-29 09:52] yossigil opened #324 "Tricky loop header"
[code]

[2016-09-29 09:53] yossigil commented on #155
:+1:

[2016-09-29 10:13] yossigil commented on #155
@sakopzon

[2016-09-29 10:50] sakopzon commented on #323
I think these are not semantically equivalent. The initializers are executed once when they appear in the for initializers slot, while executed every iteration when appear in the body...

[2016-09-29 11:44] sakopzon commented on #310
This is easy... the tipper is on challenge stage. If till night no one would give a falling test, I'll close it.

[2016-09-29 11:51] yossigil opened #325 "Is this a duplicate?"
Move all failing tests due to loop and body to new Issue classes, Issue311, for #311, and Issue310 for #310 , and tag both classes `@Ignrore`

[2016-09-29 12:38] yossigil opened #326 "Tutorial I: My first comment on an issue"
**Previous**: #338 **Next**: #328
# Welcome

Welcome to the first issue in our study. **Read through** this issue:
- Do **not modify** this issue
- As you read, you would be asked **add a comment** on this issue that you are reading now.
- Please **follow** the request. Don't worry, _you are in safe hands_.

**Don't read** the next sentence , unless you are a lawyer, or criminal. _This issue is de

[2016-09-29 12:38] yossigil commented on #323
:+1:

[2016-09-29 12:38] #323 closed

[2016-09-29 12:56] idabran commented on #326
:+1: I think it is a very good platform to share and improve ideas. It can be mostly interesting when a brain storm appears..

[2016-09-29 14:08] sakopzon commented on #325
Why Ignore? 310 works fine.

[2016-09-29 14:08] #325 closed

[2016-09-29 14:28] #27 closed

[2016-09-29 14:53] OriRoth commented on #298
Did you meant "Same as extract tail but head"? Also reference #255

[2016-09-29 14:53] yossigil opened #327 "Getting more done in GitHub with ZenHub"
Hola! @yossigil has created a [ZenHub](http://www.zenhub.com) account for the **SpartanRefactoring** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_sour

[2016-09-29 14:54] OriRoth commented on #298
Also... it does seam like a different problem, thus requires a different tipper.

[2016-09-29 15:52] OriRoth commented on #255
See new tipper `ExtractMethodSuffix`. Note there are still no:
* proper documentation (algorithm description missing)
* tests

I'll finish it soon. Also I need a category for it (suggestions?).
Also it causes 2 more failing tests (depending `MINIMAL_STATEMENTS_COUNT`, which is currently 6).
The basic heuristic is to extract from method of size (in statements) >= 6 and point of extraction is at the

[2016-09-29 16:33] yossigil commented on #255
Do you know that Laconize all stopped working, so did apply to entire project?

[2016-09-29 16:35] OriRoth commented on #255
I'll check it out

[2016-09-29 16:42] OriRoth commented on #255
OK try to pull, `LaconizeAll` seams to work.
I'll try to check what crashes ExtractMethodSuffix... there is some work to do, but you can check it's operation in a debugging environment.

[2016-09-29 16:53] M4tt30rru commented on #255
I am sorry to intrude (I will delete this post afterwords). @yossigil I need a quick feedback about SAC.

[2016-09-29 17:03] OriRoth commented on #255
Some fixes were made, now both projects JUnit and Spartanizer won't crash with `ExtractMethodSuffix`. Should I reintroduce the tipper to `ToolBox`?

[2016-09-29 17:40] #310 closed

[2016-09-29 18:17] yossigil commented on #310
:+1:

[2016-09-29 18:22] yossigil commented on #255
Sure. Good job.

[2016-09-29 19:52] yossigil opened #328 "Tutorial II: Create my first issue"
**Previous**: #326 Next: #330
# Properties of an issue
- Number which never changes
- Status, which is either open or close
- Milestone: which can be either missing (no milestorne, or backlog), or a specific milestone defined by the user
- Labels: subset of the manager defined labels
- Participants
- Assignee(s):
- Comments
- Other
# Terminology: "Tutorial" and "Foo"

This tutorial's text speaks a

[2016-09-29 19:58] yossigil opened #329 "foo"
working on my second tutorial session

[2016-09-29 20:00] yossigil commented on #329
tutorial session found in #328

[2016-09-29 20:12] yossigil commented on #329
that was easy!

[2016-09-29 20:12] #329 closed

[2016-09-29 20:38] yossigil opened #330 "Tutorial III: A presentable GitHub profile"
**Previous**: #328  Next: #479

## Introduction: Joining the community
You mission in this tutorial is to make yourself part of the developers' **community**.
- Most projects are just to large for an individual
- We have to work in a team
- Team must work together
- To work together, you must play by _social rules...

## What should I do?
Concretely, you should create a new issue whose name is:  *

[2016-09-29 22:10] OriRoth opened #331 "Unveiling the secrets of ASTRewrite - preservation of code formatting"
Hi all!
As you may (or may not) know, the refactoring process tend to eliminate any _user code formatting_. It can be seen while creating a new piece of code, or while copying existing code - there is no connection to the source code, thus we usually destroy the formatting (by calling `duplicate.of(...)`, for instance).
In the past, a risky solution was to get the source code for duplication opera

[2016-09-30 07:35] yossigil opened #332 "foo"
working on my second tutorial session

[2016-09-30 08:03] yossigil commented on #312
@sakopzon : This is it

[2016-09-30 08:35] NivShalmon commented on #155
I tried using `ExclusionManager` in any way I could think of but it doesn't seem to work. I think the problem is that I'm trying to exclude a parent of the current node.
When running the test, this is the what trimmingOf prints:

VISIT: 'public final class C{public void m(){for(int i=0;i<versionNumbers.length;++i){final String nb=versionNumbers[i];$[i]=Integer.parseInt(nb);}}}' [174] (TypeDeclarat

[2016-09-30 08:46] yossigil commented on #332
also in relation to #328

[2016-09-30 08:47] #332 closed

[2016-09-30 08:50] yossigil commented on #155
Could this be related to #312?
@sakopzon / @NivShalmon : you may be working on the same issue.

[2016-09-30 08:54] NivShalmon commented on #155
Issue #312 is part of the bug here, but I'm trying to deal with the order in which the wrings are called. Unless we inline before moving `$[i]=Integer.parseInt(nb);` into the updaters of the for loop, we won't be inlining at all. `ExclusionManager` doesn't seem to work because ConvertForWithLastStatementUpdateToFor suggests before DeclarationInitializerStatementTerminatingScope does

[2016-09-30 10:54] OriRoth opened #333 "Pack & Release version 2.5"
Hi everybody! We want to release version 2.5 soon, so we need to take care of some of the urgent issues.
I find it hard to follow all the different issues, so I'll post *here* some of the blockers that kill the plugin or prevent us from releasing in some other way.
Feel free to consult me. It is our **collective responsibility** to make this thing working.
Our main issues before releasing:
- [x] A

[2016-09-30 10:57] dormaayan commented on #333
I disabled the tippers+tests that don't work (as @yossigil  told me to do), so now all the tests pass

[2016-09-30 10:58] OriRoth commented on #333
Null pointer exception in `DeclarationAndForToFor#fitting` for:
[code]
in
[code]

[2016-09-30 11:03] dngreenst commented on #212
@yossigil , I'm going over the failing tests, and I see some that are related to this issue that are failing (vanilla01, vanilla02 in issue212.java, postfixToPrefixAvoidChangeOnLoopInitializer in TrimmerTest.java).

Should I debug this, or would you rather that I leave it to you?

[2016-09-30 11:05] OriRoth commented on #333
Keep in mind ignored tests are not cool. Especially tests for active tippers.

[2016-09-30 11:12] OriRoth commented on #333
`new BodyDeclarationModifiersSort.ofMethod()` appears twice in the `ToolBox` @dormaayan @sakopzon

[2016-09-30 11:15] OriRoth commented on #155
@NivShalmon you can talk to me about the `ExclusionManager` and how it used in `Trimmer`. Excluding node's parent is ineffective, as you concluded.

[2016-09-30 11:21] dormaayan commented on #333
@OriRoth : Those tippers are disabled now and Im not sure that they are correct.

[2016-09-30 12:24] sakopzon commented on #333
For now there are two tests that fall due to collision of loop tippers with certification.
Another collision I know about is with inlining. This is the next step to fix.

[2016-09-30 12:25] sakopzon commented on #312
Will fix it after 16:30.

[2016-09-30 12:28] sakopzon commented on #331
There are already abstract tippers which use it.. You can look at them for inspiration.

[2016-09-30 12:29] OriRoth commented on #331
Which ones?

[2016-09-30 13:06] sakopzon commented on #331
ReplaceToNextStatement uses Rewrite.

[2016-09-30 13:17] OriRoth commented on #331
Yes all the tippers have an ASTRewriter (it sometimes concealed), but the question is *how do they use it*. Check this issue in a few days, I will post some explanations about a new way to deal with refactoring of large nodes, that keeps the formatting (using `ListRewrite`).

[2016-09-30 13:23] #121 closed

[2016-09-30 14:48] yossigil commented on #212
Please debug. Talk to Alex

[2016-09-30 14:51] yossigil commented on #333
@sakopzon : I added few assertions to your code. Use them. Don't erase them.

[2016-09-30 15:34] dngreenst commented on #212
The tests fail because this tip requires uses of the changed variable in the ForStatement body. Inlining emptied the body, and hence this check returns false.

I can either amend the tests, or change the requirements of the tip. I think the latter would be the better option.

[2016-09-30 15:46] sakopzon commented on #333
OK

[2016-09-30 16:02] yossigil commented on #312
I opened a new Test class for this one Guess its name. No, it is not working!

[2016-09-30 16:05] yossigil commented on #212
Indeed. Please do.
To be precise, if the loop variable is used in the updaters or the condition then it is a use

[2016-09-30 16:05] #212 closed

[2016-09-30 17:36] sakopzon commented on #312
All pass...

[2016-09-30 18:47] OriRoth opened #334 "Organizing searchAncestors"
@yossigil to your consideration.
I have included `inclusiveFrom` feature in `searchAncestors` because the original implementation of `from` was non inclusive - and unfortunately I have based on that claim while writing `lastInclusiveFrom`. It is unfortunate because `from` is now fixed to include first node (at least in `ByClass`), thus `lastInclusiveFrom` gets into infinite loop. I can fix some of

[2016-09-30 19:06] OriRoth commented on #333
@yossigil current marker resolutions status: all resolutions seams to work. Notice "Laconize function" and "Laconize class" make only one pass.
Also: can I delete your comments from **this** issue? I want to keep it organized (this comment, for instance, will be deleted).

[2016-09-30 19:31] #312 closed

[2016-09-30 19:35] sakopzon commented on #333
Is your nut pointer exception solved?
Didn't fix it directly because didn't manage to make from it a string that can be parsed, but since then fixed a lot of little bugs in different parts of the code. Can you check it?

[2016-09-30 19:38] yossigil commented on #155
@NivShalmon : can you take over? We need a hack, not a deep solution.

[2016-09-30 19:54] OriRoth commented on #333
No npe for Spartanizer project. You can check it for yourself by running the plugin on the project's code (or a copy of it, as I do). It seams most of the statements in the block of the for statement are irrelevant for your tipper, so you can create a test using:
[code]
BTW now the plugin won't recommend any suggestions for this code.
- [ ] @sakopzon saw it

[2016-09-30 20:26] OriRoth commented on #327
Do you recommend the browser extension (or this tool in general)?

[2016-10-01 04:18] NivShalmon commented on #155
@sakopzon already solved this

[2016-10-01 04:18] #155 closed

[2016-10-01 05:28] sakopzon commented on #333
It shouldn't suggest, cause there is no statement that can be inserted to the for as I understand.

[2016-10-01 05:32] yossigil commented on #155
:+1:

[2016-10-01 05:32] yossigil commented on #327
I started using it cannot recommend yet, one way or another

[2016-10-01 05:33] yossigil commented on #334
thanks for taking over this

[2016-10-01 07:26] OriRoth commented on #334
Can I fix it myself? I want to get rid of the `inclusive` versions, then make all functions inclusive. I am not doing it because I'm not sure every usage of `from` do not assume it is non inclusive. (that is why I created the inclusive functions in the first place).

[2016-10-01 07:43] yossigil opened #335 "Sane tips for 'for(;;)' loops"
- [x] Never add to updaters list if this will the body empty

- [x] Never add to updaters anything other than
     - [x] Increment/Decrement statement
     - [x] Statement which directly updates the loop variable as, defined  in the  part of 'for(initializer;;)'

- [x] Never add to updaters something that modifies anything else other than the loop variable
   - [x]  Maybe in the case that this is

[2016-10-01 07:49] yossigil commented on #335
@sakopzon
@OriRoth
@NivShalmon
@dngreenst
@M4tteo
@dormaayan

[2016-10-01 07:50] OriRoth commented on #335
Very important:
http://docs.oracle.com/javase/specs/jls/se8/html/jls-14.html#jls-14.14.1
look for the order of initializers/updaters execution - it is not undeterministic as I thought, but also not as we do it in the tipper!

[2016-10-01 08:05] yossigil opened #336 "InteractiveSpartanizer"
You receive a field bug report on this long and messy code:

[code]

You want to start working on it, and convert it into a test case. There is a lot to do manually to convert this report into unit tests and start working on fixing this bug.

This epic is about automatically converting the report into a test case. The task is to automate following editing chores. Python is one way. Perl perhaps a

[2016-10-01 08:20] sakopzon commented on #335
On this case the `int x = 1; i += x` will first convert to `i += 1;`.
I checked what if x is used afterwards, and there is a bug. Handling it now.

[2016-10-01 08:20] yossigil commented on #336
@dormaayan , @NivShalmon , @OriRoth : just for your general information. This is not for you to start working on

[2016-10-01 08:24] OriRoth commented on #335
Alex, check my first remark as well, and make sure we insert statements into updaters in the right order (a matter of `insertFirst` or `insertLast`).

[2016-10-01 08:30] yossigil commented on #334
Sure! But not now please

[2016-10-01 08:37] OriRoth commented on #336
Though it is a scriptual task, it can be made in Java using the strong AST tools from our project. Then it can be activate from within the project.

[2016-10-01 08:37] yossigil opened #337 "META ISSUE: Collect all Laconize tips on loops and add the label " Loopy Loops" to to them."
This epic will include all issue related to stparanization of loops

[2016-10-01 08:51] yossigil commented on #336
This might be a great idea. A class with main that does this.

[2016-10-01 09:06] yossigil opened #338 "Tutorial 0: What's ahead?"
Next: #328
# What's this?

This is a **sprint** to get you going into working with basic software engineering tools:
1. Issue management; staff members in charge: @idabran
2. Version management; staff members in charge: @AdiOmari and @ZviLi
3. Standardization; staff member in charge @yossigil
4. Developer/client relationship; staff member in charge @yh-github
3. IDE: Staff member in charge @YossiG

[2016-10-01 09:22] yossigil opened #339 "Tutorial/Git 8: What if I did something stupid? Going back (and forth) in time"
- Revert
- Reset
- Rebase
- Amend
- Cherry picking

[2016-10-01 09:22] yossigil opened #340 "Tutorial/Git 6: It is natural to collide, and divine to merge"
Various policies:
- Yield
- Manual editing
- Using merge tool

[2016-10-01 09:23] yossigil opened #341 "Tutoria: Git 2: clone, commit, push, stage and pop"
Pull request
git push
git commit
git pop
git clone

[2016-10-01 09:32] OriRoth commented on #336
http://help.eclipse.org/luna/index.jsp?topic=%2Forg.eclipse.jdt.doc.isv%2Fguide%2Fjdt_api_codeformatter.htm
(!!!)

[2016-10-01 09:43] yossigil opened #342 "Tutorial/Git 0: Where am I?"
Here you wil learn about the host repo. You  are invited to duplicate, copy and mutate, copy and mutilate, copy and discard, ignore

@OriMarco: This is for you to prepare

[2016-10-01 10:21] OriRoth commented on #333
Version released. Conclusions:
* Updated version *not* available in eclipse marketplace - this is a problem from the last version release that needs to be investigated.
* Updated version available in https://github.com/SpartanRefactoring/Spartanizer/releases/tag/2.5.0
@sakopzon @yossigil @NivShalmon @dormaayan @dngreenst

[2016-10-01 10:35] #279 closed

[2016-10-01 10:36] yossigil commented on #333
Done with 688f093dd44d25d014839ced8cd08466a7f55891

[2016-10-01 10:36] #333 closed

[2016-10-01 16:24] OriRoth opened #343 "Checking plugin and publishing on Facebook"
Download link:
https://github.com/SpartanRefactoring/Spartanizer/releases/tag/2.5.0.1

[2016-10-01 16:31] OriRoth commented on #343
@dngreenst I need you help: how to make a jar file out of this? Can you try find the easiest way to install the plugin, before publishing?

[2016-10-01 16:37] OriRoth commented on #343
We can use the eclipse clean command like this `eclipse -clean` instead of changing `eclipse.ini`.... is there a better way?

[2016-10-01 18:00] orimarco commented on #250
Done.
Use `TipperFactory.tipper(pattern, replacement, description )` to create new tippers!
Adding them to the toolbox is necessary in order to make thm actually work, of course.

Example:
`TipperFactory.tipper("$X1 == null ? $X2 : $X1", "$X1.defaultsTo($X2)", "defaultsTo")`

Notice that $X prefixes are for Expressions ans $M are for methods.

[2016-10-01 18:00] #250 closed

[2016-10-01 18:51] OriRoth opened #344 "Release plugin to marketplace"
Daniel's instructions:
https://bitbucket.org/mittelmania/spartanupdatesite
...won't work. If anyone has some kind of experience with the eclipse marketplace, please talk to me or @yossigil.
Start up instructions from the marketplace:
http://marketplace.eclipse.org/quickstart
@yossigil you probably have a user there - if you want you can give me access to it, or we can meet to solve this issue toge

[2016-10-01 19:48] yossigil commented on #344
@dngreenst: Can you please place an add in facebook, including a ref to the marketplace listing and our issues page for clients to post new issues?

[2016-10-01 21:10] yossigil opened #345 "Revision of 236700: Software Design"
# Tools of the trade
- Modules: Interface vs. enum
- hasA and isA revisited; the inner nano, and the delegate nano
  - `{@see Environment}`
  - `{@see Wrapper}`
- Lazy initialization
- Killing initialization methods as in `{@link Toolbox}`
- Simple cache
- DALUT SOREFET
# Swords and daggers
- Extract method
- Reduce to
- Programming with generators
  - the counting for example
  - the files genera

[2016-10-01 21:12] yossigil commented on #327
:-1:  they want money...

[2016-10-01 21:12] #327 closed

[2016-10-01 21:17] yossigil commented on #344
I sent you my pw and user

[2016-10-01 21:18] yossigil commented on #318
Done.

[2016-10-01 21:18] #318 closed

[2016-10-02 09:21] yossigil commented on #336
@orimarco , this is what I talked about,

- see initial implementation as tagged in a forthcoming commit
- see `JOptionPane.showMessageDialog` on how to obtain input.

[2016-10-02 09:28] OriRoth commented on #336
Why not just a cmd application? This can make the feature available much sooner.

[2016-10-02 09:33] yossigil commented on #336
We have a command line now. Take a look at the interactive. I think it is a matter of few minutes to find a way to open a dialog box...

[2016-10-02 09:35] yossigil opened #346 "Collect tough cases"
There are around 24 cases of `[[SuppressWarningsSpartan]` in the code Convert them all using #336 to real unit tests.

@orimarco : this is the challenge of #336

[2016-10-02 12:08] yossigil opened #347 "Interesting loop challenge"
[code]

[2016-10-02 13:26] sakopzon commented on #311
Everything works but yet only increment and decrement by prefix/postfixExpression (i++, ++i, i--, --i) is tipping. Next step is including self assignments (a += 3, a &= 0XDEAD...)

[2016-10-02 14:05] OriRoth commented on #344
@orimarco can you specify what is not working in the preferences menu? Seams to work fine... maybe fixed by Yossi...

[2016-10-02 15:26] yossigil opened #348 "Wild ideas"
- [ ] Sort the code, skeleton then method bodies
- [x] Define nano patterns
- [ ] The method generator, with properties of these kinds:
- Numeric
  1.  Size in nodes.
  2. Compressed textual size, as per #336
  3. Number of tokens, using my tokenizer
  4. Horizontal complexity as per #249
  5. Halstead metrics as per #128
  6. Complexity of signature
      -- Number of arguments
     - distinct ty

[2016-10-02 15:36] yossigil opened #349 "Health Department"
#345

[2016-10-02 16:35] yossigil commented on #189
Should be easy with your user define match/replace

[2016-10-02 16:43] yossigil opened #350 "Tutorial/Git 5: the git glossary"
- origin
- master
- head
- branch
- stash
- repository
- commit
- stage

[2016-10-02 16:46] yossigil commented on #349
This is where we put software components into the drill of
- robustness
- performance
- timing
- correctness

[2016-10-02 17:22] yossigil opened #351 "The Java Nanos Catalog"
A nano pattern is a pattern on ASTs, whose matching allows syntactical transformation as long as they are syntax preserving
# Idiomtic library mostly if
1. defaultsTo
2. `?.`
3. Other operators, elvis and the such
4. Multiswitch
5. unless
6. when
# Idiomatic loops
1. Map
2. First that
3. Aggregate
# Try and catch
1. Ignore
2. Abort
3. Convert
4. Log
# Kinds of methods:
- Methods have `JavaDOC`
- a

[2016-10-02 18:16] yossigil opened #352 "Bug in remove else"
On this one

[code]

[2016-10-02 18:17] yossigil commented on #352
#336

[2016-10-02 18:34] yossigil commented on #150
there are some still little things

[2016-10-02 18:36] yossigil commented on #133
Done

[2016-10-02 18:36] yossigil commented on #134
:100:

[2016-10-02 19:02] yossigil commented on #287
This is a duplicate of #270

[2016-10-02 19:05] yossigil commented on #10
Mostly done with last arch. changes

[2016-10-02 19:05] #10 closed

[2016-10-02 19:06] yossigil commented on #175
I did this

[2016-10-02 19:08] yossigil commented on #286
This is the general rule behind #268

[2016-10-02 19:10] yossigil opened #353 "Pack and release 2.6"

[2016-10-02 19:12] yossigil commented on #149
Closed duplicate of #173

[2016-10-02 19:12] #149 closed

[2016-10-02 19:32] OriRoth commented on #353
The preferences page seams to work after all (did you fixed it?). Can we release? I wait for your permission.

[2016-10-02 19:35] OriRoth commented on #344
@yossigil
The preferences page seams to work after all (did you fixed it?). Can we release? I wait for your final permission.
Also, I saw you change the popups mechanism for debugging.... do you want me to revert it?

[2016-10-03 09:16] yossigil commented on #344
- Revert it. I think I did.
- Warnings. Is this new? I removed warnings long time ago, just forgot to tell

[2016-10-03 10:31] OriRoth commented on #175
@yossigil
![Uploading manifest.jpg…]()

[2016-10-03 10:42] OriRoth opened #354 "Change [x.toString()->""+x] to [x.toString()->x+""]"

[2016-10-03 10:46] yossigil commented on #354
It does not work in the general case, e.g.,
[code]
goes to
[code]
but if `b` is of type `Integer`, you changed the semantics. Only do this in safe cases, i.e., if the thingy is not the second or higher position in a chain, you do not do this. So, in sometimes you append, other you prepend. Be sure to adjust the description

[2016-10-03 10:48] yossigil commented on #175
Change it to your version of jface. You can do so in editing the constraints by the the dialog of `plugin.xml`. You can set the minimal version of any product. Do this for each requirement for which you are using an earlier version

[2016-10-03 10:50] OriRoth opened #355 "Write GUI usage instruction WIKI"

[2016-10-03 10:56] yossigil opened #356 "Manage all @Ignored tests"
Move them to `Issue` files, which may or may not be `@Ignore`. If there is no issue, open one

[2016-10-03 11:14] OriRoth commented on #175
Travis also shouts about this https://travis-ci.org/SpartanRefactoring/Spartanizer/builds/164604214 (hope it is visible) (look for "[error]")

[2016-10-03 11:31] OriRoth commented on #344
@yossigil OK the plugin is now stable.
Consider the bypass I wrote in `LaconizeProject` (not that bad... necessary because of changes in `GUI$Applicator`).
Can we release?

[2016-10-03 11:46] yossigil commented on #344
:+1:

[2016-10-03 11:46] yossigil commented on #175
Hack it one way or another, warnings may return

[2016-10-03 18:00] OriRoth commented on #355
Done, see https://github.com/SpartanRefactoring/Spartanizer/wiki/Tutorial.
Anyone can edit it as he wish.

[2016-10-03 18:00] #355 closed

[2016-10-03 22:35] yossigil commented on #56
How is this going?

[2016-10-03 22:36] yossigil commented on #169
Do you check your todos every of often?

[2016-10-03 22:36] yossigil commented on #175
We need a clean warnings page.

[2016-10-03 22:41] OriRoth commented on #175
Indeed. Travis would not build with the version specifications in `MANIFEST.MF`. I think something more should be added in order for the project to compile... If there are no problems in your environment, we should change the project's definitions accordingly.

[2016-10-03 22:45] OriRoth commented on #169
I make check pulses... I also hope to work with more ease in the next month, so I would have the time for proper documentation and less TODO's.

[2016-10-03 23:22] #122 closed

[2016-10-04 04:58] yossigil opened #357 "Update the look of our landing page in market place"
This is a bit old:
![image](https://cloud.githubusercontent.com/assets/12775400/19063092/425fce60-8a08-11e6-8fa2-611867ca615e.png)

[2016-10-04 08:24] OriRoth commented on #357
Yea... I could not find a way to change it from your account. Is it possible there are two Yossi Gils on that site? https://marketplace.eclipse.org/user/dmittelman/favorites
@yossigil Also please call me when you are available, thanks.

[2016-10-04 12:15] yossigil commented on #357
@danielmittelman , when you are back, we want  your help in this

[2016-10-04 12:30] OriRoth opened #358 "Two plugins downloaded when installing"
Installing through the marketplace downloads two plugins- current version and previous version. I could not find a way to fix this from one of the projects.
@yossigil FYI. The current version is 2.5.3

[2016-10-04 12:33] OriRoth commented on #344
Done. Current release is `2.5.3`.

[2016-10-04 12:33] #344 closed

[2016-10-04 12:37] OriRoth commented on #343
@dngreenst Ready to publish. Please use the following links:
* What is spartan refactoring plugin? https://www.spartan.org.il/
* Github site https://github.com/SpartanRefactoring/Spartanizer
* Installation and usage tutorial https://github.com/SpartanRefactoring/Spartanizer/wiki/Tutorial
Explain shortly about the plugin.
Tag all crew members.
Publish on SSDL/faculty group, to your judgement.
Close

[2016-10-04 12:40] yossigil opened #359 "Deal with dead variables"
See test class with this number

[2016-10-04 13:20] dngreenst commented on #343
Published in faculty group.

[2016-10-04 13:20] #343 closed

[2016-10-04 14:32] danielbrukhis opened #360 "variable name changed to '$'"
Should this happen?
![image](https://cloud.githubusercontent.com/assets/15248418/19078322/6b191852-8a58-11e6-8bb7-2253764500ca.png)

[2016-10-04 14:35] yossigil commented on #356
There is a huge mess with tests which were ignored in the rush towards the submission. The mission here is to restore order in these. The following steps are required:
1. Enable all `@Ignore` tests, and take note that all tests that fail (this may be a little less than 100).
2. All tests which can be fixed by changing the input/output, should be fixed, provided that this change is in accordance wi

[2016-10-04 14:36] yossigil commented on #56
No work on this for the meantime.

[2016-10-04 14:37] yossigil commented on #91
No work for now

[2016-10-04 14:38] yossigil commented on #102
No work for now

[2016-10-04 14:38] yossigil commented on #55
No work for now

[2016-10-04 14:38] yossigil commented on #106
No work for now

[2016-10-04 14:47] yossigil opened #361 "The Swap Nano"
Or, as I call it, WLOG

[2016-10-04 15:06] yossigil commented on #360
Yes. It should. In spartan programming, '$' denotes the return value

[2016-10-04 15:06] #360 closed

[2016-10-04 15:07] yossigil commented on #344
Good job

[2016-10-04 15:07] yossigil commented on #343
How about SSDL? Ori, can you do it there?

[2016-10-04 15:07] yossigil commented on #343
@OriRoth

[2016-10-04 15:08] yossigil commented on #358
@danielmittelman

[2016-10-04 15:56] OriRoth commented on #343
Done

[2016-10-04 16:04] yossigil opened #362 "The spartan movie..."
Add a new handler and a new command, to do spartanization step by step. This means, find a tip, apply it, repeat. I think this would be fun!
What do you think @OriRoth

[2016-10-04 17:37] OriRoth commented on #255
Added logic to support multiple variables in extracted method. Example:
[code]
==>
[code]
I'll upload the tipper once tests and documentation will be written.

[2016-10-04 17:39] yossigil commented on #255
Here is something for you to try:
[code]

[2016-10-04 17:42] yossigil opened #363 "Use prefix ++"
from

[code]

to

[code]

[2016-10-04 17:43] yossigil opened #364 "Array initiliazer does not inline properly"
[code]

[2016-10-04 18:35] OriRoth commented on #255
@yossigil challenge *accepted*!
Examine the following suggestions by my tipper:
[code]
==>
[code]
#######################
[code]
==>
[code]
[second split looks promising]
This code inspired me to do some changes in the splitting heuristic (to accept more cases).
Keep in mind, regarding this tipper, that the important issue is *not* whether it split where it should to, but rather if it split where

[2016-10-04 18:42] yossigil commented on #255
How about #362 ?

The above is not an example for you to hack, since we need more foundational work before we can start making heuristics.

[2016-10-04 18:52] OriRoth commented on #255
I did not hacked it! The changes were at the logical level and were very minimal: instead of checking there are no more "active" variables at the moment, I checked at least one variable is useless from the current statement (this makes place for more splitting options, something I initially hesitated doing).
After I would upload the tipper you will able to edit the heuristic. I carefully designed

[2016-10-04 19:47] sakopzon commented on #350
**origin** - Local alias to the remote repository's URL.
**master** - Default name given to the "main" branch (both remote and local).
**head** - The "current" version. doesn't have to be the latest version, for example if you checkout some older version. Another definition I liked is "The parent of your next commit".
**branch** - A snapshot of the project. You can create branches with `git branch

[2016-10-04 20:09] sakopzon commented on #326
:+1: nice

[2016-10-04 20:22] sakopzon opened #365 "foo"
working on my second tutorial session

[2016-10-04 20:23] sakopzon commented on #365
tutorial issue is #328

[2016-10-04 20:24] #365 closed

[2016-10-04 20:58] OriRoth commented on #363
Could be problematic: We cannot know whether another spartanization suggestion was offered to the previous statement. Unless, of course, the tipper will be invoked on the first statement instead...

[2016-10-04 21:04] OriRoth commented on #363
This problem may be solved by expanding the `ExcluderManager` mechanism to track edited nodes... useful for tippers of this kind.

[2016-10-04 21:07] yossigil commented on #363
I don't see the problem. I think there is none

[2016-10-04 21:07] orimarco commented on #189
https://github.com/SpartanRefactoring/Spartanizer/blob/1589de203a312a238044df70fa772f94c3829363/src/main/java/il/org/spartan/spartanizer/tippers/InfixIndexOfToStringContains.java

[2016-10-04 21:07] #189 closed

[2016-10-04 21:09] OriRoth commented on #364
Yes. I have disabled inlining of `ArrayInitializer`s - it makes a compilation error (I believe it occur in this case as well).
A solution may be replacing the variable with an instance creation, like so:
[code]

[2016-10-04 21:22] M4tt30rru commented on #326
:+1: cool

[2016-10-04 21:50] OriRoth commented on #364
Done (fix in `DeclarationInitializerStatementTerminatingScope`).
See `Issue364.java`. Also fix tests in `Version230.java`:
* `inlineArrayInitialization1`
* `inlineArrayInitialization2`
@yossigil in some case the inlining result in wrapped with parenthesis:
[code]
looks like a bug, maybe worth another issue...

[2016-10-04 21:53] OriRoth commented on #359
Maybe the usage of `usesOf` is a bit costly here. Consider using a cheaper solution.

[2016-10-05 04:12] yossigil opened #366 "Yossi Gil: Introduction"
- [x]  Make sure you present yourself by a readable **nick**
  - Bad: `j10463` / `r2d2` / `bb8` / `biscuit` / `the destroyer`
  - Ok: `yogi`  (**Yo**ssi **G**il), `idarban` (**I**tai **D**arban)
  - Excellent: `Moshe Levy II`
- [x]  Describe yourself in the bio page
- [x]  State that you are (not) in search for a job
- [x]  Connect to the host repo

[2016-10-05 04:55] yossigil commented on #364
:+1:

[2016-10-05 05:04] yossigil opened #367 "Tutorial V: Home Assignment 0"
**Previous**: #479 **Next**: #592
# Introduction

In this issue, you will set up your working environment.  This mission can and
should be done in pairs, use two people assigned for the issue you will create.
Working in pairs should help you get past installation difficulties.
# The standard working environment

The working environment for this project includes
- [ ]  [Ubuntu Linux](https://www.ub

[2016-10-05 05:49] yossigil commented on #359
it will be resolved by our environment

[2016-10-05 06:22] sakopzon commented on #330
:+1:

[2016-10-05 06:22] sakopzon opened #368 "Alexander Kopzon: Introduction"
- [x]  Use a picture, photo or distinct avatar. Don''t use an automatic icon:
  -  **No No**:  ![image](https://cloud.githubusercontent.com/assets/12775400/19101024/d3b3aa84-8acc-11e6-888f-70ce4a25b042.png)
  - **OK**:
![image](https://cloud.githubusercontent.com/assets/12775400/19101029/e525d7d8-8acc-11e6-97f1-8bdc0bb9ac4f.png)
  - **Excellent**:
- [x]  Make sure you present yourself by a readabl

[2016-10-05 06:29] sakopzon commented on #339
git bisect:
[https://git-scm.com/docs/git-bisect](url)

[2016-10-05 06:55] sakopzon commented on #147
Seems the first example contains semantically different codes... Could you explain what you meant?

[2016-10-05 07:05] sakopzon commented on #292
`String f() {`
`    String line;`

`    for ( final StringBuffer sb = new StringBuffer(line); (line = reader.readLine()) != null;`
` sb.append(line))`
`      ;`
`    return sb + "";`
`  }`

is compilation error, now it wouldn't tip this...

[2016-10-05 07:06] idabran opened #369 "Itai Dabran: introduction"
- [x]  My ICON will be displayed soon
  - **Image**:  will be updated soon
- [x]  a readable **nick** presentation
  - `idabran` (**I**tai **D**abran)
- [x]  Bio page
- [x]  I'm not in search for a job

[2016-10-05 07:10] idabran commented on #330
Idabran is better readable nick than Idarban :)

[2016-10-05 07:10] sakopzon commented on #293
I think we can do it by iterating over few statements above the for loop, and checking which is better for shortest result. The check can be performed by using parts of #310, #311 tippers.

[2016-10-05 07:11] sakopzon commented on #306
Done in #311

[2016-10-05 07:11] #306 closed

[2016-10-05 07:12] idabran commented on #330
Issue #369 holds my initial intro, Itai.

[2016-10-05 07:19] #335 closed

[2016-10-05 07:23] sakopzon commented on #337
#310 #311 #290 #155 #312 #325 #117 #130 #313 #144 #145 #147 #176 #212 #213 #225 #289 #290 #292 #293 #306 #307 #324 #325 #335.

[2016-10-05 07:23] #337 closed

[2016-10-05 08:35] yossigil commented on #147
@OriRoth : please do not work on this.

[2016-10-05 08:39] yossigil commented on #368
Where is your avatar?  Why didn't  you mention me, before you closed?

[2016-10-05 08:40] yossigil commented on #369
@idabran
Still to do:
1. Avatar
2. Bio

[2016-10-05 08:43] yossigil commented on #366
@IDabran: Done? Please check me.

[2016-10-05 08:43] #366 closed

[2016-10-05 09:04] yossigil opened #370 "Itai: add yourself to contributors.txt"
@IDABRAN

[2016-10-05 09:14] yossigil opened #371 "Tutorial/Git 1: Guest Mode; a pull request to add yourself to contributors.txt"
You must use the command line for this, steps are:
- `clone our project`, search for this screen:
  ![image](https://cloud.githubusercontent.com/assets/12775400/19107520/56f1adce-8af5-11e6-9312-cb25f6df6a4b.png)
- `ls -a`
- `git status`
- `ls`
- `vi contributors.txt` or `cat  "John Doe"`
- `git diff`
- `git pull`
- `git push`
- `git status`

[2016-10-05 09:16] yossigil opened #372 "Tutorial/Git 3: create my SSH public key and place it in GitHub"
Here are a couple of hints.
- Read this [tutorial](https://help.github.com/articles/generating-an-ssh-key/)
- This one is also a great [tutorial](https://confluence.atlassian.com/bitbucketserver/creating-ssh-keys-776639788.html), by GitHub competitor
- sequence of commands on linux

[code]
-  This screen dump from gitHub. Get there with this [link](https://github.com/settings/ssh)
  ![image](https

[2016-10-05 09:21] yossigil opened #373 "Tutorial/Git 4: The collision game: was Killroy here"
In this game, you are to deal with the contributors.txt.
If the file
- if not killroy ad d it.
- has one  `killroy` in it, duplicate it. However
- if there are two, erase them both.

[2016-10-05 09:40] yossigil opened #374 "Simple TDD for YPP"

[2016-10-05 10:01] orimarco commented on #336
Kind of working now.
For the above example outputs:

  @Test public void report234() {
	trimmingOf("// From use case of issue285" //
 + "public A a()throws B{final C b=c.b();final D d=new D(\"Spartanizing\"+b.e());new E(d,F,H,f,null,J.h(0));final K i=L.j();final M k=new N();k.l(b);int m,n=0;for(m=0;m<(!o()? 1:O);++m){final P p=new P();final Q q=i.r();try{q.s(t->{k.u(t);t.v(d+\"\");k.w();k.x();y=k.

[2016-10-05 10:20] yossigil opened #375 "Tutorial/Social"
![image](https://cloud.githubusercontent.com/assets/12775400/19109511/6ffccb06-8afe-11e6-8cfa-5fe64857b479.png)

[2016-10-05 13:32] yossigil opened #377 "Auto scanning in disabler"

[2016-10-05 15:24] OriRoth commented on #286
@yossigil this is the code that adds the markers:
[code]
I do not see anything suspicious...
Adding markers is the only thing we do in the building phase, besides `Toolbox.refresh()` and `Tips.reset()`. Maybe the problem is somewhere else?
Now I will add the Tipper class to the markers.

[2016-10-05 16:06] yossigil commented on #286
Indeed, I cannot find it either.

[2016-10-05 18:53] OriRoth opened #378 "Do not rename variable "__" unless it is REALLY unused"
Current implementation checks only whether `@supressWarnings("unused")` annotation is present.
[clue: `Collect.usesOf(...)`]

[2016-10-06 00:15] OriRoth opened #379 "Java casting is no fun and games"
[Please acknowledge 261e81b940ef2a96b338d3482aa5e3552e0926ba, i.e. there are tipper classes in markers now]
@yossigil save me please?

*Problem?*
Consider the following code:
[code]
The result is:
[code]
which I think is not correct (for the first two cases). But who is to blame? `BodyDeclarationModifiersSort.ofMethod` or Java generics?
....

I want to create a method that would tell me whether a

[2016-10-06 00:38] OriRoth commented on #303
@yossigil I am getting it ready in order to replace the `SingleTipperApplicator` (former `WringCommit`) implementation.

The main base handler/marker resolution class is `Refactorer` (*I will change the name later*). It contains the running logic of out handlers, so successors may override specific methods in order to run as they wish.

The new implementation of WringCommit is `SingleTipper`: this

[2016-10-06 04:04] idabran commented on #369
Done, Itai,

[2016-10-06 05:03] yossigil commented on #369
Good job!

[2016-10-06 05:03] #369 closed

[2016-10-06 05:08] yossigil commented on #379
I have some magic code that does precisely this, I think:
[code]
this is all in the Tipper class. So, what you do, you create a new instance, and ask it what it's class.

[2016-10-06 06:56] zvili commented on #326
:+1:

[2016-10-06 07:06] yossigil opened #380 "Tutorial/Social: Sob stories"
# Introduction

Everyone has personal life, doctor appointments, bad hair day, terrible Monday, etc. Don't tell us our sob stories:
- not because we have our own
- not because we don't care
- not because we have heard it all
- not because we don't  want to force you to reveal intimate details.

but, because we know **everyone** has them, and you are **immediately excused** from anything you can't

[2016-10-06 07:13] orimarco opened #381 "Wiki: what are the training projects (for nano patterns)"
1. Junit - https://github.com/junit-team/junit4/tree/master
2. commons-bcel (Apache) - https://github.com/apache/commons-bcel
3. commons-lang (Apache) - https://github.com/apache/commons-lang
4. guava (Google) - https://github.com/google/guava
5. spartanizer
6. Auto-refactor - https://github.com/JnRouvignac/AutoRefactor

[2016-10-06 08:00] yossigil opened #382 "Tutorial/Social: what's an "askhole"?"
- If you are assigned an issue, you are expected to use all your talents to deal with it.
- Some students choose to not do so, and instead ask many clarification and sometimes tiring questions:
  - How can I do this?
  - Can you provide me an example?
  - What do you mean by?
# Should I stop asking question?
1. No, you are **expected** to ask questions, when you **do not understand something**!
2.

[2016-10-06 09:48] OriRoth commented on #382
Though documentation about the subjects we are working on is scarce, there are some sources that are very helpful (http://help.eclipse.org/luna/index.jsp?topic=%2Forg.eclipse.jdt.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fjdt%2Fcore%2Fdom%2FASTNode.html for instance). You have a *big* advantage working in group - make sure you exploit it!

[2016-10-06 10:01] OriRoth commented on #379
It is not exactly what I am currently doing,,,
The current implementation is asking the *Toolbox* about it, like so:
[code]
I *really* prefer not to add things to the markers... Does this implementation safe enough? It can be improved be, for example, supplying the `Toolbox` with static final copy of all the tippers....

[2016-10-06 10:05] yossigil commented on #379
yes. this should be safe.

[2016-10-06 10:10] #379 closed

[2016-10-06 10:12] OriRoth commented on #254
Very nice... I am considering doing it after finishing my... other duties.

[2016-10-06 10:51] yossigil commented on #287
No, it is not a duplicate, we just want the total number of applications.

[2016-10-06 10:56] yossigil commented on #146
At some point in time, these warnings returned. Please eliminate them all, before doing anything else.

[2016-10-06 10:58] yossigil commented on #254
Don't even think about it...

[2016-10-06 11:00] yossigil commented on #282
See if you can do this quickly?

[2016-10-06 11:01] yossigil opened #383 "Preference page: Use checkboxes"

[2016-10-06 11:26] yossigil commented on #383
We do this first because:
-  it is quick to fix
- It improves the look by a whole lot
- Clients worry about configuration

[2016-10-06 11:27] yossigil commented on #377
We do this first because:
- It is quick to do
- it simplifies interfacing with an obscure module
- it would help others progress and for fewer mistakes

[2016-10-06 11:29] yossigil commented on #287
We do this first because:
- it is easy to do
- it is quick to do
- it makes the system more consistent
- clients will find the information useful
- it would help **us** understand our product better
- it is the usual the case of tell the user what you do.

[2016-10-06 11:31] OriRoth commented on #268
So you are talking about the marker resolutions right?
We may create a singletonic marker resolutions instead... what do you think? It has the potential for performances boost in matters of time and memory.

[2016-10-06 11:32] yossigil commented on #286
We do this first because we did something with it and you know what's going on. So, we update everyone:
- that the issue is closed?
- that this is a wont fix?
- that more work is done?

We do not want to leave loose ends behind us.

[2016-10-06 11:33] yossigil commented on #282
The busywait is really unpleasant: you never know if Eclipse hung on you.

[2016-10-06 11:33] yossigil commented on #268
No, I was talking about #286

[2016-10-06 11:36] yossigil commented on #175
We do this first because:
- It was fixed, and  then broke again.
- it is easy to fix
- it is on the table for a very long time
- it disturbs our workflow, each warning is a **"WARNING SIGNAL"**
  - Leaving out warnings unfixed makes our developers be careless
  - Leaving out warnings makes even it difficult for developers to apply the "**no warnings on my code**" principle. they have to scan throu

[2016-10-06 11:37] yossigil commented on #169
If someone placed a TODO on you, this person might be expecting an answer.

[2016-10-06 11:39] yossigil commented on #362
Do this second... It is important since it would be a good selling point. But, it may take more than 10 minutes (not much more though)

[2016-10-06 11:40] yossigil commented on #146
Similar to  #174

[2016-10-06 11:43] yossigil commented on #262
@M4tt30rru : I think this is what you work on now...

[2016-10-06 11:45] OriRoth commented on #286
Well, we saw nothing can be done with the markers' content... #268 looks as it has more potential (efficient marker resolutions).

[2016-10-06 11:53] yossigil opened #384 "Ori Marcovitch TODOs"
To be denoted `TODO Marco:`

[2016-10-06 11:57] OriRoth commented on #146
The "No schema found ..." warnings are because of eclipse:
https://jazz.net/forum/questions/47598/no-schema-found-for-orgeclipseuipopupmenus-extension-po
Reinstalling the eclipse SDK is very traumatic for eclipse though... I cannot recommend it, although it removed the warnings.
Is there another kind of warnings for `plugin.xml`?

[2016-10-06 12:10] idabran opened #385 "foo"
# The foo issue

working on my second tutorial session in accordance to #328
No monkeys alike any more

[2016-10-06 12:12] idabran commented on #385
okay, already mentioned #328

[2016-10-06 12:13] idabran commented on #370
Okay, Done

[2016-10-06 12:19] zvili opened #386 "Karma and Todos for Zvi Listopad"
I've added basic Git workflow information to #338

[2016-10-06 12:20] zvili commented on #386
tutorial issue is #328

[2016-10-06 13:09] yossigil commented on #146
Yes, it is just the schema. We put this now on hold.

[2016-10-06 13:10] yossigil commented on #385
:+1:

[2016-10-06 13:12] yossigil commented on #381
For the purpose of research, we should not try the spartanizer for now on anything other than the above:
@OriRoth , @M4tt30rru ,

[2016-10-06 13:50] OriRoth commented on #35
We would use the environment feature once it will be ready.

[2016-10-06 13:50] #35 closed

[2016-10-06 13:51] OriRoth commented on #37
Comments preservation... was a beautiful dream.

Consider #331 though.

[2016-10-06 13:53] OriRoth commented on #48
Consider #349

[2016-10-06 13:53] #48 closed

[2016-10-06 13:54] OriRoth commented on #46
See #84

[2016-10-06 13:55] OriRoth commented on #160
See specific issues, such as #383

[2016-10-06 13:55] #160 closed

[2016-10-06 14:00] yossigil commented on #37
We will do comments I trust

[2016-10-06 14:04] yossigil commented on #386
:+1:

[2016-10-06 14:04] OriRoth commented on #270
See #287

[2016-10-06 14:09] OriRoth opened #387 "Marks and weep - efficient markers"
As we saw in #286, the markers' content is innocent.
A performance boost can be supplying the marker resolutions menu with static resolvers, so we can decrease the number of objects created while the project is being built (`marker_resolvers_count X markers_count = many objects`).
Also an improvement to the logic of the resolvers.

[2016-10-06 14:11] OriRoth commented on #286
See #387

[2016-10-06 14:11] OriRoth commented on #268
See #387

[2016-10-06 14:11] #268 closed

[2016-10-06 14:11] yossigil opened #388 "Tutorial/Testing: General test principles"
1. You do not write code without tests
2. You write the tests before you write the code.
3. All the tests are in the tests folder. No tests in the main folder
4. High coverage, use a plugin
5. You never commit code in which tests fail.
6. `@Ignore` can be used only on classes, not on particular methods

See also #391

[2016-10-06 14:14] OriRoth opened #389 "Convert all handlers to Refactorers (i.e. successors of global handler)"
Global handler / marker resolution has been implemented, see `Refactorer`.
POC has been provided while creating a replacement for former `WringCommit`, see `SingleTipper`.
We need to convert all other handlers / marker resolutions to inherit `Refactorer` as well.

[2016-10-06 14:14] OriRoth commented on #303
Continued at #389

[2016-10-06 14:14] #303 closed

[2016-10-06 14:20] OriRoth commented on #387
And everybody... please take a minute to appreciate this game of words. Thank you.

[2016-10-06 14:26] OriRoth commented on #388
Also I may add:
* When building a `Tipper`, it is advised to check whether adding it to the `Toolbox` break an *existing test*: the test utilities conduct only one tip at a time, so if it decide to use your new tipper instead of the original intended, the test will fail. In those cases you should fix the failing tests, while preserving the original meaning and purpose.
* When building a test class

[2016-10-06 15:34] sakopzon opened #390 "Centification collisions"

[2016-10-06 15:34] yossigil opened #391 "Tutorial/Testing: General principles of TDD"
# What's TDD
1.  **T**est **D**riven **D**evelopment
2.  The principles of:
   - Write tests first, then the code
   - You do not write code, unless you have failing tests
   - You write the **minimal** code to make tests pass
# The TDD cycle
- You want to write a piece of code
- You do not write it.
- You write a test that forced you to write it.
- You still don't write the code you want to write

[2016-10-06 15:40] yossigil commented on #286
This belongs with #345

[2016-10-06 15:43] yossigil commented on #387
@idabran @zvili  @OElmak @orimarco  @M4tteo , please add an emoji to the the issue! We want to exercise emojis for the course.

[2016-10-06 15:46] yossigil commented on #270
This is not the same as stats. Stats include various structural issues.

[2016-10-06 15:54] sakopzon commented on #390
As I understand, all tippers which centificate, check the body of the instance they centificate.
The problem occurs when ¢ is already used before, and then the tippers just hide the previous ¢.
If so, the only solution I can think of is using declaresUp() function of the environment (which is yet not implemented), to check whether ¢ is declared or not.

[2016-10-06 16:06] yossigil commented on #390
No, the problem lies with:
- For not checking that cent is used in its body prior to centification
- Method not checking that no definitions are made

[2016-10-06 16:08] yossigil commented on #390
Process is:
- Create a new test class for this issue
- Find cases in our code using the [[Suppresswarningspartan]]
- Make test functions out of these.
- Fix the code of centificaiton of methods
- Fix the code of centification loop

See #391

[2016-10-06 16:10] yossigil commented on #389
This is low on priority for version 2.6, can be postponed, most likely will

[2016-10-06 16:10] #150 closed

[2016-10-06 16:12] sakopzon commented on #368
@yossigil  I mention you now.
What do you mean by "avatar"?

[2016-10-06 16:13] yossigil commented on #37
Not easy, but I believe @OriRoth can do it!

[2016-10-06 16:14] yossigil commented on #368
Avatar is
![image](https://cloud.githubusercontent.com/assets/12775400/19160562/fecad03a-8bf8-11e6-9cff-69cfe613c54d.png)

[2016-10-06 16:14] yossigil commented on #150
:+1:

[2016-10-06 16:21] yossigil opened #392 "Tutorial/Social: Do not push commented out code. Production must be clean"
# Introduction

You are free to comment out code in your own local copy as much as you want. But, you never submit code which is commented out.
- You know why you commented it out
- No one else does
- Why do you think others do?
- Commented out code tends to live longer than real code, since no one really understands it
- Commented out code is a sign that you do not understad:
  - this tutorial

[2016-10-06 16:25] yossigil opened #393 "Tutorial/Social: Code quality levels"
# Code quality levels

Color of codes in ascending order of quality; for a code to be in a certain rank, it has to satisfy the demads of all preceding ranks.
1. Code RED-XXX: Project does not compile XXX compilation error messages
2. Code ORANGE-XXX: Project compiles (RED-000), but has XXX tests
   that never end
3. Code YELLOW-XXX: Requires ORANGE-000, but has XXX tests that fail or err
4. Code G

[2016-10-06 16:49] yossigil opened #394 "Tutorial/Social: TODOs, Personal TODOs issue"
# Mission

In this tutorial, you will:
- Learn what are TODOs
-  Create an issue for your TODOs, similar to #168
-  Search the TODO's of others, and add a comment to this issue
  # Mission
  In this tutorial, you will:
- Learn what are TODOs
-  Create an issue for your TODOs, similar to #168
-  Search the TODO's of others, and add a comment to this issue
# What are TODOs
- TODOs are a lightweight

[2016-10-06 16:50] yossigil opened #395 "Tutorial/Social: Karma, accountability, and personal responsibility"
# Buzzwords
- **Karma**: This is how well you cooperate with others and with team work. (May be tied with your grade, if you are a student)
-  **Accountability**: There is an individual in charge of every piece of code
- **Personal responsibility**: You identify your work as yours
# Rules
1. You do not write code unless you deal with an open issue (open one if necessary)
2. All classes you write b

[2016-10-06 16:59] yossigil opened #396 "Tutorial/Testing: Assignment 2"
Your mission in this issue is to create a function that  does one of the following on an AST node.  Follow the instructions in #388 and in #391:
1. Count home many literals are there
2. Count how many pairs of curly brackets are there
3. Count how many pairs of square brackets are there
4. Count how may pairs of ordinary brackets are there
5. Count how many distinct identifiers are used in the fun

[2016-10-06 17:03] OriRoth commented on #383
![button](https://cloud.githubusercontent.com/assets/15183108/19162249/c8e950b6-8bff-11e6-98a6-40b26b22f25b.jpg)

Unfortunately, I was not able to properly align the drop menu to the left... not sure how to do that.

[2016-10-06 17:03] #383 closed

[2016-10-06 17:07] OriRoth commented on #394
Tip: you can see all the `TODO`s in the project in an eclipse view:
`Window->Show View->Tasks`
Writing a name in the start of the `TODO` like Yossi suggested make it easy to sort the `TODO`s in this window.

[2016-10-06 17:07] zvili commented on #387
:aries:

[2016-10-06 17:09] yossigil opened #397 "TODOs of Itai Dabran"
- Call me `IDabran`
- As per #394

[2016-10-06 17:23] yossigil commented on #387
OOPS, @Zvili, try to put this emoji on the issue itself.

[2016-10-06 18:17] orimarco opened #398 "Lazy Evaluation Nano"
[code]

[2016-10-06 19:52] yossigil commented on #151
Dan: the last you touched your TODOs is 22 days ago

[2016-10-06 20:05] yossigil commented on #262
@M4tt30rru : FYI

[2016-10-06 20:21] OriRoth commented on #282
From the JOptionPane (used in `eclipse#announce`) documentation:
[code]
So should I find another way to display messages?

[2016-10-06 20:23] yossigil opened #399 "Tutorial/Social: What's a bugger?"
A bugger is someone who bugs  other about his own bugs, insteading of making a sincere, professional effort to fix the problem, and documenting these attempts when they fail.

[2016-10-06 20:23] yossigil commented on #282
Yes, find another way

[2016-10-06 21:39] OriRoth opened #400 "Organize eclipse"
What a messy file
it bugged my for a while
and I am to blame
what a shame!
Camembert.

[2016-10-06 21:40] OriRoth commented on #400
400 issues! 🎉🎉🎉

[2016-10-06 22:18] yossigil commented on #400
it was even worse before .can u believe...

[2016-10-06 23:02] OriRoth commented on #282
Implemented a solution 🎉
[notice #400]
* `eclipse#announceNonBusy`: announce a message in non blocking way. Former announce now call this function, so all dialogs are now non blocking (but... see below).
* `eclipse#progressMonitorDialog`: the `ProgressMonitorDialog` gives us a new way to run progress monitors as non blocking. But it requires changes in code, because it provides a substitute to the

[2016-10-06 23:23] OriRoth commented on #282
Probably will be completed in #389

[2016-10-06 23:23] #282 closed

[2016-10-06 23:28] OriRoth opened #401 "Travis errors - does not acknowledge JFace"
![button](https://cloud.githubusercontent.com/assets/15183108/19174160/841a8140-8c35-11e6-9577-26902262062e.jpg)
Travis fails although the code compile.
@yossigil FYI

[2016-10-07 01:31] yossigil commented on #282
:8ball:

[2016-10-07 02:04] yossigil opened #402 "Do not initailize into 'for(;;)' if this removes a final modifier"
Here is an example of actual code:
[code]

[2016-10-07 02:06] yossigil opened #403 "Step in time!"

[2016-10-07 02:42] yossigil opened #404 "TDD Project: Compute the list of string literals found in a given Java string"
### Secondary Objective

A function named `public List<String> stringLiterals(ASTNode n)` that
- takes a single parameter, which is an 'ASTNode`
- returns a `List<String>` which is the list of all string literals in this node

This function is to be implemented as a static member of `interface dig { /*...*/ }` which you will find i the code somewhere.

This design is so that clients can apply this

[2016-10-07 03:35] yossigil opened #405 "Symmetric variables"
Let's talk about this!

[2016-10-07 03:36] yossigil opened #406 "Type oblivous"
@orimarco : let's talk about this

[2016-10-07 03:45] yossigil opened #407 "Exception thrown for no reason"
@dormaayan: checkout this code
[code]
As can be seen, the conversion of the string to `double` may throw an exception. But, you can prevent th exceptions in many cases. The patter here is to first make the light weight check, as done in `type` for the kind of the string literal.

So,  if the classifier says it is a `double`, you never try to parse it as `long` nor as `int`. If the classifiers, whi

[2016-10-07 03:49] yossigil opened #408 "0+(x+Y + 0 + 2) ???"
can anything be done for `0+(x + 0 +  y + (x + 2)`, without knowing the type of `x` or `y`? I doubt it, yet the tests say it is possible...
`

[2016-10-07 05:38] M4tt30rru commented on #408
@yossigil I was working on AdditionInfixZero tipper.

[2016-10-07 08:17] dngreenst commented on #151
The old TODOs (not the ones that you have added in the last 3 days) are Environment related.

Do you want me to resolve them? leave them as unassigned TODOs? leave them as comments in the code without 'TODO'? Delete them?

Dealing with the new TODOs now.

[2016-10-07 09:10] OriRoth commented on #402
In my opinion, this is a problem that should be solved in the side effects detection mechanism.

[2016-10-07 09:23] OriRoth commented on #151
Old problems tend to become new ones.

[2016-10-07 09:35] yossigil commented on #408
Superb. Talk to each other. @NivShalmon

[2016-10-07 09:37] yossigil commented on #151
Good point, sorry for any confusion. yes, fix your tasks please

[2016-10-07 10:02] yossigil commented on #402
I think it can be reduced to checking whether modifier `final` eist

[2016-10-07 14:24] dngreenst opened #409 "Tippers That Can Be Improved With Environment"
Add in comments tippers which should be improved with Environment.

(Opened as an issue instead of a TODO)

[2016-10-07 14:25] dngreenst commented on #409
AssignmentToPostfixIncrement (Issue 107).
Identifier renaming (Issue 121)

[2016-10-07 14:32] dngreenst commented on #151
All TODOs are done.

[2016-10-07 14:32] #151 closed

[2016-10-07 14:43] dngreenst opened #410 "GuessedContext Tests Failing"
3 tests failing. Almost certain the input that has been messed up, but I am not certain which input is the desired one.

[2016-10-07 16:05] dngreenst opened #411 "DeclarationInitializerStatementTerminatingScope Tests Failing"
11 of issue #295 tests are failing. Don't think its due to bad input/output.

[2016-10-07 17:40] OriRoth commented on #362
The Spartan movie is out, and it is better than 300! (https://en.wikipedia.org/wiki/300_(film))
Use keyboard shortcut `Ctrl+Alt+M` to start the movie.
**Beware:** run time is estimated to be `[number of spartanization suggestions] * 1 + 2` seconds, so it is not recommended to run it on large projects.

[2016-10-07 18:18] OriRoth commented on #409
`collection.size() == 0` ===> `collection.isEmpty()`
`list.indexOf(object) != -1` ===> `list.contains(object)`
With environment we can know if it is legal to change the method invoked, by checking the object invoking them is a `Collection` / `List`.

[2016-10-07 18:44] OriRoth commented on #387
Implemented in `SingleTipper` ... `InDeclaration` / `InFile` / `InProject`, so we have a POC which is nice.

[2016-10-07 18:50] yossigil opened #412 "Tutorial/TDD/Rule: Use assert when possible"
assertTrue, assertFale, assertNotNull, should be done as
`assert x` or 'assert !y`or`assert x != null', or with string
`assert x: reason` or in the longer version
TBD

[2016-10-07 19:53] AdiOmari commented on #326
nice

[2016-10-07 19:54] yossigil opened #413 "Tutorial/TDD/Example: Apply TDD to StringsRemover"
Empty issue to be referenced by commits

[2016-10-07 20:10] AdiOmari opened #414 "foo"
working on my second tutorial session

[2016-10-07 20:24] AdiOmari commented on #414
tutorial issue is #328, I cant assign my issue to myself because I'm not in among the repo the contributors. Yossi can you add me?

[2016-10-07 20:48] OriRoth commented on #287
Changed `GUI$Applicator` to update number of tippers committed.
Implemented in `Refactorer` *only*, so you can see the computations in `apply to entire project` (the single tipper version, not `spartanize entire project`).

[2016-10-07 20:48] #287 closed

[2016-10-07 21:01] OriRoth commented on #287
@yossigil
Before and after message boxes for `apply to entire project`:
![tips](https://cloud.githubusercontent.com/assets/15183108/19205306/4324602e-8cea-11e6-8602-89e59e6ac4f3.jpg)

[2016-10-07 21:04] OriRoth commented on #414
You can tag him like this @yossigil good luck 🌮

[2016-10-07 21:07] OriRoth commented on #270
@yossigil I need some explanations:
* NOT => size of AST???
* Halstead metrics.... I did no find any good implementations on the net - is it done in our project or should I implement it myself?

[2016-10-07 21:07] dngreenst opened #415 "Arithmetic Simplification Ignored Shift Tests"
The arithmetic (#92) tests with shift are ignored, with the message "Do not compute shifts, they have a reason". Not sure what to make of it. Moving them to a separate test class.

[2016-10-07 22:35] M4tt30rru commented on #408
I worked on InfixAdditionZero2 class and it is working fine on its own. However, when placed in the toolbox it leads some tests to fail. That's because there is a "conflict" between the tests - and specifically, some "test fixtures", namely some of the strings that are input of the trimmingOf or assertConvertsTo (and the like) methods, trigger multiple tippers (also depending on the position of th

[2016-10-07 23:06] OriRoth commented on #408
This is an issue with every new tipper. Usually the solution is to correct the failing tests, while preserving the original purpose. It should not matter where you place the tipper in the toolbox. If you want you can ask the original writer of the tests to help you out.

[2016-10-07 23:19] OriRoth commented on #401
Maybe this?
https://www.eclipse.org/forums/index.php/t/109083/
I need someone to check if it is working on Linux.

[2016-10-07 23:37] yossigil opened #416 "TDD: Don't remove tests"

[2016-10-08 02:14] yossigil opened #417 "Startup: We can overhaul this for you wholesale"

[2016-10-08 06:21] AdiOmari opened #418 "Adi Omari: introduction"
- [ ]  Use a picture, photo or distinct avatar. Don''t use an automatic icon:

Example | Score | Why?
------- | ------|-----
![image](https://cloud.githubusercontent.com/assets/12775400/19101029/e525d7d8-8acc-11e6-97f1-8bdc0bb9ac4f.png) | Bad | Anonymous
![image](https://cloud.githubusercontent.com/assets/12775400/19101029/e525d7d8-8acc-11e6-97f1-8bdc0bb9ac4f.png) | OK | Personal trademark
  - **E

[2016-10-08 06:28] AdiOmari commented on #418
@YossiGil: Done.

[2016-10-08 06:28] #418 closed

[2016-10-08 08:58] yossigil commented on #418
:+1:

[2016-10-08 09:03] yossigil commented on #401
Please do not use DOS. We cannot afford diverging environments

[2016-10-08 09:04] yossigil commented on #270
NOT = Nmber of Tokens.
Halstead? This will wait for version 2.7, don't work on this now

[2016-10-08 09:04] #270 closed

[2016-10-08 09:05] yossigil commented on #415
This is deliberately unactive. Mark the test class (not methods) `@Ignore`

[2016-10-08 09:07] yossigil commented on #414
:+1:

[2016-10-08 09:07] yossigil commented on #287
:100:

[2016-10-08 09:07] OriRoth commented on #401
I just use the JFace classes... just want to make sure it is not OS related problem.
I suspect the little icon on the corner of the opened window - this is a common feature in DOS but does not exist in LINUX (???). In worst case scenario I can just change the constructor I guess...

[2016-10-08 09:09] yossigil commented on #151
:100:

[2016-10-08 09:11] yossigil commented on #362
@orimarco , @M4tt30rru

[2016-10-08 09:12] yossigil commented on #409
@sakopzon , @dngreenst : add to this list? For initializers?

[2016-10-08 09:13] yossigil commented on #401
Maybe try @M4tt30rru  on Sunday?

[2016-10-08 09:26] yossigil opened #419 "Defunct the Trimmer"

[2016-10-08 09:40] yossigil commented on #419
Make sure we use a listener

[2016-10-08 10:12] dngreenst commented on #356
Current status:
45 skipped when running JUnit.
Of those:

New issues and new test classes: #411, #410, #415.
Old open issues, with new test classes: #115, #20, #76.
Existing test classes with open issues, and a very high rate of test failure: #230 (14/22 tests), #249 (9/10), #390 (1/1).

The others are cases in which I thought that moving the tests will cause more harm than good, because I think t

[2016-10-08 10:34] sakopzon opened #420 "For not checking that cent is used in its body prior to centification"
Split #390

[2016-10-08 10:35] sakopzon opened #421 "Method not checking that no definitions are made before Centification"
Split #390

[2016-10-08 10:36] sakopzon commented on #390
Splitter into two issues: #420 #421

[2016-10-08 10:51] M4tt30rru commented on #356
@dngreenst I can confirm Issue408 is under development.
I think the LogManager is going to be removed because there other (better) classes that have the same functionalities. Let me have a look at it.

[2016-10-08 10:54] OriRoth commented on #362
![spartanization](https://cloud.githubusercontent.com/assets/15183108/19212649/59d65e3e-8d5e-11e6-9940-ac7a070be7d6.gif)

[2016-10-08 10:58] OriRoth commented on #362
Now also on the readme page: https://github.com/SpartanRefactoring/Spartanizer

[2016-10-08 11:08] OriRoth commented on #389
@yossigil can I sit on it? I believe it would be quick, and also will solve #387
Finish most of the `first-priority` issues btw.

[2016-10-08 11:52] sakopzon opened #422 "Method not checking whether name is JD or not"
**for example:**
`public String getOpeningMessage(@SuppressWarnings("unused") final Map<attribute, Object>` `attributes) {`
`    return null;`
`  }`

[2016-10-08 11:58] #422 closed

[2016-10-08 12:06] sakopzon opened #423 "Remove all redundant [[SuppressWarningsSpartan]] markers"
For example:
`/** Return null for canceled message.`
`   * @return opening message for given attributes [[SuppressWarningsSpartan]] */`
`  public String getOpeningMessage(@SuppressWarnings("unused") final Map<attribute, Object>` `attributes) {`
`    return null;`
`  }`

After removing the marker, Spartanizer suggests renaming "attributes" to "a" and then to "__".
As I understand those functions ar

[2016-10-08 12:21] sakopzon commented on #423
In some cases, when I remove the [[SuppressWarningsSpartan]], there are no suggestions.
@yossigil, what do you expect from the Spartanizer here?
**For example what is expected here:**
`/** XXX: This is a bug of auto-laconize [[SuppressWarningsSpartan]]`
`   * @param ¢ JD`
`   * @return furtherest ancestor whose type matches the given type. */`
`  public ASTNode inclusiveLastFrom(final ASTNode ¢) {

[2016-10-08 12:23] OriRoth commented on #423
The release have not changed. Make sure the plugin is running, possibly by putting a well known spartanizable code (sucha as `int x = new Integer(0);`).

[2016-10-08 12:27] sakopzon commented on #423
The plugin is working! The cases I speak about are usually with:
`  /** XXX: This is a bug of auto-laconize [[SuppressWarningsSpartan]] */` comment.

[2016-10-08 12:33] dngreenst commented on #402
@yossigil The problem I have observed with the example that you have provided, is that the modifier is extended to the other initializer, not that it disappears.

Source of the problem was that it was checked that the initializer's list of modifiers is contained in the inline candidate's, not that the two lists are equal. Fixed now.

[2016-10-08 12:41] sakopzon opened #424 "$ Spartanization collisions"
When changing the name of a variable to $, we must check whether $ is already used in the parent block.
**For instance:**
`Information getHidden(final String ¢) {`
`        final String shortName = ¢.substring(¢.lastIndexOf(".") + 1);`
`        for (String s = parentNameScope(¢); !"".equals(s); s = parentNameScope(s)) {`
`          final Information i = get($, s + "." + shortName);`
`          if

[2016-10-08 12:47] OriRoth commented on #401
@yossigil I saw you commented my code in `QuickFixer`. Is it because of DOS related compilation errors (besides Travis)? If it does, I would be happy to get some screenshots. (it works in my eclipse without any problem).
In the meanwhile I have reactivated the marker resolution - until the DOS problem (???) would be clearer.

[2016-10-08 12:50] OriRoth commented on #423
Alex

[2016-10-08 12:52] OriRoth commented on #423
Do not touch `Refactorer.java` please.
Call me for clarifications.

[2016-10-08 13:24] sakopzon commented on #423
OK, ran eclipse with the new configuration to handle the current plugin state, but still there are a lot of redundant `/** XXX: This is a bug of auto-laconize [[SuppressWarningsSpartan]] */` comments.
@yossigil, should I remove them?

[2016-10-08 13:26] OriRoth opened #425 "Convert this into a wiki page: Debugging your Tipper"
See also #875

After completing your cool new `Tipper`, you ask yourselves how to test it. As you know we are working in a TDD methodology, so running your pre-written tests would be a good idea.

But it is sometimes easier to check your newly created `Tipper` in a real environment, i.e. as part of the plugin run by eclipse. That way you can:
- Quickly check test cases, that later can be added as

[2016-10-08 13:28] OriRoth commented on #425
@yossigil it is very importent to tell new workers about this feature (I just found out @sakopzon did not use it, which is a loss).
@orimarco do you have something to add?

[2016-10-08 13:51] sakopzon commented on #420
Actually it is checking!

Here is an example:

`@Override public Expression replacement(final InfixExpression x) {`
`    if (x.getOperator() != wizard.PLUS2)`
`      return null;`
`    final List<Expression> es = hop.operands(x);`
`    boolean isString = false;`
`    for (int i = 0; i < es.size(); ++i) {`
`      final boolean b = isString;`
`      isString |= !type.isNotString(es.get(i));`
`

[2016-10-08 13:58] #423 closed

[2016-10-08 14:00] #420 closed

[2016-10-08 14:10] sakopzon commented on #390
I walked threw all [[SuppressWarningsSpartan]] markers, and there is no one case falling for the reasons you described. I ran the current version of the plugin (not the released one), and checked all cases.
To be sure, I scanned the Centification relevant code, and saw that all the tippers do search for definitions in body before Centification, with haz.variableDefinition()!

[2016-10-08 15:52] #368 closed

[2016-10-08 16:36] sakopzon opened #426 "Avoid Centification when ¢ is already used in body"

[2016-10-08 16:57] OriRoth opened #427 "Same evaluation conditional"
Turn

[code]

or

[code]

into

[code]

Notice `x` and `y` could be anything (or does it? **safety check is needed**).

[2016-10-08 17:17] orimarco commented on #425
In order to start the eclipse application, you need to  configure it as shown in [https://github.com/SpartanRefactoring/Spartanizer/wiki/Sterile--Import-into-Eclipse#run-configuration](url)

[2016-10-08 17:27] OriRoth commented on #425
@orimarco link gets me to 404 not found

[2016-10-08 17:28] yossigil commented on #362
:+1:

[2016-10-08 17:29] yossigil commented on #390
:100:

[2016-10-08 17:29] #390 closed

[2016-10-08 17:33] yossigil commented on #402
:-1: OK,  delivering to next semester.

Mission: make this bad tipping go away.

[2016-10-08 17:34] yossigil commented on #423
:+1:

[2016-10-08 17:36] yossigil commented on #389
No, please don't I am working on something that would do it right.

[2016-10-08 17:37] yossigil commented on #389
Let me finish, and then.

[2016-10-08 17:38] yossigil commented on #401
Could be that file names went from lower case to upper case... I will ttry to check later

[2016-10-08 17:50] OriRoth commented on #389
If this is relevant you should tell me, to check it is not already implemented and fit to the Refactorer.

[2016-10-08 18:00] OriRoth commented on #426
You should *not* write a mass of code to solve this. It is probably solved in the regular renaming Tipper, so you should find a way to use that solution.

[2016-10-08 18:16] sakopzon commented on #426
Done by adding StringCollector

[2016-10-08 18:37] orimarco commented on #425
@OriRoth  try now

[2016-10-08 18:41] #426 closed

[2016-10-08 18:44] sakopzon opened #428 "Avoid Dolarization of declared field when $ is already used."
Today spartanizing the next, creates a bug while changing j to $:

`func(int i){int j;System.out.println(j);System.out.println($);return j;}`

[2016-10-08 20:20] OriRoth commented on #428
Alex! same problem - do not write a new code for this. It would make your job much easier.

[2016-10-08 20:30] OriRoth opened #429 "GUI revelation"
Here I would pass a short explanation about our application's GUI, followed by a description of the upcoming renovations. The purpose of this issue is to both teach you about the plugin and how to use it, and to hear a feedback prior to massive changes in design.

This issue may later become a tutorial about the GUI and its structure.

If someone thinks he want to know more about the GUI and how t

[2016-10-08 20:40] OriRoth commented on #429
**Terminology:**

*Eclipse window:*
* Top menu: drop menus at the top of the eclipse window. Usually we put our stuff under the "Refactor" tab.
* Button: the spartanization button.
* Quick fix menu: markers often offer means to resolve them - you can see the marker resolutions in the quick fix menu by hovering over a marker / clicking on the marker + ctrl + 1.
* Marker notification - the info noti

[2016-10-08 20:56] OriRoth commented on #429
**Current GUI**
The current GUI main features.

* Top menu: under Refactor->Laconize.. we got the options to:
 * Spartanize current window *($)*
 * Spartanize entire project *($)*
 * Toggle tips on/off
* Button: the button spartanize the current file *($)*
* Quick fix menu: includes the following resolutions:
 * Apply - apply change to marker
 * Apply with preview - apply change while opening a re

[2016-10-08 21:16] OriRoth commented on #429
**Revisioned GUI**
The current GUI features are driven by the old methodology used in our plugin's GUI. New ways to manipulate eclipse were discovered, so now I can present the revisioned GUI about to be implemented in the current/next month or so:

*Behind the scenes changes:*
* We want to replace the various handlers (spartanize current file / entire project etc.) with *one* handler that would t

[2016-10-08 21:17] OriRoth commented on #429
**Remarks / Suggestions**
* Spartanization of code marked by the user - this was a feature in the old GUI that was really good, need to get it back!

[2016-10-08 21:24] OriRoth commented on #429
I would be happy to get a feedback about the plugin's GUI, after you had the opportunity to use it for a short while now. You can edit the previous comment by me and add your own remarks/suggestions.

I know this issue is quite long, but I truly believe you can help improving the GUI by giving a quick feedback. Of course you do not have to read it all if you think you are familiar enough with the

[2016-10-09 01:31] #370 closed

[2016-10-09 01:36] yossigil opened #430 "Auto autmatons"
A clever TDD to generate fluent API by positive and negative examples.
[code]

[2016-10-09 01:53] yossigil opened #431 "Matrix Multiplication"

[2016-10-09 04:44] sakopzon commented on #428
👍

[2016-10-09 06:02] idabran commented on #387
Added an inner "confused" emoji since I'm not familiar with the markers

[2016-10-09 06:52] sakopzon commented on #402
@yossigil you right, the only modifier can be used in for loop is final, so I removed the comparing loop, and added a check for final or empty modifiers. Added a few tests, to ensure it's working.

[2016-10-09 07:16] orimarco commented on #410
`findVariable` was failing because `GuessContext `was buggy - Fixed.

The two other tests don't make any sense to me...

[2016-10-09 07:19] yossigil opened #432 "Tutorial/Git 7: Bisection"

[2016-10-09 07:22] orimarco opened #433 "Slow startup of test units"
Because it takes 4s to run and is limited to 100ms.

[2016-10-09 11:32] yossigil opened #434 "Spartanizer: careful elimination of tests"
- anything in a folder named XXXX/text/YYYY
- Anything annotation with
  - `@Test`
  - `@Ignore`
- Anything extending a class whose last name is Test.

[2016-10-09 12:21] yossigil commented on #433
This is the input
[code]

[2016-10-09 12:48] dngreenst commented on #404
Reading list:

#388
#391

https://technologyconversations.com/2014/09/30/test-driven-development-tdd/
https://technologyconversations.com/2013/12/20/test-driven-development-tdd-example-walkthrough/
https://technologyconversations.com/2013/12/24/test-driven-development-tdd-best-practices-using-java-examples-2/

(Highly recommended - to read in order of appearance)

http://agiledata.org/essays/tdd.h

[2016-10-09 13:32] sakopzon commented on #428
As I said, the code dealing with the dollar search (the one you wanted me to use) is buggy. While doing issue #426 I implemented StringCollector, which I used here also, and it's working.

[2016-10-09 13:32] #428 closed

[2016-10-09 13:38] sakopzon commented on #424
solved in #428

[2016-10-09 13:38] #424 closed

[2016-10-09 13:59] sakopzon commented on #404
http://agiledata.org/essays/tdd.html 👍

[2016-10-09 14:05] #402 closed

[2016-10-09 14:32] OriRoth commented on #433
Slow computation time is also noticeable in plugin activity.

[2016-10-09 14:36] sakopzon commented on #378
There is some nice flag (BY_ANNOTATION) which determines whether look at the annotation or not. Do you want me to change the value of some flag there? or remove it's usage? (till you answer I just change the flag.)

[2016-10-09 15:06] sakopzon commented on #378
**Now there is some design questions:**
1. When there are more then one parameters, should we make the replacement?
2. When the parameter's name is not JD, should we rename it?

**For now the code is doing:**
1. Replace the first only
2. Replace not JD also

**My opinion:**
1. not a problem
2. Better not touching "not JD" parameters (then also we will not have to [[SupressWarningsSpartan]] the fun

[2016-10-09 15:08] OriRoth commented on #378
Flags were my thing once... after a lot of C programming :P we need to check first whether the other solution is valid.

[2016-10-09 15:19] M4tt30rru opened #435 "Spartanizer is back (but there are two classes)"
Spartanizer is working again. However, there are two spartanizer classes in this very moment: one with the capital letter (Spartanizer) and one without (spartanizer). The second one is not working, as far as I know. I was certainly working on the first version before your push.
@yossigil If you did not make changes after our meeting today I can delete the second one and rename the first as "sparta

[2016-10-09 15:29] M4tt30rru commented on #316
@yossigil I was looking for something related to the authors on the sonarqube website, but I still did not find anything related. Would you like something to compute some "people" metrics like ownership, authorship and the like?

[2016-10-09 15:36] sakopzon commented on #378
what is the "other solution"?

[2016-10-09 17:04] dngreenst commented on #404
@yossigil , could you clarify your intention regarding "returning an Integer"? Do you want me to try and return a String literal that represents a number?

[2016-10-09 17:32] dngreenst commented on #409
Went over my issues - Couldn't find any others that required Environment.

[2016-10-09 17:53] dngreenst opened #436 "TestFactoryTest - testRenamingWithQualified Failing"

[2016-10-09 18:01] dngreenst opened #437 "InfixIndexOfToStringContainsTest - 3 Ignored Tests"

[2016-10-09 18:09] OriRoth commented on #389
OK I have made a first progress. All of my work is currently under `plugin.revision` package.
* `Listener`: a simple listener that can be used for both the handlers and your trimmer (or whatever).
* `EventListener`: a listener that responds to specific events (such as "visit compilation unit" or "run pass").
* `EventMapper`: an EventListener that holds and updates a map of values for each event. C

[2016-10-09 18:13] OriRoth commented on #437
Who is in charge of them? It should be written in the Javadoc.

[2016-10-09 19:27] dngreenst commented on #437
@orimarco . But Yossi asked me not to assign these issues.

[2016-10-09 19:29] dngreenst opened #438 "TrimmerLogTest - Two Tests Fail (After Removing Ignore)"
Will be moved to their own test class.

[2016-10-09 20:06] dngreenst commented on #356
17 skipped, all of them classes. Closing.

[2016-10-09 20:06] #356 closed

[2016-10-09 20:46] OriRoth opened #439 "Disable spartanization delete all comments"
Bad! use `ASRewrite#makeCopyTarget`.

[2016-10-10 05:02] yossigil commented on #356
:100:

[2016-10-10 05:03] yossigil commented on #438
:+1:

[2016-10-10 05:04] yossigil commented on #389
:+1:

[2016-10-10 05:05] yossigil commented on #436
:+1:

[2016-10-10 06:16] #433 closed

[2016-10-10 08:13] Bananeweizen opened #440 "Cannot relate issue to category"
Just testing Spartan for the first time. I get a huge amount of "replace toString() by concatenating empty string" tips. I want to disable that tip, since it is nonsense (less readable, worse bytecode). However, I cannot relate the findings to the categories in the preferences, so I basically have to do trial and error on all checkboxes in the preferences.

You could solve this by either adding al

[2016-10-10 08:19] Bananeweizen opened #441 "Preference change blocks entire eclipse process"
When changing Spartan preferences, the UI is blocked for several minutes due to re-running the analysis in a blocking way. This makes Spartan unusable.

[2016-10-10 08:34] yossigil opened #442 "Do not underscore in abstract methods"
They will never use their parameters

[2016-10-10 09:29] #315 closed

[2016-10-10 09:29] #442 closed

[2016-10-10 10:24] #421 closed

[2016-10-10 10:26] #307 closed

[2016-10-10 10:38] #378 closed

[2016-10-10 11:13] yossigil commented on #440
Hi @Bananeweizen,indeed, cofnigurability should be improved, and we hope to do so in future release. But, the idea you suggest is also nice: "Configure severity", as right click on issue. I scheduled this for version 2.7.

[2016-10-10 11:28] yossigil commented on #441
@OriRoth  see if you can help

[2016-10-10 11:29] yossigil commented on #440
Current category is "Collapse". BTW

[2016-10-10 11:34] yossigil opened #443 "Rename to underscore is not fully debugged."
Does not work in case the argument is an array or a ...
Can you pelase open a test class, just lik #442 for two cases
[code]
[code]
and fix this.

[2016-10-10 11:39] yossigil commented on #378
Well, this introduced three more bugs: #442, and two in #443,if you try to self laconize.

[2016-10-10 11:41] yossigil commented on #315
:-1:

[2016-10-10 11:42] yossigil commented on #433
:+1:

[2016-10-10 11:43] yossigil commented on #316
No, don't worry about this. It is just a general quality principle

[2016-10-10 11:45] yossigil commented on #435
Go ahead. I think it is DOS related.

[2016-10-10 11:46] yossigil commented on #402
:+1:

[2016-10-10 12:26] yossigil commented on #378
Yes, but there is no  one who to maintain this flag. So, it is either active, or dead.

[2016-10-10 12:57] OriRoth commented on #401
Stupid Travis...

[2016-10-10 12:57] #401 closed

[2016-10-10 13:18] #443 closed

[2016-10-10 13:39] orimarco commented on #398
[done ](https://github.com/SpartanRefactoring/Spartanizer/blob/412e5e9f79814dd6001f87424412c04958ea90a9/src/main/java/il/org/spartan/spartanizer/research/patterns/AssignmentLazyEvaluation.java)

[2016-10-10 13:40] #398 closed

[2016-10-10 14:35] yossigil opened #444 "Laconize entire project hangs"
Here is a dump

[code]

[2016-10-10 14:36] yossigil commented on #398
:8ball:

[2016-10-10 14:36] yossigil commented on #401
:+1:

[2016-10-10 14:46] yossigil commented on #414
Done.

[2016-10-10 14:56] OriRoth commented on #444
The assert that fails:
[code]
So... it is probably a problem with one of our Tippers.
Now this issue is how do we find what cause it?...
@yossigil what is the project you tried to spartanize? ours? (@sakopzon got stuck while trying to spartanize our project).

[2016-10-10 15:11] OriRoth commented on #444
*Updates:*
* Spartanizing JUnit works fine.
* Spartanizing out project get stuck.
* It get stuck while doing tip collection.

[2016-10-10 15:33] yossigil commented on #444
guava

[2016-10-10 15:44] OriRoth commented on #444
OK I disabled the progress dialog for the tips collection, and now it is working.
I am not sure why it does that - in `Apply to entire project` (single tipper option) something very similar is done with no problems.
@yossigil does it work now? should I investigate more or do we wait for GUI revision?

[2016-10-10 16:35] OriRoth commented on #444
You may not believe it, but apparently the problem was.... too long message for progress monitor. The fix was:
[code]
==>
[code]
Please tell me if it works now so I can close the issue.

[2016-10-10 16:39] OriRoth commented on #444
The code used by ProgressMonitor to shorten the text:
[code]

Honestly, I cannot see how it can't go wrong.

[2016-10-10 17:34] sakopzon commented on #444
👍

[2016-10-10 18:35] dngreenst commented on #404
@yossigil

[2016-10-10 19:17] yossigil commented on #435
Done?

[2016-10-10 19:20] #414 closed

[2016-10-10 19:26] yossigil commented on #313
Good idea. But, on hold for now. TOo many things don't work

[2016-10-10 19:27] #313 closed

[2016-10-10 19:39] AdiOmari commented on #414
👍

[2016-10-10 20:03] yossigil opened #445 "Does not detect $"
[code]

[2016-10-10 20:09] yossigil opened #446 "Clever loop updaters"
e.g.,
[code]

[2016-10-10 20:13] yossigil commented on #305
[code]

[2016-10-10 20:51] OriRoth commented on #446
There should not be problem doing it - we just need to check the left side of the assignment is not defined inside the loop.

[2016-10-10 20:54] OriRoth commented on #305
The second example is a bit tricky - I believe it should be spartanized first using #446 to get
[code]
Then we can combine the [for statement with empty statement as body] and [return statement] into one statement:
[code]

[2016-10-10 21:23] M4tt30rru commented on #435
Not yet. I managed to remove @Test annotated methods on the tests. But it is still not working on the spartanizer. I am still working on it.

[2016-10-10 21:47] yossigil opened #447 "Comments and ASTRewrite"
Can we use this?
![image](https://cloud.githubusercontent.com/assets/12775400/19252202/36868356-8f4c-11e6-85a2-a693de59a1d5.png)

http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.jdt.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fjdt%2Fcore%2Fdom%2Frewrite%2FASTRewrite.html

[2016-10-10 22:10] OriRoth commented on #447
It cannot help you preserve formatting or comments, unless you scavenge the source code. I strongly recommend the use of `ASTRewrite#makeCopyTarget` and `ASTRewrite#makeMoveTarget` that preserve both formatting and comments (see #331) whenever possible.

[2016-10-10 22:18] yossigil opened #448 "Classification of nanos"
Several kinds of macros:
1. normal, ie.. can be emulated with normal order function call
2. annotable ie. can be denoted by annotation
3. pseudo-normal, ie., using something like

[code]
1. Others. What are they?

[2016-10-11 04:59] yossigil commented on #447
but, it surely help cresating complex constructs, instad of using `subject`

[2016-10-11 08:05] #439 closed

[2016-10-11 08:29] OriRoth commented on #41
Build is failing once more! I think it is something with unsupported mars eclipse version...
From Travis:
[code]
From pom.xml:
[code]

[2016-10-11 08:44] OriRoth commented on #41
Wew done. Connected to neon's repository instead, did not changed any names though.

[2016-10-11 08:44] #41 closed

[2016-10-11 08:53] OriRoth commented on #173
In the current planning we are not going to use submonitoring.

[2016-10-11 08:53] #173 closed

[2016-10-11 10:04] OriRoth commented on #400
This class will be deleted. Logic is now located in `Dialogs.java` and `Selection.Util`

[2016-10-11 10:04] #400 closed

[2016-10-11 12:33] yossigil commented on #400
:+1:

[2016-10-11 12:34] yossigil commented on #173
:+1:

[2016-10-11 12:35] yossigil commented on #41
Thanks.

[2016-10-11 14:05] yossigil commented on #404
Note the updates

[2016-10-11 15:53] dngreenst commented on #404
Done. Should I leave it open, as it is a Teaching issue?

[2016-10-12 06:07] yossigil commented on #404
More changes. Leave it open for now.

[2016-10-12 11:52] yossigil opened #449 "Inlining assignment into next assignment"
Here is an example

[code]

[2016-10-12 12:21] dngreenst commented on #404
Done.

[2016-10-12 19:39] OriRoth commented on #389
*Current Status*
This is the infrastructure for our applicators. I will now describe each file in `plugin.revision` and its logical successors:
* `Listener`: general listener.
  * `EventListener`: a listener that listen to predefined events.
    * `EventMapper`: an event listener that maps products into a map.
* `Applicator`: an abstract applicator that includes a listener, selection etc.
  * `Eve

[2016-10-12 20:58] orimarco commented on #449
implemented with Leonidas:
[BlockInlineStatementIntoNext](https://github.com/SpartanRefactoring/Spartanizer/blob/master/src/main/java/il/org/spartan/spartanizer/tippers/BlockInlineStatementIntoNext.java)

The only drawback is that because the pattern matches the while block that contain those two statements, graphically the whole block is marked blue instead of only the two statements which are to

[2016-10-12 22:40] yossigil opened #450 "Bug in inlining into loops"
Consider this example:

[code]

Separator 's' should not be inlined. In fact, you should never inline into a loop's body, unless it is a constant.

[2016-10-12 22:47] yossigil opened #451 "Inlining into 'while' fails"
Here are a couple of examples:

[code]

and

[code]

and

[code]

[2016-10-12 22:56] yossigil opened #452 "234311: Assignment 0"
Adi and Itay: do you have the list? Can you upload it

List of the 12 or so steps for fist assignment

[2016-10-12 23:03] OriRoth commented on #450
Doesn't it has a side effect? The inlining probably fails because instance creation is considered as such.

[2016-10-13 04:59] yossigil commented on #450
I still get a tip to do so.

[2016-10-13 07:41] dormaayan commented on #407
@yossigil  :

- do you want me to continue using `az.throwing.double¢(¢)` but make sure before it that it won't throw anything ?

 - I didn't find any` ParseException`, do you mean throwing the `NumberFormatException `and catch it ?

[2016-10-13 08:15] OriRoth commented on #447
Some notes after a talk with @orimarco:

* It is **dangerous** to make tippers that change comments! Notice you will have a hard time assuring your tipper would not be activated over and over again.
* Notice there *are* ASTNodes for comments: http://help.eclipse.org/kepler/index.jsp?topic=%2Forg.eclipse.jdt.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fjdt%2Fcore%2Fdom%2FComment.html
* General way t

[2016-10-13 11:03] OriRoth opened #453 "Multithreading Spartanization"
@yossigil now or never. It can be an interesting challenge with exceptional improvement in performance. I can start experimenting with it immediately.

[2016-10-13 11:04] OriRoth commented on #453
Just before we refine the process in `plugin.revision`.

[2016-10-13 11:20] OriRoth commented on #453
https://wiki.eclipse.org/FAQ_Does_the_platform_have_support_for_concurrency%3F

[2016-10-13 11:21] idabran commented on #452
Yossi: I'm not sure I understand - do you mean the 'Issue teaching' issue?

[2016-10-13 12:46] yossigil commented on #453
No. Please not at this time. We are trying to make a stable version, not an efficient one.

[2016-10-13 12:46] #453 closed

[2016-10-13 14:14] yossigil commented on #452
I mean the list of 12 tasks we made in our meeting

[2016-10-13 14:18] idabran commented on #452
Hi Zvi,
You took the notes in the meeting, can you please send them to us?
Thanks,
Itai.

On Thu, Oct 13, 2016, 5:14 PM Yossi Gil <notifications@github.com> wrote:

[2016-10-13 14:27] yossigil commented on #407
yes, I wish that we keep on using throwing, but only after checking the type by our lightweight classifier, so chances for exception are slimmer.
Yes, I mean `NumberFormatException`

[2016-10-13 17:25] OriRoth commented on #389
*Update*:
Spartanization process in `EventApplicator` is implemented (using `Trimmer`, temporarily). `SpartanizationHandler` is also configured properly, thus the handler is now **usable** under shortcut `ctrl+alt+/`.

I have tried it for some time, and it appears to work wonderfully. It can be run in various ways:
* By choosing an icon in the Package Explorer, then `ctrl+alt+/` (works on every *J

[2016-10-13 17:28] dormaayan commented on #407
@yossigil : Done

[2016-10-13 17:28] #407 closed

[2016-10-13 17:43] OriRoth commented on #389
I will take this chance to improve me GIFing skills:
![plugin_revision](https://cloud.githubusercontent.com/assets/15183108/19360085/abf289f6-9185-11e6-99d9-08b1ad315a54.gif)

[2016-10-13 18:21] OriRoth opened #454 "Improve text selection recognition in GUI$Applicator/Trimmer"
The selection heuristic can be improved. Current code:
[code]
*Explanation*: node is considered inside a marker if and only if the start of the node is inside the marker. Thus we get accepted cases like `[n]ew Integer(0)` and rejected cases like `n[ew Integer(0)]`. I believe a better heuristic can be conducted here.

[2016-10-13 18:42] OriRoth commented on #419
Notice that if you will use event-based listener (that accepts enum values, such as `listener.tick(event.visit_cu, currentCU)`) the `Trimmer` and the `EventApplicator` will be able to share the same Listener.
I can extends `EventApplicator` to accept several enums if needed (it is currently generic).

[2016-10-14 04:34] yossigil commented on #407
Good job and many thanks.

[2016-10-14 04:35] yossigil commented on #419
I think enums are a bit of an overkill. Just use strings.

[2016-10-14 07:36] yossigil opened #455 "Omit {} from lambda expressions"
[code]

goes to

[code]

[2016-10-14 09:08] yossigil commented on #452
@yh-github will set a deadline. @AdiOmari: is in charge of details and first submission.

[2016-10-14 17:08] yossigil opened #456 "Inline plain expressions into initializers list of for"
Here is an actual example.
[code]

[2016-10-14 21:39] OriRoth commented on #456
We should have some well defined limitations on that, such as:
* Inline an *Assignment* to a variable used at least once in the loop's condition and updaters.

[2016-10-14 21:43] OriRoth commented on #389
Done, see `plugin.revision.QuickFixer` (not the old version!). All marker resolutions are now a simple configuration of the standard spartanization process, thus all of them are implemented in `QuickFixer` itself.
*Personal note*: configuration appears to be a better solution than inheritance after all, and `QuickFixer` is the best example for it.

[2016-10-14 21:43] #389 closed

[2016-10-14 21:48] OriRoth commented on #454
Although it is a GUI related issue, the problem and the solution are *logical*, so anyone is invited to find a simple and effective resolution.

[2016-10-14 21:50] OriRoth commented on #455
I think you should replace the `Challenge` label with `Folks` - this looks like beginners stuff (not for first tipper, but still).

[2016-10-14 22:41] OriRoth commented on #387
Done. All marker resolutions are now `final`. Can be "improved" to `static final` if needed... probably not.

[2016-10-14 22:41] #387 closed

[2016-10-14 22:48] OriRoth commented on #125
Notice new features in `plugin.revision` package, especially `Applicator`/`EventApplicator`/`SpartanizationHandler` classes.
@yossigil @M4tt30rru does someone works on this issue? I strongly believe the tools I have developed can be used here... they are quite powerful.

[2016-10-14 22:54] OriRoth commented on #153
Why different solution for each case? Can't we construct a single tipper to detect and work on *unconditional sequencer statements*?
*Note*: I recommend to make this tipper a *Statement* tipper, and use the `ExcluderManager` to exclude all next statements in the block.

[2016-10-14 23:28] yossigil commented on #125
You are right! They should. Lets take it (one day at a time). We do work on our tools: there is an IneractiveSpartanizer class and a BatchSpartanizer. See if you can integrate.

[2016-10-14 23:30] yossigil commented on #153
Sure. it is possible, and should be done. In our current technology we must inherit four or whatever how many sequencers we find, from an abstract tipper which does this.The generics begin in `$`

[2016-10-14 23:31] yossigil commented on #455
Done :-)

[2016-10-14 23:32] yossigil commented on #456
indeed, currently, not well defined.

[2016-10-14 23:33] yossigil commented on #454
there must be a search-google-cut-and-paste solution for this....

[2016-10-14 23:48] yossigil commented on #387
:+1:

[2016-10-15 00:31] yossigil commented on #321
OOPS....
There is a simpler and more efficient version:
[code]

[2016-10-15 00:35] yossigil commented on #321
talk to me about catching NPE, which is probably the most efficient yet the dirtiest version
[code]

[2016-10-15 07:31] M4tt30rru commented on #125
I can work on this today.

[2016-10-15 11:44] OriRoth opened #457 "Using configurable applicator in command line tool"
Added an `AbstractSelection`, that has a generic files (that can be either `ICompilationUnit` or `CompilationUnit`). `EventApplicator` is generic as well.
@M4tt30rru I'll post some more explanations and guidelines later today.

[2016-10-15 11:46] OriRoth commented on #457
*Description of package `pluing.revision`*:
* `Listener`: general listener.
  * `EventListener`: a listener that listen to predefined events.
    * `EventMapper`: an event listener that maps products into a map.
* `Applicator`: an abstract applicator that includes a listener, selection etc.
  * `EventApplicator:` an applicator that uses an event listener with events such as "run_start" or "visit_c

[2016-10-15 12:03] OriRoth commented on #457
What are the configurable parts of `Applicator`?
* `abstract class Applicator<L extends Listener, F, T, S extends AbstractSelection<F, T>>`: L is listener type, F is file type, T is textual selection type, S is selection type.
* `L listener` - generic listener
* `S selection` - the selection covered by the applicator
* `Consumer<Runnable> runContext` - the context in which the applicator runs (suc

[2016-10-15 12:05] OriRoth commented on #457
What are the eclipse-oriented classes in this package?
* `Selection`
* `Dialogs`

[2016-10-15 12:10] OriRoth commented on #457
What is `EventApplicator`?
This is an `Applicator` that listens to specific kinds of events:
[code]
It contains the main application process:
[code]
It is important to understand what is going on here, and how all the components of `Applicator` are taking part of it.

`EventApplicator` also contains some default configuration, such as:
[code]

[2016-10-15 16:10] OriRoth commented on #457
*Update*:
No more generics! I now use `CU` which is a lazy supplier of `CompilationUnit` from `ICompilationUnit`. If you use `CompilationUnit` only, you just need to create a `CU` already consisting of it.

[2016-10-15 16:15] orimarco commented on #321
The question is whether we want a clean readable version or an efficient one...
So this option seems to be more suitable for spartanization:

    return inner != null ? inner : (inner = retrievePool());
  }

[2016-10-15 16:38] yossigil opened #458 "Bullet proofing... again"
With the new technology, we can get past these kinds of bugs:

- **buggy code for finding in tipper,** e.g.,  type analysis, which is buggy regarding arrays. When the typer receives an array type, it barfs with a class cast exception. ( @NivShalmon , @dormaayan , FYI).
- **buggy code for replacement in tipper**, e.g., a problem in the code for loop initializers, which identifies an opportunity to

[2016-10-15 16:39] yossigil commented on #321
I agree. Let's talk voice.

[2016-10-15 17:36] orimarco opened #459 "Switch pattern"
A switch pattern is where few operations may be applied on a single object.

For example?:
`if(arg[0].equals("clean"))
    o.clean();
else if(arg[0].equals("print"))
    System.out.println(o);
else{
  o.clean();
  System.out.println(o);
}
`

[2016-10-15 17:41] orimarco opened #460 "The John Doe pattern"
Is when a method gets an argument which does not affect it's control.

The easiest to find are methods with arguments and no `IfStatement ` or loops.

[2016-10-15 18:26] OriRoth commented on #458
Can you give me an example? I have spartanized JUnit, Guava and Spartanizer fully without any suspicious exceptions (only number format exceptions - but nothing that crashed the plugin).
Project's name would be enough probably.

[2016-10-15 18:44] orimarco opened #461 "Examiner pattern"
A method which examines something about an object and returns true\false.
Actually, this is quite similar to a predicate...

For example:
[code]

@yossigil  can we define this as a pattern?

[2016-10-15 20:42] yossigil commented on #458
I get these in running the spartanizer intreactively. We need this bullet proofing also for our batches.

[2016-10-15 20:44] yossigil commented on #460
Except for checking that the value is null.

[2016-10-15 20:45] OriRoth commented on #458
@M4tt30rru do you know something about it that can help me? If I recall you wrote both bulletproofing tippers and the batch spartanizer.

[2016-10-15 20:57] M4tt30rru commented on #458
@OriRoth I think an example of how handle with the Exceptions thrown by tippers, might be this in AbstractBatch#consolidateTippers. When for some reason the tip method fails a TipperFailure is caught. I assume that the new solution should be more sofisticated.

[code]

[2016-10-15 22:00] OriRoth commented on #458
Added try-catch-Exception for both tipper lookup and tipper commit:
[code]
@M4tt30rru how does it look? will it work? also sorry for touching your file...

[2016-10-15 23:07] orimarco opened #462 "Nano patterns coverage statistics"
So we need to evaluate what part of the code is covered by NanoPatterns.

The way I do it now:
1. **Average statement coverage** - First, per method, I calculate #statementsCoveredByNP/#statements, then I calculate the average on all methods in project.
   A statement is covered by an NP iff an NP matched itself or some ancestor of it in the AST tree.
2. **Average Expression coverage** - First, pe

[2016-10-15 23:08] orimarco commented on #462
@yossigil

[2016-10-16 05:25] M4tt30rru commented on #458
@OriRoth I tested it on commons-bcel, commons-lang and guava and there and no exception was raised. As far as consolidatetips is concerned it is working. Since also InteractiveSpartanizer is based on consolidatetip (the one on Trimmer class) that was updated as well, it should work also for it. In any case I am going to test it thoroughly also on other systems.Thank you very much @OriRoth.

[2016-10-16 05:50] yossigil commented on #125
@ORIMARCO: FYI.

[2016-10-16 06:27] yossigil commented on #175
@OriRoth : reminder

[2016-10-16 06:28] yossigil commented on #389
Yes, configuration is the way to go.

[2016-10-16 07:25] #454 closed

[2016-10-16 10:04] OriRoth commented on #441
Spartanizer rebuild inspired by preference change now runs on different thread.
The change will be applied in the next version (2.6) that will be released in the next month or so.
@Bananeweizen thanks for helping us improve Spartan Refactoring!

[2016-10-16 10:04] #441 closed

[2016-10-16 12:44] OriRoth commented on #357
[code]

This is the project's description in SpartanFeature project. I am not sure this is where the description can be edited, but it looks so (same as here https://marketplace.eclipse.org/content/spartan-refactoring-0)

@yossigil do you want to put something else instead? not urgent though.

[2016-10-17 01:47] OriRoth commented on #8
Revived from the dead!
http://stackoverflow.com/questions/7664758/how-to-subscribe-to-an-openproject-event-in-eclipse
http://stackoverflow.com/questions/30330667/iworkspace-search-for-file-type
http://stackoverflow.com/questions/12243926/how-to-delay-modificactions-to-the-resource-tree-when-it-is-locked

[2016-10-17 02:21] OriRoth commented on #8
@yossigil well... there are some issues with this matter we should discuss about the next time we meet. Nonetheless, we can already see results:
- [X] Markers in new project
- [X] Markers in imported project
- [ ] Markers in opened-after-close project
- [ ] Solved issue about `org.eclipse.core.internal.resources.ResourceException: The resource tree is locked for modifications`

[2016-10-17 05:25] yossigil commented on #8
That would be very useful and interesting. But, it is too great a challenge, or is it? I am very hesitant to go on this adventure now.

[2016-10-17 05:25] #8 closed

[2016-10-17 06:40] yossigil commented on #8
I am not so sure that I am happy to endorse this. It sounds too big.

[2016-10-17 07:05] yossigil opened #463 "remove assignment of default values in constructors"
Here is an example
[code]
with the assumption that consumer,bifFunction and function are fields.

[2016-10-17 10:57] yossigil opened #464 "Centification failure with try/catch?"
Not sure that this is the reason, but here is the input

[code]

I get a suggestion, but it cannot be implemented.

[2016-10-17 11:10] OriRoth commented on #463
What about primitives? Maybe we can use `environment` here (?).

[2016-10-17 11:24] yossigil opened #465 "Set up submission days for all sprints."
In the milestones submenu of git hub.

[2016-10-17 13:02] OriRoth commented on #362
@yossigil I saw you are interested in improving the `SpartanMovie`. The current implementation works, but is *defiantly* non releasable - do you want me to make it more usable? (require some work)

[2016-10-17 16:07] OriRoth opened #466 "Unused variable to double underscore bug"
[code]

==>

[code]

[2016-10-17 16:38] OriRoth opened #467 "Prefix postfix convertion in switch"
[code]

==>

[code]

(not good)

[2016-10-17 16:58] zvili commented on #452
This is the list of tasks defined during our meeting:

1.- My first comment on an issue; add emoji.
2.- Create new issue.
3.- Define "presentable" GitHub profile.
4.- Issue pull request to add your entry to contributors.txt file.
5.- Verify profile - Adi
6.- Invite student to join repository - Adi
7.- Student accepts.
8.- Student adds interactively email address
9.- Add :+1: - Adi
10.- Student iss

[2016-10-17 20:10] OriRoth commented on #353
Reminder to self: DO NOT have two plugin packages (aka `plugin` and `plugin.old`) at release time.

[2016-10-17 20:54] #460 closed

[2016-10-17 20:55] orimarco commented on #460
Seems like this pattern applies to more then half of the methods in commons-lang!

[2016-10-18 05:32] OriRoth opened #468 "Replace dialogs with a view"
An idea worth considering. Would give the plugin nicer, sharper look.

_Documentation:_
- http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Fguide%2Fworkbench_cmd_menus.htm

[2016-10-18 06:43] OriRoth opened #469 "Use of exceptions in tippers as flow control = bad"
Throwing an exception for `division by zero` is not cool. Even if you catch it properly, it mess up the console with error notations. The `monitor` tool that deals with errors should be used for _debugging_ purposes, not for **standard activity**. See `$EvaluateInfixExpression` and its implementations.
@yossigil @dormaayan assign this please.
See also #407

[2016-10-18 07:39] yossigil commented on #460
Amazing, ain't it?

The rule is LAD. Call me to figure out this acronym!

[2016-10-18 09:01] OriRoth opened #470 "Tutorial/Travis: sign-up"
@orimarco lets write it together.
* Step 1: enter [https://travis-ci.org/SpartanRefactoring/Spartanizer](https://travis-ci.org/SpartanRefactoring/Spartanizer)
* Step 2: click on `Sign in with GitHub`
* Step 3: Profit $$$.

[2016-10-18 09:08] OriRoth commented on #463
Remember to recycle code from the tipper that removes assignments of default values in field definition.

[2016-10-18 09:11] OriRoth commented on #175
OK found a (legit) hack for it. There is currently only one warning left: `This plug-in does not export all of its packages`.
@yossigil do you have any objection for exporting all packages?

[2016-10-18 10:13] yossigil commented on #175
- Export all, no problem.
- As to fixing other people's code; this is the standard, not the exception @orimarco , FYI.

[2016-10-18 10:15] yossigil commented on #470
:+1:

[2016-10-18 10:16] yossigil commented on #468
:+1:

[2016-10-18 10:18] yossigil commented on #452
@AdiOmari : you will be in charge on the first assignment.

[2016-10-18 10:20] yossigil commented on #362
No. This is not a product, but I hope @OElmak  will do something about it.

[2016-10-18 11:14] yossigil commented on #470
@AdiOmari , @yh-github , @idabran , @zvili , @orimarco : please take note for of our teachings. Never commit broken code.

[2016-10-18 11:17] yossigil commented on #392
Same as #470

[2016-10-18 11:59] AdiOmari commented on #452
👍, what steps will be covered by the first assignment?

[2016-10-18 12:52] yossigil commented on #452
Up to 12. @orimarco  will go on with TDD.

[2016-10-18 13:14] OriRoth commented on #362
@OElmak check your Telegram I have sent you a message. If you take this challenge you'll need some background story.

[2016-10-18 13:15] OriRoth commented on #175
Apparently this is a buggy issue: https://bugs.eclipse.org/bugs/show_bug.cgi?id=308274
So I just changed the project definition to ignore this warning.
Done done for now.

[2016-10-18 13:15] #175 closed

[2016-10-18 13:20] OriRoth commented on #458
Done for now, see #349

[2016-10-18 13:20] #458 closed

[2016-10-18 13:23] OriRoth commented on #146
@yossigil there should be a reference in the relevant tutorial to this issue, indicating the solution in case someone gets a warning for this file.
I hope that newly workers would download the updated SDK and will not confront any problems.

[2016-10-18 13:23] #146 closed

[2016-10-18 13:24] OriRoth commented on #169
Solved most of the urgent issues... any way I'll move this forward.

[2016-10-18 13:27] OriRoth commented on #353
@yossigil *Update:*
* No warnings.
* No spartanization suggestions (I am using the pre-release version though)
* Not all tests pass - those are the same mal-tests from last time... can you address this? I am not familiar with the mechanism/relevant project definitions.

[2016-10-18 18:31] orimarco commented on #321
changed to this version:

[2016-10-18 18:31] #321 closed

[2016-10-18 18:32] orimarco commented on #406
Is this the John Doe pattern?

[2016-10-18 19:01] OriRoth opened #471 "Consolidate markers under one group"
Then we will be able to apply a quick fix to multiple markers at once. Not commonly used eclipse feature (or is it?), but still.
* http://help.eclipse.org/kepler/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Forg_eclipse_ui_ide_markerSupport.html
* http://stackoverflow.com/questions/5572465/how-to-group-custom-markers-in-a-custom-view
* I also recall there was a n

[2016-10-18 19:08] OriRoth commented on #429
Done (with some changes to the original idea). Keep in mind SpartanMovie is inaccessible to the user at this point.

[2016-10-18 19:08] #429 closed

[2016-10-18 19:57] OriRoth commented on #461
@orimarco you can close an issue from your commit, like so:
[code]
FYI

[2016-10-18 19:59] #461 closed

[2016-10-18 20:00] orimarco commented on #461
Wow, GitHub is awesome!
thanks

[2016-10-19 06:20] yossigil commented on #406
Yes

[2016-10-19 06:20] #406 closed

[2016-10-19 06:24] yossigil opened #472 "Convert GUI issue #429 into a wiki page."
#429

[2016-10-19 06:30] yossigil opened #473 "Configuration page- better screen titles"
@OElmak

![image](https://cloud.githubusercontent.com/assets/12775400/19507862/348303a2-95de-11e6-99f3-b58ccf5178f8.png)

It is quite good, you do not have an example. I think youshould add a tab saying what each rule does.

Here is an example:

![image](https://cloud.githubusercontent.com/assets/12775400/19507887/5f7e3c84-95de-11e6-8c43-640a2b41b842.png)

Related to #25

[2016-10-19 06:31] yossigil commented on #473
@OriRoth FYI

[2016-10-19 06:36] yossigil commented on #471
Brilliant idea, I think you found yourself a project for the semester.

[2016-10-19 06:38] yossigil commented on #353
Ok, here is my result:
31 warnings, 2 errors.
0 spartanization warnings (the plugin does not run)
All tests passs.

GUI, I am worried about spartanization on and off: currently it does not make sense at all: no inidcation whether they are ON or OFF.

[2016-10-19 06:41] yossigil opened #474 "Installation instructions: Reference to plugin warnings"
See #146 :

[2016-10-19 06:43] yossigil commented on #175
@OElmak

[2016-10-19 07:12] yossigil opened #475 "Plug-in Problem: The markup in the document following the root element must be well-formed."
Resource: il.org.spartan.plugin/plugin.xml
Location: line 13

[2016-10-19 07:18] yossigil opened #476 "Plug-in Problem: Illegal root element"
Resource: il.org.spartan.plugin/plugin.xml
Location: line 3

[2016-10-19 07:24] yossigil commented on #415
The GUI should make it possible to enable these, by default these should be off. Testing should be regardless.

[2016-10-19 07:25] yossigil commented on #413
This is some material re: TDD.

[2016-10-19 07:27] yossigil commented on #404
ALL: this is a semi official demo of TDD.

[2016-10-19 07:52] OriRoth commented on #472
I have written a usage tutorial: https://github.com/SpartanRefactoring/Spartanizer/wiki/Tutorial
It needs to be updated.

[2016-10-19 07:59] OriRoth commented on #473
Where do you see this?? Check you are using the updated version.
![pref](https://cloud.githubusercontent.com/assets/15183108/19510133/8ebde88a-95ea-11e6-9895-15680ce1bef4.jpg)

[2016-10-19 08:00] OriRoth commented on #473
Ahh its an addition... OK I'll move it to the GUI project.

[2016-10-19 08:06] OriRoth commented on #475
Sorry I am not seeing this. This is an XML warning - `plugin.xml` have been corrupted by mistake and I have fixed it, is the warning still there?

[2016-10-19 08:10] OriRoth commented on #353
Yes but... what kind of indication do you expect? I have thought about showing the *button* only for spartan-enabled projects (maybe not a good idea though).... I'll open an issue for this.

[2016-10-19 08:13] OriRoth opened #477 "Tips on/off indication"
There is non at the moment, except for markers showing or not. In the past the menu option had a 'v' besides it, but it could not be maintained. Maybe a cool option is to change the option's name to `Tips on` and `Tips off` according to nature of current project... I think I know how to do this.

[2016-10-19 08:21] OriRoth commented on #25
I have put a picture of the current status in #473. It does has check-boxes in the configuration page - are you sure you are using the updated version?

[2016-10-19 08:22] OriRoth commented on #476
Same as #475

[2016-10-19 08:26] OriRoth commented on #415
@yossigil it is currently possible only by category. We may however create a category for `experimental-tippers`, deactivated by default, if you are interested.

[2016-10-19 08:46] orimarco opened #478 "TDD tutorial (31.10) + Assignment 1"
**Previous**: #592

## WTH

In the second meeting of the YP (31.10) we'll be talking about TDD.
- What is TDD and why it's very good.
- How to TDD (with [example](../issues/552)).
- Everyone is going to get a short assignment, which will include implementing a method using TDD. (A short explanation about eclipse DOM and ASTVisitor will be given).

## Assignment

teams of 2-3.
Will open issues per

[2016-10-19 08:47] OriRoth commented on #478
@orimarco is this something for the yearly project? For all the students or just for those who work on this project?

[2016-10-19 08:55] orimarco commented on #478
@OriRoth Everyone!

[2016-10-19 10:43] OriRoth commented on #353
@yossigil the tests won;t pass on my eclipse - there is probably some eclipse preference need to be changed... not urgent but I'll try to work it through before releasing, then update the tutorial.

[2016-10-19 12:57] yossigil commented on #353
seems I r right
 one needs -ea

[2016-10-19 15:43] yossigil commented on #415
No, we should have a full tree, just like the warnings of Eclipse dialog box. It is heavy but doable, and the experience gained? invaluable!

[2016-10-19 15:44] yossigil commented on #476
OK.

[2016-10-19 15:44] #476 closed

[2016-10-19 15:45] yossigil commented on #25
Boomer. UR right.

[2016-10-19 15:45] #25 closed

[2016-10-19 15:47] yossigil commented on #477
Please add the checkmark, even if it only an apprxoimation.
We need a new issue for this, to be done by the GUI/IT team of floks.

[2016-10-19 15:47] yossigil commented on #475
It is gone now.

[2016-10-19 15:47] #475 closed

[2016-10-19 15:48] yossigil commented on #472
OK, this will be the job of the GUI/IT team of folks

[2016-10-19 15:57] yossigil opened #479 "Tutorial IV: Create your own karma page"
**previous**: #330 **next**: #367

In this tutorial, your assignment is to convert the issue you have created at #330, into your Karma page. How is that?
- You go back to that issue you created. (Remember, you were supposed to copy #330 and change the name there).
- Change the title of this issue to `Karma and Todos for Daniel Webster`, where `Daniel Webster' is your name, e.g.,`Yossi Gil`.

Try g

[2016-10-19 16:55] OriRoth commented on #477
OK I just solved it... a different approach can be implemented later, but this solution is fairly sufficient.
I moved the `Tips on/off` option to project `Refactor` menu:
![menu](https://cloud.githubusercontent.com/assets/15183108/19528673/994da5f6-9635-11e6-967f-e2d9a9807cf4.jpg)
![menu2](https://cloud.githubusercontent.com/assets/15183108/19528674/9ab9526e-9635-11e6-842b-ba1339e4533c.jpg)

[2016-10-19 16:56] #477 closed

[2016-10-19 17:16] OriRoth commented on #477
*Remainder*: tips on/off handler is available also via shortcut `ctrl+4`.

[2016-10-19 18:31] zvili commented on #386
1. Call me zvili
2. Done as per #394

[2016-10-19 18:35] zvili commented on #397
:+1:
I would appreciate feedback on mine.

[2016-10-19 21:06] OriRoth commented on #353
[You can extend/modify the list as you wish]
*Requests*:
- [ ] Spartanize all - add dialog.
- [ ] Add tips count in dialogs.
- [ ] Enable/disable tippers by name instead/in addition to by category.

[2016-10-19 22:29] orimarco commented on #448
Actually it seems to me that:
1. are expressions NP.
2. are methods NP.
3. are statements NP.

[2016-10-19 22:35] orimarco commented on #448
Some statements can be emulated with a function call, but those statements are really limited.
For example:
[code]
can be emulated by:
`whenNull(closed).throu(IOException("Cannot write to a closed writer."));`

[2016-10-19 22:43] yossigil opened #480 "Loops Nano: map"

[2016-10-19 22:43] yossigil opened #481 "Loops Nano: sum"

[2016-10-19 22:43] yossigil opened #482 "LoopsNano: Min/Max"

[2016-10-19 22:43] yossigil opened #483 "LoopsNano: FirstThat"

[2016-10-19 22:43] yossigil opened #484 "Nano Loops: find first that not"

[2016-10-19 22:43] yossigil opened #485 "LoopsNano: Aggregate"

[2016-10-19 22:50] M4tt30rru commented on #448
I assume that _Loop_, namely nanopatterns involving loops, can be consider another category, right?  according to issues from #480 to #485.

[2016-10-19 22:57] yossigil commented on #386
Amazing Karma you have!

[2016-10-19 23:05] yossigil opened #486 "Nano: detect functions whose return value does not depend on he parameters."

[2016-10-19 23:06] yossigil opened #487 "Symmetric variable nanon"
As in math.max()

[2016-10-19 23:11] yossigil opened #488 "LoopsNano: map"

[2016-10-19 23:14] yossigil opened #489 "Nano Tipper for Collect If, aka project of relational-algebra. using idiomatic"
Main objective: compute the numer of loops with deal with

[2016-10-20 00:33] yossigil opened #490 "Laconize project on guava fails silently"

[2016-10-20 01:00] OriRoth commented on #490
![guava](https://cloud.githubusercontent.com/assets/15183108/19542584/0ee83f8c-9678-11e6-868a-52fe94fe89d4.jpg)
[notice it took 3 minutes to finish]

It is working for me... there are two options I can think of:
* Building the workspace takes time, especially if it includes large projects as `guava`. Our plugin may run properly only after it completed building.
* The `selection` was not properly s

[2016-10-20 01:18] OriRoth commented on #490
Or is it a problem with dialogs again? Are those showing for other projects? I recommend spartanizing a small project with at least two compilation units.
Or spartanizing *any two files* - I worked it out that you can select some files in the same time and spartanize them together:
![guava](https://cloud.githubusercontent.com/assets/15183108/19542973/f111071a-967b-11e6-8f61-dbb5f6b31b02.jpg)

[2016-10-20 05:57] yossigil commented on #490
Could this be a timing issue?
I get this stack trace:
[code]

[2016-10-20 07:22] orimarco commented on #488
Spartanizer/src/main/java/il/org/spartan/spartanizer/research/patterns/Mapper.java

[2016-10-20 07:39] orimarco commented on #486
What about field dependencies? I think we should consider them as parameters.
Or we can define 2 patterns:

1. depends on nothing.
2. depends only on fields.

[2016-10-20 07:50] orimarco commented on #487
foo(x,y) is symmetric iff For Every x,y: foo(x,y) = foo(y,x).

We might need some analysis to determine that.

[2016-10-20 07:52] orimarco commented on #484
duplicate #483 .
unless **it is** `FirtThatNot `.

[2016-10-20 08:18] OriRoth commented on #490
@yossigil Hi! I reintroduced the old implementations of `SpartanizeProject` and `SpartanizeCurrent`, and they are available in the top menu.

Nevertheless, I think I got a clue about the problem, and strengthen the dialogs - can you please try again spartanizing `guava` with the new handler? (i.e. using button/shortcut and *not* top menu option)

[2016-10-20 08:37] zvili commented on #386
![](https://github.trello.services/images/mini-trello-icon.png) [Card 1](https://trello.com/c/dozzSxua/1-card-1)

[2016-10-20 08:56] orimarco commented on #448
Some loops can be emulated by extracting their content to a method and then `Idiomating` a method invocation of it by using a lambda expression that invokes the method. (Working on this now)

Loops that I think can definitely be emulated this way are those that don't assign any local variable.

[2016-10-20 08:57] orimarco commented on #448
For example:
[code]

into
[code]

[2016-10-20 09:42] yossigil commented on #448
in fluent you say:
[code]
but I think this is not `map` but rather `apply`

[2016-10-20 09:43] yossigil commented on #386
Wha't this card?

[2016-10-20 09:44] yossigil commented on #490
what's the button shortcut?

[2016-10-20 09:45] yossigil commented on #484
Now it is not duplicate

[2016-10-20 09:46] yossigil commented on #487
not sure... I think you can make some simple subsitution and see if the result is the same.

[2016-10-20 09:46] yossigil commented on #486
Ok, so be it. I do not know what I am looking for yet.

[2016-10-20 09:55] yossigil commented on #490
![image](https://cloud.githubusercontent.com/assets/12775400/19555112/2079b6d0-96c4-11e6-92fd-9028a48e00f0.png)

That's the error dump
[code]

Seems the error is in the formatting

[2016-10-20 10:12] OriRoth commented on #490
Yes this is similar to #444. The problem at the time was, surprisingly, too long task name. I solved the problem by giving `beginTask` a shorter message. Now I have created our own trimming service in `Linguistic`, and it is being used in `SpartanizationHandler`.

I hoped the old `LaconizeProject` would work - and it failing worries me (in my machine it works though). My suggestion for you is to t

[2016-10-20 11:01] orimarco commented on #448
OK
but it has to be `map(li).to(x -> printElement(x))`, otherwise Java can't infer the types of the lambda expression and will complain.

[2016-10-20 13:10] zvili commented on #386
I'm testing some project management tools which integrate with GitHub. In this specific case I used trello.com. I used this tool last year for managing some yp projects.
The other project management tool I'm testing is Waffle.io; similar to overvIo.
I'll publish my conclusions.

[2016-10-20 13:41] OriRoth commented on #490
@yossigil the problem is I cannot debug this, as it is working on my machine. I strongly suspect the dialogs to be the source of the issue - thus we may need to solve it together in front of your eclipse and see what dialog features, if any, should be dropped.
#468 looks like the logical continuance to these hazards... It may become first priority for the next GUI team.

[2016-10-20 14:27] yossigil commented on #448
I think Java can deal with this. It was able to do so with 'eval(()->1/x).unless(x==0)'.

[2016-10-20 14:37] orimarco commented on #448
[code]

[2016-10-20 14:43] yossigil commented on #490
Alt-Ctrl-S doesn't work for me... Does nothing, or I a may be pressing it in the wrong window. Testing with Guava now, I get this notiatiofnation:
![image](https://cloud.githubusercontent.com/assets/12775400/19564567/a1af3892-96ec-11e6-92e7-0d053124d073.png)

I guess these is the old dialog box.

[2016-10-20 14:46] yossigil commented on #444
Could it be timing rather than formatting?

[2016-10-20 14:47] OriRoth commented on #490
Yes it is the old version. I reintroduced it with hope that it will be more stable. You can still invoke the new handler (with the fix I applied) by left-clicking on the project in the `package explorer` menu, then clicking on the spartanization button.