[2016-12-22 11:20] tomnof commented on #994
1. Let's assume that I get the reason behind this (but I don't, if you would like the explain that would be nice), why don't you use the name "returnedValue" or something more suitable?

[2016-12-22 11:26] zahimizrahi commented on #994
also, I'm not quite sure why do we need a default name for return value at all.
I think each method should have its own return-object variable name, according to its functionality.

[2016-12-22 11:26] ravivos commented on #994
An important principle of spartanization is to use as least code as possible.
It is like looking at characters in the code as money that you spend, therefore you should minimize the use of "everything".
for more information I suggest to read this awesome slide from the [technion webcourse](http://webcourse.cs.technion.ac.il/236700/Spring2016/ho/WCFiles/06-Spartan%20Programming.pdf)
On a more perso

[2016-12-22 11:31] zahimizrahi commented on #994
@ravivos
I get the idea of spartanization. but I think still one of the main goals is keeping the code clearer and easier to read.

Sparanization try to maximizes the number of: lines of code, variables, branches but it says nothing about the length of the name of the variables, so why does it need to be $ (or cent as arguments to function)?

[2016-12-22 11:42] ravivos commented on #994
"Everything should be as short as possible, but not shorter"
It also tries to minimize the columns which stands for minimizing the length of each line.
As I said before, in general, it tries to minimize the characters in your code.
Fun fact/ assumption - I guess @yossigil  chose dollars and cents to represent the money spent on writing it, because chars in code equals money spent.
Orm aybe to say

[2016-12-22 11:46] yossigil commented on #994
@tomnof : I agree, it should be configurable.

[2016-12-22 11:50] yossigil commented on #994
The cent argument to function, can be read as "the argument name is immaterial, it is not important, the function would be the same with any other name, and would loose its clarity.

In this context "cent" can be read as "sent"...

[2016-12-22 11:54] OriRoth commented on #994
@zahimizrahi you can disable dollarization/centification tips in the Spartanizer preferences menu.
@tomnof a good idea actually, but rather hard to implement... Maybe it will be available in later releases - stay tuned!

[2016-12-22 12:15] yossigil commented on #992
Great. But, don't call it helper...

[2016-12-22 12:32] orimarco commented on #992
Adjuster is better!
I was thinking about Wrapper, but this is too general...

[2016-12-22 12:49] orimarco commented on #992
Perhaps adapter?

[2016-12-22 12:56] yossigil commented on #992
Adapter? It is a design pattern.

[2016-12-22 12:56] orimarco commented on #992
Oof

[2016-12-22 12:58] orimarco commented on #992
ParametersAdapter?

[2016-12-22 15:35] yossigil commented on #992
Adjuster? Coercer?

[2016-12-22 21:14] yossigil opened #995 "Sort modifiers of enum constant"

[2016-12-22 21:25] #995 closed

[2016-12-23 12:59] zahimizrahi commented on #994
@OriRoth  I know I can.
 from what I see, a lot of students using this tool is disabling those tips this anyway.
 which means those tips bother us.
and by  students doing that,  doesn't it miss the whole point of your plugin?

also, disabling is not very helpful. there's still problem - when you  load my project on your machine, you can still see those tippers if you hadn't disable those yourself.

[2016-12-23 14:20] yossigil commented on #994
@zahimizrahi: why should anyone be troubled to give "meaningful" name to a function return variable? How much creative can you be about it. Why would you call it at one point "result" and at another point "ret" and at a third point "ret_val"?

Configuration is important, indeed!

[2016-12-23 15:47] tomerdragucki opened #996 "Expand Declaration with Initialization"
[code]
==>
[code]

This way #983  (`int a = b ? 3 : 2;`) will be solved by using this expander and afterwards the ternary basic expander #883 .

[2016-12-23 17:07] #986 closed

[2016-12-23 17:36] zahimizrahi commented on #994
@yossigil  you shouldn't. I just think it needs to be configurable, so we can switch it to something more clearer than dollars.

[2016-12-23 19:22] yossigil opened #997 "Remove final in static member of annotations"
[code]

[2016-12-23 19:43] #997 closed

[2016-12-23 20:51] #987 closed

[2016-12-23 21:57] mdoron opened #998 "Ternary throw statement"
Convert
`throw x ? b : c;`
into
[code]

[2016-12-23 22:04] mdoron opened #999 "Assignment and Assignment"
Convert
`a = b = 3`
into
`a=3
b=3`

[2016-12-23 22:08] mdoron opened #1000 "Extract expression from return"
Convert
```return a=3;```
into
[code]

[2016-12-23 22:11] mdoron opened #1001 "Operation assignment to non assignment with operator"
Convert
``` x #= exp; ```
to
``` x = x # exp;```
where # can be any operator.

[2016-12-23 22:39] tomerdragucki commented on #1001
#973

[2016-12-23 23:05] mdoron commented on #1001
thanks

[2016-12-23 23:12] tomerdragucki commented on #996
- [ ] Add tests

[2016-12-24 11:38] ravivos commented on #1000
@OriRoth
Is this an appropriate expander?

[2016-12-24 11:39] OriRoth commented on #1000
YES

We can later exclude expanders from the toolbox as we wish.

[2016-12-24 12:09] ravivos opened #1002 "Implementing Expanders Category"
We should also implement an expander Preferences Resource
@OriRoth - do you want to open your own issue for that or add it to this one and share it with me?

[2016-12-24 13:16] yuvalsimon commented on #967
It's alright

[2016-12-24 13:16] #967 closed

[2016-12-24 14:11] yuvalsimon opened #1003 "Ternary string push up"
[code]
to
[code]

[2016-12-24 14:24] yuvalsimon opened #1004 "Outlining array indexing"
[code]
to
[code]

and

[code]
to
[code]

[2016-12-24 14:29] yuvalsimon opened #1005 "Prefix to Postfix"
[code]
to
[code]

[2016-12-24 14:41] yuvalsimon opened #1006 "Multiplying by 1L to cast to long"
[code]
to
[code]
Seems clearer

[2016-12-24 14:45] yuvalsimon opened #1007 "Multiplying by 1. to cast to double"
[code]
to
[code]

[2016-12-24 15:12] yuvalsimon commented on #969
Call new test classes Issue# please (and add link to tested expander)

[2016-12-24 22:11] dormaayan commented on #961
Done

[2016-12-24 22:11] #961 closed

[2016-12-24 22:14] OriRoth commented on #977
Done, see `CasesSplit`

[2016-12-24 22:14] #977 closed

[2016-12-24 22:29] AviadCo opened #1008 "Spartinizer new feture: remove redundant code from c'tors"
Add feature to spartinizer which removes redundant code from c'tors (such as happens in the default c'tor).

P.S.
Happy Hanukkah!

[2016-12-24 22:46] OriRoth commented on #999
[code]
turns to
[code]
(which is not good)
Be sure to create a test out of it.

[2016-12-24 23:14] OriRoth commented on #1008
As I understood, you mean we can give up redundant field initializations in constructors:
[code]
==>
[code]
It is a good idea- actually, this is exactly what we are doing in on-the-spot field initialization:
[code]
==>
[code]
What make things complicated in the constructors' context are the two following reasons:
1. We must initialize *final* fields
  * So we must check fields are not final
  * Bu

[2016-12-25 04:50] yossigil commented on #1008
I now work on completing the environment analysis. When this is done, the changed would be easier. I think the algorithm should be:

1. Find all ctors of a class.
2. Find all unconditional initialization of fields, i.e., ones that do not depend on theparameters.
3. If there is a field initialized/uninitialized for which all such assignments are identical, go.

[2016-12-25 07:08] dormaayan commented on #970
Done

[2016-12-25 12:56] yuvalsimon opened #1009 "Testing utility - athenize whole project"
Should add an option to athenize a whole project (like ctrl+5 on some project spartanizes the whole project), it will help finding bugs. For now it should be only for debugging and not for release, but should consider adding this as a feature for release.

[2016-12-25 12:57] orimarco opened #1010 "Bug in GuessContext"
When `//` inside string literal- crashes.
This is because `essence.of()` deletes comments and thinks that a comment.
[code]

[2016-12-25 16:12] yuvalsimon opened #1011 "Bug in AssignmentToPostfixIncrement"
The unit tests are in Issue107.
[code]
goes to
[code]
Should tip to `--x`
Might occur in if and for statements as well, I did not check.

[2016-12-25 16:19] #1010 closed

[2016-12-25 18:34] #968 closed

[2016-12-25 19:55] tomerdragucki opened #1012 "Number of initializations into one line"
[code]
==>
[code]

This tipper is the opposite of #968 expander.

[2016-12-25 20:05] tomerdragucki commented on #983
Solved with 996.

[2016-12-25 20:05] #983 closed

[2016-12-25 20:12] yuvalsimon opened #1013 "Bug in InliningPrefix"
Might be in AssignmentToFromInfixIncludingTo, not sure.
original is
[code]
when including AssignmentToFromInfixIncludingTo in Toolbox we get
[code]
when not including it we get
[code]
when reincluding it the above code stays.

[2016-12-25 20:22] yuvalsimon commented on #1013
Also `a[x] = x; ++x;` and `a[x++] = x;` are not equivalent yet InliningPrefix tips it

[2016-12-25 21:52] yossigil opened #1014 "Eliminate conditional continue before last statement in loop"
[code]

only if you are bored

[2016-12-26 00:26] yuvalsimon commented on #1004
I currently have problem with spartanizer plugin, so the code is not spartanized

[2016-12-26 01:07] yuvalsimon opened #1015 "Bug in TernaryPushdown"
convert
[code]
to
[code]
is a bug (Maybe because of overloading simpleName(ASTNode)? I'm not sure)
You can find the code in OutlineArrayAccess expander, if I spartanize this line the tests fail. #1004

[2016-12-26 01:08] #1004 closed

[2016-12-26 01:23] yuvalsimon commented on #1004
How is it @OriRoth ?

[2016-12-26 06:15] yossigil commented on #1015
Yes. This is the famous #232 bug.

[2016-12-26 06:15] #1015 closed

[2016-12-26 10:13] OriRoth commented on #965
Please change class name according to conventions.

[2016-12-26 14:13] mdoron commented on #971
@dormaayan, did you finish this expander? It would really help #999 in cases such as:
[code]

Which cannot be identified by #999 now, but will be okay after adding `{}`

[2016-12-26 15:14] #984 closed

[2016-12-26 15:30] #1000 closed

[2016-12-26 16:05] mdoron commented on #972
duplication of #999

[2016-12-26 16:05] #972 closed

[2016-12-26 16:15] OriRoth commented on #1014
(for the example in the first comment)
==>
[code]

[2016-12-26 16:18] #998 closed

[2016-12-26 16:18] OriRoth opened #1016 "Boolean evaluation: identical sides in infix expression"
* `b || b` ==> `b`
* `b && b` ==> `b`
* `f() || f()` ==> `f() || f()`
* `a && b || a && b` ==> a && b

[2016-12-26 16:52] yossigil commented on #1014
:+1:

[2016-12-26 18:59] mdoron commented on #980
I agree with @yossigil, this should work for other types as well. The Athenizer helps us with debugging, so we would like to take an expression such as (when all integers for example):
`a = b*c + d*e;`
and convert it to
[code]

[2016-12-26 19:08] mdoron opened #1017 "Rename names to Java's convention"
In order to get a clear code, we would like to have a uniform code convention.
[Java's naming convention](http://www.oracle.com/technetwork/java/codeconventions-135099.html) is nice and clean, and when applied on the project, will make our code look better!
For example:
`int svd_result_code;`
should become
`int svdResultCode;`

Usage of namespace is required.

[2016-12-26 19:22] OriRoth commented on #980
@mdoron you cannot assume `int` will fit here.
When using *binding* it is possible to generalize this Expander to all (?) types.

[2016-12-26 19:27] mdoron commented on #1003
This should be general.  Convert:
`a + (flag ? b : c)`
To:
`flag ? (a+b) : (a+c)`

[2016-12-26 19:36] mdoron opened #1018 "Convert long if-else if-else statement with one parameter into switch-case"
Convert
[code]

Into
[code]

[2016-12-26 20:28] ravivos commented on #969
I think that everybody is done and we can send to our client a prototype.
@mdoron - please mark that you are done if so

[2016-12-26 20:36] #1011 closed

[2016-12-26 20:41] yuvalsimon commented on #1011
I removed some tests of not compiling code

[2016-12-26 21:20] yuvalsimon commented on #1013
Dor it's your tipper.
Consider also `foo(a[i], i); ++i;` , I think your tipper tips this, and should not

[2016-12-26 22:41] yuvalsimon commented on #975
The bug might be in the inflater

[2016-12-27 00:48] ravivos commented on #1005
tests number 6,7,9,13 contrast issue #975

[2016-12-27 01:28] ravivos commented on #975
@yuvalsimon
fixed, thanks

[2016-12-27 01:28] #975 closed

[2016-12-27 01:30] mdoron commented on #1018
I may have exaggerated... Now everything that has comparison will convert into swith-case... I need help in strengthening the condition for using the expander.

[2016-12-27 01:32] yuvalsimon commented on #1005
@ravivos If I remove all expanders except #975 I get `a.toString()` goes to `a+""){;}}}`. If I add `;` to the statement it does not do this bug. Seems like problem with the inflater because your expanders should work only on For and While ASTNodes and are not related to this command.

[2016-12-27 01:33] ravivos commented on #1005
@yuvalsimon
You are right, though the for expander is fine and does not make bugs.
The while expander does

[2016-12-27 01:53] mdoron commented on #1018
About previous tests:
They will fail if they wanted some kind of if statement which is using comparison to ".stay()", because now the wanted behavior is that it will convert to switch-case statement

[2016-12-27 02:24] yuvalsimon opened #1019 "Possible bug in inflater"
Before fixing #975 `a+\"\"` was converted to `a+""){;}}}` by WhileStatement expander (and no WhileStatement astnode is created for this code, so the problem should not be in the expander). Also it happens for `a+=\"\"` but does not happen for `a+=\"\";` . Need to check it.

[2016-12-27 06:57] yossigil commented on #1016
it does not always work. Main problem is that f() as side effects

[2016-12-27 07:34] dormaayan commented on #971
Done

[2016-12-27 07:34] #971 closed

[2016-12-27 08:15] yossigil opened #1020 "default implementation of method"
We say that a method has a **default** implementation if its body is a single statement which must be one of the following and no others

1. `return;`
2. `return 0`
2. `return false;`
2. `return 0L;`
3. `return null`
2. `return 0.;`

The signature could be any.

[2016-12-27 08:18] yossigil commented on #980
Kind of funny that this infrastructure issue pops out 12 hours before the deadline. @ravivos : FYI...

[2016-12-27 08:25] #1020 closed

[2016-12-27 09:21] yossigil commented on #1020
:100: ^ :+1:

[2016-12-27 12:29] ravivos commented on #980
@yossigil
This issue is not related by any means to our goals for the past week.
In addition, the prototype had been pre-realesed yesterday at about 11pm - a day before what we planned in advance

[2016-12-27 12:30] yossigil commented on #1001
@tomerdragucki : if you did it, then make sure it shows that you are the assignee

[2016-12-27 12:32] yossigil commented on #980
@ravivos Humans are mortal...

[2016-12-27 12:46] mdoron commented on #980
@OriRoth, I assumed that in this example all were integers. Of course in the general case we would need to identify the actual type...

[2016-12-27 16:09] orimarco opened #1021 "Bug in SimplifyComparisionOfAdditions"
[code]

goes into infinite loop because `SimplifyComparisionOfAdditions ` and `InfixComparisonSpecific` applies after each other infinitely.

Disabled  `SimplifyComparisionOfAdditions ` for now... Add again when fixed...

[2016-12-28 00:47] tomerdragucki commented on #1001
@yossigil This issue is a duplicate of an expander idea that @OriRoth implemented.

[2016-12-28 00:48] yuvalsimon commented on #1019
Checked this, it's alright. The spartanizer tries to wrap it because it is an expression (without `;`) and not a statement, and while statement wrap fits best according to the spartanizer.
@ravivos All the tests must contain statement (end in `;`) so that the WhileBlockExpander won't expand them. (also all future tests)

[2016-12-28 00:48] #1019 closed

[2016-12-28 09:07] OriRoth commented on #1021
Make sure it becomes a test @dormaayan

[2016-12-28 09:08] OriRoth commented on #1017
Be careful, may requires namespace analysis.

[2016-12-28 09:09] OriRoth commented on #1017
Also assign yourself if you are working of it.

[2016-12-28 09:35] #1009 closed

[2016-12-28 09:37] OriRoth commented on #1009
OK listen...
Click on a project, then type `ctrl+alt+q`. This is a complete inflation of the selection - that way you can inflate whole project/package/files you choose.
But it should be removed before release! Remind me to do so.

[2016-12-28 12:24] yuvalsimon commented on #965
[code]
to
[code]
makes error for invoking toString on primitive type.
There are many similar cases, try Ctrl+Alt+Q on the project to expand all

[2016-12-28 12:31] OriRoth commented on #965
Isn't the error caused by the `final` attribute? This is a bug of other expander.

[2016-12-28 12:32] yuvalsimon commented on #973
[code]
to
[code]
makes error "cannot convert from double to int".
(totalMethodsTouched is int and totalMethodsTouched() returns double)

[2016-12-28 12:33] OriRoth commented on #973
Can you give me the whole context? Or at least the variable declarations.

[2016-12-28 12:38] yuvalsimon commented on #970
[code]
to
[code]
makes error "Unrechable catch block for JavaModelException/IOException"

[2016-12-28 12:42] yuvalsimon commented on #996
[code]
to
[code]
makes error "Array constants can only be used in initializers"

[2016-12-28 13:02] yuvalsimon commented on #1005
[code]
goes to
[code]
makes error "Invalid argument to operation ++/--"

[2016-12-28 13:14] OriRoth commented on #973
OK now the expander is safer using *binding information*. The test is disabled because there is currently no binding in tests.

[2016-12-28 13:28] yuvalsimon commented on #883
for ReturnTernaryExpander:
[code]
goes to
[code]
makes error "UnrechableCode"

[2016-12-28 13:39] #996 closed

[2016-12-28 13:53] yuvalsimon opened #1022 "Warning from AssignmentTernaryExpander"
[code]
goes to
[code]
makes warning "The assignment to variable $ has no effect"
Should create new expander for such cases (to convert to single if) or treat such cases in the same expander. Your decision. Also please write the issue number in AssignmentTernaryExpander docs

[2016-12-28 18:27] dormaayan commented on #1021
Done

[2016-12-28 18:27] #1021 closed

[2016-12-28 18:31] dormaayan commented on #970
@yuvalsimon : good point, thats important to keep the original order of the catch clauses in order to avoid such cases, I'm working on that

[2016-12-28 19:07] dormaayan commented on #970
fixed

[2016-12-28 19:07] #970 closed

[2016-12-28 19:23] dormaayan commented on #965
@OriRoth : there isn't any way to check if that type is primitive or not right now, I also checked binding and it dopes't give any useful information for that, do you think we should cancel it or simply keep it like that ?

[2016-12-28 20:03] #965 closed

[2016-12-28 20:03] dormaayan commented on #965
Done

[2016-12-28 21:35] yuvalsimon opened #1023 "Foreach block expander"
[code]
to

[code]
It should be the same as for block expander (but this one is EnhancedForStatement astnode)

[2016-12-28 21:59] yuvalsimon opened #1024 "Bug in MergeCatches"
[code]
goes to

[code]

makes error "Unreachable catch block for FileNotFoundException" (same as the error you had in the athenizer)

[2016-12-29 08:11] OriRoth commented on #965
@dormaayan did you used binding?

[2016-12-29 08:16] dormaayan commented on #965
Yes, but now we can't test it...

[2016-12-29 08:25] OriRoth commented on #965
It can be tested while running the plugin... for now.
On Dec 29, 2016 10:16 AM, "dormaayan" <notifications@github.com> wrote:

[2016-12-29 08:26] dormaayan commented on #965
Yes I know...
But that's not the right way to do that

[2016-12-29 11:45] yuvalsimon opened #1025 "Renaming and adding docs to expanders"
For each of your expanders (that you wrote or will write) please make sure they hold the convetions:
- Test class name is `Issue#` for the appropriate issue
- Add `{@link Issue#}` in the expander class docs
- Add `{@link ExpanderClass}` in the test class docs for the tested expander
- Add code example of the expander function
- Add `@author` and `@since`

Please reference this issue when you commi

[2016-12-29 11:48] OriRoth commented on #1025
Example:
[code]

[2016-12-29 16:12] yuvalsimon opened #1026 "Exception thrown from DeclarationWithInitExpander"
Throws `java.lang.IllegalArgumentException: statements is not a property of type org.eclipse.jdt.core.dom.SwitchStatement` after second run of athenizer on the project (i.e preqruisite should return false and without exception)

[2016-12-29 16:17] yuvalsimon opened #1027 "Exception thrown from OutlineArrayAccess"
Throws `java.lang.NullPointerException` after second run of athenizer on the project (i.e preqruisite should return false and without exception)

[2016-12-29 20:51] yuvalsimon opened #1028 "Exception thrown from ExtractExpressionFromReturn expander"
It throws `java.lang.IllegalArgumentException: statements is not a property of type org.eclipse.jdt.core.dom.IfStatement` after running the athenizer on the project.

[2016-12-30 02:58] yossigil opened #1029 "Args: As in Lola - Macro capturing arguments of function"
Here is what to search for:

1. Methods with n parameters, where n is two or more
2. All method invocations within this method that have n or more parameters
3. The called parameters show in the same order in the invocation.

@M4tt30rru : FYI

[2016-12-30 03:04] yossigil commented on #1025
Great job Yuval.

[2016-12-30 03:05] yossigil commented on #965
Perhaps it is time you use the idea I presented for testing?

[2016-12-30 03:15] yossigil commented on #883
@yuvalsimon  open a new issue for new bug

[2016-12-30 03:15] #883 closed

[2016-12-30 05:46] dormaayan commented on #965
@yossigil : Sure, Im currently on that, hope for nice results soon

[2016-12-30 10:21] dormaayan opened #1030 "Make The Test Mechanism Support Binding"
My current idea that is partially work with some problems (that's why I didn't push it) :

- Write a separate class which you want to expand.

- Overload the `expansionOf` method to handle also with `ASTNodes`

- Pass to `expansionOf` the compilation unit of the class and do a single flater over that.

- compare the results as strings.

My problem currently:
Even when I pass them the compilation u

[2016-12-30 11:58] yuvalsimon opened #1031 "Bug in ReturnTernaryExpander"
The original issue is #883 .
The code
[code]
goes to
[code]
Makes error "_Unreachable Code_" (and seems like there is another problem)

[2016-12-30 13:51] OriRoth commented on #1030
There is no binding if the compilation unit does not compile properly. Also make sure you create a compilation unit with bindings in the first place.

[2016-12-30 14:29] #1024 closed

[2016-12-30 14:54] yuvalsimon commented on #1003
@dormaayan Why did you close the issue?

[2016-12-30 14:55] dormaayan commented on #1003
oops

[2016-12-30 17:18] dormaayan opened #1032 "Find a way to disable tippers/expanders to users but not for tests"

[2016-12-31 00:02] #1027 closed

[2016-12-31 00:02] #1005 closed

[2016-12-31 00:16] yuvalsimon opened #1033 "Exception thrown from toStringExpander"
It throws _Null Pointer Exception_ when running the tests in the expanders tests package.

[2016-12-31 06:57] dormaayan opened #1034 "Bug in #996"
Try it with :

[code]

[2016-12-31 07:15] dormaayan opened #1035 "Inflater Bug"
treid to expand :
[code]

gives :
[code]

As you can see my expander is do its job and now the binding and everything works but it seems it does the replacements in the wrong places

[2016-12-31 10:41] OriRoth commented on #1032
Check it out. Close if it is solved.

[2016-12-31 10:41] OriRoth commented on #1035
In what context? Tests?

[2016-12-31 11:17] dormaayan commented on #1032
Works

[2016-12-31 11:17] #1032 closed

[2016-12-31 12:13] dormaayan commented on #1030
Done

[2016-12-31 12:13] #1030 closed

[2016-12-31 12:13] dormaayan commented on #1035
Fixed

[2016-12-31 12:13] #1035 closed

[2016-12-31 12:14] dormaayan commented on #1033
Solved

[2016-12-31 12:14] #1033 closed

[2017-01-01 08:44] #993 closed

[2017-01-01 09:03] orimarco commented on #964
Done long ago

[2017-01-01 09:03] #964 closed

[2017-01-01 09:04] #953 closed

[2017-01-01 09:04] #952 closed

[2017-01-01 09:04] #948 closed

[2017-01-01 09:05] orimarco commented on #936
Done that one

[2017-01-01 09:05] #936 closed

[2017-01-01 10:23] yossigil commented on #936
:+1:

[2017-01-01 12:22] tomerdragucki commented on #1034
@dormaayan I'm not sure what the bug is. I added back DeclarationWithInitExpander to the expanders list and:
[code]
is spartanized to:
[code]
and then expanded to:
[code]

[2017-01-01 17:42] yossigil commented on #1017
Doron: Please consult with @ravivos before working on this.

[2017-01-01 17:42] #1017 closed

[2017-01-01 21:52] yuvalsimon opened #1036 "Bug in toStringExpander"
[code]
goes to
[code]
makes error for left operand is not a boolean.
I checked and it does not do this expansion in junit test. you can find this code in `il.org.spartan.spartanizer.ast.navigate/find.java`

Also this:
[code]
goes to
[code]

makes warning for potential null pointer access, but you can see that before the change it should not throw null pointer exception (I checked this).

[2017-01-01 22:16] yuvalsimon commented on #1036
@yossigil For the last piece of code above (that produces warning) the spartanizer corresponding tipper will make the reverse tip and prevent the null pointer exception, and it might be a semantic error sometimes. Should I open an issue for it?

[2017-01-02 05:57] yossigil commented on #1036
If the warning is in the zoomer, then don't worry about it. Ignore it. It is a failure of the null analysis of Eclipse. Not nice, but we can live with it.

[2017-01-02 08:39] yossigil opened #1037 "Convert all key bindings to menu options"
All shortcuts must have a menu option.
If a shortcut has no menu option, it does not exists

[2017-01-02 08:39] yossigil opened #1038 "Set a date for version 2.8"

[2017-01-02 08:40] yossigil opened #1039 "A shortcut to remove all cents."
@OriRoth @EliaTraore @zahimizrahi @tomnof: FYI.

IMHO: the key should do it for everything in the file. What do people think?

[2017-01-02 08:58] OriRoth commented on #1039
If you have other relevant suggestions, please share them.

[2017-01-02 10:01] yuvalsimon commented on #1036
@yossigil but `null+""` and `null.toString()` are not equivalent because the first one does not throw exception..
@dormaayan Still need to fix the first bug if we don't remove the expander/tipper

[2017-01-02 10:46] ravivos commented on #1037
@OriRoth
I guess that's our GUI GUY's issue

[2017-01-02 14:45] #1038 closed

[2017-01-02 16:15] OriRoth commented on #969
This issue will help us track our weekly progress, including various TODOs per capita.

@OriRoth
  - [x] be awsome - continue
  - [ ] zoom text selection
  - [ ] menu options

@ravivos
  - [ ] rename ¢, $
  - [ ] fix bugs

@dormaayan
  - [ ] improve testing
  - [ ] fix bugs

@tomerdragucki
  - [ ] expander with binding
  - [ ] fix bugs

@yuvalsimon
  - [ ] improve testing

@mdoron
  - [ ] expander

[2017-01-02 16:51] dormaayan opened #1040 "More Features to BindingTests"
- [x] Support more than one pass

- [x] Inspect a single function from the tested class each time.

[2017-01-02 21:07] yossigil commented on #1038
👍

[2017-01-02 21:14] yossigil commented on #1036
Feel free to be optimistic here, assuming that x + "" never execute when x == null

[2017-01-02 21:25] yossigil commented on #1039
@EliaTraore @zahimizrahi @tomnof: any key you prefer?

[2017-01-02 22:31] OriRoth commented on #1039
What about a global renaming tool? For various, user defined renaming jobs, such as:
`retVal, returnValue, result, $` ==> `ret`
`temp, tmp` ==> `__`
And will also offer regular Spartanizer renaming abilities, such as name simplifications.
Anyone interested?

[2017-01-03 11:57] EliaTraore commented on #1039
I think removing cents from the whole file with a few clicks is a bit too drastic, since you could end up changing methods you didn't intend to. But if the shourtcut would only remove the cent in the function you're in or in a marked area of code that could actually be nice :smile:

And @OriRoth the jobs sounds like a good way to keep the code consistent. We would actually use that since we tend t

[2017-01-03 12:28] yossigil commented on #1039
I thought of a key that would remove/insert cents globally. This is pretty easy as cents have a well defined semantics: use a cent for a variable which is:

1. The only variable defined its namespace.
2. The namespace has no inner namespace.

So, one click is an option.

I think @OriRoth  is right. We need a global renaming tool that would apply things like:

- Standard (full) names of fields of a

[2017-01-03 12:33] OriRoth commented on #1037
OK see `TopMenuHandlers` in `plugin` package. There I define most of the handlers used in the top menu.
An issue we've got is the Spartanization and Zoom tools are very flexible, i.e. can operate on many entities (projects, packages, files etc.). When building the top menu I decided to include the options for spartanizing/zooming *current window* and *current project*.
Current top menu structure:

[2017-01-03 14:27] #1002 closed

[2017-01-03 14:28] OriRoth commented on #1002
We can think of various Expander categories, if needed (another issue).

[2017-01-03 14:47] dormaayan commented on #1039
@yossigil : Seems intresting, do you want that I will start form something specific ?

[2017-01-03 17:04] #990 closed

[2017-01-03 21:49] dormaayan commented on #1040
@yuvalsimon : Are you ok with your task ? if you need any help don't hesitate to ask me (:

[2017-01-03 22:03] yuvalsimon commented on #1040
Yes sure, I will do it on the weekend. Thanks

[2017-01-03 23:09] yossigil commented on #1008
@orenafek

[2017-01-04 00:04] yossigil commented on #990
Well,  some day we should generalize ?. to deal with any type that has a default value,
e.g., x ?. y

only computes y if x is not the "default=null/0/false"

[2017-01-04 01:26] yossigil opened #1041 "Initial crazy idea, and how to do JTL for your implementation of Leonidas"
This challenge is purely optional. here is an absolutely random list of names of people who might try this in the next week they have less than five submissions. @dormaayan @Kolikant @KaplanAlexander @OriRoth @RoeiRaz @RoeyMaor @orimarco  @orenafek. Thi s list can be edited by anyone.

Consider this crazy java program which uses funny "new" Java tokens. Don't be scared....
[code]
Tips: java 8, lam

[2017-01-04 06:25] dormaayan commented on #1014
Done

[2017-01-04 06:25] #1014 closed

[2017-01-04 07:11] amirsagiv83 commented on #1041
This is a short summary I wrote of what is JTL all about. Notice that there is a link in this issue to the original paper written on JTL.
[JTL summery](https://github.com/TechnionYP5777/IntelliJ-Spartanizer/issues/67)

[2017-01-05 00:09] yossigil commented on #1039
Yes, make a wiki page regarding the naming rules.

[2017-01-06 08:09] yossigil opened #1042 "Remove final modifier in parameters of abstract methods"

[2017-01-06 08:55] yossigil opened #1043 "Remove final modifier in try resources"

[2017-01-06 08:59] dormaayan commented on #1039
See:
https://github.com/SpartanRefactoring/Spartanizer/wiki/Naming-Rules

Im currently edit it and think about more naming rules.

[2017-01-06 13:15] #1042 closed

[2017-01-06 13:15] #1043 closed

[2017-01-06 13:32] mdoron commented on #1028
@yuvalsimon Do you have a case that fail? Can you tell me the setting of the run you did (toolbox, on which files, etc)?

[2017-01-06 15:11] mdoron commented on #978
@yossigil I understand that the environment is finished, where can I find the API?

[2017-01-06 15:50] mdoron opened #1044 "Auto-generation of names"
Every expander using the environment @yossigil wrote would finally want to generate names for new variables.
We should create a utility which generates this names.
Possible behavior:
I don't care what is the name of the variable, then after
[code]
name1 == "__tmp1"
For the next run of this utility we will get "__tmp2", etc.
If I care about the name of the variable, I will be able to write code lik

[2017-01-06 16:12] ravivos opened #1045 "parentheses expander"
[code]
to
[code]
this is a very simple example, but joining paranthesis can be very useful in a lot of cases which I will probably comment here later

[2017-01-06 16:38] yossigil commented on #1044
No, the environment does not offer this service yet. The plan is to generate meaningful names. Based on types, and then count up. Best to implement a function to generate suggestions based on type.
[code]
also, see package `nominal`

@dormaayan fyi

[2017-01-06 21:09] yuvalsimon commented on #1028
Checkout #425 . We created the configuration at one of the first meetings of the course. I don't have a case, you probably assume some statement type somewhere where it could be also if statement.

[2017-01-06 22:52] ravivos commented on #1031
actually I tried to expand it while commenting out the CasesSplit expander #977 and everything worked well.
I suspect the error might be in the CasesSplit
FYI - @OriRoth
closing the issue, opening a new one for the cases split bug

[2017-01-06 22:52] #1031 closed

[2017-01-06 22:53] ravivos opened #1046 "Bug in CasesSplit"
Bug is explained in #1031
Bug in #977

[2017-01-06 23:34] #1022 closed

[2017-01-07 01:27] OriRoth commented on #1046
Closed in 53efbb2cb8e85b6fbcff9752771056c73d9c0cca

[2017-01-07 01:27] #1046 closed

[2017-01-07 12:47] #1026 closed

[2017-01-07 15:28] yuvalsimon commented on #1040
@OriRoth Is it ok if I change SingleFlater class? I want to add an option to apply tips/expanders from specific astnode instead of compilation unit node (in go method).

[2017-01-07 15:32] OriRoth commented on #1040
Yes this is fine I guess.

[2017-01-07 15:41] yossigil opened #1047 "Bug in remove continue"
plugin fails on this code. @yuvalsimon  please reassign to whoever dealt with this

  for (int i = 0; i < length; ++i) {
      char c1 = s1.charAt(i);
      char c2 = s2.charAt(i);
      if (c1 == c2)
		continue;
      int alphaIndex = getAlphaIndex(c1);
      if (alphaIndex >= 26 || alphaIndex != getAlphaIndex(c2))
		return false;
	continue;
    }

[2017-01-07 17:20] yuvalsimon opened #1048 "Bug in AssignmentTernaryExpander"
[code]
goes to
[code]

[2017-01-07 17:26] yuvalsimon commented on #1048
added test class with this code. might need to replace the _stays_ with _gives_ , according to the expander desired function.

[2017-01-07 17:31] yuvalsimon commented on #1047
@yossigil I'm not sure where you say it fails, I tried in debug mode and also with trimmer tests and it is alright, both when athenizing or spartanizing. There is another bug in #1048 related to continue statement. Is it the bug you talk about?

[2017-01-07 17:56] yossigil commented on #1047
It happens when I use the plugin on Guava.

[2017-01-07 18:24] mdoron commented on #1028
Done

[2017-01-07 18:24] #1028 closed

[2017-01-07 19:29] yossigil commented on #1047
Cannot reproduce. Closing

[2017-01-07 19:49] #388 closed

[2017-01-07 19:50] yossigil commented on #84
@yuvalsimon : please review the old discussion on switches above. When you are done. Close this issue.

[2017-01-07 21:41] yuvalsimon commented on #1040
@dormaayan @OriRoth checkout Issue1040 and Issue1040Aux classes in the tests package. The _givesWithBinding(String s, String f)_ gets the name of the method to test (in f) and the expected method after applying zoomer (in s). It applies zoomer only for this method. Is it ok?
I still have to check that it resolves bindings, but I used some of Dor's implementation for _givesWithBinding(String s)_ so

[2017-01-07 21:45] yuvalsimon commented on #1040
Also there should be only one method with a specific identifier (no inner classes with methods with the same identifier for example).

[2017-01-07 22:06] OriRoth commented on #1040
Is there a chance it would work with one test class only?

[2017-01-07 23:29] yuvalsimon opened #1049 "Ternary push up"
convert
`a + (cond ? b : c)`
to
`cond ? (a+b) : (a+c)`
when possible

[2017-01-07 23:32] #1003 closed

[2017-01-07 23:34] yuvalsimon commented on #1040
What do you mean?

[2017-01-08 00:04] yuvalsimon commented on #1040
It works now. I tested it with your #973 @OriRoth , you can checkout Issue1040 test class.

[2017-01-08 12:20] OriRoth commented on #969
This issue will help us track our weekly progress, including various TODOs per capita.

@OriRoth
  - [ ] GUI - text selection
  - [ ] GUI - configuration
  - [ ] 1 expander

@ravivos
  - [ ] improve system
  - [ ] 3 expanders - #1023, #988, #979

@dormaayan
  - [ ] 4 expanders

@tomerdragucki
  - [ ] 3 expanders
  - [ ] 1 tipper

@yuvalsimon
  - [ ] QA
  - [ ] 2 expanders
  - [ ] spartanizer

@mdo

[2017-01-08 12:24] OriRoth opened #1050 "Agile Tracking - 08/01 to 16/01"
This issue will help us track our weekly progress, including various TODOs per capita.
**please reference your expanders issues here**

@OriRoth
  - [x] GUI - text selection
  - [ ] GUI - configuration
  - [x] 1 expander
  - [x] First priority - #364, #889
  - [ ] Follow al personal backlog; close about 3 items / week

@ravivos
  - [ ] improve system
  - [x] 3 expanders - #1023, #988, (testing #97

[2017-01-08 12:26] OriRoth commented on #969
moved to #1050

[2017-01-08 12:26] #969 closed

[2017-01-08 12:27] OriRoth commented on #912
NO NEED

[2017-01-08 12:27] #912 closed

[2017-01-08 12:28] #331 closed

[2017-01-08 13:24] yuvalsimon commented on #1047
@mdoron The spartanizer stucks on your ForRedundantContinue tipper for this code.

[2017-01-08 14:18] yossigil commented on #1050
Folks, I expect  you to do finish these stuff as quickly as possible. We need to finish up the stability issues and the bugs introduced into the spartanizer.

[2017-01-08 15:12] yuvalsimon commented on #1047
@mdoron I added test case (Issue1047), make sure all tests pass

[2017-01-08 15:33] #1040 closed

[2017-01-08 15:42] yuvalsimon commented on #1040
@dormaayan I added example for testing with binding using inner class. You said it should not work. Checkout my code in Issue1040, I used inner class for testing with binding in test6 and test7. It does not work if I use the test class itself (class Issue1040) or outer class in the same file.

[2017-01-09 07:58] yossigil opened #1051 "Fix seleciton model"
Currently, the selection model is: youu hit laconize project, and it searches for the project.

However, Eclipse model is better: Once you hit the general purpose button: "Spartanize", the button figures out which is the selected item:

1.  it is a project, a bunch of packages, or just more than one file, it offers a dialog box,  : Do you want to laconize X files/ Y packages/Project T/Projects X,Y

[2017-01-09 08:04] yossigil opened #1052 "Make zoon in / out more smooth"
- Perhaps ctrl mouse rool should do zoom in / zoom out all the time?

If not different color or something...

*Edited by @OriRoth*:
zoom in current window.

[2017-01-09 08:31] OriRoth commented on #1052
There is an existing functionality for zoom in-out. When designing the GUI I took an inspiration from the *box selection tool* (i.e. `ctrl+shft+A`). So I think the colors would be nice.

[2017-01-09 09:17] OriRoth commented on #1051
See `Spartanize.. -> current selection` and `Zoom.. -> current selection` in top menu. Works from the outline view. In the current implementation a dialog is shown iff the selection contains at least *2 files*.

Remaining issues:
* Multi-selection name: if you choose *some* projects/packages/files, it asks the user if he wants to spartanize "selections". I'll take care of it.
* Spartanizing the wh

[2017-01-09 12:58] dormaayan commented on #1040
@yuvalsimon :
It looks ok, you can announce the changes to everybody.

[2017-01-09 15:38] dormaayan commented on #974
Done

[2017-01-09 15:38] #974 closed

[2017-01-09 19:34] yuvalsimon opened #1053 "Testing with binding - convert to wiki"
To new zoomers with binding you can use ExpanderTestUtils methods for testing with binding:
1. Create an inner class in the test class of the expander to test with binding on it's code. The class has to extend ReflectiveTester.
2. Use _expansionOf(ReflectiveTester_) (i.e call it with new instance of the inner class) to test with binding this class.
3. use _givesWithBinding(String $, String f)_, su

[2017-01-09 19:36] yuvalsimon commented on #1053
@mdoron @OriRoth @dormaayan @ravivos @tomerdragucki

[2017-01-09 22:37] yuvalsimon commented on #84
@yossigil So the issue here is to make tippers for this list:
* Consolidate common cases. (#859)
* Sort cases that use the same branch (#860)
* Sort branches according to the metrics: (in this order of priority)
  1. Depth, the deeper the worse.
  2. Length, measured in statements, the more, the worse.
  3. Length mesured in nodes, the more the worse
  4. Sequencer level, only if there is one suqu

[2017-01-09 22:59] OriRoth opened #1054 "Spartanizer performance - disable java builder during spartanization"
I'll check out whether this is worthwhile.
*Update*:
* http://stackoverflow.com/questions/36041282/how-to-programmatically-add-a-builder-to-a-project-in-eclipse
* http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.jdt.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fjdt%2Fcore%2FJavaCore.html
* Seams like what we are looking for... http://stackoverflow.com/questions/2505229/disable-building-wo

[2017-01-10 00:41] OriRoth commented on #1054
@yossigil what do you think? Spartanization time of guava sub project dropped from 400 seconds to 88 seconds (!):

![guava](https://cloud.githubusercontent.com/assets/15183108/21789504/37e1907c-d6de-11e6-9798-ae2080efea3a.jpg)

Do you see any improvement on your machine?

[2017-01-10 01:10] yuvalsimon commented on #860
@yossigil The current implementation sorts in such a way that it swaps each time two adjacent cases of the branch, so for example the conversion for the following will be:
[code]
=>
[code]
=>
[code]
=>
[code]
Do you prefer it this way or to put each case in it's final place from beggining (for example taking the minimum case from the nonsorted yet cases and put it in it's place)?

[2017-01-10 08:58] yossigil commented on #860
No, small movements are even better.
However, make sure you only highlight the code you change, not the entire switch

[2017-01-10 08:59] yossigil commented on #84
Yes, default can go first.
Depth: nesting level height of tree.
3. yes.
4: throw/return/break/continue in this order

[2017-01-10 09:07] #939 closed

[2017-01-10 09:07] #933 closed

[2017-01-10 09:07] #931 closed

[2017-01-10 09:09] #448 closed

[2017-01-10 09:09] #274 closed

[2017-01-10 09:10] #485 closed

[2017-01-10 09:11] #489 closed

[2017-01-10 11:01] yuvalsimon opened #1055 "Remove block in switch branch"
Convert
[code]
To
[code]

[2017-01-10 11:55] #1054 closed

[2017-01-10 11:56] OriRoth commented on #1051
See `Selection#getMultiSelectionName`. Current status:
![guava](https://cloud.githubusercontent.com/assets/15183108/21805374/8aa2937a-d73c-11e6-9028-8ac1b9cca946.jpg)

[2017-01-10 11:56] #1051 closed

[2017-01-10 11:57] OriRoth commented on #1037
Added current selection, see #1051
Seams about right I think.

[2017-01-10 11:57] #1037 closed

[2017-01-10 13:11] OriRoth commented on #1052
OK, zooming is in current window only + background color changes when inflating/deflating.
Tell me if you want to change colors / set background for all lines (and not just edited lines) (looks worse though).

[2017-01-10 13:11] #1052 closed

[2017-01-10 13:23] #916 closed

[2017-01-10 13:26] OriRoth opened #1056 "Review StatementExtractParameters"
[code]
==>
[code]
==>
[code]

[2017-01-10 13:36] yuvalsimon opened #1057 "Bug in ForToForInitializers"
[code]
goes to
[code]
error for uninitialized $

[2017-01-10 16:49] OriRoth commented on #1057
@yuvalsimon did you assigne Yossi because he was the one to write this tipper? Answer me on Telegram please.
@yossigil you may reassign me if you do not want to take care of it yourself.

[2017-01-10 16:50] OriRoth opened #1058 "Write useful Binding library"
Some cool stuff I found:
* http://stackoverflow.com/questions/11091791/convert-eclipse-jdt-itypebinding-to-a-type
* http://help.eclipse.org/mars/index.jsp?topic=%2Forg.eclipse.jdt.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fjdt%2Fcore%2Fdom%2Frewrite%2FImportRewrite.html

[2017-01-10 20:56] ravivos commented on #1048
I think I am going to delete the "continue" mechanizm and return to the normal expexted result

[2017-01-10 21:01] #1048 closed

[2017-01-10 23:21] #1023 closed

[2017-01-11 14:38] dormaayan opened #1059 "Tests For #905 Fails"
Does tests are fail for almost a week and nobody take care..

[2017-01-11 14:53] ravivos commented on #1044
What's up with this?
URGENT
p.s it has no milestone, please add yours
for now I label it as 2.8

[2017-01-11 15:00] dormaayan commented on #914
I tagged the commit mistakenly as #941
I cancelled this tipper totally because it think it miss all the idea of Spartanization
and cause to problems as you mentioned

[2017-01-11 15:00] #914 closed

[2017-01-11 15:06] dormaayan commented on #956
I put it in hold for now since we don't use leonids right now

[2017-01-11 15:48] yuvalsimon commented on #1050
@ravivos @dormaayan @OriRoth @tomerdragucki @mdoron
I will check today for open issues of bugs that should be done in high priority and assign it for next week. Please when you back to work go to your open issues with _First Priority_ label and finish them first.
@yossigil If you have some issues you want to be done first tag them here.

[2017-01-11 16:50] dormaayan opened #1060 "While Expander Causes Problems with Wrapping"
As we said at the meeting the wrapping if code with while statements may cause problems with your expander, I disabled it for now and we should think what to do about that...

[2017-01-11 17:17] yuvalsimon commented on #1060
@dormaayan I think if you add `;` to tested code it won't do this because then it is considered a statement astnode and it won't wrap it with while statement probably. I add this problem for example in testing with input `i=x+1`, then for `i=x+1;` it does not make this problem.

[2017-01-11 17:28] dormaayan commented on #1060
Got it, I returned the expander
Thanks

[2017-01-11 17:28] #1060 closed

[2017-01-11 17:31] dormaayan commented on #1007
Done

[2017-01-11 17:31] #1007 closed

[2017-01-11 17:48] dormaayan commented on #1006
Done,
For tests, see Issue #1007 tests class

[2017-01-11 17:48] #1006 closed

[2017-01-11 19:34] #905 closed

[2017-01-11 19:34] #1059 closed

[2017-01-11 19:35] yuvalsimon commented on #1059
Koby changed the tests when add some tipper that was removed so I reverted the changes. now it passes

[2017-01-11 21:04] #1025 closed

[2017-01-11 23:36] yuvalsimon commented on #1050
I updated the tasks for next week. Tell me if you want to change something or if you want more issues. Close the first priority issues firstly.
@dormaayan You can give me #1013 if you have too much issues

[2017-01-11 23:53] OriRoth opened #1061 "Binding tests should ignore names"
We want to write binding tests for `Expander`s that produces new variables with names generated by `NameSpace`. We want to be independent of the internal implementation of `NameSpace`.
The algorithm I offer:
When running `expansionOf(...).gives(...)` do:
1. expand code
2. in both *actual* and *expected* codes, replace all `Name`s with arbitrary names (such as `v1`, `v2` an so on) while preserving

[2017-01-12 00:02] OriRoth commented on #976
@tomerdragucki please clarify how you chose to implement this expander.

[2017-01-12 08:48] tomerdragucki commented on #976
If there is logical AND in the expression than the first expression of the AND will be moved to a separate if. In addition if there is an else statement, all the new if's will have this else.
For example:
[code]
==>
[code]
==>
[code]

[2017-01-12 11:09] mdoron commented on #1018
This is finished, we need to decide if we want to use it or not

[2017-01-12 11:09] #1018 closed

[2017-01-12 16:28] yossigil commented on #976
Make sure this is reversible, i.e., that the spartanizer can deal with this.

[2017-01-12 16:29] yuvalsimon opened #1062 "Bug in PostFixToInfixExpander"
The tests you added to #1005 are with semantic error (the code in the gives is not equivalent to the original code). Please fix the expander. These are the tests you added:
[code]

[2017-01-12 16:29] yossigil commented on #1054
Good results. I did not test them yet. Will probably when I delve into the project again

[2017-01-12 16:30] yossigil commented on #1051
Splendid!

[2017-01-12 16:35] yuvalsimon commented on #1062
Also in #1004:
[code]
not equivalent.

[2017-01-12 18:07] dormaayan commented on #334
an old issue from the old group of the YP, doesn't seems relevant for now...

[2017-01-12 18:09] yossigil commented on #655
Please place your name here: https://docs.google.com/document/d/1UvP8tNBX4N-4dRM6ZIFREnbjf9Yvwo3TecFZJmJoApg/edit

[2017-01-12 18:10] dormaayan commented on #888
Does't seems realistic for the upcoming sprint (although now we have all the tools to handle that) , I'll work on that on my free time

[2017-01-12 18:25] yossigil commented on #553
Can you put your name here: https://docs.google.com/document/d/1UvP8tNBX4N-4dRM6ZIFREnbjf9Yvwo3TecFZJmJoApg/edit

[2017-01-12 18:29] #903 closed

[2017-01-12 18:58] yuvalsimon commented on #84
@yossigil If I have the code
[code]
Then it would be a little bit more challenging to check that case 2 branch is not contained in case 1 branch (need to check that all possible execution paths of the commands before case 2 end in a sequencer). Do you want that I'll do it or assume last statement is a sequencer or otherwise branch if case 2 is contained in case 1?
Also, if I have case 2 is contain

[2017-01-12 19:11] #364 closed

[2017-01-12 19:12] OriRoth commented on #364
See test file `Issue364` (includes also above example).

[2017-01-12 19:16] dormaayan commented on #1036
Couldn't find any problem here, probably other new expander / bugs in other expanders solved that

[2017-01-12 19:23] OriRoth commented on #889
There is no current issue with the spartanizer going into infinite loop.
@yuvalsimon `RemoveRedundantSwitchBranch` is your tipper. It was written using "build nodes from Strings" method, which is not good! (you may open yourself an issue about it, or not). Nevertheless, the seams not to be a problem with this tipper- it's test class is well written, all tests pass and there is no risk for infinite

[2017-01-12 19:23] #889 closed

[2017-01-12 19:30] OriRoth commented on #84
If I got it correctly, you should spartanize
[code]
into
[code]
It would be easy to detect such cases, if you start comparing the Statements lists from the end ;)

[2017-01-12 19:32] yuvalsimon commented on #1036
@dormaayan check the class il.org.spartan.spartanizer.ast.navigate->find.java.
If you replace the class with the class of 3 weeks ago (Yosi changed the code a few days ago) and apply all the zoomer on the class you will see this bug.

[2017-01-12 19:33] mdoron opened #1063 "Expand mathematical expressions"
`c = x + y * z`;
into
[code]

[2017-01-12 19:34] OriRoth commented on #1063
My expander should take care of it, talk to me before starting working on it.

[2017-01-12 19:35] mdoron commented on #1063
Which one of them? link it here please

[2017-01-12 19:38] yuvalsimon opened #1064 "Refactor RemoveRedundantSwitchBranch"
Need to build nodes without strings.
Also for RemoveRedundantSwitchCases.

[2017-01-12 19:42] yuvalsimon commented on #84
No, the tipper only sorts the branches according to the metrics above. I have to consider also number of statements for example, so if another branch is contained in the first one (such as the second code you wrote) then I must not seperate them (and probably consider case 1 branch including case 2 branch)

[2017-01-12 20:07] yossigil commented on #84
I am not convinced it is a good idea to introduce fall throughs, but it may be useful if there is only on fall through.

[2017-01-12 21:03] tomerdragucki opened #1065 "Ternarization gets confused with overloaded methods"
[code]
gets the tip: Pushdown ?: into expression and after activating turns into:
[code]
which gets the error: The method getExpression() is undefined for the type Expression.

[2017-01-12 21:53] yossigil commented on #1063
If you decide to do it, take a look at classes Term and Factor

[2017-01-12 21:58] #731 closed

[2017-01-12 22:10] tomerdragucki commented on #976
The spartanizer can deal with it but it's not exactly the reverse because of the use of ternary in the spartanizer. Spartanizing the expanded code above yields ```java t = a && b && c ? 5 : 2; ``` and expanding this line yields the expanded code shown above.

[2017-01-12 22:10] #976 closed

[2017-01-12 23:57] yossigil commented on #20
What's going on?

[2017-01-13 00:49] mdoron commented on #1044
By "Finished" I mean that there is no more that I can do without external help (@yossigil).
I used `type` (Yossi's class), but it is not ideal. I tried to use `.nominal.namer` but in order to do so I had to extract `Type` from `expression`, which is an open question right now...

[2017-01-13 02:18] mdoron commented on #1044
Okay, I finally understand what suppose to be here, and implemented. This was so confusing :S
But now it's okay so nevermind

[2017-01-13 02:27] mdoron opened #1066 "Wiki page about how to use Auto-Generation of names"

[2017-01-13 02:27] mdoron commented on #1066
Done
https://github.com/SpartanRefactoring/Spartanizer/wiki/How-to-use-Auto-Generation-of-names-in-Zoomers%3F

[2017-01-13 02:27] #1066 closed

[2017-01-13 02:32] mdoron commented on #20
@yossigil I never uploaded the full version since I think this issue's tests are way too hard to pass, and so does @OriRoth.
So, since I'm not passing all of the tests (but I do the most of them in terms of frequent cases in real projects), I didn't close this issue.

[2017-01-13 03:23] #1047 closed

[2017-01-13 06:51] yossigil commented on #709
Please use class `azzert` rather than `assert`. We do not write `Assert.assertEquals`

[2017-01-13 09:43] yossigil commented on #20
I looked at the tests in Issue0020.java. I thin they are reasonable. I think you should try harder.

@OriRoth : FYI

[2017-01-13 09:58] yossigil commented on #20
I also took a look at the code. I think it is very doable. Try to follow all standards, and then I could step in and help you.
In particular:

-  conventions on class name.
- Make sure you fully understand what class `az` does. You seem to have missed the point.
- Same for class `iz` here is an excerpt from your code:
[code]
- You can use the environment if you need to figure out the name of field

[2017-01-13 10:29] mdoron commented on #20
@yossigil I accept the comment, but are you sure that all the circularities checks are necessary?

[2017-01-13 11:50] yossigil commented on #20
I am not sure I understand the question.  It is more important that you do first the easy stuff I asked for

[2017-01-13 15:26] yuvalsimon commented on #860
@yossigil Alright now?

[2017-01-13 16:52] yuvalsimon commented on #860
I will also change the hightlighting issue for RemoveRedundantSwitchCases later.

[2017-01-13 17:10] yossigil commented on #860
Don't know. I cannot run the spartanizer any more...

[2017-01-13 17:20] yuvalsimon commented on #860
Ok I changed RemoveRedundantSwitchCases to highlight exactly as this tipper does

[2017-01-13 17:36] yuvalsimon commented on #860
Should I put methods I use for all switch tippers in extract class?

[2017-01-13 17:59] yossigil commented on #860
Thanks.

[2017-01-13 18:10] mdoron commented on #1063
@OriRoth you implemented a large zoomer but didn't documented not in  class nor in issue, thus we have this duplications...

[2017-01-13 18:10] #1063 closed

[2017-01-13 18:32] mdoron commented on #978
@OriRoth already implemented this one

[2017-01-13 18:43] OriRoth commented on #978
Are you sure? There are no tests yet... open it please
On Jan 13, 2017 8:32 PM, "Doron Meshulam" <notifications@github.com> wrote:

[2017-01-13 19:22] mdoron commented on #1050
I fixed it to the new implementation, see the wiki page

[2017-01-13 19:38] OriRoth commented on #978
@mdoron this is **not** implemented, and there are now tests! Please close issues only if you are *sure* they are obsolete (probably after you solved them).

[2017-01-13 20:50] dormaayan commented on #1036
@yuvalsimon : As we spoke on that,  I close

[2017-01-13 20:50] #1036 closed

[2017-01-13 21:50] tomerdragucki opened #1067 "Bug in DeclarationInlineIntoNext"
[code]

is spartanized to:
[code]

and:
[code]

is spartanized to:
[code]

[2017-01-13 22:03] tomerdragucki commented on #1067
The same bug in DeclarationInitializerStatementTerminatingScope:
[code]
is spartanized to:
[code]

[2017-01-13 23:51] #1012 closed

[2017-01-14 00:58] yuvalsimon commented on #861
@yossigil I'm not sure I understood well the priority and metrics. I did what that I understood, checkout the test case.
This is what I did:
1. default branch always goes last.
2. if only one sequencer is used in the branch (and also in the branch we compare to) then the priority order is throw, return, break, continue (in that order)
If there is no level defined for sequencer or the sequencers le

[2017-01-14 01:09] yuvalsimon commented on #861
Will add it back to toolbox tomorrow, I have to go over other switch tippers tests so they won't fail

[2017-01-14 13:27] OriRoth opened #1068 "Name generation not aware of newly generated names"
The problem occur when trying to expand several code points at once:
[code]
==>
[code]
==>
compilation error.
#1044
@dormaayan

[2017-01-14 13:33] mdoron commented on #1068
@OriRoth Please write an example of the code that run all the Zoomers together - How would you like the API be like?

[2017-01-14 14:37] yossigil commented on #709
Please do not commit code with comments:
![image](https://cloud.githubusercontent.com/assets/12775400/21955620/a4598ce0-da77-11e6-9d41-41cc7168db45.png)

[2017-01-14 16:04] yossigil opened #1069 "Do not merge two variable declaration statements if they have different modifiers and/or annotations"
as in
[code]
or
[code]

[2017-01-14 16:30] OriRoth commented on #1069
@tomerdragucki I think it is also relevant to you.

[2017-01-14 18:43] yossigil commented on #978
#709

[2017-01-14 20:08] yossigil commented on #1044
I think you should have used namer.components, not shorten

[2017-01-14 21:39] yossigil opened #1070 "Simplify switch, similar to loops"
[code]
to
[code]

[2017-01-14 21:41] yossigil opened #1071 "remove extends Object in class definition"
e.g.,

[code]
to
[code]

[2017-01-14 21:42] yossigil opened #1072 "Remove extends Object in generics"
e.g.,
[code]

[2017-01-14 21:46] yossigil commented on #1070
Also
[code]

[2017-01-14 22:52] yuvalsimon commented on #861
@yossigil In which package should I put the Branch class that I implemented for this tipper? It could be useful for other switch tippers.

[2017-01-14 23:02] yossigil opened #1073 "Remove empty initializer"

[2017-01-15 00:16] #1064 closed

[2017-01-15 01:13] ravivos opened #1074 "Bug in renaming tipper when nesting"
[code]
spartanizer offers to rename c to e but then e gets hidden inside and we get `e.accept(e)` which yields an error

[2017-01-15 01:58] ravivos commented on #1039
all process of the expander that will be called when using this shortcut is documented in #979

[2017-01-15 06:05] yossigil commented on #1074
Note that the only way to resolve this is by using the `Environment` class

[2017-01-15 06:07] yossigil commented on #861
Maybe in wizard? Or, at least in its package? Or `extract`

[2017-01-15 06:18] yossigil commented on #1068
@mdoron: This is design work. Can you suggest something?

[2017-01-15 07:17] yossigil commented on #20
Updates?

[2017-01-15 10:40] yossigil commented on #709
Doron?

[2017-01-15 10:42] yossigil commented on #709
![image](https://cloud.githubusercontent.com/assets/12775400/21961948/ec0afce2-db1f-11e6-8a89-d1ab17e52219.png)

Take note that you still commit \r\n files...

[2017-01-15 11:01] M4tt30rru opened #1075 "Reorganization of the cmdline folder"
Place collector with collectors, utility class together, etc.

[2017-01-15 11:02] mdoron commented on #978
@OriRoth you told me your zoomer contains all the naming zoomers and also that you finished it. Moreover, I took the second example and ran it and got good results (`new Z()` was extracted).

The problem is you confused two different zoomers into one...

But if it is not implemented yet, I will do it.

[2017-01-15 13:06] yossigil commented on #194
@tomerdragucki what's up?

[2017-01-15 13:07] yossigil commented on #147
#655 : What's going on?

[2017-01-15 13:09] yossigil commented on #978
Is it, or is **not** implemented?

[2017-01-15 13:48] mdoron commented on #978
This is implemented;
`w.x().y(new Z());` >> `Z z1 = new Z(); w.x().y(z1);`
This is not implemented:
`new Z();` >> `Z z1 = new Z();`

[2017-01-15 14:51] mdoron opened #1076 "Bug in bloatingOf"
`bloatingOf("").stays();` yields NullPointerException

[2017-01-15 14:59] #1073 closed

[2017-01-15 15:02] yossigil commented on #1076
@tomerdragucki : should be easy. Please do it quickly

[2017-01-15 15:02] yossigil commented on #978
💯

[2017-01-15 15:17] yuvalsimon opened #1077 "Bug in renaming enhanced for loop index parameter"
The following code is has tip to rename the parameter s to ¢
[code]
The following code does not have this tip:
[code]
Bug is in EnhancedForParameterRenameToCent or in SingleVariableDeclarationEnhancedForRenameParameterToCent.

[2017-01-15 15:24] yossigil commented on #1077
All these bugs should be solved within one tip that does centification and de-centification.
A cent should be done in any namepsace that has only one name, and has no inner namespaces.

[2017-01-15 15:53] #1071 closed

[2017-01-15 17:19] yuvalsimon opened #1078 "Do not commit with failing tests"
There are some new failing tests. Do not commit with failing tests, and if you think the problem is in the tests, firstly open an issue and ignore the tests, so that the author would know why his tests suddenly fails while he did nothing.
@mdoron @dormaayan @OriRoth @ravivos @tomerdragucki
Someone knows who is responsible for the failing tests??

[2017-01-15 17:25] #371 closed

[2017-01-15 17:25] #373 closed

[2017-01-15 17:25] #399 closed

[2017-01-15 17:26] yuvalsimon commented on #861
Ok I moved it to wizards's package

[2017-01-15 17:26] #861 closed

[2017-01-15 17:28] #46 closed

[2017-01-15 17:29] #84 closed

[2017-01-15 18:06] yuvalsimon opened #1079 "Exceptions from RenameShortName"
Throws null pointer exception. I disabled it for now

[2017-01-15 18:41] yuvalsimon opened #1080 "Fix failing tests"
Please checkout my commit in fix your tests as soon as possible. If someone else is responsible for that assign him.
https://github.com/SpartanRefactoring/Spartanizer/commit/66e093cbd5fbd69f424ef29d20afb94ced5f7710
Also see #1078

[2017-01-15 18:43] tomerdragucki commented on #147
I'll start working on this one and on #194 as part of my next week work (starting Tuesday) as I have some bugs to fix now.

[2017-01-15 19:06] yossigil commented on #655
![image](https://cloud.githubusercontent.com/assets/12775400/21965271/04f0ec7c-db65-11e6-969b-76d7d0d6795d.png)

[2017-01-15 20:39] #1076 closed

[2017-01-15 22:01] #1070 closed

[2017-01-15 22:05] mdoron commented on #1068
@yossigil I already suggested something to @OriRoth, who was unhappy with my solution. I also discussed @dormaayan about this issue and explained my solution to him, I think he agreed with me.
But, both @dormaayan and I didn't fully understand why @OriRoth was unsatisfied with this solution.

My solution is to simply to create a new class which will implement "scope" and keep a Namespace as a priv

[2017-01-15 23:00] #978 closed

[2017-01-16 00:02] ravivos opened #1081 "Bug in name generation"
[code]
turns to
[code]
**but**
[code]
turns to
[code]
in renaming expander #979  - which points that the problem might be in the generation of 2 different variable names of same type.
I remembered that this issue was already open but couldn't find it, so if such exists, feel free to reference it and close this

[2017-01-16 00:29] OriRoth commented on #978
@mdoron good job, looks great! 👍

[2017-01-16 00:30] OriRoth commented on #1068
I am fine with anything that does not require infrastructure changes. If you think it can work, go for it.

[2017-01-16 01:11] ravivos commented on #1079
fixed, you can see the progress in #979

[2017-01-16 01:11] #1079 closed

[2017-01-16 02:16] ravivos commented on #988
referencing #1056

[2017-01-16 02:16] #988 closed

[2017-01-16 09:51] yuvalsimon opened #1082 "Bug in switch to if statement tipper"
Need to consider side effects, for example
[code]
to
[code]
I will not tip when have side effects for now.
@yossigil If we want to tip when have side effects we need to add temporary variable using environment, but still we will get less code when using the tipper so it is spartan programming. Should I add it?

[2017-01-16 10:53] mdoron commented on #1081
It is not possible to change two variables in one expander yet (see: [wiki](https://github.com/SpartanRefactoring/Spartanizer/wiki/How-to-use-Auto-Generation-of-names-in-Zoomers%3F)).

[2017-01-16 10:55] mdoron commented on #1068
@OriRoth Explain "infrastructure  changes" please

[2017-01-16 10:56] ravivos commented on #1081
then don't close it, label it as "on-hold"

[2017-01-16 10:57] mdoron commented on #1081
This is duplication !

[2017-01-16 10:59] mdoron commented on #1081
For now, in order to solve this issue, you should implement the Zoomer one name change at a time.

[2017-01-16 11:03] mdoron commented on #1081
And also, the problem is not with the same type, consider the same code but instead of `double` put `Integer`

[2017-01-16 11:13] ravivos commented on #1081
Then what is the problem for int and int? @mdoron

[2017-01-16 11:18] yossigil commented on #1070
:+1

[2017-01-16 11:18] yossigil commented on #1076
💯

[2017-01-16 11:22] mdoron commented on #1081
The `namer` returns `i` for parameter of type `int` but also for type `Integer`, this is the `namer` algorithm (Yossi's).

[2017-01-16 11:22] OriRoth commented on #1082
You cannot create such a variable without binding, because you do not know the type of the Expression! (though switch accepts limited types). And we do not support binding in Tippers at the moment.

[2017-01-16 11:55] yossigil commented on #1082
actually, @OriRoth if you can help, this could be a great feature: a configuration toggle: with/without binding. This tipper should not do anything when binding is off.

If you agree, open an issue and start doing it. Otherwise, please mark this as "will-not-fix", close it as well as all "will-not-fix" labelled issues

[2017-01-16 12:11] #1057 closed

[2017-01-16 14:23] yuvalsimon commented on #1082
Yes I know Ori. The environment/binding class should work also for tippers, isn't it?
I will keep the issue open for later.

[2017-01-16 15:08] OriRoth commented on #1082
No It cannot - what if the function is defined in another file? (among the reasons)

[2017-01-16 15:13] OriRoth opened #1083 "Binding in Spartanizer"
* GUI toggle in preferences screen
* Tippers that use binding would query the AST as a prerequisite: `n.getAST().hasResolvedBinding()`
* Easy fix at `GUIBatchLaconizer` (root Spartanizer application), maybe in other applications (@orimarco?)

@yossigil looks possible, though the demand at the moment is rather low (or is there something I am not aware of?)

#1082

[2017-01-16 15:31] ravivos opened #1084 "Final presentation"
Hey folks :1st_place_medal:
So as you all know, next week will be the last week of the semester.
From an optimistic kind of view - no more homework submissions.
From a pessimistic kind of view - finals are coming.
But from a realistic kind of view - we have a project to hand in - the Athenizer, so there are some stuff that we should go over and comprehend.

## First things first:
  - [x] finishing

[2017-01-16 16:28] mdoron commented on #1081
Duplication issue see #1068

[2017-01-16 16:28] #1081 closed

[2017-01-16 19:42] orimarco opened #1085 "New Tippers- from IntelliJ"
1. Remove redundant continue in default branch of switch.

[code]

2. Redundant return in switch branches when switch is last in method.

[code]

3. Redundant return - in try...catch now.

[code]

4. _boolean method is always inverted_ - can invert method return value and un-invert all inversions in invocations.

5. redundant local variable (can be inlined):
[code]
(no need for the peeled, why not

[2017-01-16 19:51] yuvalsimon commented on #1067
@orimarco It's your tipper. Can you solve it until next week?

[2017-01-16 19:59] #1050 closed

[2017-01-16 20:05] yuvalsimon opened #1086 "Agile Tracking - sprint end"
The current sprint ends on next week, so we have to close all the open issues for milestone 2.8. Please close the issues as soon as you can, preferably until 22/1. If new bugs appear and they are not yours, put them on me and I will assign them.

[2017-01-16 20:17] yossigil commented on #1086
💯

[2017-01-16 20:19] ravivos commented on #1086
referencing #1084

[2017-01-16 20:20] ravivos opened #1087 "expandersCategory"
implementing expanders category

[2017-01-16 20:42] yossigil commented on #587
Keep up the good work.

[2017-01-16 20:43] yossigil commented on #519
good job so far

[2017-01-16 20:46] yossigil commented on #1083
It is something we in the research team need: when we do batch processing, there could be no binding information. We must be able to experiment without binding.

[2017-01-16 21:14] yossigil commented on #1085
Amazing job!

[2017-01-16 21:15] yossigil commented on #1085
Take note though that many of these are impossible without binding.

[2017-01-16 23:31] #1072 closed

[2017-01-17 07:46] orimarco opened #1088 "Java8 Tippers- from IntelliJ"
Part II of #1085

1. Anonymous type can be replaced with lambda:

2. putIfAbsent: (had that one already, but without checking the type is Map)
[code]

3. for loop replaceable with foreach:
[code]
to
[code]
4. for loop can be collapsed with stream API: (Have a Nanos for that - ForEach, ForEachFiltered)
[code]
to
[code]

[2017-01-17 09:04] #910 closed

[2017-01-17 11:28] ortroyaner opened #1089 "Bug in inline - code behaves differently after Spartanization"
After running this code (before Spartanization):
[code]
I have a group of radio buttons which enables to choose only one radio button at a time.

Spartanizer suggest this code instead:
[code]
The fact that a new ToggleGroup() is created every iteration within the forEach, bind each radio button to a different group, and therefore the limitation of only one radio button selected is gone.

TL;DR:

-

[2017-01-17 11:48] ortroyaner opened #1090 "Bug in"
When writing this code:
[code]

Spartanizer says:
[code]

and changes to:
[code]
Which not compiles.

[2017-01-17 12:47] yuvalsimon commented on #1077
There are still other bugs in this tipper, I will fix them too

[2017-01-17 14:37] yuvalsimon commented on #1077
@mdoron Could you review my last commit please? I'm not sure I used the environment right. I have to check if ¢ identifier is defined in outer scopes.

[2017-01-17 14:46] yuvalsimon commented on #1077
and this code supposed to check it:
[code]
such that $ is a variable declaration statement

[2017-01-17 18:59] OriRoth commented on #1090
Full test case:
[code]

We may not be able to solve this without binding information (if, for example, we replace the numeric literal with a variable).

@ortroyaner thank you.

[2017-01-18 13:38] yuvalsimon opened #1091 "Outline ternary invocation"
[code]
to
[code]

[2017-01-18 13:59] #1077 closed

[2017-01-18 17:25] yuvalsimon commented on #1091
@tomerdragucki I noticed now that you already made similar expander, but it does not treat cases like `x=y+f(cond?a:b);`, so I add my expander in lower priority so it will expand this.

[2017-01-18 17:28] #1091 closed

[2017-01-18 17:41] #1049 closed

[2017-01-18 19:38] #1069 closed

[2017-01-18 21:59] yuvalsimon commented on #1013
@dormaayan There was still the second bug from above. I changed the tipper so that it would work only for Assignment astnode and InfixExpression, but can improve it to work on more types. This should tip only if there is no use if the index variable and the right side of the array access.

[2017-01-18 22:00] yuvalsimon commented on #1013
Keep this for next milestone

[2017-01-18 23:31] yossigil commented on #1089
@ravivos : can you please deal or pass?

[2017-01-19 00:25] yuvalsimon opened #1092 "Bug in LongIfExpander"
It gets to infinite loop, try to run it on enumerate.java class (in tdd package).

* This bug is inherited in the essence of this Bloater, see discussion below.

[2017-01-19 00:33] yuvalsimon commented on #1086
I ignored all the expanders that use namespace because it made lots of errors. Not sure if it is problem in the expanders or in the name generator.
Please from now until end of the sprint, before you commit expander into the inflater firstly run the athenizer on the project (not only the tests, but also them), and there should not be any errors on this. (if there is then don't commit the expander

[2017-01-19 01:00] yuvalsimon commented on #1055
@yossigil May I move this issue and #346 to next milestone? I have to spend time on QA now.

[2017-01-19 07:39] yuvalsimon opened #1093 "Improve OutlineArrayAccess"
Could catch more cases to expand.

[2017-01-19 10:38] yossigil opened #1094 "Remove empty Try"
e.g., convert
[code]
into
[code]

[2017-01-19 11:42] ravivos commented on #1084
No one volunteered for the presentation making, therefore I chose the ones with the least open issues in both 2.8 and 2,8-sprint together (I think that sounds very fair)
@mdoron and @tomerdragucki
you both have the least so it's on you guys
A different Solution I thought about is choosing the person with the least **closed** issues, in this case @mdoron has the least while @tomerdragucki has an ad

[2017-01-19 11:47] ravivos opened #1095 "Making the Final presentation"
as described here #1084
Also, the presentation itself will be as described in @yossigil message:

שלום לכולם, ביום שלישי הקרוב,  בשעה 17 בטאוב 235 נקיים מצגת משותפת של צוות 8 וצוות 12: צוות 12 יתחיל ויציג את עבודתו. אחריו צוות 8.
למצגת מהסוג הזה קוראים שיפודיה. השיפודיה תתקיים בטאוב 235.
לשיפודיה יש מבנה  מבדח קבוע:
שלב הפדיחות - מישהו מהצוות האחר מנסה להתקין את התכנה שלכם ולהריץ אותו.
שלב הפשלות:

[2017-01-19 13:13] yossigil commented on #1055
Sure.

[2017-01-19 13:38] #1094 closed

[2017-01-19 14:45] mdoron commented on #1080
Is everything okay now? Can I close this issue? @yuvalsimon

[2017-01-19 14:59] mdoron commented on #1044
@yuvalsimon: FYI, I added the functions you needed.

[2017-01-19 15:37] yuvalsimon commented on #1044
@mdoron Ok thanks. Add also search for switch statement. multiple statements could be under Block statement and also under switch statement (and maybe some other types, I didn't check).

[2017-01-19 15:57] yuvalsimon opened #1096 "Bug in TryBodyNotEmpty"
full name - TryBodyNotEmptyNoCatchesNoFinallyRemove
[code]
it removes the try block, then $ is undefined. might also need to consider side effects if it calls to some function there.

[2017-01-19 17:44] #1068 closed

[2017-01-19 17:57] yuvalsimon commented on #1067
@orimarco I move this to next milestone. for now I fixed your tipper to work with stronger condition. I will do the same for Yosi's tipper.

[2017-01-19 18:00] yossigil opened #1097 "Make early definition in case of for loop"
Given
[code]
into
[code]
this only make sense in the case that  the variable is used after the loop.

[2017-01-19 18:25] dormaayan commented on #1080
Everything seems ok, I close

[2017-01-19 19:19] dormaayan commented on #1061
Done

[2017-01-19 19:19] #1061 closed

[2017-01-19 19:33] dormaayan commented on #1062
Didn't find anything, please be clear if the problem is still exist, I didn't understand what you want here...

[2017-01-19 20:39] #1096 closed

[2017-01-19 21:22] yossigil opened #1098 "Bug in converting switch to if: Don't do that on String values"
Try this
[code]
should not tip if any of the literals is a string.

[2017-01-19 21:36] yossigil commented on #954
Is this solved? @OriRoth

[2017-01-19 21:41] yossigil commented on #1098
@ravivos Please grab or dispatch

[2017-01-19 21:46] yossigil opened #1099 "No stupid inlining in case two local variables are defined."
Consider this example:
[code]

[2017-01-19 23:20] yuvalsimon commented on #1062
if  `i=0` then when you write `x[i++] = i` you will get `x[0]=1;`.
For `x[i=i+1]=i` you will get `x[1]=1;`. You can check this.

[2017-01-19 23:48] yuvalsimon commented on #1044
@mdoron I added the switch too, alright? It can have multiple statements as block does.

[2017-01-19 23:52] yuvalsimon commented on #1074
@ravivos it's your issue, I dealed with most of my issues already and I have to be on the QA tasks. Also it does not suggest tip for this example (I checked on EventListener class).

[2017-01-20 00:04] #1099 closed

[2017-01-20 00:22] #1067 closed

[2017-01-20 00:24] yuvalsimon commented on #1062
@dormaayan Please try this with system.println. Should disable this tipper before version release and restore the tests of #1004. Please do it if you agree with me.

[2017-01-20 00:26] #1098 closed

[2017-01-20 00:57] yuvalsimon opened #1100 "Bug in RenameShortNamesMethodDec"
Before adding this back to inflater, run the athenizer on the project!
It gives tons of errors.
How to run on the project and see the errors:
1. select src folder
2. click ctrl+alt+d
3. build project

[2017-01-20 01:00] yuvalsimon commented on #1100
Also it throws exceptions, need to fix this too. I'm not sure right now if it is from your expander or from name generation method, yet exception is bad in both cases.

[2017-01-20 01:18] yuvalsimon commented on #1044
I reverted my last commit because I'm not sure where else you assumed the node is a block and not switch statement. The implementation of _getScopeNamespace_ should be something like in https://github.com/SpartanRefactoring/Spartanizer/commit/fd4b1b9906a729769873e369ddf20eecac3475f4 (which considers switch statement), but I noticed for example the function below it also needs to be changed to trea

[2017-01-20 02:01] yuvalsimon commented on #1080
The tests are ignored, if they are needed check they pass.

[2017-01-20 02:20] OriRoth commented on #954
Yes this is a duplicated issue. Anyway I added a test case `Issue0954`, you may check it out (contains only above example, there are more tests in the other issue file). The tipper has been renamed since to `DeclarationInlineIntoNext`, BTW.

[2017-01-20 02:20] #954 closed

[2017-01-20 02:29] OriRoth commented on #1062
@dormaayan I think Yuval is right. you should convert `++i` to `i += 1`, not `i++`. Check it out.

[2017-01-20 07:33] dormaayan commented on #1080
@yuvalsimon : Do you mean to @mdoron or me ? Why am I assign to that ?

[2017-01-20 08:16] #438 closed

[2017-01-20 12:32] yuvalsimon commented on #1089
@ravivos It might have been solved with #1067

[2017-01-20 12:34] yuvalsimon commented on #1080
For both, check the commit in the issue (https://github.com/SpartanRefactoring/Spartanizer/commit/66e093cbd5fbd69f424ef29d20afb94ced5f7710). Your classes Issue0965 and Issue1036 had failing tests, I ignored them so just make them pass or remove if they are wrong. Same for Doron for Issue1044.

[2017-01-20 21:24] yossigil commented on #256
👎

[2017-01-20 21:54] #1080 closed

[2017-01-20 21:55] dormaayan commented on #1080
For now I fixed but there are some issues there that will be done in the second semester...

[2017-01-20 22:01] yuvalsimon commented on #1080
Alright, just make sure to open an issue if there isn't one already so we won't forget this

[2017-01-20 22:13] yuvalsimon commented on #1044
@mdoron don't forget to fix the tests and unignore them before closing the issue.

[2017-01-20 22:16] #1062 closed

[2017-01-20 22:17] dormaayan commented on #1062
I cancelled the i++ expander because it is not correct. you can delete it (I already fixed the tests) and fixed the ++i expander to give i+=1

[2017-01-20 23:43] yuvalsimon opened #1101 "Inlining bug"
[code]
converts to
[code]
When I remove one of DeclarationInlineIntoNext, TwoDeclarationsIntoOne It does not happen.
Maybe using excluder would solve this?
@OriRoth, if it is not fixed until release we will have to remove one of those from toolbox.

[2017-01-21 00:18] yuvalsimon opened #1102 "Bug in ClassInstanceIntoVariable"
The tests were ignored while the expander was in the inflater..
It throws exceptions from newName method call.

[2017-01-21 00:34] #1102 closed

[2017-01-21 09:46] yossigil commented on #1101
No, excluder is not the right way. The right way is to make the tippper that does this inlining, check that there ae no other initializers. Infrastructure is there. It just has to be done.

[2017-01-21 10:31] OriRoth opened #1103 "Exclude spartanized node"
And fix failing tests.

When spartanizing a node in `Trimmer#consolidateTips`, exclude the node after it has been spartanized (good behavior).

[2017-01-21 10:32] OriRoth commented on #1101
This is indeed an exclusion issue. The two tippers noted above are working on the same statement, one on the statement itself and the other on one of its fragments.
@yossigil It does make sense to exclude the whole node after it is spartanized - nevertheless, doing so fails 13 tests, so we probably should correct them (unwanted behavior) see #1103.
Anyway, a fix has been added to `ReplaceToNextSta

[2017-01-21 10:33] #1101 closed

[2017-01-21 20:41] yossigil commented on #1101
Not sure, I do not see this bug at all in my system.

[2017-01-21 21:22] yuvalsimon opened #1104 "Bugs in StatementExtractParameters"
Few points:
1. We get duplicated imports.
2. Need to consider collisions when adding new imports, for example:
  if we have before using the expander only
[code]
  then if we add
[code]
  we cannot write `Operator.ASSIGN` because we get ambiguity.
3. Some problem with lambda expressions:
[code]
  goes to
[code]
That's for now, maybe more problems but hard to tell before those are fixed.

[2017-01-21 21:31] yuvalsimon commented on #1101
@yossigil Do you mean without the code Ori added?
Try to bloat the class GuessedContext and then spartanize. I got errors on the two last methods.

[2017-01-21 22:08] OriRoth commented on #1101
@yossigil this is because `consolidateTips` goes top-bottom, and markers are bottom-top (now do you believe me?).

[2017-01-21 23:12] OriRoth commented on #1104
1. You did not supplied an example code and I failed to recreate the problem.
2. This is a very complex issue, we'll deal with it someday but not now.
3. Done- no extraction from lambda expressions.

I have re-added the bloater to `InflateProvider`.

[2017-01-21 23:33] yuvalsimon commented on #1104
For 1 I meant we might get for example `import org.eclipse.jdt.core.dom.Assignment.*;` more than one time (appears more than one time in the code), just need to check if the import already exists before adding it.

[2017-01-22 00:07] yuvalsimon commented on #1104
@OriRoth When I run the athenizer on the project I get lots of errors of duplicate identifiers, for example:
[code]
goes to
[code]
However, it does not happen if we use the mouse wheel.
Does the ctrl+alt+d runs the athenizer bottom up? If so this is a problem for the environment if we have to support athenizing whole project/file. Seems like the problem above is caused by running the athenizer bot

[2017-01-22 00:16] OriRoth commented on #1104
Does it not Doron's issue then?

[2017-01-22 00:43] yuvalsimon commented on #1104
Yes it is but I worked on it too since we had to make it work already for this issue..
So I know what's going on there. It should not make this problem, but as I said, it happens only when athenizing whole project/file, but when you use the wheel it does not happen. Seems like it happens because of applying expanders bottom up, and if so it could be fixed only by changing to top down.

[2017-01-22 01:00] yuvalsimon commented on #1044
@mdoron Checkout this case:
[code]
goes to
[code]
It makes error for _s1_. Probably the environment class does not include names in the nested if, and when athenizing a whole file it firstly expands the inner if and creates variable _s1_, and then it expands the containing scope. So you need to check also the namespace of the nested scopes when generating name.

[2017-01-22 07:31] yossigil commented on #655
???

[2017-01-22 07:35] yossigil commented on #1066
👎 can you please rewrite the wiki in a more readable way?

[2017-01-22 07:36] yossigil commented on #1101
the whole inlining is a big mess.

[2017-01-22 07:51] yossigil opened #1105 "If gambit: Common sequencer"
Convert:
[code]

to

[code]

[2017-01-22 08:58] yossigil commented on #1086
@mdoron : take note that you are blocking the entire team. @orimarco @yh-github @idabran @AdiOmari
👎

[2017-01-22 10:36] mdoron commented on #1044
@yuvalsimon isn't there an override of `s1` in this case? Why is it a problem?

[2017-01-22 10:42] yuvalsimon commented on #1044
It might be hiding the outer `s1`, but I get error for this in eclipse. Read about hiding in java, it should sometimes work, but I believe it's alright to just assume that hiding is never allowed and generate different names.

[2017-01-22 14:35] ravivos commented on #1074
@yuvalsimon
You are right - the bug is fixed.
probably by Ori's config

[2017-01-22 14:35] #1074 closed

[2017-01-22 15:54] AdiOmari opened #1106 "Project interview"
Sapir @SapirBismot  and Doron @mdoron ,

We would like to interview each of you tomorrow. Please select a time for the interview by writing your name in the following document:
https://docs.google.com/document/d/14eTOc1KL5d0LQEymoZCmf7RuqoBlHJfbmDcnUN8l2lM/edit#

Thanks

[2017-01-22 16:06] ravivos opened #1107 "Rename short/currency variable names - Decleration"
[code]
==>
[code]

[2017-01-22 16:06] ravivos commented on #979
fixed for method decleration - epander is done.
for single decleration see - #1107

[2017-01-22 16:06] #979 closed

[2017-01-22 17:13] mdoron commented on #1066
@yossigil I rewrited it. Can you recheck please?

[2017-01-22 17:19] mdoron commented on #1086
@yossigil. Yuval rechecked it and it wasn't with the name generation...
![image](https://cloud.githubusercontent.com/assets/12110390/22184301/a964e304-e0d7-11e6-80ed-b45dc5ca4cc9.png)

@orimarco @yh-github @idabran @AdiOmari

[2017-01-22 19:53] yuvalsimon opened #1108 "Generate name with desired prefix"
e.g if we want variable named `res`, without considering the type. Add number a needed, such as res22.
@ravivos use it for the RenameShortNameMethodDec when it's done.

[2017-01-22 19:55] yuvalsimon opened #1109 "Exceptions from RenameShortNamesMethodDec"
It throws lots of exceptions. Do not add it to the release please, not enough time to make sure it works until tomorrow...

[2017-01-22 20:03] yuvalsimon commented on #1109
See #1108

[2017-01-22 21:46] ravivos commented on #1109
you are right.
Im taking it out of the toolbox but I think that the problem is in the name generation though
#1044

[2017-01-22 22:01] ravivos commented on #1109
I think it's a duplicate of #1100, don't you?
@yuvalsimon if so, close this issue

[2017-01-22 22:02] yuvalsimon commented on #1109
@ravivos keep this open until it's solved. I'm not sure what causes there, I think you should wait for #1008 and use it, then it would be easier to check this.

[2017-01-22 22:03] #1100 closed

[2017-01-22 22:04] yuvalsimon commented on #1109
Yes it's a duplicate, I closed #1100. I thought it was closed already..

[2017-01-22 22:16] yuvalsimon commented on #1109
@ravivos I implemented the method for #1008, you can use it. Checkout my last commit. It still has the problem I mentioned in #1044, so this should work well only when using the wheel. If you finish this issue check that all the errors you get when debugging are of the type in #1044.

[2017-01-23 05:43] yossigil commented on #1106
@tomerdragucki : In view of your request, you are welcome to represent your work

[2017-01-23 07:12] yossigil commented on #1044
Yes. Yuval is right. You should never create hiding cases.

[2017-01-23 07:24] yossigil commented on #1086
Doron: this is our life. Sometimes tests we wrote suddenly fail.

In a cooperative team work, it is better to either

- Name the guy who broke the test convention and ask him to fix or take note, etc.
- Post  a warning to all, saying that this refactoring is breaking tests.
- Take charge of  your own code and tests, even if they were change by others.

It is not acceptable to say: "Some changed th

[2017-01-23 07:29] yossigil commented on #709
![image](https://cloud.githubusercontent.com/assets/12775400/22195036/6d18a7ba-e14e-11e6-8f3e-aecb25b1c4ad.png)

[2017-01-23 07:33] yossigil commented on #709
![image](https://cloud.githubusercontent.com/assets/12775400/22195114/ff78039e-e14e-11e6-9ff9-b6b03c7df597.png)

[2017-01-23 07:35] yossigil commented on #655
![image](https://cloud.githubusercontent.com/assets/12775400/22195164/37645e1a-e14f-11e6-9576-bdbc4548d035.png)

[2017-01-23 08:12] orimarco opened #1110 "Bug: eliminate dead assignment: a = b; a = c; => a =c;"
[code]
should become:
[code]

and another:

[code]
to:
[code]

[2017-01-23 08:55] orimarco opened #1111 "Bug: should never inline variable into lambda unless final literal"
Should not inline:

[code]

[2017-01-23 09:12] orimarco opened #1112 "Parenthesis remove"
- [ ] (a).b
- [ ] (a);

[2017-01-23 10:00] #1106 closed

[2017-01-23 10:09] orimarco opened #1113 "Nano - Count/CountIf"
[code]

to
[code]

[code]

to
[code]

[2017-01-23 10:41] tomerdragucki commented on #1089
still don't work for:
[code]
because of DeclarationInlineIntoNext. problem in DeclarationInitializerStatementTerminatingScope solved.
tried to use DeclarationInitializerStatementTerminatingScope.never in DeclarationInlineIntoNext and broke tests. might try again.

[2017-01-23 10:50] mdoron commented on #1108
@yuvalsimon this was the first implementation, but @yossigil didn't approved.
I will add this function right away, but I think it's dangerous... be careful when you're using it.

[2017-01-23 12:20] yuvalsimon commented on #1108
Yes but Raviv needs it for his issue to make _res_ variable for example. Keep it open until closing 1044.

[2017-01-23 12:59] orimarco opened #1114 "Assignmnet + Update assignment into a single assignment"
[code]
to
[code]

and of course
[code]
to
[code]

[2017-01-23 13:28] mdoron commented on #1044
@yuvalsimon @yossigil It's ok, I already created a function that searches for names in the children long time ago, we just need to put it in use.

[2017-01-23 13:28] yossigil opened #1115 "Centificaiton of lamba expressions"

[2017-01-23 13:58] yuvalsimon commented on #1044
Ok so for now should make another version of the function that does this, but for the release use the current implementation, that already works well when using wheel for zooming. The naming expanders are used only when using wheel for the current release.

[2017-01-23 14:58] #1115 closed

[2017-01-23 17:30] yossigil opened #1116 "More failing tests for 1047"

[2017-01-23 18:49] #1084 closed

[2017-01-23 18:50] ravivos commented on #1109
will be fixed.
for Now, this expander is out of use

[2017-01-23 22:33] OriRoth commented on #1084
See 76145334d36cb11f394272b293029d11f8853949. @mdoron do journey yourself or talk to me when you are done with the journey's edit.

[2017-01-24 00:02] #902 closed

[2017-01-24 13:01] yossigil commented on #1114
I checked. There is such a tipper. It is currently called:

[2017-01-24 13:01] #1114 closed

[2017-01-25 11:49] yossigil commented on #316
@ravivos : can we close this now?

[2017-01-25 17:52] ravivos commented on #316
@yossigil, I Guess so.
Also you can see the program we made for it and use it for your own will:
https://github.com/yaakovs/since-authorAdder

[2017-01-26 05:33] yossigil commented on #316
💯

[2017-01-26 05:34] #316 closed

[2017-01-26 05:37] yossigil commented on #1095
Please add the slides to github. See if you can embed it in a wiki page. Also, think about the video

[2017-01-26 05:43] yossigil commented on #1066
Much better, thanks. Take note that I wrote a generateName generator. Find it, and see if you can use it.

[2017-01-26 05:44] yossigil commented on #1089
Yes. We have an issue with inlining. Working on it.

[2017-01-26 06:00] yossigil commented on #954
renamed to FragmentInlineIntoNext

[2017-01-26 06:06] yossigil opened #1117 "Remove Parenthesis in lambda expression"
e.g., `(x)->x` to `x->x`

[2017-01-26 07:01] #1117 closed

[2017-01-26 11:07] orimarco opened #1118 "Nano - singleton"
[code]

[2017-01-26 13:34] yossigil opened #1119 "Convert lambda: x->x+1 to λ->λ+1"
This should only be done if there is a single parameter which does not have type information

[2017-01-26 13:36] #1119 closed

[2017-01-26 21:22] OriRoth opened #1120 "SingleVariableDeclarationEnhancedForRenameParameterToCent bug"
This tipper **sometimes** does not change the names of the variable occurrence's inside the enhanced for loop:
[code]
==>
[code]
I suspect this is because the *domain* of this tipper is `SingleVariableDeclaration`, and not `EnhancedForStatement`. This makes its statement son applicable for spartanization, thus our changes get overriden by another tipper! I could not recreate the problem, though it

[2017-01-26 21:23] OriRoth commented on #1120
@yossigil

[2017-01-26 21:25] OriRoth commented on #1120
A possible solution would be to stop consolidating tips on the current sub-tree when applying spartanization (a good behavior, in my opinion).

[2017-01-27 09:12] yossigil commented on #1120
I thought I solved it.

[2017-01-27 09:36] #1113 closed

[2017-01-27 09:52] #932 closed

[2017-01-27 09:53] #898 closed

[2017-01-27 09:55] #1089 closed

[2017-01-27 09:56] #1111 closed

[2017-01-27 11:04] yossigil commented on #1120
Working on it now

[2017-01-27 11:09] OriRoth commented on #1120
I truly believe a general solution is needed here. If I am right about the spartanization override, the use of the global excluder is needed (or changing the tipper's domain to `EnhancedForStatement`).

[2017-01-27 15:43] yossigil commented on #1120
You are right. Here is how I see it. We have a class that is supposed to be doing all this. The `Inliner`.
Not sure what's it status.  But, it used to take a name, and a node or several nodes. Then, it would tell you
if it is OK to inline into these nodes, and if possible, will do that inlining for you.

[2017-01-28 09:33] yossigil commented on #1084
💯

[2017-01-28 10:00] #1078 closed

[2017-01-28 20:49] OriRoth commented on #1120
Fixed in 86b8b17d30b64906aa8164e1b07bf5ee73342433

[2017-01-28 20:49] #1120 closed

[2017-01-28 20:50] OriRoth commented on #1112
`((a))`
?

[2017-01-28 21:00] orimarco commented on #1112
@OriRoth  already have this one...

[2017-01-28 21:02] OriRoth opened #1121 "Spartan preferences revision"
Review preferences mechanism. The plan is constructed of several phases:
* *Phase I*: remove preferences page. Introduce `.spartan` XML file residing in user projects, containing Spartanizer configuration:
  * What tippers are being used for this project.
  * Something else?
* *Phase II*: build UI for configuring those files.
* *Phase III*: reintroduce modified global preferences page.

@yossigil

[2017-01-28 21:41] #1112 closed

[2017-01-28 21:41] orimarco commented on #1112
Apparently there's no such thing:

[2017-01-29 11:54] #1118 closed

[2017-01-29 11:54] orimarco commented on #1118
Done: `Singleton.java`

[2017-01-31 13:05] yossigil opened #1122 "FOR->DO: Replace for{.... if(e) break; } loop by do {.... }while(!e) } loop;"
E.g.,
[code]

[2017-01-31 13:06] yossigil opened #1123 "FOR->WHILE: Replace 'for' loop with a 'while' loop"
e.g.,
[code]

[2017-01-31 13:43] #1055 closed

[2017-01-31 13:49] yossigil opened #1124 "Remove dead returns"
Examples:
[code]

[2017-01-31 14:31] yossigil opened #1125 "Replace for (?;?;?) {} by for (?;?;?) ; ie empty block to empty statement"
Same for while and do loops.

[2017-02-06 12:18] orimarco opened #1126 "Tables"
- [ ] All big Rs to small r - Matteo
- [ ] highlight guava lines - Matteo
- [ ] Tables to one column - resize width or replace repository names with letters - Matteo
- [ ] Table 2.1 - reconstruct data as much as can

[2017-02-07 13:30] M4tt30rru commented on #1126
- [ ] All big Rs to small r
- [ ] highlight guava lines
- [ ] Tables to one column - resize width or replace repository names with letters
- [ ] Table 2.1 - reconstruct data as much as can

[2017-02-07 13:32] #1126 closed

[2017-02-10 17:30] yossigil opened #1127 "Make main menu item"
So, just after Refactor, you will have Spartanize main menu. See if Alt-Z or Alt-S are free

[2017-02-10 17:33] yossigil opened #1128 "Mnemonics for cent ¢ and lambda λ"
We need short cuts for these, and main menu items:

- Insert cent ¢ XXXX
- Insert lambda λ YYYY

Where XXXX are good menemonics, ideally Ctrl-C and and Ctrl-L, but I presume these are taken

[2017-02-10 18:17] OriRoth commented on #1128
What exactly is the operation you want? Textually adding those characters?

[2017-02-10 19:11] yossigil commented on #1128
Yes. (is there something I miss?)

[2017-02-10 21:27] OriRoth commented on #1128
Done, see `CharacterShortcut`. Note that in order to make changes to the current scheme, one should change `plugin.xml` as well, not this file solely.
At the moment you can insert a single `¢` to your code by typing `ctrl+alt+c` and `λ` by `ctrl+alt+l`. `ctrl+c/l` are already taken... there might be more *comfortable* shortcuts, such as `ctrl+alt+q/w/e`.
Another option I though of is a single shor

[2017-02-10 21:30] OriRoth commented on #1128
Also notice parallel shortcuts are provided by some operating systems- for example, there is a simple shortcut (`ctrl+something`) to ¢ in MAC. In Windows it is `alt+0+1+6+2`... is it configurable? Probably in some OS...

[2017-02-11 20:57] OriRoth commented on #1127
Now there is a single `Refactoring` tab. I have added a mnemonic `t` to `Refactoring` tab, so now you can access `Spartanizer` menu by typing `Alt+t` then using the arrow keys to navigate to and in it.
Shortcut options (mnemonics) are quite limited, nevertheless every menu option already has a keyboard shortcut.
I can use the mnemonic `R` for `Refactoring`, but it collides with `Run`... looks bad,

[2017-02-11 20:57] #1127 closed

[2017-02-11 21:02] OriRoth commented on #1124
This should be done using flow control (from research). This tipper may be a nice practice for it.

[2017-02-12 16:53] OriRoth opened #1129 "Yet another if tipper"
[code]
==>
[code]

[2017-02-13 17:54] yossigil commented on #1124
Indeed.

[2017-02-13 17:55] yossigil commented on #1127
It still does not work for me. I cannot run the plugin

[2017-02-13 18:23] OriRoth commented on #1127
On my machine it took about a minute to build the Spartanizer project, and showed 123 Spartanization suggestions. All the Spartanization top menu options seam to work. I have not made changes that can interfere with the plugin's loading during my work on the preferences revision...
@orimarco can you check if you are able to run the plugin on the Spartanizer project? Try spartanize it through the t

[2017-02-25 20:20] OriRoth commented on #1121
Done for now.

[2017-02-25 20:20] #1121 closed

[2017-02-25 20:23] #1086 closed

[2017-02-25 20:24] #1083 closed

[2017-02-28 21:33] OriRoth opened #1130 "Create description + preview for all Tippers"
New preferences mechanism for the plugin shows a short description + usage example (= "before/after" = preview). Currently all Tippers has default implementations for `description` (class's name) and `preview` ("[no preview available]") methods. We need to create a specific `description` and `preview` methods for each Tipper, then making `description` and `preview` **abstract**- this is a good pra

[2017-03-01 12:55] #351 closed

[2017-03-03 01:00] OriRoth opened #1131 "Spartan Refactoring desktop application - convert to wiki page"
We want an Eclipse independant, desktop application.

`il.org.spartan.spartanizer.cmdline.Application` is an Eclipse application Daniel has written a while ago. I tried to export it, but encountered difficulties... I followed some of the explanations [here](http://www.vogella.com/tutorials/EclipseTycho/article.html#exercise-tycho-build-for-products).

At the moment it seams I would not be able to

[2017-03-03 01:48] OriRoth commented on #1131
@yossigil I continued Daniel's work a bit, but as you can see... no luck. In my opinion the next step is to check whether it is possible to create the application from the IntelliJ plugin.

[2017-03-03 14:47] OriRoth commented on #1131
Done. Now we should create wikis for product maintenance and usage.

[2017-03-04 08:15] yossigil opened #1132 "Two successive update assignment into one"
[code]

[2017-03-04 09:26] #1132 closed

[2017-03-04 18:34] yossigil opened #1133 "Assignmnet to X and then update assignment to X"
Convert
[code]
to
[code]

[2017-03-04 18:47] #1133 closed

[2017-03-05 09:35] yossigil commented on #1130
I think it is best if Tipper inherits from TipperPreview

[2017-03-09 16:18] M4tt30rru opened #1134 "MalformedTreeException while parsing Bazel software system"
While running Table_RawNanoStatistics on Bazel (one of the most starred GitHub project) a MalformedTreeException is thrown.

[2017-03-09 18:58] M4tt30rru opened #1135 "java.lang.IllegalArgumentException while parsing Kotlin software system"
While running Table_RawNanoStatistics on Kotlin (one of the most starred GitHub project) a IllegalArgumentException is thrown.

[2017-03-09 18:58] #1134 closed

[2017-03-09 19:24] #1135 closed

[2017-03-10 14:43] M4tt30rru opened #1136 "Switcth -o (redirect to output folder) not working for all Table_* classes"
Example, when running Table_RawNanoStatistics with the following arguments
`-i  26-starred-Android -o /home/matteo PhotoView`
the result is not saved in the selected folder (/home/matteo, in this case) but the default temporaryfolder /tmp

[2017-03-10 19:22] yossigil opened #1137 "Convert TestUtilsBloat to use the new rerun semantics"

[2017-03-11 10:25] #1136 closed

[2017-03-11 16:38] yossigil opened #1138 "Convert a+=1 to a++;"
Be careful, 'a' may be of type String.

[2017-03-11 16:41] yossigil opened #1139 "Convert for/switch/while(?;true;?) { if (a) { f(); break; } } ... to for/switch/while(?;true;?) { if (a) { break; } } f();..."
Tricky, must only do that for the enclosing for/switch/do/while

[2017-03-13 11:45] yossigil opened #1140 "Purim: Include Spartan Warrior on readme.md"
![image](https://cloud.githubusercontent.com/assets/12775400/23852989/357ff2c4-07f3-11e7-8900-eabf9467744a.png)

[2017-03-13 12:43] yossigil opened #1141 "Make a main menu: Spartanizer"
That is, do not make the spartanizer a sub menu of Refactor. It should be main menu at the same level as Refactor.

[2017-03-13 12:44] yossigil commented on #1140
Upon closing remove all labels

[2017-03-13 13:39] OriRoth commented on #1140
You can edit top comment to access picture URL.

[2017-03-13 13:54] orenafek commented on #1140
Done :fearful:

[2017-03-13 13:54] #1140 closed

[2017-03-13 14:08] #1141 closed

[2017-03-13 16:45] M4tt30rru opened #1142 "NullPointerException thrown when running Table_Summary on Gradle"
A NullPointerException is thrown when running Table_Summary on Gradle. Then the program exits.

[2017-03-13 20:12] M4tt30rru opened #1143 "InfixAdditionSubtractionExpand tipper does not work with some mathematical expressions"
This happens for example with the following string:

`"365 * a + a / 4 - a / 100 + a / 400 + (b * 306 + 5) / 10 + c - 1"`

found in class is com.blankj.utilcode.utils.LunarUtils.java of AndroidUtilCode (https://github.com/Blankj/AndroidUtilCode, commit id a2e6a93).

Other 'critical' mathematical expressions are:

`"365 * a + a * 4"`

and

`"365 * a + a / 4"`

[2017-03-15 10:12] #1131 closed

[2017-03-15 18:01] M4tt30rru opened #1144 "InfixAdditionSubtractionExpand and InfixAdditionSort applies occasionally to the same strings (math formulas)"
It is the case of

`"1+a*b+2+b*c+3+d*e+4"`

as shown in InfixAdditionSortTest. It is related to Issue #1143.

[2017-03-16 06:54] yossigil commented on #1097
See also #1105

[2017-03-16 09:46] M4tt30rru commented on #1143
Done

[2017-03-16 09:46] #1143 closed

[2017-03-16 09:47] M4tt30rru commented on #1142
Done

[2017-03-16 09:47] #1142 closed

[2017-03-16 09:58] #1144 closed

[2017-03-16 10:47] yossigil commented on #62
OOPS It was 62 on BitBucket

[2017-03-17 15:23] M4tt30rru opened #1145 "anonymize.makeUnitTest() generates tests with illegal names"
Depending on the __codefragment__ parameter the name of the generated test might be illegal.
It is the case of the following test:
[code]
that obviously fails.
The proposed test is the following:
[code]
whose name's first character is a number.

[2017-03-17 15:26] #1145 closed

[2017-03-19 13:10] yossigil opened #1146 "Initializer and increment/decrement: 'int value = a[(i++)]; --value;' -> final int value =a[i++]-1;"
[code]
no need to make sure the variable is not changed later.

[2017-03-19 14:01] yossigil opened #1147 "Bug is switch"
[code]
should not be sorted.

[2017-03-20 15:46] #940 closed

[2017-03-20 15:47] #1095 closed

[2017-03-20 15:51] #317 closed

[2017-03-20 16:00] OriRoth commented on #169
**Weekly plan 19/3 - 26/3:**
* Completing TODOs (as much as possible)
* Start working on "joystick" GUI

[2017-03-20 16:03] yossigil commented on #1110
Only kill the assignment if the 'from' is something for which 'iz.sink' returns true/

[2017-03-20 17:00] OriRoth opened #1148 ""Ignore" tests need reviewing"
`trimmingOf(...).stays()` has a serious bug- it does not report failures in `Trimmer`, thus a test may pass when the tipper fails to some exception. I think I wrote `stays`, and at the time of its creation it was not a big issue. It clearly needs reviewing, while improving `Trimmer`'s exceptions report capabilities (listener?).

*Note*: it is now being used, for example, in `ExamplesTests`

[2017-03-20 18:03] #1110 closed

[2017-03-20 18:07] OriRoth commented on #1110
Done, see `AssignmentAndAssignmentOfSameVariable`.
@yossigil no test file only examples (should be fine for simple tippers in my opinion). Also used `sideEffects.sink`.

[2017-03-20 21:02] mdoron commented on #1116
@yossigil issue #1047 seems to be solved. Can you specify this (1116) issue's purpose?

[2017-03-20 21:09] yossigil commented on #1137
@dormaayan

[2017-03-20 21:13] yossigil commented on #1148
@yuvalsimon : please lead the discussion with Doron. Ori: give them tips on cost, etc.

[2017-03-20 21:19] yossigil commented on #1123
The tricky part: do not do it in this case:

[code]

Easiest way IMHO: Ignore it, this would eventually converge.
But do create a test that has a chain of gives to that proves that the convegence happens.

Don't forget to check that X is not null.

[2017-03-20 21:56] OriRoth commented on #1148
"cost"?
In my opinion the best way to implement this is with a listener. This listener would record exception thrown by tippers.
* Should be added in `Trimmer` and invoked in `Trimmer#consolidateTips` and `Trimmer#makeTipsCollector` (I believe).
* Probably would be a `Consumer<Throwable>` defaults to `e -> {}` (or null?).
* A good opportunity to make `Trimmer` more configurable and fluent. This is

[2017-03-20 22:12] OriRoth opened #1149 "Spartanization disabling mechanism problems"
@yossigil please elaborate. I didn't managed to recreate any problem, so I'll need a code example (with what you are trying to disable + where do you put the disabling comment). It might be OS related, but I don't think so (though I will check it if needed, of course).

[2017-03-21 07:39] orimarco commented on #991
deprecated

[2017-03-21 07:39] #991 closed

[2017-03-21 07:39] orimarco commented on #957
dead end

[2017-03-21 07:39] #957 closed

[2017-03-21 07:43] orimarco commented on #930
rejected nano, so why bother

[2017-03-21 07:43] #930 closed

[2017-03-21 07:43] orimarco commented on #927
Deprecated `JDPattern`

[2017-03-21 07:43] #927 closed

[2017-03-21 07:44] orimarco commented on #926
Too hard to replace.
Still in the table of candidates. Which is a great honor.

[2017-03-21 07:44] #926 closed

[2017-03-21 07:46] orimarco commented on #865
Nano - `SelectBy` should cover this example.

[2017-03-21 07:46] #865 closed

[2017-03-21 07:47] orimarco commented on #854
Great idea @orimarco, maybe another time.

[2017-03-21 07:47] #854 closed

[2017-03-21 07:47] orimarco commented on #837
Deprecated this research path.

[2017-03-21 07:47] #837 closed

[2017-03-21 07:48] orimarco commented on #501
#991

[2017-03-21 07:48] #501 closed

[2017-03-21 07:49] #502 closed

[2017-03-21 07:50] orimarco commented on #487
Hard to detect without semantic analysis.

[2017-03-21 07:50] #487 closed

[2017-03-21 07:50] orimarco commented on #481
Part of `Aggregate`

[2017-03-21 07:50] #481 closed

[2017-03-21 17:07] mdoron commented on #1092
@yuvalsimon Yuval I cannot reproduce this problem, it seems like this LongIfBloater just doesn't do anything. Can you give me a hand in reproducing the problem?

[2017-03-21 17:11] OriRoth commented on #1092
@mdoron did you run it on `enumerate.java`? Did you confirmed it does not stuck in a loop?

[2017-03-21 17:33] mdoron opened #1150 "Concatenate string literals"
Convert:
`"Doron" + " " + " Meshulam"`
Into:
`"Doron Meshulam"`

Getting warm up with @NivShalmon.

[2017-03-21 17:37] mdoron commented on #1092
@OriRoth  yes, I did, and it just does't do anything. Would you like to check it yourself? Yuval says it suppose to over-bloat until limit of permitted line number;

[2017-03-21 18:35] mdoron commented on #1092
OK I'm closing until someone can reproduce this issue, @yuvalsimon reopen this if you can.

[2017-03-21 18:38] mdoron commented on #256
@yossigil can you add an example since not me nor Raviv fully understood this issue back at the time?

[2017-03-21 18:47] OriRoth commented on #1092
Yuval has given you enough information. When zooming `enumerate.java` with `LongIfExpander` in the `InflaterProvider` I get multiple `java.lang.IllegalArgumentException`, check it out. Be sure you are zomming the entire file at once, by clicking on the file in the package explorer then type `ctrl + alt + d`.

[2017-03-21 18:49] OriRoth commented on #256
[code]
==>
[code]

[2017-03-21 18:54] mdoron commented on #1092
@OriRoth I got it too, but I didn't get the infinite loop he was talking about so this is problem is for another issue. I tried to investigate this problem also and am about to open different issue for it.

[2017-03-21 19:51] mdoron commented on #1092
@tomerdragucki, logically, does this bloater must duplicate code? Why
[code]
becomes
[code]
and not
[code]
?

[2017-03-21 20:07] mdoron commented on #1108
@yuvalsimon what's going on with this issue? I'm not sure whether the current implementation answer this request or not, can you help me understand if it does since you are the one who faced this problem? I think it does but I'm not 100% sure so I don't want to close this issue.

[2017-03-21 20:09] OriRoth commented on #1092
The first two options are logically equivalent. The third is not equivalent to them.

[2017-03-21 21:19] mdoron commented on #1092
So it seems like the only solution is to extract the `else` code into a void function, and then we avoid duplicating large codes, but create new functions which is not a necessarily a wanted behavior.

@tomerdragucki, I'm letting you call on this one, you should decide whether to eliminate this Bloater or implementing my solution (or better solution).

[2017-03-21 21:34] yossigil commented on #256
Search in the internet; this is one of the classical examples. In general, the problem is tough, e.g.,
[code]
To solve this properly, find a method (there is one) that finds all variables modified/used in an expression.
then you check all statements that you wish to skip, and collect all variables used in these.
Intersetion `removeAll` will tell you if the move is safe or not.

[2017-03-21 21:41] dormaayan opened #1151 "Document All the Classes Regarding Naming"
Document all the following classes under namespace folder before I start to work on them.

[2017-03-21 22:31] yossigil commented on #1150
There is such a tipper already, and it is disabled. Search for it, and make it useful.
You combine strings if they are on the same line. A bit of research in ASTNode to
find out how to find line numbers.
@dormaayan : you did something similar, right?

[2017-03-21 22:35] yossigil commented on #854
Indeed, amazing idea: you can advise student how to do it

[2017-03-21 22:41] #841 closed

[2017-03-21 22:50] yossigil commented on #1149
Let's close it until I can reproduce. I tried spartanizing the spartan project. You should try doing it once...

[2017-03-21 22:50] #1149 closed

[2017-03-21 23:08] #623 closed

[2017-03-21 23:09] #384 closed

[2017-03-21 23:09] #397 closed

[2017-03-21 23:09] #516 closed

[2017-03-21 23:10] yossigil commented on #1146
Try to use the new mechanisms:
- examples
- saving of variables in checking
- using variables in inovcation

[2017-03-22 00:04] OriRoth commented on #1146
Also consider this:
[code]

[2017-03-22 00:22] OriRoth commented on #1146
We may create a more generalized tipper:
[code]
==>
[code]
It is up to you.

[2017-03-22 01:27] yuvalsimon commented on #1108
Yes, it should work, it solves the issue, I'll also check it on run today.

[2017-03-22 01:51] yuvalsimon commented on #951
@yossigil It was done by @M4tt30rru

[2017-03-22 01:51] #951 closed

[2017-03-22 06:55] yossigil commented on #1108
I think this should issue should be moved to @dormaayan

[2017-03-22 06:57] yossigil commented on #1146
@NivShalmon : good luck.

[2017-03-22 07:35] #322 closed

[2017-03-22 08:01] #311 closed

[2017-03-22 10:50] mdoron opened #1152 "Week 1: Group & Personal Tasks"
# Week 1: Group & Personal Tasks
Hi team 12, this is the first week of the semester, and we are back to business again.

## Team Meeting Summary
1. For those of us who didn't touch the project in the last two months, the first and second week will be the opportunity to get on the wave again by coding simple stuff.
2. In the bottom line, we understood that we have to clean the 'leftovers' from the

[2017-03-22 17:05] NivShalmon commented on #1125
I'll do this as part of #1152

[2017-03-22 18:22] #1125 closed

[2017-03-23 08:23] yossigil commented on #1150
@mdoron : do not work using others account; you thought you did, but you did not

[2017-03-23 08:47] dormaayan commented on #1137
Done

[2017-03-23 08:47] #1137 closed

[2017-03-23 08:53] NivShalmon commented on #1150
We did not find the original tipper, so we made a new one. As @yossigil suggested, it concates string literals only if both are in the same line

[2017-03-23 11:23] yossigil opened #1153 "Convert serial version uid to hexdecimal"
Convert
[code]
to
[code]

[2017-03-23 11:33] mdoron commented on #1150
@yossigil I'm sorry but I didn't understand your comment. I uploaded this file and then we skype'd together and Niv commited the file. Isn't that ok? You said we should warm up togerther..

[2017-03-23 15:25] yossigil commented on #1150
Do not commit using anyone else's account

[2017-03-23 16:58] dormaayan commented on #1138
@yossigil : I already implemented that but then I noticed we have an expander which turn `a+=1` to `a = a+1`
Which one do you think is more suitable for that case ? I support the `a = a+1`

[2017-03-23 18:38] yossigil commented on #1138
this is a trimming tipper, not expanded.

[2017-03-23 18:42] dormaayan commented on #1138
@yossigil : Sorry, Didn't notice, I'll also update the test utilities of the trimmers to support binding, too.

[2017-03-23 18:51] yossigil commented on #1153
Done.

[2017-03-23 18:51] #1153 closed

[2017-03-23 20:42] #232 closed

[2017-03-23 20:43] yossigil commented on #147
@tomerdragucki : you did not really finish this, did you?

[2017-03-23 20:44] #1065 closed

[2017-03-23 20:50] yossigil commented on #431
no longer relevant

[2017-03-23 20:50] #431 closed

[2017-03-23 20:50] yossigil commented on #403
no longer relevant

[2017-03-23 20:50] #403 closed

[2017-03-23 20:54] yossigil commented on #286
no longer relevant

[2017-03-23 20:54] #286 closed

[2017-03-23 21:01] OriRoth commented on #1129
@NivShalmon BEWARE!
[code]
!=
[code]

Also `b3` in this case should have no side effects.

See `sideEffects#free` and `iz#blockEssential`

[2017-03-23 21:07] OriRoth commented on #1152
There is no point for renaming our karma pages if we intend to use this issue. Yossi offered [this](https://github.com/TechnionYP5777/SmartParking/issues/5) style, so we may use it. Starting next week each person will post his own assignment on this issue. Notice everyone can edit each post on this issue, so we should clear irrelevant content and remove stale posts (like this one).

[2017-03-23 21:11] OriRoth commented on #1152
Please rename your karma pages to *Weekly Log for ____ ____*

[2017-03-23 21:20] OriRoth opened #1154 "Vacations"
| Member | Week1 | Week2 | Week3 | Week4 | Week5 | Week6 | Week7 | Week8 | Week9 | Week10 | Week11 | Week12 | Week13 |
|--------|-------|-------|-------|-------|-------|-------|-------|-------|-------|--------|--------|--------|--------|
|@dormaayan|       |       |       |       |       |       |       |       |       |        |        |        |        |
|@mdoron|       |       |       |       |

[2017-03-23 21:26] OriRoth commented on #1152
@dormaayan use this format please.

[2017-03-23 22:21] OriRoth commented on #919
Can you give an example? I don't understand.

[2017-03-24 01:20] yuvalsimon opened #1155 "Bug in StatementExtractParameters"
[code]
converted to
[code]
You can find this in MethodExplorer.java class.

[2017-03-24 01:40] yuvalsimon commented on #1155
Another bug:
[code]
goes to
[code]
The code is from Recursive.java class

[2017-03-24 01:54] yuvalsimon opened #1156 "Bug in FragmentNoInitializerRemoveUnused"
The variable '$' is removed here: (in case 1)
[code]
goes to
[code]
You can reproduce it by bloating and then spartanizing BlockSimplify.java class

[2017-03-24 02:17] yuvalsimon opened #1157 "Bug in variable abbreviation"
With tipper SingleVariableDeclarationAbbreviation:
[code]
goes to
[code]

[2017-03-24 02:31] yuvalsimon opened #1158 "Bug in annotation sorting"
With tipper AnnotationSort:
[code]
goes to
[code]

[2017-03-24 04:25] yossigil commented on #1158
@kobybs : your help please...

[2017-03-24 08:53] kobybs commented on #1158
I'm on it.

[2017-03-24 09:51] OriRoth commented on #1155
The second one is a problem with Eclipse I think... It duplicates annotation for template names for some reason (also in code auto-complete, for example).

[2017-03-24 10:05] kobybs commented on #1158
dear @yuvalsimon  @yossigil
This bug is not about the sorting but about comments handling,
which wasn't written by me therefore I haven't achieved much success fixing it.
please see issue #881

[2017-03-24 11:39] OriRoth commented on #1158
Not sure about that. Try using `copy.of(...)` instead of `createMoveTarget`.

[2017-03-24 12:20] OriRoth commented on #451
@yossigil it seams to inline fine now, please confirm this is what you expected so I'll be able to write a test for this issue:
[code]
==>
[code]

[code]
==>
[code]

[code]
==>
[code]

[2017-03-24 14:25] yossigil opened #1159 "Add "Add Default" zoomer"
The spartanizer should make your code shorter, this one does not.

[2017-03-24 14:30] yuvalsimon commented on #1092
Ok it actually seems to work fine. The problem is that it has to duplicate else statements, for example
[code]
goes to
[code]
The problem in enumerate.java is that there is a long if-else statemet in the following structure:
[code]
and after first expansion
[code]
Then the else block is duplicated as in the example above, so it grows exponentially to about 17000 lines!
I think we should avoid expa

[2017-03-24 15:00] yuvalsimon commented on #1147
How should I sort it then? according to the rules I wrote in #861 it should be sorted.
What about
switch (digits(round3(¢))) {
      case 2:
      case 0:
        return "%.3f";
      case 1:
        return "%.2f";
      case -1:
        return "%.1f";
      default:
        return "%.0f";
    }

[2017-03-24 15:02] yuvalsimon opened #1160 "Another bug in switch tipper"
[code]
goes to
[code]
==> Code unreachable error

[2017-03-24 15:06] OriRoth commented on #194
See 8532813767b448575349e070d8587aeaf3ef8a50. My solution is to "normalize" the then section of the if statement, i.e. if it is a block that does *not* end with a sequencer, we add the following sequencer (i.e. `nextStatement`) to it. Changes to `IfCommandsSequencerNoElseSingletonSequencer`:
[code]
==>
[code]

Now the test case from the first comment of this thread is passing.

@yossigil please co

[2017-03-24 15:09] yossigil opened #1161 "Eliminate code clones in BloatTestUtils"
Code was generated by copy and paste. Not good.

[2017-03-24 15:14] yossigil commented on #1160
I take an admin decision: the switch was a nice exercise, both for you and for @OriRoth . In both cases, we ended up with something that does not do us much good, but gives us a lot of pain. So, I would like to disable all switch tippers for now. The whole switch thing has to be redone...

Only one or two tippers should remain: unite branches with same code, which reduces code size, and perhaps co

[2017-03-24 15:15] OriRoth commented on #1159
A good bloater though!

[2017-03-24 15:16] yossigil opened #1162 "Configuration option: Use 'it' instead of cent..."
Not urgent. But, eventually, this has to be done.
@OriRoth  can help with the gui, but this is mostly internal work.

[2017-03-24 15:16] yossigil commented on #1159
Good point

[2017-03-24 15:18] OriRoth commented on #1092
Yeah I talked with Doron about it... this bloater should be removed, or at least limited by some heuristic.

[2017-03-24 15:19] yossigil commented on #194
Sure. go ahead

[2017-03-24 15:20] yossigil commented on #1147
If these are numbers they should be sorted numerically

[2017-03-24 15:25] OriRoth commented on #1162
This would be included in @dormaayan 's planned tool. I will try to involve him more with GUI work so he would be able to do so by himself.

[2017-03-24 15:50] #194 closed

[2017-03-24 15:56] #1160 closed

[2017-03-24 16:00] yuvalsimon commented on #1160
I fixed it anyway, it is related to other switch tippers as well. The bug probably failed spartanizing of switch statements where last statement was empty case branch, but it is fixed now. I'll disable the tippers you said.

[2017-03-24 16:37] yuvalsimon commented on #1147
Do you want me to do it? You did not say to enable this tipper in #1160.
So if a branch has two cases on it such as `case 2: case 1:` I'll treat it has a branch with only `case 1:` for the sorting (the minimal number).

[2017-03-24 16:47] OriRoth commented on #1147
Consider more flexible implementation, so Yossi will be able to edit it without going into implementation details. For example, defining `Comparator`s as a static final array.

[2017-03-24 17:43] mdoron commented on #1092
@yuvalsimon read my comment above yours, I think we'll keep this bloater out of the toolbox for now, and the original author of it will try to fix it.

[2017-03-24 17:57] OriRoth commented on #1138
We can use the naming mechanism to track types of variables for free @yossigil @dormaayan . We can store references to variable declarations as well as for their names.

[2017-03-24 18:01] yossigil commented on #1138
Class Namespace is a home made approximation of binding. Perhaps it should be defunct.

[2017-03-24 18:37] yossigil commented on #1147
Yes... It should take 5 min, not even worth discussing

[2017-03-24 19:04] yossigil commented on #1162
The GUI/IT issue would be born in time,if you think the time is now do it

[2017-03-24 19:08] yossigil commented on #451
The whole inlining business is tough. I started working on it. Here are the issues:

1. What is the inlined expression? Does it have sideeffects? Is it determinstic?
2. How many time would the inlined code be executed? Once for sure? Zero or once? Zero or more?
3. Does the inlined expression depend on variables that might be changed?

The solution must be thorough. Otherwise we will keep beating a

[2017-03-24 19:10] yossigil commented on #919
Suppose that there is a `return` at the end?

[2017-03-24 19:14] yossigil commented on #1158
@kobybs part of the course experience is enjoying fixing bugs you created along your career. We don't want you to miss it, so I place this on your shoulders. Please try to get it over with over the weekend

[2017-03-24 19:30] yossigil commented on #1129
I am here

[2017-03-24 20:02] yuvalsimon commented on #1147
Alright, I made it easier to changes priority order, you just have to change the order in the priorityOrder array. I will add documentation for this class and comparator for sorting by numeric value of cases. The current order is I wrote in #861.

[2017-03-24 20:10] yossigil commented on #1147
Great. Now finish the mission

[2017-03-24 20:32] yossigil commented on #1128
Can  you please add this to the menu, no chance for me to remember this?

[2017-03-24 21:21] yuvalsimon opened #1163 "Bug in TernaryBooleanLiteral"
[code]
goes to
[code]

[2017-03-24 21:40] #1123 closed

[2017-03-24 21:46] #1128 closed

[2017-03-24 21:47] OriRoth commented on #1128
Spartanize -> ¢
#got_hacked

[2017-03-24 21:47] dormaayan commented on #1161
@yossigil : Are we going to change the tests for binding to what you showed me today now ? If yes I'll start to work on that right away and will change everything that is needed.

[2017-03-24 21:50] dormaayan commented on #1138
I putt it in hold now until I'll add the binding support both for the Bloaters and the Tippers

[2017-03-24 21:52] OriRoth commented on #1128
@dormaayan http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Fguide%2Fworkbench_advext_contexts.htm

[2017-03-24 21:54] yuvalsimon opened #1164 "Bug in CasesSplit"
[code]
goes to
[code]
==> Duplicate local variable error

[2017-03-24 21:54] OriRoth commented on #1163
There is a utility that tells you if parenthesis are required in an expression.

[2017-03-24 22:01] dormaayan commented on #1162
@OriRoth : thats can be a great introduction to the GUI world  for me, let's talk about that next week

[2017-03-24 22:06] yossigil commented on #1163
the problems is not parenthesis but the interpretation of null.Null is  a valid Boolean value, but it not
a valid boolean value. To do the transformation, you try to use null is boolean. This is not possible.
It is not poissble. also if instead of null, you had a function of type Boolean (but not boolean), which may have returned a
null Boolean?

The only correct way to deal with this is to check

[2017-03-24 22:58] yuvalsimon commented on #1092
I see, I missed it somehow. So Tomer will decide what to do.

[2017-03-25 08:23] kobybs commented on #1158
Probably done, check it out. many thanks to yuval and ori for directions.

[2017-03-25 08:23] #1158 closed

[2017-03-25 08:24] kobybs commented on #283
Why is it closed? tests are still failing.

[2017-03-25 12:04] kobybs commented on #283
well, fixing the duplication itself was rather easy. I have no idea how to commit changes into the AST, in my days it was done like that:
[code]

now it's not working anymore.

[2017-03-25 12:27] #283 closed

[2017-03-25 12:28] kobybs commented on #283
Done.

[2017-03-25 17:50] yossigil commented on #283
Kudus Koby!

[2017-03-25 18:04] yossigil commented on #1138
Can you try using the Namespace? This way we can decide whether it is worth maintaining

[2017-03-25 20:26] #1147 closed

[2017-03-25 20:29] yuvalsimon commented on #1147
I'll add the documentation as part of the todos I already in switchBranch class. I also had to fix the depth calculation, I used some function that did not do what I thought.

[2017-03-26 05:34] dormaayan commented on #1138
The using of namespace isn't working in all cases, for example with multiple variables, needs a further inspection if we go in that path.
The issue itself is done.

[2017-03-26 05:34] #1138 closed

[2017-03-26 05:43] OriRoth opened #1165 "Allow termination of spartanization builder"
A.k.a stop builder with red button (currently does nothing and is really annoying).

[2017-03-26 12:34] mdoron opened #1166 "Week 2: Group & Personal Tasks"
# Week 2: Group & Personal Tasks
Second week, warm up is over, we are almost in full composition this week, so big decision can be taken. Also our work should be more efficient and faster, and everyone will get more "heavy" tasks.

## Team Meeting Summary
### Sunday
We reviewed our tasks for the first stage (until Passover), and our _Week 1_ tasks. Proposed more architectural changes which will be

[2017-03-26 12:35] ravivos opened #1167 "Choosing the next step"
Hello team.
Passover is right ahead and we need to come up with goals for the following semester, including architectonic changes, UX improvements and new features (may be even a major one).
The following suggestions had been brought up in today's meeting (26/03/17) and here they are:

1. Adding a widget with buttons that will be always in the background and can be used with a hover of a mouse.
2.

[2017-03-26 12:37] ravivos commented on #1166
relevant for #1167

[2017-03-26 13:36] #1116 closed

[2017-03-26 17:48] NivShalmon commented on #1129
This tipper got a bit weird since I needed to run `iz#blockEssential` on an IfStatement that isn't part of an ast yet, I solved this by putting it in the original ast momenterally, but I'm not sure this is safe, so I added a try finally block in this second commit just to be safe and make sure the ast is returned to it's original form.

[2017-03-26 18:05] orimarco opened #1168 "Bug (NPE)"
Test case:
[code]
Causes infinite NPE

[2017-03-26 18:12] OriRoth commented on #1129
This is generally not recommended (we don't really know the implications). I'll deal with it.

[2017-03-26 18:17] NivShalmon commented on #1129
figured as much, I think this can be solved by going up the tree as far as `iz#blockEssential` needs and copying it from there down. I belive thats as long as the parents are still if statements? I'll try this tommorow and see if I can make this work.

[2017-03-26 19:12] dormaayan commented on #1013
Checked it, it seems like working well and covering the relevant cases

[2017-03-26 19:12] #1013 closed

[2017-03-26 19:21] dormaayan commented on #133
@yossigil
My assigned issues for the last week:

 1. #1137 - integrated the new test logging to the BloaterTestUtilities
 2. #1138 - a tipper which demonstrates possible usage of namespace.
3. #1123 (eventually you did it)
4. #1013 Nothing Special
5. I also worked on  #1161 and on combining binding with AlphabeticallySortedSentence and MetaFixture, hope for a working mechanism in the near time.
6.

[2017-03-26 19:47] OriRoth opened #1169 "Replace node with another in newly created node"
In order to replace `a` with `b`:
[code]
It works iff:
1. `a` is an *old* node, from the old AST
2. `b` is a *newly created* node

So how can we swap `a` and `b` if `a` is a newly created node? If you know `a`'s parent and `a`'s location in it, it is simple:
[code]

I have found a general way of doing so:
[code]

@yossigil please find a suitable place for this utility, and remember it exists (pret

[2017-03-26 20:15] OriRoth commented on #1169
I got confused :|

[2017-03-26 20:15] #1169 closed

[2017-03-26 20:21] OriRoth commented on #1169
OK what I wrote is true, although I would not use it in `Inline` because it does not work for some reason... see #1168

[2017-03-26 20:32] #1168 closed

[2017-03-26 20:57] OriRoth commented on #1148
Also fix `doesNotCrash` - same problem, same solution.

[2017-03-26 21:23] #1122 closed

[2017-03-26 22:45] #1093 closed

[2017-03-26 23:10] yuvalsimon commented on #1082
The bug is solved already @yossigil . I can convert the code above to
[code]
but need binding for this

[2017-03-26 23:17] yuvalsimon commented on #587
Week 1 report:
- Solved a bug in switch branch sort tipper #1147
- Improved bloater implamantation #1093
- Searched for bugs in the spartanizer and bloater

[2017-03-27 07:27] mdoron commented on #1139
I understood that we should do it for the following cases:
1. `for(?;true;) {if (a) { f(); break; }}
2. `while(true) {if (a) { f(); break; }}

What case of `switch` should we do it.
@yossigil explain with more details?

[2017-03-27 08:31] ravivos commented on #519
week 1 - vacation 🎉

[2017-03-27 08:49] mdoron commented on #709
@yossigil in AssignmentAndAssignmentBloater, why do I need to use the `subject` class? I don't create new assignment, I sort of remove unnecessary assignments from one big assignment in a "stupid" way, without knowing the operand. I think using `subject` will complicate this Tipper for no need, as I'm guessing you want me to use `**public** Assignment to(**final** Assignment.Operator ¢)`

[2017-03-27 08:55] OriRoth commented on #1082
What about Strings? We need to use `equals` instead of `==` (well actually not, but this is a secret).

[2017-03-27 09:02] OriRoth commented on #1139
@mdoron this tipper does not collide with #1122, check again.
Also notice:
[code]
!=
[code]

[2017-03-27 09:17] mdoron commented on #1139
A. You're right
B. Regarding the first example, you say that the conditional expression must not have side effects. Correct?
C. Regarding the third example - Yossi wrote that the body of the for should consists only the one and only `if` statement (since in #1122 he used `...` to emphasize the fact we should deal with more statements in the `for` body). The require of more detailed explanation too

[2017-03-27 11:02] OriRoth opened #1170 "ExamplesTests for bloaters"

[2017-03-27 13:02] OriRoth opened #1171 "Decompose array initializer"

[2017-03-27 14:01] OriRoth commented on #169
**Weekly plan** *27/3 - 3/4*:
- [ ] #1170

[2017-03-27 14:15] #1170 closed

[2017-03-27 15:36] OriRoth opened #1172 "Specific tipper test - parent class"

[2017-03-27 19:31] yossigil commented on #1090
@orenafek : this issue is really interesting. I am mentioning you and @amirsagiv83  I think you should think about the rule definition for this one.

I want you to work a bit on the metafixture mechanism that I started for dealing with it. I think it would be useful for your project.

[2017-03-27 19:35] yossigil commented on #1008
@orenafek : For your course.
@amirsagiv83 , @michalcohen Try forming a rule for this.

[2017-03-27 19:42] yossigil commented on #1041
@michalcohen @amirsagiv83

[2017-03-27 19:59] yossigil opened #1173 "Fix bug in proposition printing"
it fails for some reason.

[2017-03-27 20:11] yossigil opened #1174 "Duplo Variant"
A duplo that does and that does not include itself

[2017-03-27 20:14] yossigil opened #1175 "Make class proposition use duplo"

[2017-03-27 20:17] yossigil commented on #1172
Huh? What does this mean?

[2017-03-27 20:47] yossigil commented on #1041
Defunct

[2017-03-27 21:12] yossigil commented on #187
Generalization of #1146

[2017-03-27 21:25] #1041 closed

[2017-03-27 21:55] yossigil commented on #334
Defunct

[2017-03-27 21:55] #334 closed

[2017-03-27 21:56] yossigil commented on #217
defunct

[2017-03-27 21:56] #217 closed

[2017-03-27 21:57] yossigil commented on #168
Defunct

[2017-03-27 21:57] #168 closed

[2017-03-27 22:04] yossigil commented on #469
done by @orimarco

[2017-03-27 22:04] #469 closed

[2017-03-27 22:07] yossigil commented on #434
Done by matteo

[2017-03-27 22:07] #434 closed

[2017-03-27 22:10] yossigil commented on #299
Done

[2017-03-27 22:10] #299 closed

[2017-03-27 22:19] #436 closed

[2017-03-27 22:25] yossigil commented on #300
Defunct

[2017-03-27 22:25] #300 closed

[2017-03-27 22:31] yossigil commented on #152
Defunct

[2017-03-27 22:31] #152 closed

[2017-03-27 22:32] yossigil commented on #271
Defunct

[2017-03-27 22:32] #271 closed

[2017-03-27 22:33] yossigil commented on #200
defunct

[2017-03-27 22:33] #200 closed

[2017-03-27 22:43] yossigil commented on #55
Subsumed by `scope.of` and 'definition.kind()'

[2017-03-27 22:43] #55 closed

[2017-03-27 22:51] yossigil commented on #904
Done with new AbstractPattern and hierarchy

[2017-03-27 22:51] #904 closed

[2017-03-27 22:55] yossigil commented on #56
I think this one should be defunct. @dormaayan  take a quick look and close

[2017-03-27 22:55] #56 closed

[2017-03-27 22:55] yossigil commented on #91
I think this one should be defunct. @dormaayan  take a quick look and close

[2017-03-27 23:05] yossigil commented on #377
What's up?

[2017-03-27 23:45] yossigil commented on #1156
Could not reproduce.

[2017-03-27 23:45] #1156 closed

[2017-03-27 23:47] yossigil commented on #256
try to do something simple, just deal with a list of fragments in a variable declaration statement

[2017-03-27 23:49] yossigil commented on #153
Done. Somewhere. Code is not a bug anymore

[2017-03-27 23:50] #153 closed

[2017-03-28 00:09] yossigil commented on #1016
Be careful; you can only do this if the expression has no side effects

[2017-03-28 00:57] #346 closed

[2017-03-28 01:00] yossigil commented on #1163
@NivShalmon : Maybe your type class can help here?

[2017-03-28 01:02] yossigil commented on #1082
@yuvalsimon : maybe you can limi the tipper to the case where there is only one case and perhaps a default?

[2017-03-28 01:03] yossigil commented on #451
Defunct

[2017-03-28 01:03] #451 closed

[2017-03-28 04:46] dormaayan opened #1176 "Rename Class Fields"
Suggest changes to variables when the distance between the type name and the variable names are very large

[2017-03-28 04:57] NivShalmon commented on #1172
This relates to the robust testing we talked about yesterday.
Usually, when writing unit tests, a test class will have tests for one tipper. Right now, in order to test only that tipper (and not the entire Toolbox), we need to write .using() before any .gives() or .stays() call. This is both tedious and enlarges the code for no real reason.
So, we thought to add a parent class to the test that giv

[2017-03-28 08:38] yossigil commented on #1176
Not difficult for first approximation. Use camelCase for all fields of a unique type

[2017-03-28 08:40] yossigil commented on #1172
Great Idea! We should somehow defunct trimmingOf and move to trimmingWith

[2017-03-28 08:40] yossigil commented on #1172
I think I once started working on this. Look for class 'trim'

[2017-03-28 08:46] OriRoth commented on #1176
What about usage in other files? This may require changes in several files. Though we may change fields' names if they are private / the class is private (then the change should be committed in the entire containing class of the field).

[2017-03-28 08:50] OriRoth commented on #1172
We observed test classes usually test one tipper, so we intend to create test classes that use a specific tipper so the tests may be written fluently. Something like this:
[code]

[2017-03-28 08:52] #1152 closed

[2017-03-28 08:57] OriRoth commented on #265
Why is this on hold? I think I should take the time to make a reliable CFG implementation, so the other CFG issues may be done properly.

[2017-03-28 09:03] OriRoth opened #1177 "Contribution to properties view"
Check whether this is possible and what options does it gives us (tabs? action buttons?).
* [tabs](http://obscuredclarity.blogspot.co.il/2010/06/add-toolbar-to-view-in-eclipse-rcp.html)
* [action buttons](https://www.eclipse.org/forums/index.php/t/225447/)

(this issue will spread over the semester)

[2017-03-28 09:07] yossigil commented on #265
Because it should be done slowly... Talk to me on how to do it.

[2017-03-28 09:42] ravivos opened #1178 "Implementing the abstract pattern system"
reference this issue when working on improving the abstract pattern

[2017-03-28 09:43] yossigil opened #1179 "Oran: change your avatar"

[2017-03-28 09:44] yossigil commented on #1178
:+1:

[2017-03-28 09:45] yossigil commented on #1172
great idea

[2017-03-28 10:09] yossigil opened #1180 "Find and document the class that is used for iteration over files/ast"

[2017-03-28 11:41] #1180 closed

[2017-03-28 12:33] orenafek opened #1181 "Removing a crucial comma"
For some reason, after applying the plugin in the **entire window**,
This code:
[code]
was changed as follows:
[code]

Zooming in on the bug:
[code]

notice that the comma between `p$` and `className`, was removed, even though this comma separates between passed parameters.

[2017-03-28 12:45] OriRoth commented on #1181
Couldn't recreate. Please try doing so again, I suspect the page you tried to spartanize was not saved properly (we should address that, but it is not that crucial). Also tell me please on what version of the spartanizer you are working on (current project? current release? older release?).

[2017-03-28 12:48] OriRoth commented on #1181
Notice this: normally we would expect `path` to become `p` then `$`. It appears `path` was changed to `p` properly, then we got a one character miss for some reason- you can see the `$` came one character after `p`, so we got a space overridden in line 2 and a comma overridden in line 3!

[2017-03-28 12:50] OriRoth commented on #1181
*Update*: this is what I get for the current version of the project with all tippers enabled:
[code]
Notice we can now specify enabled tippers (type `ctrl+alt+q`), so I'll also need to know what tippers you are using.

[2017-03-28 14:01] orenafek commented on #1181
I'm using the latest version from the market (downloaded **today**).
I've selected `Refactoring->Spartanizer->active window`

[2017-03-28 14:21] OriRoth commented on #1181
OK then did you managed to recreate the problem? If so please give me the entire code. Also tell me what tippers you are using (`ctrl+alt+q`).

[2017-03-28 15:43] orenafek commented on #1181
After applying 'active window' I have "ctrl+1"'ed until I could do it anymore ....

[2017-03-28 15:52] #1181 closed

[2017-03-28 16:02] oran1248 commented on #1179
D O N E :)

[2017-03-28 16:02] #1179 closed

[2017-03-28 19:58] integrys-net opened #1182 "Eclipse Neon @ char open spartanize preference dialog"
![eclipse-neon_at-symbol_open_spartanization_preferences_dialog](https://cloud.githubusercontent.com/assets/4998790/24424720/f141c37e-1401-11e7-8a04-521497d476ea.png)
In eclipse neon when press `ctrl+alt+q` with keyboard setted for italian layout with 142 keys, this keys combination open spartanize preferences dialog, if i insert `@` in editing java or xhtml editor.
This issue isn't happen with ec

[2017-03-28 20:52] OriRoth commented on #1182
Hi! Thanks for posting your issue. I found a nice solution:
1. Access the key-binding menu via `Window --> Preferences --> General --> Keys`.
2. Remove filters from search: `Filters...` --> Uncheck all.
3. In the search bar (in the top of the window, just below `scheme`) type `ctrl+alt+q`.
4. You should see all key bindings for this combination. You may remove/edit at will- then press `OK`. The ch

[2017-03-28 20:58] integrys-net commented on #1182
Thnx a lot for your fast reply, i've changed the key combination associated with preferences dialogs. Now works correctly

[2017-03-28 20:58] #1182 closed

[2017-03-29 05:33] yossigil opened #1183 "try meta-tester on class PropositionTest"

[2017-03-29 05:35] yossigil commented on #1179
Now, open your project (look at the right for column with attributes, labels, milestone, and also project)
Study these attributes. Triage stuff

[2017-03-29 10:17] OriRoth commented on #377
It appears someone had already done it (me? Yossi? I don't remember).
Node disabling: `property.set(¢, disabledPropertyId)`
Checking if a node is disabled: `property.has(¢, disabledPropertyId)`

[2017-03-29 10:17] #377 closed

[2017-03-29 11:08] yossigil commented on #408
Dor, please check if you can solve this quickly with the namespace

[2017-03-29 11:10] yossigil opened #1184 "A Python GitHub bot to remove email addresses"
i.e., clean our code

[2017-03-29 11:12] yossigil commented on #278
Oran, think about this

[2017-03-29 11:14] yossigil commented on #1146
This should have been done in week1. @ravivos : please manage

[2017-03-29 11:31] orimarco commented on #459
This is generalized switch

[2017-03-29 11:31] #459 closed

[2017-03-29 11:35] #275 closed

[2017-03-29 11:35] orimarco commented on #275
Have other  ways to annotate pattern occurrences:
1. New syntax
2. Method javadoc for method patterns

[2017-03-29 12:48] orenafek opened #1185 "How to use the standart Java compiler on eclipse"
when trying to fire
[code]

i'm getting a NPE.
(on IntelliJ, I get the default's compiler object)

After Some research online, it seems that this issue could be raised when running under the JRE and not the JDK.
Any thoughts ?

[2017-03-29 13:02] orenafek commented on #1185
This problem blocks #1183
@yossigil  FYI

[2017-03-29 13:09] OriRoth opened #1186 "Put spartanization range and marker range in markers"
For:
[code]
`e` was marked for spartanization but applying the tip did nothing. The problem is that we want to mark `e` but to spartanize the entire catch clause. The obvious solution would be to store "spartanization range" alongside existing "marker range" within spartanization markers.

This is a problem with `CatchClauseRenameParameterToIt`, and for now the tipper is invoked on the entire catc

[2017-03-29 13:18] yossigil commented on #1185
No idea

[2017-03-29 13:18] yossigil commented on #1186
Good point.

[2017-03-29 13:31] OriRoth commented on #1185
Where do you try to invoke it? How do you run your code?

![picture](https://cloud.githubusercontent.com/assets/15183108/24456884/151e44f2-149d-11e7-812c-2f1c0b3422d9.jpg)

[2017-03-29 14:51] ravivos commented on #1184
👍

[2017-03-29 15:59] oran1248 commented on #278
I should implement only the filter?
It will integrate with the existing logging mechanism? (there is one?)

[2017-03-29 15:59] #1186 closed

[2017-03-29 18:23] yossigil commented on #278
just the filter for now

[2017-03-29 18:26] yossigil commented on #76
It should be easy, but more interesting is the zoomer here.

[2017-03-29 18:52] dormaayan commented on #297
@yossigil : Do you suggest here abbreviation to all the variables in a code or to specific cases (for example: very long names contains few words in camelCase) ?

[2017-03-29 19:00] dormaayan commented on #91
@yossigil : Indeed defunct, I close

[2017-03-29 19:00] #91 closed

[2017-03-29 19:19] dormaayan commented on #20
Done

[2017-03-29 19:19] #20 closed

[2017-03-29 20:31] yossigil commented on #187
@NivShalmon : see if you can deal with this as well in the context of #1146

[2017-03-29 20:36] OriRoth commented on #219
I don't understand. Can't it be solved using inlining + forward declaration?

[2017-03-29 20:36] yossigil commented on #219
Related to #1016

[2017-03-29 20:37] yossigil commented on #219
No. this is a tough one.
Precompute subexpressions is not easy

[2017-03-29 20:37] oran1248 opened #1187 "Fix bug in Proposition"
Create a new list instead of changing it.

[2017-03-29 20:39] OriRoth opened #1188 "Utilities to use node properties"
For example, `usesOf` can store the uses references in the node, then get it from there when activated for the second time. Very useful for popular utilities.

[2017-03-29 20:49] #1187 closed

[2017-03-29 20:54] OriRoth commented on #1187
Did you fixed the bug? When committing with message containing `fix`/`close` then an issue reference, GitHub automatically closes the issue.

[2017-03-29 21:03] oran1248 commented on #1187
I don't know if this is the only bug in Proposition class but yes, i fixed that bug.
I'm familiar with option for commiting+closing an issue but i thought (for some reason) that it will close it with this message too.

[2017-03-29 21:16] yossigil commented on #1187
:100:

[2017-03-29 21:19] yossigil commented on #1188
[code]

[2017-03-29 21:19] #1188 closed

[2017-03-29 21:20] yossigil commented on #91
try to erase as much as you can

[2017-03-29 22:17] OriRoth commented on #1188
@yossigil yes I know we have that... What I meant was actually use it in other utilities we have, so we can spare some complicated calculations... will become more relevant when we start doing even more complex code analysis in our tippers.

[2017-03-30 00:57] #1148 closed

[2017-03-30 06:23] yossigil commented on #1188
Great. I am closing for now. Everyone remember to use it class property

[2017-03-30 06:25] yossigil commented on #1185
Perhaps you can make an issue and a test case, and then, we can see whether it depends on linux/windows/etc. test case will just make sure the compiler exists and does not throw an exception

[2017-03-30 06:39] yossigil commented on #37
Defunct

[2017-03-30 06:39] #37 closed

[2017-03-30 10:09] orenafek commented on #1185
Fixed. It turns out that on every IDE one should specifically ask to run using the JDK otherwise it takes the JRE as the default (hence it makes the Compiler unreachable)

[2017-03-30 10:09] #1185 closed

[2017-03-30 12:16] yossigil commented on #1173
Unignore all tests

[2017-03-30 12:19] yossigil opened #1189 "Add a textual printing of proposition."
E.g.,
[code]

[code]

[2017-03-30 12:34] yossigil commented on #1189
use class `Tab`

[2017-03-30 12:38] yossigil opened #1190 "Batch testing"
Make a simple batch tester that runs the spartanizer on itself with no errors nothing else.

[2017-03-30 12:40] OriRoth commented on #1190
@yuvalsimon has added an Exception listener to `Trimmer` while working on #1148 , it should be helpful.

[2017-03-30 12:44] yossigil opened #1191 "Explore javap"
take a java program, and
1. sparranize
2. compile, javap, spartanize
3. compare

[2017-03-30 13:36] yossigil commented on #860
Yuval: I have to reopen this. Sorry. Tests fail

[2017-03-30 14:30] #860 closed

[2017-03-30 14:32] yuvalsimon commented on #860
Fixed, one of the tests checked firstly the switch branch sorting so it failed because it is not in toolbox.
@OriRoth Is there a way to to use trimmer.using only once such that it would work for all the next gives? (check https://github.com/SpartanRefactoring/Spartanizer/commit/c60dada3568c245947614fb35dc88e5e246e0610) It would be better, isn't it?

[2017-03-30 15:13] #1173 closed

[2017-03-30 17:14] yossigil commented on #860
use trimmingOf.using

[2017-03-30 21:26] OriRoth commented on #860
Notice there are currently two `trimmingOf(...).using(...)` methods: `using(Tipper)` and `using(Class<ASTNode>, Tipper)`. The first one does indeed require you to have the tipper in the toolbox! So use the second.

[2017-03-30 21:47] #1105 closed

[2017-03-30 22:02] #1189 closed

[2017-03-30 22:43] #449 closed

[2017-03-31 06:23] dormaayan commented on #76
@ravivos : Are you on it for that week or can I do that ?

[2017-03-31 07:01] yossigil commented on #76
I think this one should be placed on hold. Tough, but not very effective or useful

[2017-03-31 09:48] ravivos commented on #76
@dormaayan
I am on it, milestoned for next week

[2017-03-31 11:00] yossigil commented on #76
Why?

[2017-03-31 16:39] ravivos commented on #76
Because of the other tasks we have prioritized for this week... I guess it can be changed or squeezed in because it's a pretty easy issue.
Not sure if it should, though

[2017-03-31 17:21] yossigil commented on #76
ok

[2017-03-31 17:26] yossigil commented on #1129
I think @NivShalmon  pretty much finished this

[2017-03-31 17:27] yossigil commented on #1178
The system is up and working. No more work on this. You can add abstract pattern as required.

[2017-03-31 17:28] #1178 closed

[2017-03-31 17:28] yossigil commented on #1146
I think @NivShalmon pretty much finished this

[2017-03-31 17:29] yossigil commented on #1167
Please break this into closeable issues.

[2017-03-31 17:40] yossigil opened #1192 ""To Join" Wiki - instructions to start"

[2017-03-31 17:40] yossigil opened #1193 ""Build Me" Wiki - command line instructions for downloading, building and testing"

[2017-03-31 17:40] yossigil opened #1194 ""Continuous Integration" Wiki"

[2017-03-31 17:40] yossigil opened #1195 ""Coding Standards" Wiki"

[2017-03-31 17:40] yossigil opened #1196 "Set milestones for all coming weeks"

[2017-03-31 17:40] yossigil opened #1197 "Set milestones for all versions"

[2017-03-31 19:09] yuvalsimon commented on #950
@OriRoth can you explain? Duplicate of #1148?

[2017-03-31 20:03] OriRoth commented on #76
Be careful: `f() * g() + f() * h()` != `f() * (g() + h())`

[2017-03-31 20:13] yuvalsimon commented on #1164
Another bug - for some of your tests when I add default case it throws IndexOutOfBounds exception. For example for
[code]
I ignore the tests for now.

[2017-03-31 20:20] OriRoth commented on #950
No this is not a duplication, and it should use your newly added exceptions listener. Nevertheless, we don't use it that much so it has low priority.
The method is currently in `TrimmingOperand.java`.

[2017-03-31 20:23] OriRoth commented on #1164
No do not ignore them. Why ignoring tests? If we wanted a perfect project we wouldn't write any code.
I'll try solving those issues tomorrow.

[2017-03-31 21:34] yossigil commented on #1164
Yuval. You are expected to solve this as part of this week mission, so I thought?

[2017-03-31 22:14] yuvalsimon opened #1198 "Bug in SingleFlater (or AbstractPattern?)"
AbstractPattern applys the tip on the node in the field _current_, and in the current implementation of InflaterProvider you firstly find all the bloaters in the ast tree that can be applied on some node and then make another iteration to call the _go_ method, but AbstractPattern uses this field in the _go_ method and does not use the node passed from the _Operation_ struct (only asserts that _cur

[2017-03-31 22:26] yuvalsimon commented on #1198
** The bug is in SingleFlater.go()

[2017-03-31 22:56] yuvalsimon commented on #1198
Ok it works now but I had to add SetCurrent method to AbstractPattern @yossigil , to replace it with the correct node in the second iteration.

[2017-03-31 23:09] OriRoth commented on #1198
*Analysis*: (some) tippers are now stateful (AbstractPatterns). We do not have any issue with it in Trimmer because the tipper is fired right after being checked. In SingleFlater on the other hand, we check multiple nodes before firing on one of them, so the state is corrupted. Seems @yuvalsimon has fixed it.

[2017-03-31 23:09] #1198 closed

[2017-03-31 23:22] yuvalsimon commented on #1198
Actually it might be a more serious problem because we use fields of subclasses of AbstractPattern to save fields of actual ASTNodes, such has `Expression left` field for left handside of an InfixExpression node. Since we initialize them in the preqruisite they are corrupted as well, but it would be a problem to restore them.

[2017-04-01 05:54] yossigil opened #1199 "Make all tests pass"

[2017-04-01 06:20] NivShalmon commented on #1146
@yossigil This is indeed mostly done, I'm just fixing old tests it broke before pushing this. However, I ran into what I belive is either a bug in `collect#forAllOccurencesExcludingDefinitions`, or me not using it properly. I used it on the list of fragments of the variable declaration statement to see if the variable is used besides being initializer (for the test case ori suggested), however it

[2017-04-01 07:29] yossigil opened #1200 "Proposition auto-simplifies"
Auto convert ((a || b) || c) to (a || b || c) in construction, unless "(a || b)" has  a toString,
same for &&

[2017-04-01 07:58] NivShalmon commented on #1172
First version for tippers is up along with a usage example in the tests of #1146. That example also demonstrates how, when trimming the same input, TrimmerTestUtils's trimmingOf gives a different result than TipperTests's trimmingOf.
Right now this works for tippers. I see four ways of extending this to bloaters, using the current methods TrimmingOperand gives:

1. make a different class for blote

[2017-04-01 08:26] NivShalmon commented on #1129
The tipper no longer changes the original ast, so it's done

[2017-04-01 08:26] #1129 closed

[2017-04-01 09:37] #1146 closed

[2017-04-01 10:09] yossigil commented on #1146
:100:

[2017-04-01 10:50] oran1248 opened #1201 "fix FieldSerialVersionUIDToHexadecimal"
Make FieldSerialVersionUIDToHexadecimal to work

[2017-04-01 10:54] OriRoth commented on #1201
There was  problem with the tipper's marking, see #1186. I think I already fixed this issue about `FieldSerialVersionUIDToHexadecimal`... is there something else? Can you give an example?

There is a way to debug the plugin, see #425.

[2017-04-01 10:55] oran1248 commented on #1201
I will check it and update here

[2017-04-01 11:02] yossigil opened #1202 "Resolve failing tests of Issue #977 (currently ignored, related to several other issues)"

[2017-04-01 11:02] yossigil opened #1203 "Resolve failing tests in Issue #711 (currently ignored)"

[2017-04-01 11:02] yossigil opened #1204 "Resolve failing tests in GuessedContextTest (currently ignored)"

[2017-04-01 11:02] yossigil opened #1205 "Resolve failing test in LazyInitializerTest (currently ignored)"

[2017-04-01 11:11] yossigil commented on #1082
Yuval please finish up with this switch and case mess

[2017-04-01 11:12] yossigil commented on #1082
@ravivos : FYI

[2017-04-01 12:36] #1200 closed

[2017-04-01 13:13] oran1248 commented on #1201
Seems like it's working now.

[2017-04-01 15:34] dormaayan commented on #1108
@yuvalsimon, can you please explain to me what is going on with that issue ?

[2017-04-01 16:00] yossigil commented on #1201
Well, the thing is that when you run the spartanizer on itself, it still does not fix all negative values.
Make a test case that fails to pinpoint the problem, and then fix it.

[2017-04-01 16:04] ravivos commented on #1197
Will be closed after the meeting on monday

[2017-04-01 16:05] yossigil commented on #1197
No point in delaying this. Just create the milestones.

[2017-04-01 16:08] yossigil commented on #350
defunct for now

[2017-04-01 16:08] #350 closed

[2017-04-01 16:17] #1197 closed

[2017-04-01 16:17] #1196 closed

[2017-04-01 16:19] yossigil opened #1206 "Sprint 2"

[2017-04-01 16:21] yossigil opened #1207 "Sprint 2"

[2017-04-01 16:21] #1206 closed

[2017-04-01 16:21] #1207 closed

[2017-04-01 16:22] #1195 closed

[2017-04-01 16:24] ravivos commented on #1203
@danabra there's a bug in your issue, please fix if possible 😄

[2017-04-01 16:25] yossigil commented on #1203
@danabra :  I know it feels awkward but that's the way it is ... there is special "joy" and experience of fixing dusty code. So, this is yours.

[2017-04-01 16:26] yossigil commented on #1196
:100:
Try to add what you want to reach at the end of sprint 0, in the body of the milestone

[2017-04-01 16:31] ravivos commented on #1108
guess it is related to this issue #1044.
Dor, please close one and work on the other of your choice - because they are some what duplicates

[2017-04-01 16:36] ravivos commented on #1195
[link to wiki](https://github.com/SpartanRefactoring/Spartanizer/wiki/Coding-Standards)

[2017-04-01 16:38] dormaayan commented on #1108
Move the work to #1044 , not as part of the  YP

[2017-04-01 16:38] #1108 closed

[2017-04-01 16:40] danabra commented on #1203
Not awkward at all, mistakes can happen. I'll fix it.

[2017-04-01 16:46] NivShalmon commented on #1194
@yossigil can you clarify what this wiki is about? I'm not sure what I'm supposed to write here

[2017-04-01 17:09] #1202 closed

[2017-04-01 17:22] NivShalmon commented on #1172
I went with option 3 despite that adding a lot of code for the user to write since it adds a very important utility (in my opinion)- a tipper can be tested before it is added to the toolbox. This should allow us to effectivly seperate integration tests from unit tests, and only start the integration of a tipper/bloater into the toolbox after it passes unit tests.
This also allows the same class to

[2017-04-01 18:07] #1201 closed

[2017-04-01 18:22] OriRoth commented on #955
Done, see https://github.com/SpartanRefactoring/Spartanizer/wiki/Server-Management-and-Version-Releasing

[2017-04-01 18:22] #955 closed

[2017-04-01 19:07] yossigil commented on #1199
Raviv: too many assignees....

[2017-04-01 19:23] yossigil commented on #1172
Superb job. I fully agree

[2017-04-01 19:23] #1172 closed

[2017-04-01 19:25] OriRoth commented on #1172
@NivShalmon you may post an announcement in the Telegram group with a simple example so people will start to use it.

[2017-04-01 19:42] yossigil commented on #1203
:100: @danabra @tanyabrokhman

[2017-04-01 19:43] yossigil commented on #1194
Brief doc. We should get started with codecov, to examine your code only, see at other groups.
What do we do when the CI breaks?

[2017-04-02 07:53] #1082 closed

[2017-04-02 08:17] orimarco commented on #1205
Done

[2017-04-02 08:17] #1205 closed

[2017-04-02 10:25] ravivos commented on #519
Week 2 report:
- [x]  Coding Standards #1195 - [link to wiki](https://github.com/SpartanRefactoring/Spartanizer/wiki/Coding-Standards)
- [x]  Building 4 bloaters with abstract pattern:

- #882
- #1023
- #974
- methodDecOneParameter abstractPattern

- [x] management

[2017-04-02 10:26] ravivos commented on #1167
described in sprint milestones

[2017-04-02 10:42] #1167 closed

[2017-04-02 14:58] #890 closed

[2017-04-02 14:58] #920 closed

[2017-04-02 14:58] #923 closed

[2017-04-02 14:58] #929 closed

[2017-04-02 14:58] #935 closed

[2017-04-02 14:58] #956 closed

[2017-04-02 14:58] #966 closed

[2017-04-02 15:26] OriRoth opened #1208 "Better UNDO operation management for Zommer's wheel"
So multiple text edit can be reverted by a single `ctrl+z`.

*Hint*: use `TextEdit#apply` instead of `TextFileChange#perform`.

[2017-04-02 16:50] #1208 closed

[2017-04-02 17:01] OriRoth opened #1209 "Zoomer preferences page"
Under the Spartanizer preferences page. Should contain:
- [X] Single/multiple revert toggle (see #1208)
* TBD

[2017-04-02 17:09] oran1248 commented on #245
I don't understand what functionality do I need to add to the `BatchSpartanizer` that it hasn't already had

[2017-04-02 17:22] #1203 closed

[2017-04-02 17:22] danabra commented on #1203
Done.

[2017-04-02 17:38] #1164 closed

[2017-04-02 17:45] oran1248 commented on #457
what is needed to be done here?

[2017-04-02 18:04] OriRoth commented on #457
Nothing, this is implementation offer for the cmd tool. You may close it if you want.

I built at the time a Spartanization tool called `GUIBatchLaconizer`. It's very configurable, so you can tell it what files do you want to spartanize, how many spartanization phases, add an event listener etc. We thought using it in the cmd tool will make it simpler, but Matteo got some problems with it. Maybe h

[2017-04-02 18:45] yossigil commented on #474
I change this to week3

[2017-04-02 18:46] yossigil commented on #1194
@NivShalmon  perhaps it is better if @ravivos does this? He may need this to monitor the work?

[2017-04-02 18:51] yossigil commented on #1166
Good job @mdoron on doing this. :100: @AdiOmari

We now move to the project management view in which it is easier to manage the issues. Managing issue is not easy, and doing it from within an issue does not work.

FYI: @yuvalsimon @ravivos @OriRoth @NivShalmon @dormaayan @tomerdragucki

@mdoron : please close this issue.

[2017-04-02 18:59] yossigil opened #1210 "Wiki User Manual Review"
Maybe move to archive

[2017-04-02 19:16] OriRoth commented on #1210
YES! We should do that before the next release. I am planning to remove all wiki pages, then reconstruct:
* User manual
* Developer manual
* Theoretical background

@yossigil what is the "archive"? Also, d you mind I'll get someone to help me with this?

[2017-04-02 19:21] yossigil commented on #767
Isn't this defunct?

[2017-04-02 19:26] yossigil commented on #1210
There are the demo classes.

[2017-04-02 19:27] yossigil commented on #519
💯

[2017-04-02 19:28] #245 closed

[2017-04-02 19:28] yossigil commented on #1203
Good job @danabra

[2017-04-02 19:30] yossigil commented on #457
@oran1248 : take a look. you may want to make use of it

[2017-04-02 19:52] OriRoth commented on #767
I'll check it this week.

[2017-04-02 21:58] #1166 closed

[2017-04-02 22:05] yuvalsimon commented on #1192
Done:
https://github.com/SpartanRefactoring/Spartanizer/wiki/Joining-The-Project

[2017-04-02 22:05] #1192 closed

[2017-04-02 22:15] yuvalsimon commented on #587
Week 2 report:
* Reimplemented TernaryPushup for #1178
* Fixed bug #1148, @OriRoth helped
* Partly fixed bug #1198, @OriRoth finished it
* Fixed bugs in CasesSplit (#1164, #1202)
* Implemented #1159
* "To Join" wiki #1192
* Checked the zoomer a little bit for bugs.

[2017-04-02 22:19] OriRoth commented on #1194
@NivShalmon Saluton! I am planning to start cleaning the wikis. If you started this wiki/going to, please send me it's name so I won't remove it.

[2017-04-02 22:19] OriRoth commented on #1193
@ravivos Saluton! I am planning to start cleaning the wikis. If you started this wiki/going to, please send me it's name so I won't remove it.

[2017-04-02 22:26] OriRoth commented on #1210
Cool trick: one can `git clone` wiki pages by changing `.git` extension in our project's URL to `.wiki`:
`git clone https://github.com/SpartanRefactoring/Spartanizer.wiki`

[2017-04-02 22:54] OriRoth commented on #1210
Incomplete wikis:
* https://github.com/SpartanRefactoring/Spartanizer/wiki/Installation-instructions

[2017-04-02 23:01] ravivos commented on #474
@yossigil no need, done - [Install Me](https://github.com/SpartanRefactoring/Spartanizer/wiki/Installation-instructions)

[2017-04-02 23:03] ravivos commented on #1193
[Install Me](https://github.com/SpartanRefactoring/Spartanizer/wiki/Installation-instructions) includes also a "build me" part, because I think both come hand in hand for developers.
Of course it can be separated but this will be your (@OriRoth) choice according to #1210

[2017-04-02 23:03] #1193 closed

[2017-04-02 23:05] #474 closed

[2017-04-02 23:06] ravivos commented on #709
@mdoron @yossigil
I Guess this issue should be closed?

[2017-04-03 04:11] yossigil commented on #1210
@SpartanRefactoring/zoomers

[2017-04-03 04:12] yossigil commented on #709
Let Doron decide. He has to present  a work portfolio. Every issue he closes is yet another one...

Doron would you like to close?

[2017-04-03 04:15] yossigil commented on #587
Not a full plate this week; ;-)

[2017-04-03 07:52] yossigil commented on #1166
@SpartanRefactoring/zoomers  @orenafek

FYI ". Managing issue is not easy, and doing it from within an issue does not work."

[2017-04-03 10:10] ravivos opened #1211 "Resolve failing tests in Version230 (currently failing)"

[2017-04-03 10:10] ravivos opened #1212 "Resolve failing tests in Version300 (currently failing)"

[2017-04-03 10:11] ravivos commented on #1190
@oran1248
runTheSpartinizerOnItself is failing

[2017-04-03 10:20] ravivos opened #1213 "bug in FixedPointTest - failing test"

[2017-04-03 10:26] oran1248 commented on #1190
That's because the spartinizer has bugs, the test is good and fulfill its purpose

[2017-04-03 10:37] ravivos commented on #1194
Done along with @NivShalmon - [link to wiki](https://github.com/SpartanRefactoring/Spartanizer/wiki/Continuous-Integration)

[2017-04-03 10:37] #1194 closed

[2017-04-03 10:39] ravivos commented on #1199
Separated to smaller and duable issues

[2017-04-03 10:39] #1199 closed

[2017-04-03 10:46] ravivos opened #1214 "Adding CodeCoverage For AssignmentOperatorBloater"
#1001

[2017-04-03 10:47] ravivos opened #1215 "Adding CodeCoverage VariableDeclarationStatementSplit"

[2017-04-03 10:48] OriRoth commented on #248
Duplicate of #471

[2017-04-03 10:48] #248 closed

[2017-04-03 10:53] OriRoth commented on #468
Duplicate of #1177

[2017-04-03 10:53] #468 closed

[2017-04-03 10:53] ravivos opened #1216 "A JAVA-SWT Wiki"
Wiki about getting started with GUI

[2017-04-03 10:54] OriRoth commented on #567
Duplicate of #1121

[2017-04-03 10:54] #567 closed

[2017-04-03 10:55] OriRoth commented on #862
@tomerdragucki Find relevant wiki under "Developer guide" and add it there.

[2017-04-03 15:01] OriRoth commented on #1190
You are throwing `assert false;` when encountering Exception and print the Exception to the console. Maybe it can be improved by wrapping the `AssertException` to show the caught Exception's stack trace + description (so it will be easier to fix by people not familiar with the mechanism).

We can also think about making tests out of failures automatically - I wrote some code that does that at the

[2017-04-03 18:22] yossigil commented on #1190
It must be configurable. In testing you want to abort immediately, but not in plugin

[2017-04-03 18:24] yossigil opened #1217 "GUI for class JUnitTestMaker"
I want the input and the outputs in a dialog box

[2017-04-03 18:41] #1213 closed

[2017-04-03 18:45] yossigil opened #1218 "Fix the recursive scan to NOT assume that the range of tippers applied on nodes is restricted to this node only."
There is no exclusion. See the Issue.java file. Demo is with inliner.

[2017-04-03 18:52] yossigil commented on #1218
There is a little bit of tweaking to do with exclusion

[2017-04-03 18:57] yossigil commented on #1216
Talk to @ortroyaner , he is  an expert @tanyabrokhman : FYI

[2017-04-03 19:15] yossigil commented on #1190
OOPS, in the test, it must be printed, but not abort the test. See MetaTester @orenafek

[2017-04-03 19:26] #767 closed

[2017-04-03 19:30] OriRoth commented on #767
Maybe not a perfect solution, but the plugin shows better startup behavior (no modal pop up window... most of the time).

May be relevant, though it is old and I couldn't get anything useful from it: https://bugs.eclipse.org/bugs/show_bug.cgi?id=198591

[2017-04-03 19:32] OriRoth commented on #1165
See `Builder#isInterrupted`

@dormaayan we can do this together.

[2017-04-03 20:22] OriRoth commented on #1217
This is internal GUI, you may choose to do it in JavaFX or whatever. Anyway, you'll start from scratch (Except for `JUnitTestMaker` of course).

[2017-04-03 20:36] OriRoth commented on #1218
This is not a bug in `AbstractPattern`, but rather a missing feature. Tippers cannot interfere with the excluder state, only query and inform it. Do you want `AbstractPattern` to be able to use an excluder? May be useful I guess.

The tests for this issue are failing for two reasons:
1. No Spartanization exhaustion- `gives` make only one Spartanization step.
2. Unexpected tipper is activated inste

[2017-04-03 20:45] OriRoth commented on #1216
This would include mostly GUI features of Eclipse (handlers, bindings, plugin definitions) and inter-project utilities, so standard SWT will not fit exactly... I myself worked for some time with Eclipse GUI, yet I am pretty clueless with SWT, unfortunately.

[2017-04-03 20:54] OriRoth commented on #1217
Also, you may use some sort of configuration in your dialog:
1. Maximal number of spartanization pass (1 to infinity) (i.e. how much `gives` do you use).
2. Whether to end the test with `.stays()` (toggle).
3. Whatever you want.

[2017-04-04 05:11] oran1248 commented on #1190
We want to fail the test to notify that the spartinizer doesnt work. As simple as that. How the printing is going to help us? (except from the stack trace)

[2017-04-04 05:57] yossigil commented on #1218
Leaving this as is, will lead to bugs in batch spartanization. I think it better to fix the scanning algorithm. Currently the alogirthm of scan and consolidate assumes that tippers willl on one node will define a range for just this range, unless there is a call to exclude.

The fix is: remove this assumption. Let the scanner examine the generated tip. Each tip defines two ranges: highlight range,

[2017-04-04 06:01] yossigil commented on #1190
The printing should identify the tipper that failed, and the pertinent information, on which input and maybe more. Stack trace does not help.

Without this, the fix would be tough. It would be useful to get a summary of all faiing tests in the batch.

Ori once wrote something that converts a failing test into a generated test unit.

[2017-04-04 08:06] tomerdragucki commented on #862
Added as part of the reorganizing of the project's wiki

[2017-04-04 08:06] #862 closed

[2017-04-04 09:24] tomerdragucki opened #1219 "Spartanizer preferences GUI bug"
While working on the project's wiki I noticed that on 'Refactor->Spartanizer->Preferences' the description shown for a tipper is it's name even though it has a 'description()' method. And no example is shown even that there's 'examples()' method.
For example: for ArrayAccessAndIncrement tipper

![screen shot 2017-04-04 at 12 19 32](https://cloud.githubusercontent.com/assets/23155308/24649985/79cc9

[2017-04-04 09:36] OriRoth commented on #1219
The description is bad because `description()` is not overrided for `ArrayAccessAndIncrement`, see #1130.
I get the examples fine... do you run the Spartanizer as plugin debug? The last release may not contain examples for this tipper.
![examples](https://cloud.githubusercontent.com/assets/15183108/24650536/2a960f0a-1933-11e7-8d81-8d03c3d35898.jpg)

[2017-04-04 09:46] tomerdragucki commented on #1219
Yeah I checked it on the last release my bad. close? @OriRoth

[2017-04-04 09:47] #1219 closed

[2017-04-04 11:17] OriRoth opened #1220 "Infrastructure bug in ForWithEndingBreakToDoWhile / make"
Double negation cases in `make#notOf` return parented node, should be unparented (IllegalArgumentException is thrown from `ForWithEndingBreakToDoWhile`).
Example: (will be made into test):
`!!trace[i].getClassName().equals(trace[0].getClassName())`

[2017-04-04 11:47] #1220 closed

[2017-04-04 11:51] yuvalsimon opened #1221 "Fix new bloater implementations"
New implementations of IfElseBlockBloater and OutlineTernaryMethodInvocation failed tests, I kept the original implementations, you can find yours' in git history. It is low priority though because the original implementations work..

[2017-04-04 11:52] OriRoth commented on #1221
Check whether it is a bug with the `AbstractPattern` mechanism....

[2017-04-04 12:13] yuvalsimon commented on #1221
It is not, I already checked. I think one of the problems is that some preqruisites are checked in the `go` method and after calling it other expanders can not be called on this ast node

[2017-04-04 12:52] ravivos commented on #1218
starting to look nice with SWT and @tomerdragucki
<img width="1174" alt="screenshot 2017-04-04 15 50 37" src="https://cloud.githubusercontent.com/assets/7875588/24657373/a1a95866-194e-11e7-83d6-470436ed3509.png">

[2017-04-04 14:24] dormaayan commented on #1165
Done, thanks to @OriRoth  with the guidance (:

[2017-04-04 14:24] #1165 closed

[2017-04-04 15:21] ravivos commented on #1217
starting to look nice with SWT and @tomerdragucki
<img width="1174" alt="screenshot 2017-04-04 15 50 37" src="https://cloud.githubusercontent.com/assets/7875588/24657373/a1a95866-194e-11e7-83d6-470436ed3509.png">

[2017-04-05 14:33] OriRoth commented on #1058
No demand at the moment.

[2017-04-05 14:35] OriRoth commented on #1104
On hold, exemine after completing #1056

[2017-04-05 14:36] OriRoth commented on #1155
On hold, examine after completing #1056

[2017-04-05 18:07] yuvalsimon commented on #1217
@yossigil Can you give me some GUI issue to get started with it too please?

[2017-04-06 04:56] yossigil opened #1222 "User configurable renaming Tippers"
Yuval: Your task, should you choose to accept it, is to add to the configuration window a **radio button** that allows to select the name of the "return" variable, with these options:

- `result`
- `res`
- `ret`
- `typeCamelCase`
- function's name
- Other

If the user selects other, then there is a small text box, in which he can fill his desired name:

FYI @SpartanRefactoring/zoomers

-

[2017-04-06 05:06] OriRoth commented on #1222
1. May also be applied to lambda and cent
2. A drop down menu would look better in my opinion... it is also possible to use a String editor field
3. This obviously requires modifying the relevant tippers to access preference store. Be sure to do this efficiently!
4. `typeCamelCase` requires special care

[2017-04-06 05:20] OriRoth commented on #1222
@yuvalsimon you may ask a brief introduction to preferences mechanism from me/@dormaayan.

Duplicate of #1162 thus I assign Dor as well.

[2017-04-06 12:40] ravivos commented on #1044
@dormaayan please assign this to your research as you said it is not part of our project

[2017-04-06 12:42] OriRoth commented on #1044
It IS a part of our project- we are generating names, for example in #1056 .

[2017-04-06 13:43] OriRoth opened #1223 "Start working on widget"
- [x] Move relevant classes to separate package `il.org.spartan.plugin.widget`
- [x] Create abstract widget operation
- [x] Create basic widget operation context
- [x] open issues for widget: widget preferences page and widget buttons

[2017-04-06 13:46] OriRoth opened #1224 "Widget preferences page"
Open a new preferences page under `Spartanization tips`. Should include:
* Size of widget (numeric, 50-150 or something)
* Widget operations: checked list of maximum 8 (or so) widget operations (see class `WidgetOperation`), including image + description
* TBD

[2017-04-06 13:49] OriRoth opened #1225 "Create widget buttons"
Add widget buttons (to `SpartanWidgetHandler`). The buttons should support `WidgetOperation`s as listeners, i.e. mouse down/up, double click and mouse hold (on hold once per X ms). Image included in `WidgetOperation`.

[2017-04-06 13:49] OriRoth opened #1226 "GIT widget operations"
pull/commit+push/etc.
Relevant documentation:
* http://stackoverflow.com/questions/18139157/programmatically-find-the-repository-url-of-a-project
* https://maximilian-boehm.com/hp2118/Use-Java-Library-JGit-to-Programmatically-Access-Your-Git-Respository.htm

[2017-04-06 13:51] OriRoth opened #1227 "Custom widget operation"
Run user command as in cmd on click. Should be supported in the preferences page (i.e. String editor field or whatever + multiple commands).

[2017-04-06 13:53] OriRoth opened #1228 "Spartanization widget operations"
General spartanization/spartanize file/spartanize project/etc.

[2017-04-06 13:54] OriRoth opened #1229 "Zoomer widget operations"
Zoomin/zoomout. Should override `onMouseHold`.

[2017-04-06 13:54] #1223 closed

[2017-04-06 13:56] #1190 closed

[2017-04-06 13:59] OriRoth opened #1230 "Suppress spartanization do not replace entire class"
No need to replace entire class (which removes formatting), only to set Javadoc.

[2017-04-06 14:02] OriRoth commented on #1218
I need to think this through... current tip implementation of "marking" range and "change" range does not fit the requirements. I'll pass it over to after Passover.

[2017-04-06 16:56] yuvalsimon commented on #456
I implement it with the following algorithm:
Check the variables at the for statement updates list, if any meets the conditions:
1. the variable is initalized before the for statement (and is not in initalizers list)
2. The value of the variable after the for statement is not used.

then move the variable declaration to the for initalizers and renames it (if needed), and removes the original decla

[2017-04-06 17:01] OriRoth commented on #456
I don't see an issue here. An assignment / declaration should be moved to the initializers list if a matching assignment (same "to") is found in the updaters list. Declarations should be moved only if not being used after the for loop- good observation. You should also mind the order inside the initializers list (the inlined assignment should be put at the *start* of the list).

[2017-04-06 21:19] dormaayan commented on #1162
In progress under issue #1222, a duplication

[2017-04-06 21:27] dormaayan commented on #994
Ok, due to duplications of Issues, I close that.
We will introduce ways to configure most of the renaming soon.
Thanks for your comments.

[2017-04-06 21:27] #994 closed

[2017-04-06 22:06] yossigil opened #1231 "Tipper selections menu: add "reset to default" option"

[2017-04-06 22:11] yossigil opened #1232 "Restore "@UnderConsruction" annotation tip"

[2017-04-06 22:23] yossigil opened #1233 "Add GUI option to change the [[SuppressSpartanization]] and [[EnableSpartanizat[[ strings"

[2017-04-07 01:57] OriRoth commented on #1232
What is the problem? I just checked and it is working fine... also included in the last release (2.10.3).

[2017-04-07 04:57] yossigil commented on #1232
Sorry, I missed it.

[2017-04-07 04:57] #1232 closed

[2017-04-07 07:29] dormaayan commented on #1221
Done

[2017-04-07 07:29] #1221 closed

[2017-04-07 14:50] yuvalsimon opened #1234 "Bug in tippers preferences"
When seleting tipper categories in _Spartanization Preferences_ window and then restarting eclipse it does not show tips for the selected categories (which are not default) although they are still selected.

[2017-04-07 16:18] yossigil opened #1235 "Bugs in ForWithEndingBreakToDoWhile"
I fixed some of the problems, and disabled the tipper, but there is more work to be done:

- The condition of the if statement must be ANDed with the condition of the if.
- Do not insert statements: instead, create a new do, copy the full body of the for, and then, erase, using
listrewrite the last statement.
- Duplicate the tip for while statement.
- Go over all the tests; now they are incorrect.

[2017-04-07 16:21] yossigil commented on #1235
@AdiOmari : FYI. We call back on Doron to fix a bug

[2017-04-07 16:40] ravivos opened #1236 "making a wiki about handling build errors with travis"

[2017-04-07 16:41] OriRoth commented on #1236
Put it under "Developer Guide"

[2017-04-07 16:41] ravivos opened #1237 "Adding CodeCov to CI"

[2017-04-07 16:48] OriRoth commented on #1235
@mdoron try spartanizing the Spartanizer project with your tipper and see if it gives errors.

[2017-04-07 17:22] OriRoth commented on #1234
@yossigil why did you opened this issue? I identified the bug in `Builder` class and fixed it.

[2017-04-07 17:50] #1217 closed

[2017-04-07 18:26] ravivos commented on #1236
Done - https://github.com/SpartanRefactoring/Spartanizer/wiki/Fixing-Build-Errors---Travis

[2017-04-07 18:26] #1236 closed

[2017-04-07 18:27] OriRoth commented on #1236
Please put it in the home page, otherwise no one is going to use it.

[2017-04-07 18:29] ravivos commented on #1236
Already there

[2017-04-07 19:15] ravivos commented on #1237
Might be an internal problem with the system:

- [https://github.com/cobertura/cobertura/issues/223](https://github.com/cobertura/cobertura/issues/223)
-[https://github.com/cobertura/cobertura/issues/176](https://github.com/cobertura/cobertura/issues/176)

Meanwhile I fixed the build but I will remove it if the problem comes back.
The CI doesn't look like it does soe thing with the CodCov, @OriRot

[2017-04-07 19:24] ravivos opened #1238 "Sprint 0 presentation making"

[2017-04-07 19:27] ravivos opened #1239 "Choosing a name - Athenizer/Zoomer"
Hey Guys.
We are in a dilemma about the name choosing of our project.
I assume you are all familiar with our project of course, because you have all taken part in it or have used it, so please vote as an emoji on this comment for the name you prefer:
👍  - "Athenizer"
🎉  - "The Zoomer"

[2017-04-07 19:28] ravivos commented on #1239
First three votes will decide

[2017-04-07 19:51] OriRoth commented on #1237
By inspecting Travis' error log it seems your tool is not configured for Java 8 (does not recognize `default`, confused by `>` which may be a part of lambda expression etc.).

[2017-04-07 19:58] OriRoth commented on #1237
Also check UTF-8 stuff for Greek letters.

[2017-04-07 20:00] ravivos commented on #1237
From searching the web I found out that it is probably because of java8 lambda functions, as the links I added as a comment say.
But I didn't find a solution yet, just the cause

[2017-04-07 21:19] OriRoth commented on #1237
Your changes to `pom.xml` cause warnings, please notice.

[2017-04-07 21:38] OriRoth commented on #1231
@yossigil after a discussion with @dormaayan we concluded there are 3 legitimate locations for the `restore defaults` button:
* In the tippers selection window
* In the preference page, near the projects window
* In the preference page, existing `restore defaults` button of preference pages

Where do you want it to be? You can choose some of the options above.

[2017-04-07 22:26] tomnof commented on #1239
👍

[2017-04-08 09:27] OriRoth commented on #1103
Duplicate of #1218

[2017-04-08 09:27] #1103 closed

[2017-04-08 09:29] OriRoth commented on #472
Duplicate of #1210

[2017-04-08 09:29] #472 closed

[2017-04-08 09:30] #1234 closed

[2017-04-08 09:39] OriRoth opened #1240 "Run/debug widget operations"
Run a specific configuration.
Relevant documentation:
* https://wiki.eclipse.org/FAQ_How_do_I_launch_a_Java_program%3F
* https://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fdebug%2Fcore%2FILaunchManager.html

[2017-04-08 13:41] oran1248 commented on #1191
@yossigil
Exploration results:
1. You cannot get an original java code from a class file using javap.
2. I found this java decompiler: [http://jd.benow.ca/](url). I tried it, works good.
It generates original java code from a class file, so step 3 result will be that **there is no difference**...

[2017-04-08 14:36] yossigil commented on #1234
OOPS, sorry

[2017-04-08 14:37] yossigil commented on #1231
There should be one window for all prefs, so it doesnot matter at this stage

[2017-04-08 16:20] yuvalsimon opened #1241 "Add exclusion manager to athenizer"

[2017-04-08 16:28] yuvalsimon commented on #1107
Probably closed but need #1241 to work properly when athenizing whole project.

[2017-04-08 18:15] yossigil opened #1242 "Change package names to athenizer"

[2017-04-08 18:18] yossigil opened #1243 "Change project name to Athenizer"
- Triage
- Add info
- Open issues for changing class names (set policy? meeting? dictatorship?)

[2017-04-08 18:53] yuvalsimon opened #1244 "Bug in SingleVariableDeclarationAbbreviation"
[code]

The parameter is changed to e ==> error in the anonymous class

[2017-04-08 19:05] ravivos commented on #519
Week3 report:
- [x]  Continuous Integration Wiki #1194  - [link to wiki](https://github.com/SpartanRefactoring/Spartanizer/wiki/Continuous-Integration)
- [x]  InstallMe Wiki #1193   - [link to wiki](https://github.com/SpartanRefactoring/Spartanizer/wiki/Installation-instructions)
- [x]  Fixing Build Errors Wiki #1236  - [link to wiki](https://github.com/SpartanRefactoring/Spartanizer/wiki/Fixing-B

[2017-04-08 19:06] OriRoth commented on #1243
Dictatorship?! I thought we are Democratic People's Republic of Spartanizer.

[2017-04-08 19:06] OriRoth commented on #519
I thought we stopped reporting on personal issues...

[2017-04-08 19:42] ortroyaner commented on #1239
Since I've been assigned I'll post about my opinion:
TL;DR - Athenizer. 👍

I think that this name's connection to the Spartanizer project is very intuitive, and it's easier to understand the project's goals with this name.
About "The Zoomer", the "The" prefix seems a little bit unprofessional for me (usually, if "The" prefix comes before a term which is not a consensus (e.g. "The Amazing Spider-Ma

[2017-04-08 19:44] mdoron commented on #709
@yossigil: I'll close this issue after closing #1235, probably after Passover vacation. I will look into #1235 tomorrow to see if it is a quick fix.

[2017-04-08 20:16] tomerdragucki commented on #1092
I limited the number of cases in which the bloater will work. In case both take place: there's an else clause and the InfixExpression has more than two arguments- the bloater won't be activated.

[2017-04-08 20:27] #1092 closed

[2017-04-08 20:38] tomerdragucki commented on #1215
VariableDeclarationStatementSplit coverage is 100%, I'll work on increasing coverage of other classes before the end of week 3.

[2017-04-08 20:38] #1215 closed

[2017-04-08 21:09] dormaayan commented on #765
@OriRoth : After Checking it seems impossible to add a menu item in the resolution of `Package` , look here:
http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fcore%2Fresources%2Fpackage-summary.html

Do you know any convenient way to add a menu item in package resolution ?

[2017-04-08 21:16] OriRoth commented on #765
1. I think it is possible, look in `plugin.xml` to see how I added a menu item to projects
2. Who said it has to be a menu item? It is very recommended, but it should come with a GUI for macro management

This is a difficult issue in the "enhancement" category, you may "On Hold" it.

[2017-04-08 21:20] dormaayan commented on #765
I looked very carefully on your code in `plugin.xml` and also read the documentation online.
I put it on hold for now.

[2017-04-08 22:14] yossigil commented on #709
:+1:

[2017-04-09 20:49] dormaayan commented on #1157
Done

[2017-04-09 20:49] #1157 closed

[2017-04-10 13:23] #1210 closed

[2017-04-10 13:24] tomerdragucki commented on #655
Week 1- PAGRA

[2017-04-10 13:24] tomerdragucki commented on #655
Week 2- PAGRA

[2017-04-10 13:30] tomerdragucki commented on #655
Week 3-
- Changed LongIfBloater and added back to toolbox #1092
- Learned about java SWT GUI and wrote a GUI class for JUnitTestMaker with @ravivos #1217
- Reviewed, edited and added the "Athenizer" page to the project's wiki #1210 , #862
- TODOs cleanup (including code rewrite and increasing code coverage)

[2017-04-11 11:39] OriRoth opened #1245 "Multiple String concatenation tippers"
We have at least three, try for example to "Disable tip" (quick fix menu option) the tip in `Issue1157.java`.

@ravivos reassign, milestone

[2017-04-11 11:44] OriRoth commented on #1245
Different bug, but still. We don't want to replace `"" + "..."` with `"..." + ""`, gives us nothing.

[2017-04-11 11:50] OriRoth opened #1246 "LocalInitializedReturnExpression token saving count bug"
Spartanize
[code]
to
[code]
which is annoying. I think we should review the token saving count mechanism. @yossigil what do you think? You may close this.

@ravivos reassign, milestone

Also:
[code]
==>
[code]

[2017-04-11 12:56] yossigil commented on #1246
I fixed this.

[2017-04-11 12:56] #1246 closed

[2017-04-11 18:40] OriRoth commented on #1218
@yossigil about recent changes in `Trimmer`: looks and works very good. If we preserve the current scheme (*collecting* tips **bottom-up** and *applying* them **top-down** + deterministic tipper chooser + ?) there shouldn't be any more problems.
If I understood correctly, this issue is now closed.

[2017-04-11 18:40] #1218 closed

[2017-04-11 19:20] yossigil commented on #1218
It is closed, but more work is required. Currently the search for tips and the application is both top down. This both for GUI and batch. It was always like this,except that there were bugs. I have a scanner that goes bottom up in class Trimmer, but it is untested. I think bottom up for batch makes sense, but this needs to be implemented sometime.

[2017-04-11 20:17] yossigil commented on #411
Defunct

[2017-04-11 20:17] #411 closed

[2017-04-11 20:35] yossigil commented on #1211
Done

[2017-04-11 22:17] yossigil commented on #500
Defunct with the highlight mechanism

[2017-04-11 22:17] #500 closed

[2017-04-11 22:18] #416 closed

[2017-04-11 22:18] yossigil commented on #349
Defunct with robust.ly()

[2017-04-11 22:18] #349 closed

[2017-04-11 22:19] yossigil commented on #396
defunct

[2017-04-11 22:19] #396 closed

[2017-04-11 22:20] yossigil commented on #345
Defunct

[2017-04-11 22:20] #345 closed

[2017-04-11 22:20] yossigil commented on #341
defunct

[2017-04-11 22:20] #341 closed

[2017-04-11 22:20] yossigil commented on #339
Defunct

[2017-04-11 22:20] #339 closed

[2017-04-11 22:21] yossigil commented on #314
Defunct

[2017-04-11 22:21] #314 closed

[2017-04-11 22:21] yossigil commented on #277
Moved to java logging and updated class monitor

[2017-04-11 22:21] #277 closed

[2017-04-11 22:24] yossigil commented on #413
Defunct

[2017-04-11 22:24] #413 closed

[2017-04-11 22:24] yossigil commented on #412
Defunct

[2017-04-11 22:24] #412 closed

[2017-04-11 22:25] yossigil commented on #391
Defunct

[2017-04-11 22:25] #391 closed

[2017-04-11 22:26] yossigil commented on #276
Done with MapReduce

[2017-04-11 22:26] #276 closed

[2017-04-11 22:28] yossigil commented on #141
Dor, please study this. It may be defunct.

[2017-04-11 22:29] yossigil commented on #348
defunct

[2017-04-11 22:29] #348 closed

[2017-04-11 22:31] yossigil commented on #1163
Duplicate of #181

[2017-04-11 22:32] yossigil commented on #181
Duplicate

[2017-04-11 22:32] #181 closed

[2017-04-11 22:32] yossigil commented on #137
Not needed now

[2017-04-11 22:32] #137 closed

[2017-04-11 22:34] yossigil commented on #106
Dor: passing on to you. It is mostly done. If there is nothing more to do, close this

[2017-04-11 22:35] yossigil commented on #102
Passing on to your @dormaayan , mostly FYI. Probably needs to close

[2017-04-11 22:36] yossigil commented on #340
Defunct

[2017-04-11 22:36] #340 closed

[2017-04-11 22:37] yossigil commented on #280
defunct

[2017-04-11 22:37] #280 closed

[2017-04-11 22:58] OriRoth commented on #473
*Current status:*
![preferences](https://cloud.githubusercontent.com/assets/15183108/24934194/c5beeae8-1f22-11e7-9f4d-058eba185b56.jpg)
*****************************
*Features:*
* Tipper description on hover
* Tipper examples (`converts` examples only) on double click

I think the current implementation answers the original requirements. If someone want to change something, comment here.

*Left to

[2017-04-12 08:42] dormaayan commented on #1244
Done

[2017-04-12 08:42] #1244 closed

[2017-04-12 08:51] #102 closed

[2017-04-12 10:36] yossigil opened #1247 "Modernize StringBuilder tipper"
- [x] Find the tests in Version290.java
- [x] Try to make the tip do as little as possible and use subject, and other classes.
- [ ] Try to use recursion

Only let me know when you are done

[2017-04-12 10:48] yossigil commented on #1247
Here is an example
	return new StringBuilder(maxLength).append(s, 0, $).append(truncationIndicator) + "";

[2017-04-12 10:58] yossigil opened #1248 "SwitchAddDefault keeps on sending tips and markers. It should be only on athenizer"
![image](https://cloud.githubusercontent.com/assets/12775400/24954363/c9a09818-1f87-11e7-9ecd-a55074e211da.png)

Please put a fire wall between the bloaters and the spartanizer

[2017-04-12 11:04] yossigil opened #1249 "Make SingleFlater use monitor"
Defunct the exception listener. Use java logging instead

[2017-04-12 11:06] yossigil commented on #415
This is the tipper you asked for: it should be off by default, but users may install it

[2017-04-12 12:16] yossigil opened #1250 "Document class Tippers"
and verify that I did not mess it too muh

[2017-04-12 13:27] yossigil commented on #1249
start here
![image](https://cloud.githubusercontent.com/assets/12775400/24959955/f119ebfa-1f9c-11e7-9234-6212df28da2a.png)

[2017-04-12 17:35] orenafek opened #1251 "Marked code without any suggestions"
Latest version of Spartanizer Installed. This is what I get after trying to hit `ctrl + A` and `ctrl + 5` several times and nothing is happening at this point.

![image](https://cloud.githubusercontent.com/assets/15859817/24971115/74dc4b28-1fbf-11e7-9a5d-306383260375.png)

[2017-04-12 18:26] OriRoth commented on #1251
Could not recreate in either current release/current project build. Please elaborate:
1. What version of the plugin are you using? You can check it via `Help -> Installation Details`
2. What tip is it? You may type it's description
3. Try save the file then refresh and see whether the tip disappears
3. Next time, please copy-paste relevant code (at zero cost), I had to type it by hand:
[code]

[2017-04-12 21:35] #1251 closed

[2017-04-12 21:53] yossigil commented on #293
OOPS, wrong issue

[2017-04-13 13:42] oran1248 commented on #1249
I don't know if i do it right. @yossigil @OriRoth - please approve.
All the tests pass.
Should I refactor out Tap and Taps? as it the same in TrimmerMonitor and SingleFlaterMonitor.

[2017-04-13 14:11] OriRoth commented on #1249
I've created a test for a testing mechanism that used the exception listener: `doesNotCrash`. It was very problematic to begin with, because a bug in the testing mechanism causes the test to *pass* rather than fail. See #950

@yossigil we should decide whether to register an exception listener to `stays` and `gives` as well (we probably do), in that case we should test this too... but that is anot

[2017-04-13 14:13] OriRoth commented on #1249
Second thought: #950 is not closed, so it might be @yuvalsimon 's TODO....

[2017-04-13 14:46] yossigil commented on #1249
@oran1248 ?

[2017-04-13 14:48] oran1248 commented on #1249
I don't understand, what is the problem?
There is a problem with what I have done in SingleFlater?

[2017-04-13 14:57] OriRoth commented on #1249
You removed some code of Yuval I think... he will probably would need to
use your listener instead

On Apr 13, 2017 17:48, "oran1248" <notifications@github.com> wrote:

I don't understand, what is the problem?
There is a problem with what I have done in SingleFlater?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/SpartanRe

[2017-04-13 15:50] dormaayan commented on #133
My week 2 report:
- [x]  Building 4 bloaters and improve the abstract pattern system on-the-fly (#1005, #975, #971 ,#1091)
- [x] Testing:  How to write tests, run them, etc. What's the expected code coverage and for which packages?
- [x] Improve tests with binding (Continues works)

[2017-04-13 15:53] dormaayan commented on #133
My week 3 Report:

- #1244
- #1199
- #1165
- #1157
- #1231 & #1162  (Not done yet, but Im close to finish, will be finished for week 5, after I'll return)

[2017-04-13 19:22] oran1248 commented on #1249
@OriRoth , can you please put your finger on such code?
In the first commit I replaced try...catch with robust.ly
In the second commit I have integrated monitor into SingleFlater

[2017-04-13 19:35] OriRoth commented on #1249
I have commented in the relevant commit.
@oran1248 it is a work for #950. If you want you can help Yuval use your code by self-assigning to the issue. Anyway, you may leave a comment on #950 describing how to use your listener.

[2017-04-14 09:29] NivShalmon commented on #888
This may be a bit more complex than I thought. This may be a missing case in type's lookup (I'm currently looking into that), however this is also a case the current tippers dont' support, since the AST looks like this:
`(b+2)-3`
That means in the ast, there aren't any two number literals in the same infix expression. There is one infix expression with 3 as one operand and (b+2) as the other opera

[2017-04-14 10:21] OriRoth commented on #888
Remove parenthesis (in your example) - other tipper.
Problem with infix expressions (in Yossi's example `b+2-5`) - this tipper.
Maybe you'll want to make a utility to traverse all possible layouts of an infix expressions, so `b+2-5` would give `(b+2)-5` and `b+(2-5)`... just a thought.