[2017-06-09 09:17] amirsagiv83 commented on #1467
@RoeiRaz

[2017-06-09 09:19] amirsagiv83 commented on #1377
@RoeiRaz  can we close this??

[2017-06-09 11:02] amirsagiv83 commented on #1470
Closed.

[2017-06-09 11:02] #1470 closed

[2017-06-09 13:45] amirsagiv83 opened #1475 "Add option to disable all nano patterns"
We want to add to Leonidas menu an option to disable nano patterns. pay attention that it also means they should be permanently disabled in the toolbox controller

[2017-06-09 15:04] orenafek commented on #1447
This should be an annotation that disables the spartanization on the entire file.

[2017-06-09 15:35] amirsagiv83 commented on #1447
And did you work on it or is it just an idea?

[2017-06-09 20:51] OriRoth commented on #1457
@tomerdragucki see `SingleFlater#limit(ITextSelection)`. You can get a text selection from a `Selection` object: `Selection.Util.current().textSelection`.
@ravivos we should decide the exact "selection" policy: the current scheme is to ignore any in/deflation option *outside* marked text, see `SingleFlater#inSelection(ASTNode)`.

[2017-06-10 08:10] amirsagiv83 commented on #1368
Weekly log for week 10 (4.6 - 10.6):

- [x] Added Icons to Leonidas Menu. #1471

- [x] Added a pop-up dialog to provide info on nano patterns. #1470

- [x] Fixed the clean button in playground. #1466

- [x] Added explanations for nano patterns in user guide. #1465

- [x] closed issue #1464

- [x] Added Examples to Controller toolbox GUI. #1388

- [ ] Worked on issue #1467 and found a library that

[2017-06-10 12:17] RoeiRaz commented on #1467
Done

[2017-06-10 12:17] #1467 closed

[2017-06-10 13:22] #1452 closed

[2017-06-10 14:34] RoeiRaz commented on #1355
Sorry for the long wait 😞
i added a gradle task that runs jflex jar on the relevant file, and it seems to be working fine (but it will require maintenance if the flex file will be renamed). It is executed automatically when 'il.org.spartan.spartan' is built using gradle.

[2017-06-11 12:13] dormaayan opened #1476 "Fix Rename Class Fields"

[2017-06-11 19:05] #1402 closed

[2017-06-11 19:05] #1403 closed

[2017-06-11 19:09] ravivos opened #1477 "build broken in intellij project"
33 compile errors

[2017-06-11 19:20] ravivos commented on #1401
reopening because there appears to be some bugs 😢

[2017-06-11 19:25] OriRoth commented on #1477
Try gradle refresh... also, you shouldn't care (I just closed this project).

[2017-06-11 19:25] #1477 closed

[2017-06-11 21:54] #1401 closed

[2017-06-11 22:13] ravivos commented on #519
Week 11:
- [X] fix #1401
- [x] #1461
- [x] #1456
- [X] #1459
- [X] work on #1415 (almost done)

[2017-06-12 04:58] #1292 closed

[2017-06-12 09:31] RoeyMaor opened #1478 "A Mechanism to create PSI trees from arbitrary code - and retrieve relevant subtree"
such arbitrary code can include, but not limited to:
- code that can be wrapped in a class
- code that can be wrapped in a method
- expression (can be wrapped in function call)
- enum-bound

[2017-06-12 09:33] RoeyMaor commented on #1381
depends on #1478

[2017-06-12 09:36] OriRoth commented on #1478
We implemented this in the Eclipse plugin, you may take a look.

[2017-06-12 09:43] tomerdragucki opened #1479 "Names in Zommer testing"
The auto generation of names in the tests system makes test fail.
for example:
<img width="333" alt="screen shot 2017-06-12 at 12 42 52" src="https://user-images.githubusercontent.com/23155308/27028183-b138b796-4f6c-11e7-80f6-d799ccf4f604.png">
in Issue0980.

[2017-06-12 09:57] #1479 closed

[2017-06-12 10:17] NivShalmon opened #1480 "redo our test utils"
Our test utils became very messy as we added new utils we needs, and have a lot of code duplication.
Currently, we have TestOperand and OperandBloating, whose main difference is whether names are significant or not, yet their names and factories don't really tell that.
Then, OperandBloating also allows testing with binding, bu tin a very aqward manner of:
`bloatingOf(class).givesWithBinding(res,fu

[2017-06-12 11:06] NivShalmon commented on #1449
@yuvalsimon @yossigil
I've added a precondition that there are no increments/decrements in the expression to the tipper. However, this raises the question of whether we only want to not do this in the case of increment/decrement, or in any case of side effects (mostly method invocations). Disabaling the tipper whenever there are posibble side effects will realy weaken it, and break many tests, but

[2017-06-12 11:20] OriRoth commented on #1449
Yes you are right. I'll just drop an actual code for your example:
[code]

[2017-06-12 12:07] #1449 closed

[2017-06-12 12:07] NivShalmon commented on #134
**week 11**

- #1479
- #1449
- fixed tests of #1421

[2017-06-12 13:39] #1395 closed

[2017-06-12 14:11] dormaayan opened #1481 "Display Time While Spartanizing"

[2017-06-12 22:12] yuvalsimon commented on #1448
@tomerdragucki check this ad7b4bd8e610f488b1d4bd74a840d77600438006

[2017-06-12 22:29] yuvalsimon opened #1482 "Save all icons in the project resources"
Seems like the icons places is not consistent on different eclipses. In SpartanizationOperation.java I get error for an icon that can not be resolved - `platform:/plugin/org.eclipse.team.cvs.ui/icons/full/obj16/changelog_obj.gif`
Maybe should save the icons in the project resources instead of using eclipse library? @OriRoth

[2017-06-12 23:18] yuvalsimon opened #1483 "Restoring widget default preferences bug"
It happens when clicking _Restore Defaults_ in OperationsListEditor:
![image](https://user-images.githubusercontent.com/17455055/27059331-8ee119b4-4fde-11e7-802f-cdade2a3a9f7.png)
It gives null pointer exception and corrupts the preferences

[2017-06-12 23:52] OriRoth commented on #1482
Do we have a permission?...

On Jun 13, 2017 02:32, "Yuval Simon" <notifications@github.com> wrote:

[2017-06-13 08:32] #1469 closed

[2017-06-13 08:35] michalcohen commented on #1377
? @RoeiRaz

[2017-06-13 08:36] michalcohen commented on #1462
Is it done and tested? @orenafek

[2017-06-13 08:37] michalcohen commented on #1463
Talk with me if you need a demonstration of this problem as viewed by other groups :) @AnnaBel7

[2017-06-13 08:38] michalcohen commented on #1441
I see this tipper works! 🥇  Are there any more problem I'm not aware of, or can we close this issue?
@orenafek

[2017-06-13 08:39] michalcohen commented on #1439
This tipper worked throughout the last week! Is it done? Can we close this issue? @orenafek

[2017-06-13 08:42] michalcohen commented on #1447
Amiros, I believe you are the guy for this mission :D If you aren't available doing this issue, just unassign yourself, and if you need any more explanations, talk with me or with oren :)
@amirsagiv83

[2017-06-13 08:45] michalcohen commented on #1478
Anna used this kind of mechanism in the "Playground", as we talked in the last meeting. You can use this as well. @RoeyMaor

[2017-06-13 08:52] michalcohen commented on #1369
Weekly log for week 12 12.06 - 18.06
- [x] Finish mechanism for logical replacing rules
- [X] Fixed replacer of Class basic block
- [X] Fixed 'generalizes' of 'Statement'
- [X] Handle modifiers of class
- [X] Updated replacing mechanism to handle copies

[2017-06-13 15:56] OriRoth commented on #1482
This is first priority because Eclipse Oxygen just came out (🎉🎉🎉) and they changed the URL of some of the pictures we are using.

[2017-06-13 16:40] ravivos commented on #1482
I think we should indeed save the icons as part of our project, if it doesn't violate any permissions of eclipse etc

[2017-06-13 16:43] ravivos commented on #1483
will check it out ASAP, thx

[2017-06-13 16:51] ravivos commented on #1483
it looks like the problem is in the preferences I get from the store even when I load the defaults (uncommenting line 49 in spartanWidgetHandler)
@NivShalmon, penny for your thoughts?

[2017-06-13 17:13] NivShalmon commented on #1483
What is this array? This isn't the defualt configuration, that's for sure. And it makes sense there would be a null there since the defualt configuration only has 6 operations. This seems to be a problem of some part of the code not supporting having less than 7 operations, not a problem with the default configuration.
We can add a seventh operation to the default configuration (and probably shoul

[2017-06-13 17:16] ravivos commented on #1483
well, here it does look fine but when you change the default pref and the uncomment line 49, it doesn't work and I suspect that when it will be fixed, this issue will also be fixed

[2017-06-13 19:09] RoeyMaor commented on #1472
the user now has an option to "step" through the tipping process by choosing either single or recursive spartanization:
![screenshot from 2017-06-13 22-05-17](https://user-images.githubusercontent.com/16507852/27099859-e75651d0-5084-11e7-99a4-361db2439629.png)

![screenshot from 2017-06-13 22-05-30](https://user-images.githubusercontent.com/16507852/27099867-eb27f750-5084-11e7-85cb-c48f5f4148ad.pn

[2017-06-13 19:10] RoeyMaor commented on #1472
will leave open for now, in order to add a button to switch the output to the input - allowing the user to "step" through single layers of tipping.

[2017-06-14 04:11] RoeyMaor commented on #1472
well, i thought this was about the spartanize button in the playground. it's about the one in the main menu. will split the discussion

[2017-06-14 04:42] RoeyMaor commented on #1472
It's not that it doesn't work properly, the problems are because the leonidas version of rename to cent causes an inifinite loop of tipping (which oddly doesnt throw any exception), which is ok considering it is marked as "under construction" by michal. this causes the file to be only partially spartanized or not at all.
also, fluentSetter causes an exception.

removing these two tippers via toolb

[2017-06-14 04:54] RoeyMaor opened #1484 "FluentSetter causes null pointer exception"
disabling fluentSetter in the controller solves the issue
also, make sure to disable rename to cent as it is marked as under construction and will cause other problems

null
java.lang.NullPointerException
	at il.org.spartan.Leonidas.plugin.leonidas.Matcher.lambda$getMatchingResult$8(Matcher.java:206)
	at java.util.stream.MatchOps$1MatchSink.accept(MatchOps.java:90)
	at java.util.HashMap$KeySpliter

[2017-06-14 04:57] #1472 closed

[2017-06-14 07:49] #141 closed

[2017-06-14 11:53] yuvalsimon commented on #1483
Still corrupts the preferences @ravivos , maybe should use list instead of array, it shouldn't be always of fixed size of 7

[2017-06-14 12:07] AnnaBel7 commented on #1370
week 10:
- Fixed playground #1426
- Moved all wiki pages to new repo #1434
- Started testing the plugin on mac #1435
- Fixed bug #1437
- Worked on persisting the Toolbox state #1390

[2017-06-14 12:11] AnnaBel7 commented on #1370
week 11: On vacation.

[2017-06-14 13:00] orenafek commented on #1441
Indeed :)

[2017-06-14 13:00] #1441 closed

[2017-06-14 13:26] orenafek opened #1485 "Remove Redundant Curly Braces from If-Else Statement"
This is a common tipper that exists in our toolset in many forms, but was crucial for make "already spartanized tippers" effective, such as #1439.

From :
[code]
to :
[code]

[2017-06-14 13:27] #1485 closed, assigned to orenafek

[2017-06-14 13:27] orenafek commented on #1439
Done :)

[2017-06-14 13:27] #1439 closed

[2017-06-14 13:41] orenafek opened #1486 "Implement New Tipper: IfReturnNoElseTrinary"
Change:
[code]
To:
[code]

[2017-06-14 13:42] orenafek commented on #1486
Done :)

[2017-06-14 13:43] #1486 closed, assigned to orenafek

[2017-06-14 14:29] orenafek opened #1487 "Add additional button to Menu: "Add Spartan Utils""
Upon click on this button, the sprtanUtils file will be added, and the button should be change to
**Update Spartan Utils** and should repaste it into the user's directory. This last requirement is crucial if the user had an older version of the plugin
This is crucial for the usefulness of the
[code]
annotation as in #1447.

[2017-06-14 14:31] orenafek commented on #1447
Done :)
It is crucial that #1487 is solved to enable the maximum flexibility with this ability.

[2017-06-14 14:31] #1447 closed

[2017-06-14 15:13] RoeyMaor opened #1488 "playground step"

[2017-06-14 20:12] AnnaBel7 commented on #1463
done.

[2017-06-14 20:12] #1463 closed

[2017-06-14 21:15] AnnaBel7 commented on #1475
done.

[2017-06-14 21:15] #1475 closed

[2017-06-14 22:20] yuvalsimon commented on #1482
We can use _ISharedImages_ interface to access icons, but it has very limited collection:
http://1.bp.blogspot.com/-rLRCAAU3Z2o/T1Y7hEyBl_I/AAAAAAAAABY/xHiICgoZb8g/s1600/Sans+titre.png

[2017-06-14 22:23] OriRoth commented on #1482
Check it out... I think this photo is very old ;)

[2017-06-14 22:24] OriRoth commented on #1482
@michalcohen you probably should remove your project assignment (get ya hands off ma proparty).

[2017-06-15 04:22] #1488 closed, assigned to RoeyMaor

[2017-06-15 05:26] RoeyMaor commented on #1478
That doesn't work for all cases. also I want to create something that will be used both by the tests and the playground

[2017-06-15 13:14] RoeyMaor opened #1489 "Only one instance of each window type should be able to exist"

[2017-06-15 13:16] RoeyMaor commented on #1484
until this is solved, make sure to disable this tipper in the toolbox controller to prevent dependent bugs (for example exceptions upon spartanizing a file)

[2017-06-15 14:31] AnnaBel7 commented on #1364
In order to finish this tipper, we will need a basic block that represents "any number of parameters" in the method declaration.

[2017-06-15 14:33] OriRoth commented on #1364
Consider double underscore, i.e. `__` . A single underscore is reserved by
some compilers, so you may get a warning for it.

On Jun 15, 2017 5:31 PM, "Anna Belozovsky" <notifications@github.com> wrote:

[2017-06-15 14:47] OriRoth commented on #1364
Also `_1` `_2` etc. for multiple unused parameters.

On Jun 15, 2017 5:33 PM, "Ori Roth" <ori.rothh@gmail.com> wrote:

[2017-06-15 17:12] michalcohen commented on #1462
@orenafek  ?

[2017-06-15 17:13] michalcohen commented on #1380
So is it something you believe can be done? @orenafek

[2017-06-15 18:32] orenafek commented on #1462
Unfortunately, this is harder than I expected. Not done yet

[2017-06-15 21:07] dormaayan opened #1490 "Consistent Names for the GUI"
- [x] Merge the Athenize and the Zoomer menues into one menu

@OriRoth please add here any relevant thing you think is needed to be done with consistency of the GUI.

[2017-06-15 22:32] orenafek commented on #1380
I'm pretty sure it's possible, but requires some technological overcomings

[2017-06-15 23:37] ravivos commented on #1482
whats up?

[2017-06-15 23:38] ravivos commented on #1456
@yuvalsimon... what's up?

[2017-06-16 00:18] ravivos commented on #1483
now it is fixed.
take note that your old preferences might be corrupted and you will need to reset it.
This is how you can do it:

1.  uncomment line 48 in SpartanWidgetHandler
2. uncomment the line in function "parseString", in OperationListEditor.
3. run the plugin
4. enter the widget
5. enter the pref page of the widget
6. close the plugin and comment back the lines you uncommented.

That's it

[2017-06-16 00:20] ravivos opened #1491 "redo our OperationListEditor"
heavy refactoring along with better implementation is required

[2017-06-16 01:00] yuvalsimon commented on #1483
I get ArrayIndexOutOfBoundsException

[2017-06-16 01:03] yuvalsimon opened #1492 "Not allow adding widget operation with empty name"
Currently the user can add operations without entering a name, so need either default name or force the user to enter some name. Also should not allow adding operations with the same name.

[2017-06-16 01:07] yuvalsimon opened #1493 "Add wheel to add new widget operation window"
![image](https://user-images.githubusercontent.com/17455055/27207633-0293ca34-5249-11e7-8e15-013454d72476.png)
Can not see the last operation

[2017-06-16 01:16] ravivos commented on #1483
did you restore the preferences?
can you screen shot the exception?
as @OriRoth always says - pics or it didn't happen

[2017-06-16 01:23] ravivos commented on #1492
Thank you.
Also, I think it should not be named as an existing operation already either

[2017-06-16 01:30] yuvalsimon commented on #1483
Yes I restored them..
![image](https://user-images.githubusercontent.com/17455055/27208124-77171c96-524c-11e7-922b-ff00dcc31c95.png)

[2017-06-16 02:38] yuvalsimon commented on #1456
I wrote some code but the spartanizer is broken @ravivos

[2017-06-16 04:24] yossigil commented on #1449
Folks: there is a method that checks whether an expression has side effects or not

[2017-06-16 05:58] RoeyMaor commented on #1478
Extracting the string of the relevant subtree like in the playground is insufficient, since in the tests we want to compare contents of trees. The issue is that such one-subtree-to-include-them-all doesn't always exist, and in some cases cannot be even artificially created (for example by wrapping in a block {} ).
The solution i'm considering now is still using strings, but in a canonical form (si

[2017-06-16 08:04] OriRoth commented on #1490
I... don't know what you mean.

[2017-06-16 08:07] OriRoth commented on #1492
What? The operation's name is chosen by the programmer, not the user. It may be empty and there may be duplicates.

[2017-06-16 10:14] dormaayan commented on #1490
Done

[2017-06-16 10:14] #1490 closed, assigned to OriRoth, dormaayan

[2017-06-16 13:20] yuvalsimon commented on #1456
@ravivos done:
https://github.com/SpartanRefactoring/Main/wiki/Experience-the-Athenizer-and-Spartanizer

[2017-06-16 13:20] #1456 closed

[2017-06-16 13:43] yuvalsimon commented on #1492
But it's confusing to have operations with the same name or with empty name. Just like we don't allow too big widget size.

[2017-06-17 06:59] #1453 closed

[2017-06-17 07:42] dormaayan commented on #1458
Added

[2017-06-17 07:42] #1458 closed

[2017-06-17 08:43] #1377 closed

[2017-06-17 08:54] michalcohen commented on #1478
If I understand, what Anna did isn't "one-subtree-to-include-them-all " rather "lets try one of this very limited list of encapsulating trees possible":
- Try not wrapping the code. Are there errors?
- Try wrapping with class. Are there errors?
- Try wrapping with method declaration. Are there errors?
- Try wrapping with method call expression.
If there are still errors, they are probably since th

[2017-06-17 09:02] RoeyMaor commented on #1478
i didnt say what she did was one-subtree-to-include-them-all. she used strings, but when i want to compare two trees that represent the same code (perhaps with minute differences like indentation) i can't rely on that string output

[2017-06-17 10:54] OriRoth opened #1494 "Athenize toolbar button should not spartanize selection, only on/off"
Just separate the command in `plugin.xml` into two commands, and refer to their ids in `InflateHandler`.

[2017-06-17 11:52] #1398 closed

[2017-06-17 12:35] OriRoth opened #1495 "Yet another inlining bug"
*Might be a duplication*
[code]
==>
[code]
`b3` is not recognized because it is defined later in the same variable declaration statement.

@dormaayan I need it fixed for the demostration
@ravivos this can easily cause bugs when zomming in/out, thus first priority

[2017-06-17 12:51] yuvalsimon opened #1496 "Bug with exclusion manager"
For the following code:
[code]
we get
[code]
the `if(a!=1)...` should not be there, it happens because firstly _IfStatementBlockSequencerBlockSameSequencer_ is applied and then _IfEmptyThen_ (which should be excluded)

[2017-06-17 13:06] yuvalsimon commented on #1496
Also for this code from guava.LongMath.java:
[code]
it applys IfStatementBlockSequencerBlockSameSequencer two times in the same iteration (for `if(base==0)` and for `if(a==1)`), resulting in errors - we get this:
[code]

[2017-06-17 13:08] OriRoth commented on #1496
It is probably a specific bug within this tipper... Ill apprach it later
today.

On Jun 17, 2017 4:06 PM, "Yuval Simon" <notifications@github.com> wrote:

[2017-06-17 13:26] dormaayan commented on #1495
I'll do that

[2017-06-17 13:27] dormaayan commented on #1495
@OriRoth : In that case, we don't want to inline at all, right ?

[2017-06-17 14:09] OriRoth commented on #1495
Probably.

On Jun 17, 2017 16:27, "dormaayan" <notifications@github.com> wrote:

[2017-06-17 14:21] #1478 closed

[2017-06-17 14:32] RoeyMaor commented on #1381
![screenshot from 2017-06-17 17-22-15](https://user-images.githubusercontent.com/16507852/27253734-9fb8ce4c-5382-11e7-97dd-25bf9302af6d.png)

tests now work on both leonidas and non-leonidas tippers. i have included two example auto-tests, one for safereference (that passes), and one for MethodInvocationToStringToEmptyStringAdditionTest which doesnt pass. to see the reason a test didnt pass one mu

[2017-06-17 14:49] #1381 closed

[2017-06-17 16:39] ravivos opened #1497 "on large projects - bug in renaming to the chosen preference"
only happens in large projects

[2017-06-17 16:50] ravivos commented on #1492
@OriRoth, are you sure that we want to let the programmer (the client) which uses our plugin choose an empty or a duplicated name?

[2017-06-17 16:59] ravivos commented on #1494
I think it should athenize the code, because it should be symmetric to it's neighbor toolbar button - the spartanizer

[2017-06-17 17:23] OriRoth commented on #1492
IDC

[2017-06-17 17:23] OriRoth commented on #1494
No, because now it represents the toggle state as well, so it should only be used for zooming on/off.

[2017-06-17 18:32] ravivos commented on #1494
I think we should add another tool bar button, with the athenizer ICON which will be the toggle button

[2017-06-17 19:06] ravivos opened #1498 "Exception thrown when clicking the same button twice on the widget"

[2017-06-17 19:09] #1415 closed

[2017-06-17 19:09] #1491 closed, assigned to ravivos

[2017-06-17 19:26] ravivos commented on #1493
I made it resizable.
I think it's a better solution

[2017-06-17 19:26] #1493 closed, assigned to ravivos

[2017-06-17 19:28] ravivos commented on #1483
I think I fixed it for good now

[2017-06-17 20:04] #1492 closed, assigned to ravivos

[2017-06-17 20:05] ravivos commented on #1492
empty name is not allowed anymore, duplications are because they still might differ by their configuration

[2017-06-17 20:29] #1428 closed

[2017-06-17 20:30] ravivos opened #1499 "Widget preferences cancel button operates the same as OK button"
Cancel functionality is the same as OK and apply.
This is a hard case to solve because of implementation reasons and won't be fixed in sprint 2

[2017-06-17 20:33] ravivos opened #1500 "restore Default doesn't work in widget preferences page"
the default widget pref is somehow being changed and not shown.
Although line 49 in spartanHandler does work and all functionality works well.

This bug appears also in the version we released where there is no up/down/add/configure/remove at all - just enable/disable.

[2017-06-17 20:40] ravivos commented on #519
Week 12:
- [X] finish #1415
- [x] #1491
- [x] #1493
- [X] #1483
- [X] #1428
- [X] #1492
- [x] #1494

tough week

[2017-06-17 20:42] OriRoth commented on #1494
[REFER](https://thefanaticalswordsman.files.wordpress.com/2011/06/pic_buttons.jpg)

[2017-06-17 20:43] OriRoth commented on #1498
@NivShalmon not yours?

[2017-06-17 20:48] OriRoth commented on #1496
Yes it is probably just a highlight/span problem of `IfStatementBlockSequencerBlockSameSequencer`. @tomerdragucki will take care of it.

[2017-06-18 05:02] NivShalmon commented on #1498
it is mine, and it appears to work. @ravivos, can you explain exactly what happened? I tried to use it and it seems to work just fine. Do note that if build automatically is turned on, its hard to tell whether this did something or not since a new build starts right away.

[2017-06-18 10:00] RoeyMaor opened #1501 "Problem with comments"
the use of multiline comments in the code causes issues with tippers. for example:
![screenshot from 2017-06-18 12-21-07](https://user-images.githubusercontent.com/16507852/27259877-d43b28a6-5425-11e7-86b8-cff9a2d8913e.png)
activating the tipper in the situation above causes an exception.
another example, with a single comment before the relevant content, the tipper is okay:
![screenshot from 2017

[2017-06-18 11:54] OriRoth commented on #1501
You should check how PSI deals with comments in the node level. In ASTNode
for example comments are discarded by the compiler (whitespaces) but can be
created as nodes. Anyway, javadoc comments are part of the Java BNF, so
they should be ok.

On Jun 18, 2017 13:00, "Roey Maor" <notifications@github.com> wrote:

[2017-06-18 13:06] dormaayan opened #1502 "Tips Configuration Windo is broken"

[2017-06-18 13:10] OriRoth commented on #1502
What is the problem exactly? The only thing I saw is that one of the categories cannot be enabled.

[2017-06-18 13:12] dormaayan commented on #1502
I simply tried to import the spartanizer on the running plugin and to configure the active tippers, nothing happened and there were some errors in the console

[2017-06-18 13:15] OriRoth commented on #1502
So maybe it's a backward compatibility/sync issue... check it out.

On Jun 18, 2017 16:12, "dormaayan" <notifications@github.com> wrote:

[2017-06-18 15:08] #1494 closed, assigned to ravivos

[2017-06-18 15:30] yuvalsimon commented on #1482
@OriRoth should I change the widget operations to use _ISharedImages_?

[2017-06-18 15:32] OriRoth commented on #1482
What you want. We can use local images as well.

On Jun 18, 2017 18:30, "Yuval Simon" <notifications@github.com> wrote:

[2017-06-18 15:41] yuvalsimon commented on #1482
@OriRoth is it alright to save eclipse's icons in our project?

[2017-06-18 15:43] OriRoth commented on #1482
Not sure... probably no.

On Jun 18, 2017 6:41 PM, "Yuval Simon" <notifications@github.com> wrote:

[2017-06-18 15:43] OriRoth commented on #1482
Design them yourselves.

On Jun 18, 2017 6:43 PM, "Ori Roth" <ori.rothh@gmail.com> wrote:

[2017-06-18 15:43] yuvalsimon commented on #1493
It's not good @ravivos. Some people have tiny screen, and also if we add more operations it would be too much, and it doesn't look good if someone opens this window and sees half of some text.
@OriRoth what do you think?

[2017-06-18 15:58] amirsagiv83 commented on #1368
Weekly log for week 11 (11.6 - 17.6):

On Vacation.

[2017-06-18 16:08] yuvalsimon commented on #1493
I checked it, just need to change from _Composite_ widget to _ScrolledComposite_, but it throws exception for the ListEditor (so it probably could happen also with the current _Composite_...)

[2017-06-18 16:43] yuvalsimon commented on #1483
@ravivos can not remove now operations. When I remove some operations and then add a new one, all the removed operations return to the list as if I haven't removed them at all.

[2017-06-18 17:01] NivShalmon opened #1503 "Athenize->active window only turns on the mousewheel mode"
`Athenize->active window` is a duplicate of `Athenize->Zoom on/off`, instead of fully bloating the active window.

[2017-06-18 17:18] yuvalsimon opened #1504 "TryMergeCatchers bug"
[code]
goes to
[code]
gives error because RuntimeException is a Throwable. Should not merge such cases.

[2017-06-18 18:29] yuvalsimon opened #1505 "Bug in IfShortestFirst"
[code]
converted to
[code]
because of short circuit. (The code is from guava->Striped64.java)

[2017-06-18 18:37] #1503 closed, assigned to ravivos

[2017-06-18 18:47] yuvalsimon opened #1506 "bug in LocalInitializedNewAddAll"
[code]
goes to
[code]
This constructor does not exist. The code is from guava->Stats.java

[2017-06-18 18:48] #1489 closed, assigned to RoeyMaor

[2017-06-18 18:54] OriRoth commented on #1495
@dormaayan AHA! What do you think about this:
[code]
==>
[code]
==>
[code]

[2017-06-19 05:10] RoeyMaor commented on #1468
"a similar mechanism of eclipse warnings for applicable tippers should be added" - could you elaborate?
also, the warnings do show, both in the editor to the right, and upon compilation. the problem is merely the yellow underline that wont show?

[2017-06-19 09:24] OriRoth commented on #1495
@tomerdragucki Raviv told me you want this issue. It is *urgent* so you have *today* only. The solution I proposed should work, and it make it much easier. Remember tests etc. etc.

[2017-06-19 10:50] michalcohen opened #1507 "Add tipper to warning list"

[2017-06-19 10:53] michalcohen opened #1508 "Make sure the chosen example in the tipper controller isn't null"
Since some of the examples are there to make sure the tip *doesn't* work on things it should not work on.

[2017-06-19 10:55] michalcohen opened #1509 "Save information on the state of a tip between activations"

[2017-06-19 10:56] michalcohen opened #1510 "User interface to add tippers"

[2017-06-19 10:57] OriRoth commented on #1507
You can look for other marker types that may be more appropriate, such as
"info" or whatever.

On Jun 19, 2017 13:50, "Michal Cohen" <notifications@github.com> wrote:

[2017-06-19 10:59] michalcohen opened #1511 "Write example for tips"
Amir:
- [x] FluentSetter
- [x] MethodDeclarationRenameSingleParameterToCent

Roey:
- [x] ReplaceIdPlusOneWithIdPlusPlus
- [x] UnusedParameterToUnderscore

[2017-06-19 11:01] michalcohen opened #1512 "AnyNumberOf named element"
any number of parameters to method

[2017-06-19 11:03] michalcohen opened #1513 "Fix fluent setter"

[2017-06-19 11:04] michalcohen opened #1514 "Fix white space in method single parameter to cent"

[2017-06-19 11:05] michalcohen opened #1515 "If there are several tips, only one is suggested"
In "Toolbox" we should return a list of all applicable tips, and not only the first one

[2017-06-19 11:06] michalcohen opened #1516 "Move examples to fluent API"

[2017-06-19 11:06] michalcohen opened #1517 "Test all leonidas tippers in one file"
If an example of tip fails, the message should also include the name of the tip

[2017-06-19 11:07] michalcohen opened #1518 "Guide: "how to write tips""
As detailed as possible, including explenation on the building blocks of the leonidas language.

[2017-06-19 11:08] michalcohen opened #1519 "Check wikis are up to date"

[2017-06-19 11:16] #1380 closed

[2017-06-19 12:08] SharonKL opened #1520 "RemoveCurlyBraces shouldn't apply when it contains only a field declaration"
Applying such tippers on the following code for example, will cause compilation errors:

[code]

[2017-06-19 13:12] #1520 closed, assigned to SharonKL

[2017-06-19 13:27] amirsagiv83 commented on #1511
@RoeyMaor ,
I'll take the first two and you take the the others.
If you prefer otherwise, let me know

[2017-06-19 13:33] amirsagiv83 opened #1521 "Bug: Nano patterns pop-up"
When trying to spartanize a file, if you cancel the pop up, it will show up again for each available pattern.
should to changed to asking only once during the process.

[2017-06-19 13:35] amirsagiv83 commented on #1508
Done.

[2017-06-19 13:35] #1508 closed, assigned to amirsagiv83

[2017-06-19 13:37] michalcohen opened #1522 "Leonidas tippers are dupplicated in tool box"
For example, 'FluentSetter' appear twice.
@amirsagiv83  I think it was related to the controller, but I'm not sure. If you can't fix it, assign someone else :)

[2017-06-19 13:50] #1498 closed, assigned to NivShalmon

[2017-06-19 13:58] NivShalmon commented on #1506
This is a troublesome one. The only real way to prevent this is by using binding, but the spartanizer works without binding. We can work around this by hard-coding the classes we work on, though that would make the tipper weaker than the matching bloater that does use binding

[2017-06-19 14:05] OriRoth commented on #1506
Or just declare it as non core...

On Jun 19, 2017 4:58 PM, "Niv Shalmon" <notifications@github.com> wrote:

[2017-06-19 14:28] #1163 closed

[2017-06-19 15:04] #1515 closed, assigned to SharonKL

[2017-06-19 17:27] #1495 closed, assigned to yuvalsimon

[2017-06-19 17:35] OriRoth opened #1523 "Inlining fails"
This should be fully inlined, i.e. no b# variables:
[code]
@SpartanRefactoring/zoomers

[2017-06-19 17:38] OriRoth commented on #1523
There are several tippers involved here. `b4` should be inlined, simple stuff. `b7` should be inlined, followed by combining `b5`'s definition and initialization then its (final) inlining into the return statement.

@NivShalmon want to take it as a challenge?

[2017-06-19 17:44] yuvalsimon opened #1524 "Inlining bug"
using LocalInitializedStatementTerminatingScope:
[code]
goes to
[code]

[2017-06-19 17:55] yuvalsimon commented on #1524
Sorry, mistake

[2017-06-19 17:55] #1524 closed, assigned to yuvalsimon

[2017-06-19 18:03] yuvalsimon commented on #1523
Note that in the current release it is fully inlined

[2017-06-19 18:04] OriRoth commented on #1524
IT SHOULD BE BUT IT DOES NOT HAPPEN, see #1523

[2017-06-19 18:05] OriRoth commented on #1523
I don't care about current release, I care about current status.

[2017-06-19 18:05] OriRoth commented on #1523
It is probably a one-line-fix BTW.

[2017-06-19 18:08] yuvalsimon commented on #1523
Your suggestion in #1495 solves this, if you replace the declarations order of b5 and b7 you'll end up with this:
[code]

[2017-06-19 21:42] amirsagiv83 commented on #1487
Closed.

[2017-06-19 21:42] #1487 closed, assigned to amirsagiv83

[2017-06-20 04:46] #1511 closed, assigned to amirsagiv83, RoeyMaor

[2017-06-20 07:58] orenafek commented on #1385
@michalcohen
As you can see above, I've already updates the template 20 days ago :)

[2017-06-20 07:59] orenafek commented on #1516
Done :)

[2017-06-20 07:59] #1516 closed, assigned to orenafek

[2017-06-20 09:11] NivShalmon commented on #1523
I just tried this in the current build using the default enabled tipeprs and it is fully spartanized

[2017-06-20 09:14] NivShalmon opened #1525 "Preferences page throws index out of bounds exception when a project is closed"
I enconted it in the next situation:
two project, test and test2. test is closed. I opened the preferences page and pressed `configure tippers` for test2, and got an index out of bound exception in:
[code]
A possible solution is to find the project by name, rather than by index.

[2017-06-20 09:30] orenafek commented on #1462
Fixed. :)

[2017-06-20 09:30] #1462 closed

[2017-06-20 09:35] #1341 closed

[2017-06-20 09:36] #1344 closed

[2017-06-20 12:51] NivShalmon commented on #1523
I forgot to pull, this indeed doesn't work now. I'll implement a tipper to do @OriRoth's suggetion from #1495 and that should solve this

[2017-06-20 13:05] OriRoth commented on #1523
No, you should just replace the current's implementation - then other tippers should do the rest.

[2017-06-20 13:22] #1523 closed, assigned to NivShalmon

[2017-06-20 18:00] orenafek opened #1526 "Implement new Tipper: For Redundant Conitnue"
Transform:
[code]
To:
[code]

e.g.:
[code]
to:
[code]

[2017-06-20 18:50] orenafek opened #1527 "Implement new Tipper: LocalInitializedReturn"
From:
[code]
To:
[code]

[2017-06-20 18:51] orenafek commented on #1527
Done :)

[2017-06-20 18:51] #1527 closed, assigned to orenafek

[2017-06-20 18:55] amirsagiv83 commented on #1507
Unfortunately we cant do this because we don't use IntelliJ's inspection mechanism.

I built something myself. will open an Issue.

[2017-06-20 18:55] #1507 closed, assigned to amirsagiv83

[2017-06-20 18:56] amirsagiv83 opened #1528 "Create Available Tipper List GUI"

[2017-06-20 18:59] #1528 closed, assigned to amirsagiv83

[2017-06-20 19:30] OriRoth opened #1529 "Mystery bug"
[code]
Using `Spartanize active window` with the following code makes an error:
[code]

[2017-06-21 04:57] RoeyMaor opened #1530 "implement new tipper: anonimyzeAllParameters"

[2017-06-21 07:31] OriRoth commented on #1530
Are you sure that is a new tipper? Regard #1364

[2017-06-21 07:41] OriRoth commented on #1482
This is not closed! We should do so for all icon, why stopping at the widget?

[2017-06-21 07:41] OriRoth commented on #1482
Mind `Dialogs.java` and `plugin.xml`.

[2017-06-21 17:35] amirsagiv83 commented on #1519
The guides are clear and well designed.
@michalcohen  there is a wiki about the Leonidas Engine. I think you should replace it with the one your'e planning.

@RoeyMaor There is a wiki about our testing methods. I think you should be the one to update it since you worked on the testing of tippers. Please make sure to do that.

Closing.

[2017-06-21 17:35] #1519 closed, assigned to amirsagiv83

[2017-06-21 22:35] ravivos opened #1531 "List of bugs in git push/pull/commit"
Writing here a list of bugs I found when using the git push/pull/commit from widget (which is by the way very convenient and would probably be a great feature in our plugin excluding the bugs):

1. git pull says "pulled successfully" even when project is up to date and there is nothing to pull.
2. git push says "pushed successfully" even when there is no commit to push
3. git commit should have a

[2017-06-22 07:26] #1438 closed

[2017-06-22 07:26] #1513 closed, assigned to michalcohen

[2017-06-22 07:27] #1484 closed, assigned to michalcohen, SharonKL

[2017-06-22 13:51] ravivos opened #1532 "when text selected - should zoom *only* selected"

[2017-06-22 15:58] #1330 closed

[2017-06-22 18:06] amirsagiv83 commented on #1522
I can't reproduce the bug...
I also went over the algorithms of the toolbox to see if i can fins something but all seem right.
Im closing this and if anyone encounters this bug, we will reopen this issue.

[2017-06-22 18:06] #1522 closed, assigned to amirsagiv83, AnnaBel7

[2017-06-22 21:32] tomerdragucki opened #1533 "ctrl+5 applies more than one tip"
For example:
[code]
and there's only tip on the else's curly braces (remove redundant). but pressing ctrl+5 gives:
[code]

[2017-06-22 21:40] OriRoth commented on #1533
Example please.

[2017-06-22 22:33] yuvalsimon opened #1534 "Athenizer deflater doesn't use project configuration"
When spartanizing using SingleFlater (mouse wheel) all the tippers are enabled and not only those as configured.
Should it be this way?

[2017-06-22 22:36] OriRoth commented on #1534
The solution should be disabling tipper-bloater couples using the spartanizer configuration---if a tipper is disabled so should be its contra bloater, and vise versa. [Lonely bloaters](http://i0.kym-cdn.com/entries/icons/original/000/003/619/Untitled-1.jpg) require separate configuration, but this is stage 2.

[2017-06-23 00:06] yuvalsimon opened #1535 "Unsafe if-inversion"
Consider this case:
[code]
When using subject.pair(elze,then).toNot(cond1) it does not consider the inner if statement (cond2) which would be concatenated with other ifs this way:
[code]
In this case need to enclose the statement under if(!cond1) in a block, which then give us:
[code]
There are similar cases when the original if is not enclosed in block and when both if and else are not enclosed i

[2017-06-23 00:06] yuvalsimon commented on #1505
waiting for #1535

[2017-06-23 10:30] amirsagiv83 opened #1536 "Bug in Spartanize Current file"
There is a bug in the spartanize current file when running this code for example:
[code]

[2017-06-23 11:55] OriRoth commented on #1535
Great analysis. This should be dealt with as with if-brackets-removal.

[2017-06-23 14:21] orenafek commented on #1526
Done :)

[2017-06-23 14:21] #1526 closed, assigned to orenafek

[2017-06-23 15:36] RoeyMaor commented on #1536
i understand this is a blocker. will update

[2017-06-23 15:37] #1530 closed, assigned to RoeyMaor

[2017-06-23 16:56] RoeyMaor opened #1537 "if double not issues"
IfDoubleNot should have affected the example:
[code]
but it didn't.

also, for the following example:
[code]
there is an exception:
[code]

[2017-06-23 17:50] #1496 closed, assigned to tomerdragucki

[2017-06-23 19:55] #1535 closed, assigned to yuvalsimon

[2017-06-23 19:56] yuvalsimon commented on #1535
done in 51a772aed9f6c047303cb91d2933b827b5dc78d4

[2017-06-23 20:28] yuvalsimon commented on #1505
done in 51a772aed9f6c047303cb91d2933b827b5dc78d4

[2017-06-23 20:28] #1505 closed, assigned to yuvalsimon

[2017-06-23 20:34] yuvalsimon commented on #1505
@yossigil for the above code (with the fixed tipper) we get:
[code]
Seems not like a good tipper in the case when there is if-else-if sequence like above, shouldn't it ignore such cases?

[2017-06-23 20:37] yuvalsimon commented on #1506
It's non core now

[2017-06-23 20:39] yuvalsimon commented on #1506
I'll keep it open to remember it if binding would be added to the spartanizer sometime

[2017-06-23 20:39] OriRoth commented on #1506
It won't

[2017-06-23 20:39] #1506 closed, assigned to yuvalsimon

[2017-06-23 20:40] OriRoth commented on #1506
@yuvalsimon maybe tag this issue near the non-core declaration o it won't be removed.
[code]

[2017-06-24 07:38] #1517 closed, assigned to RoeyMaor

[2017-06-24 08:02] RoeyMaor opened #1538 "Tipper debugging"
Everyone (who are not on vacation) should run the test TestAllTippers and see what they can fix.
also, it's important to pay attention to the examples written. many times a ; is forgot, or an access modifier that exists in the key but not in the value, variable names are written inconsistently etc. such things cause false alarms. please test the validity of your examples before pushing.

you can c

[2017-06-24 11:06] SharonKL opened #1539 "Save tipper-specific data between intellij runs"
Make sure parameters that are changed for specific tippers (for example the cent, or whether to activate method related tippers on private, protected or public methods) are saved when the plugin terminates, and loaded when it starts.

[2017-06-24 11:31] OriRoth commented on #1539
Consider #1390

[2017-06-24 11:31] OriRoth commented on #1496
@tomerdragucki great job.

[2017-06-24 12:37] amirsagiv83 opened #1540 "Bug: Cent tipper replaces wrong fields and methods names"

[2017-06-24 12:38] #1540 closed, assigned to amirsagiv83

[2017-06-24 12:44] amirsagiv83 commented on #1388
So, I think we are finally done here.
Edit tipper will probably be re-designed, but a new issue will deal with it.
Saving the info will be managed in #1539

[2017-06-24 12:44] #1388 closed

[2017-06-24 13:19] amirsagiv83 opened #1541 "Move EditTipper to work with GridBagTable"

[2017-06-24 13:20] RoeyMaor opened #1542 "loading indicator for spartanize current file"

[2017-06-24 13:25] RoeyMaor commented on #1536
fixed

[2017-06-24 13:25] #1536 closed, assigned to RoeyMaor

[2017-06-24 20:47] #1521 closed, assigned to amirsagiv83

[2017-06-24 20:49] amirsagiv83 commented on #1368
Weekly log for week 12 (18.6 - 24.6):

- [x] Fixed examples for ToolBoxController GUI #1508

- [x] Writing tests examples for tippers. #1511

- [x] Updates wikis #1519

- [x] Created new interactive GUI feature that shows the user all available tipper for a file. #1528

- [x] Fixed a bug in nano patterns pop up. #1521

- [x] Fixed bugs in cent tipper. #1540

- [x] Built the edit tipper GUI 🎉 with

[2017-06-25 06:26] dormaayan commented on #1504
Solved

[2017-06-25 08:56] yossigil opened #1543 "Create gradle project for cmdline"

[2017-06-25 09:02] yossigil opened #1544 "Implement class spartanize"

[2017-06-25 09:03] yossigil opened #1545 "Tipper dropout. How come we lost so much."

[2017-06-25 12:56] orenafek commented on #1537
This bug doesn't seems to appear on my machine.
closing...

[2017-06-25 12:56] #1537 closed, assigned to orenafek, SharonKL

[2017-06-25 18:47] ravivos commented on #1482
@yuvalsimon
Icons are not good because some of them have a white bg instead of a transparent one
use [this](https://stackoverflow.com/questions/12945763/how-to-convert-the-background-to-transparent)
this is first prio, do ASAP

[2017-06-25 19:57] #1482 closed, assigned to yuvalsimon

[2017-06-25 22:10] SharonKL commented on #1510
Interface has been added and tippers are being saved between sessions.

[2017-06-25 22:10] #1510 closed, assigned to SharonKL

[2017-06-26 07:42] yossigil opened #1546 "Change AVATAR"
To something more distinct

[2017-06-26 07:43] OriRoth commented on #1546
Your picture please.

[2017-06-26 08:46] #1546 closed, assigned to EylonSho

[2017-06-26 19:20] yuvalsimon commented on #1545
@yossigil Raviv and I checked it, seems alright.
On guava project:
* With version 2.6.3 we got 13777 tips applied and ended up with 148713 lines of code
* With the current version 13873 tips applied, and ended up with146124 line of code

In the original guava project there are 155944 lines of code (I counted all lines in the src folder, didn't exclude comments)

[2017-06-26 20:15] tomerdragucki commented on #1531
Number 4 is as a result of jgit ignoring the local conf which does autocrlf. There's a separate issue for that. I handled 1 and 2 in my last commits.

[2017-06-26 21:21] yossigil commented on #1545
Thanks @OriRoth

[2017-06-26 21:21] #1545 closed, assigned to ravivos, yossigil, yuvalsimon

[2017-06-26 21:43] yuvalsimon commented on #1504
Still occurs:
[code]
goes to
[code]
in guava->FakeTimeLimiter

[2017-06-26 21:57] yuvalsimon opened #1547 "Assignment inlining bug"
With the tipper AssignmentAndAssignmentOfSameValue:
[code]
goes to
[code]
Gives type mismatch error
I suppose its a wontfix

[2017-06-26 22:03] yuvalsimon opened #1548 "Bug in InfiniteForBreakToReturn"
[code]
goes to
[code]
Didn't replace all the breaks with the return, we get error for funciton without return value.
Check other similar tippers as well ! (for example WhileInfiniteBreakToReturn)
This is from guava->AbstractFuture

[2017-06-26 22:07] yossigil commented on #1546
:+1:

[2017-06-26 22:16] yuvalsimon opened #1549 "Bug in IfCommandsSequencerNoElseSingletonSequencer"
[code]
goes to
[code]
in guava->Sets.
gives unreachable code error

[2017-06-26 23:02] #1549 closed, assigned to yuvalsimon

[2017-06-26 23:39] yuvalsimon opened #1550 "Infinite renaming tippers apply"
MethodDeclarationRenameSingleParameter and ParameterAbbreviate don't stop being applied (in guava project). @dormaayan You worked on renaming
These tippers change some names alternately, try this:
[code]
(from guava->Joiner)

[2017-06-27 08:01] #1514 closed, assigned to michalcohen, amirsagiv83

[2017-06-27 09:25] yossigil opened #1551 "Check how well maintained is CFG in AutoRefactor"
@dormaayan , this is for you to do, while @OriRoth is the bridge [dummy](https://en.wikipedia.org/wiki/Glossary_of_contract_bridge_terms#D).

You can add an emoji but not more than that

[2017-06-27 10:01] dormaayan opened #1552 "Known Bug Wikipage"

[2017-06-27 10:52] amirsagiv83 commented on #1386
Unfortunately this was a nice to have issue but we don't have the time to test it.
Closing.

[2017-06-27 10:52] #1386 closed

[2017-06-27 10:54] #1385 closed

[2017-06-27 11:04] amirsagiv83 commented on #1538
Specific issues will be opened for each failing tipper.

[2017-06-27 11:04] #1538 closed, assigned to RoeiRaz, orenafek, amirsagiv83, SharonKL

[2017-06-27 11:06] amirsagiv83 opened #1553 "Improve about leonidas GUI"
Make it look better and edit the content.

[2017-06-27 11:09] amirsagiv83 commented on #1553
Also make sure the scrolling window doesn't start from the end like it is now.

[2017-06-27 11:46] amirsagiv83 commented on #1541
After talking with Yossi about this, I will close this issue, and if it bothers someone in the future, there is a base code of Roei to take care of this.

[2017-06-27 11:46] #1541 closed, assigned to amirsagiv83

[2017-06-27 13:00] amirsagiv83 commented on #1444
This is a permanent issue! please don't close it!

[2017-06-27 13:03] OriRoth commented on #1444
If it is permanent, consider either giving it better description or moving it to wiki.

[2017-06-27 13:15] RoeyMaor opened #1554 "exception upon disabling spartanization in current file, and then enabling it back again via the menu"
![screenshot from 2017-06-27 16-14-03](https://user-images.githubusercontent.com/16507852/27589324-b836574a-5b53-11e7-9873-57426a9191e6.png)

[2017-06-27 13:43] amirsagiv83 commented on #1554
You got this exception because you tried to press the button and your cursor want's focused on a certain file in the editor.

I'ts not a bug, I'll just catch the exception and ignore it.

[2017-06-27 13:48] #1554 closed, assigned to amirsagiv83, RoeyMaor

[2017-06-27 14:31] amirsagiv83 opened #1555 "New Tipper: AssignAndAssignToSameValue"

[2017-06-27 16:33] OriRoth commented on #1555
Be careful with natives, boxing etc.

On Jun 27, 2017 17:31, "Amir Sagiv" <notifications@github.com> wrote:

[2017-06-27 16:41] yossigil commented on #1163
:100:

[2017-06-27 16:44] amirsagiv83 opened #1556 "Bug in FluentSetter"
Fluent setter somehow works if it's an inner class but doesn't work well otherwise.

[2017-06-27 16:46] amirsagiv83 commented on #1556
Looks like it also removed modifiers of class

[2017-06-28 07:52] RoeyMaor commented on #1553
done in original repo

[2017-06-28 07:52] #1553 closed, assigned to RoeyMaor

[2017-06-28 08:08] RoeyMaor commented on #1468
as we spoke in the meeting, closing

[2017-06-28 08:08] #1468 closed

[2017-06-28 22:44] ravivos commented on #1351
I think it is fixed, isn't it?

[2017-06-28 22:44] #1351 closed

[2017-06-28 22:46] #1457 closed

[2017-06-28 22:46] #1532 closed, assigned to ravivos

[2017-06-28 22:47] #1531 closed, assigned to OriRoth, tomerdragucki

[2017-06-28 22:57] ravivos commented on #1550
@dormaayan , what about it?
should we cancel all those tippers or will you fix it ASAP?
 we need to release

[2017-06-28 23:00] ravivos commented on #1534
It's not a bug, it's a feature.
Meaning when using the athenizer we want to zoom in and **zoom out**, regardless of the spartanizer preferences which is not related to this plugin

[2017-06-28 23:02] ravivos commented on #1497
@dormaayan
It is really important!!
will it be fixed by today or should we take it off the release version?
THIS IS CAUSING A LOT OF REDUNDANT BUGS AND IN MY OPINION THE MAJOR BUG!!

[2017-06-28 23:03] #1483 closed, assigned to ravivos

[2017-06-28 23:04] ravivos commented on #1448
@tomerdragucki
I guess this won't be fixed?

[2017-06-28 23:04] ravivos commented on #1427
@dormaayan  ????
won't fix?

[2017-06-28 23:06] ravivos commented on #1476
if you are not going to fix it, delegate or add the won't fix label

[2017-06-29 01:20] #1548 closed, assigned to yuvalsimon

[2017-06-29 01:44] #1504 closed, assigned to yuvalsimon, dormaayan

[2017-06-29 04:07] #1450 closed

[2017-06-29 06:06] #1421 closed

[2017-06-29 09:18] tomerdragucki commented on #1448
Unfortunately couldn't find a solution... I saw that jgit used to have a bug of ignoring autocrlf so maybe it's that. :/

[2017-06-29 11:35] SharonKL opened #1557 "Closing Controller by hitting OK button prevents it from opening again"
If you close the Controller by clicking on the OK button, the window can't be opened again

[2017-06-29 12:41] dormaayan commented on #1502
Seems like it was only a local problem on my computer

[2017-06-29 12:41] #1502 closed, assigned to OriRoth, dormaayan

[2017-06-29 13:58] orenafek opened #1558 "NewTipper: ArrayAccessAndIncrement"
From:
[code]

To:
[code]

[2017-06-29 13:59] orenafek commented on #1558
Done.
(At old repo)

[2017-06-29 13:59] #1558 closed, assigned to orenafek

[2017-06-29 14:00] AnnaBel7 opened #1559 "Add more tipper tests"
Add examples to each Leonidas tipper

[2017-06-29 14:04] OriRoth commented on #1532
Did you implemented this? @ravivos

[2017-06-29 14:06] OriRoth commented on #1532
No you did not. If you close an issue without solving it *directly*, please say so.

[2017-06-29 14:07] ravivos commented on #1532
Because it is already implemented, though zooms only once, which is fine and correct

[2017-06-29 14:08] OriRoth commented on #1550
We are here at the Technion and the release is drinking exotic beverages in the Maldives.

[2017-06-29 14:08] AnnaBel7 commented on #1559
- [x] AssignmentAndAssignmentToSameKill
- [x] AssignmentAndReturn
- [x] CollapseTrinaryIfThrowNoElseThrow
- [x] EliminateTryBodyEmptyNoCatchesNoFinally
- [x] FluentSetter
- [x] ForRedundantContinue
- [x] ForTrueConditionRemove
- [x] IfAssignToFooElseAssignToFoo
- [x] IfDoubleNot
- [x] IfEmptyThen
- [x] IfReturnNoElseReturn
- [x] InfixGreaterEqualToGreater
- [x] InfixLessEqualsToLess
- [x] InfixMul

[2017-06-29 14:09] OriRoth commented on #1534
IT MAY BE A FEATURE, BUT NOT A GOOD ONE. Please regard my comment about the subject.

[2017-06-29 14:10] OriRoth commented on #1534
You can remove the milestone assignment if you want, but do not close the issue.

[2017-06-29 14:12] OriRoth commented on #1427
VERY VERY FIX

[2017-06-29 14:12] OriRoth commented on #1476
VERY VERY FIX

[2017-06-29 14:13] OriRoth commented on #1532
Not using the mouse wheel!

[2017-06-29 14:15] OriRoth commented on #1421
You use binding right? @NivShalmon

[2017-06-29 14:17] NivShalmon commented on #1421
of course

[2017-06-29 15:24] dormaayan commented on #1550
Done

[2017-06-29 15:39] orenafek opened #1560 "NewTipper: AssignmentAndAssignmentTheSame"
From:
[code]
To:
[code]
**Attention!**
This tipper doesn't apply to methods with any number of paramters.
when this building block will be available, this tipper needs to be refactored, and this issue reopened.
@michalcohen FYI.

[2017-06-29 15:51] ravivos commented on #1534
But the athenizer shouldn't use the spartanizer preferences at all!
it doesn't make sense that it will, thus the following use-case:
A programmer from Brauda college doesn't want to use any of the spartanizer tips, but does want to use the athenizer wheel feature so he expands his code using the mouse wheel.
now when he finishes, he would like to get back to the less expanded version therefore he

[2017-06-29 15:53] dormaayan commented on #1427
@OriRoth won't be fixed for that release

[2017-06-29 15:58] dormaayan commented on #1476
@OriRoth This tipper is disabled for now, so there is actually no problem, and it doesn't give anything since it simply change names with a really stupid heyuristic...

[2017-06-29 16:25] amirsagiv83 commented on #1557
Fixed.

[2017-06-29 16:25] #1557 closed, assigned to amirsagiv83

[2017-06-29 16:35] RoeyMaor opened #1561 "NewTipper: WildcardTypeExtendsObjectTrim"

[2017-06-29 16:36] RoeyMaor opened #1562 "NewTipper: infixLessEqualsToLess"

[2017-06-29 16:36] #1562 closed, assigned to RoeyMaor

[2017-06-29 16:37] RoeyMaor opened #1563 "NewTipper: InfixMultiplicationByOne"

[2017-06-29 16:37] #1563 closed, assigned to RoeyMaor

[2017-06-29 16:38] OriRoth commented on #1563
Beware of casting issues. Arithmetic tippers are almost always buggy.

On Jun 29, 2017 19:37, "Roey Maor" <notifications@github.com> wrote:

[2017-06-29 16:39] OriRoth commented on #1563
In arithmetics casting --> precision.

On Jun 29, 2017 19:38, "Ori Roth" <ori.rothh@gmail.com> wrote:

[2017-06-29 16:39] RoeyMaor opened #1564 "NewTipper: InfixGreaterEqualToGreater"

[2017-06-29 16:39] #1564 closed, assigned to RoeyMaor

[2017-06-29 16:40] RoeyMaor commented on #1561
because the relevant basic block doesn't exist, will handle single parameter methods only

[2017-06-29 17:08] ravivos opened #1565 "preferences page - "sprtanization tips" needs restoring defaults sometimes"
a very rare bug, happens becaus eclipse runtime preferences is the same as regular one

[2017-06-29 17:54] #1561 closed, assigned to RoeyMaor

[2017-06-29 18:01] RoeyMaor opened #1566 "NewTipper: WhileInfiniteBreakToReturn"

[2017-06-29 18:28] yuvalsimon commented on #1550
@dormaayan  you broke more than 30 tests and we are right before release

[2017-06-29 18:34] #1566 closed, assigned to RoeyMaor

[2017-06-29 18:38] RoeyMaor opened #1567 "NewTipper: TryFinallyEmptyRemove"

[2017-06-29 19:03] dormaayan commented on #1550
@yuvalsimon : Sorry, I was in rush so I forgot about the tests, fixed.

[2017-06-29 19:03] #1550 closed, assigned to dormaayan

[2017-06-29 19:07] yuvalsimon opened #1568 "Inlining bug"
In LocalUninitializedDead:
[code]
goes to
[code]
i2 not declared. There are many tests that pass and claim this situation is alright

[2017-06-29 19:11] #1568 closed, assigned to yuvalsimon

[2017-06-29 22:14] #1567 closed, assigned to RoeyMaor

[2017-06-29 22:33] RoeyMaor opened #1569 "NewTipper: SwitchSingleCaseToIf"

[2017-06-29 23:12] RoeyMaor opened #1570 "NewTipper: CastToLong2Multiply1L"

[2017-06-29 23:12] #1570 closed, assigned to RoeyMaor

[2017-06-30 05:10] RoeyMaor commented on #1569
requires constant expression building block. marked as incomplete

[2017-06-30 05:10] #1569 closed, assigned to RoeyMaor

[2017-06-30 08:06] RoeyMaor commented on #1542
done

[2017-06-30 08:06] #1542 closed, assigned to RoeyMaor

[2017-06-30 09:56] OriRoth opened #1571 "Zooming renamed file"
The zooming does not work, even if the button is toggled, when the file has been renamed.
@ravivos

[2017-06-30 10:07] OriRoth opened #1572 "Organize categories"
- [x] Marker in `plugin.xml` for each category
- [x] We have two "Collape" categories, eliminate one
- [ ] We have "Sort" and "Sorting" categories, eliminate one

[2017-06-30 13:23] OriRoth commented on #1572
Note: I wrote a `main` method in `Category` class that generates the marker/quickfixes extensions for `plugin.xml`.

[2017-06-30 18:10] #1560 closed, assigned to orenafek

[2017-06-30 18:10] #1367 closed

[2017-06-30 20:09] AnnaBel7 opened #1573 "update "join us" wiki"

[2017-07-01 01:59] yuvalsimon commented on #1053
@ravivos
https://github.com/SpartanRefactoring/Main/wiki/Testing-bloaters-with-binding

[2017-07-01 01:59] #1053 closed

[2017-07-01 02:15] yuvalsimon commented on #1453
@dormaayan Seems like both staysWithBinding versions does not work. See Issue1001 which uses staysWithBinding(), the test should fail.

[2017-07-01 11:15] #1539 closed, assigned to SharonKL

[2017-07-01 17:28] SharonKL opened #1574 "Add a section for the Add Tipper window in the wiki"

[2017-07-01 18:46] NivShalmon commented on #134
**week 12**
vacation

**week 13**

- #1163
- #1421 added tests
- #1498
- #1523
- work on the instalation manual wiki and other small bug fixes in preperation for the release

[2017-07-01 18:55] #1574 closed, assigned to SharonKL

[2017-07-01 19:01] SharonKL commented on #1518
https://github.com/SpartanRefactoring/Main/wiki/IntelliJ-How-to-Write-Leonidas-Tippers

[2017-07-01 19:01] #1518 closed, assigned to SharonKL

[2017-07-01 20:12] #1433 closed

[2017-07-01 20:12] #1501 closed, assigned to michalcohen, orenafek

[2017-07-01 20:12] #1365 closed

[2017-07-01 20:12] #1364 closed

[2017-07-01 20:13] #1555 closed, assigned to amirsagiv83

[2017-07-01 20:13] #1556 closed, assigned to michalcohen

[2017-07-01 20:13] #1509 closed, assigned to RoeiRaz

[2017-07-01 20:26] amirsagiv83 commented on #1368
Weekly log for week 13 (26.6 - 1.7):

- [x] Added 3 new tippers

- [x] fixed bugs in older tippers

- [x] Updated wikis and created an organized wiki with all the information needed for users and developers.

- [x] Added tests to increase codecov

- [x] Fixed bug in ToolBox controller.

- [x] Managed issues and cards in the repository and project.

- [x] Managed all the finishes needed to be done

[2017-07-01 20:26] #1559 closed, assigned to AnnaBel7

[2017-07-01 21:08] michalcohen commented on #1369
Week 13 (19.06 - 29.06) was not availale.

[2017-07-01 21:11] michalcohen commented on #1369
Half Week 14 30.06 - 03.07
- [X] Fixed bugs throughout the tippers
- [X] Fixed bugs in Quantifier
- [X] Added 'all' basic clock
- [X] Added iterator for quantifier
- [X] spartanized project

[2017-07-01 21:19] AnnaBel7 commented on #1573
Done.

[2017-07-01 21:19] #1573 closed, assigned to AnnaBel7

[2017-07-01 21:31] AnnaBel7 commented on #1370
week 12:
- Fixed Playground Alignment #1463
- Added option to disable nano patterns #1475
- Worked on implementing tipper #1364
- Worked on implementing tipper #1365
- Helped Debugging

[2017-07-01 21:31] AnnaBel7 commented on #1370
week 13: On vacation

[2017-07-01 21:38] AnnaBel7 commented on #1370
week 14:
- Updated "Join Us" wiki #1573
- Added tests to all Leonidas tippers #1559 (commits in the separate [repo](https://github.com/TechnionYP5777/Leonidas-FTW)
- Helped debugging
- Fixed problems found in old tippers

[2017-07-01 23:12] #1552 closed, assigned to ravivos

[2017-07-01 23:28] ravivos opened #1575 "when changing the chosen preference, need to restart eclipse for the change to be applied"
when changing the chosen preference in the "spartanization tips" preference page -  need to restart eclipse for the change to be applied

[2017-07-02 00:18] ravivos commented on #519
Week 13 report:
Vacation 🎉

Week 13 second part:
#1532
#1503
#1499 worked on but didn't fix completely
#1552
#1545
fix bugs which popped before the release
manage all wikis

[2017-07-02 10:02] tomnof opened #1576 "Installing the project"
It is not specified, or I didn't find it in the installation wiki - what should I do after downloading the JAR ?

[2017-07-02 10:03] NivShalmon commented on #1576
which project do you test, the athenizer or leonidas?

[2017-07-02 10:04] tomnof commented on #1576
athenizer

[2017-07-02 10:04] RoeyMaor commented on #1576
im also testing it, and found it here https://github.com/SpartanRefactoring/Main/wiki/Athenizer-Plugin-TL;DR

[2017-07-02 10:05] NivShalmon commented on #1576
Specifically in this issue https://github.com/SpartanRefactoring/Main/wiki/Installation-instructions
in the installing from a jar part

[2017-07-02 10:05] #1576 closed, assigned to nobody

[2017-07-02 10:06] dormaayan opened #1577 "Bug of MethodDeclarationRenameSingleParameterToCent"
While trying to configure `MethodDeclarationRenameSingleParameterToCent`, an error occurred during the opening of the configurations screen.

[2017-07-02 10:10] AviadCo opened #1578 "Added notification that plugin was installed successfuly"
After putting the jar file in the eclipse/dropins folder and running eclispe there is no notification that the plugin was installed succesfuly. is there anyway to add such one?

[2017-07-02 10:10] tomnof commented on #1576
after I put the jar in the dropin folder and started Eclips - nothing happened. What next?

[2017-07-02 10:11] NivShalmon commented on #1578
no, but you can tell it worked by the addition of the spartanizer menu and some buttons to the toolbar

[2017-07-02 10:14] tomnof commented on #1576
it's here. easy to miss

[2017-07-02 10:15] AviadCo commented on #1578
@NivShalmon  - i don't find all the symbols  which mentioned in the WIKI (e.g. Toggle Athenizer)

[2017-07-02 10:16] yossigil commented on #1578
@AviadCo : You are not supposed to contact people by phone.

[2017-07-02 10:16] tomnof opened #1579 "[Final] please grant me access to the wiki (Athenizer)"

[2017-07-02 10:17] NivShalmon commented on #1579
check your mail for an invitation

[2017-07-02 10:18] NivShalmon commented on #1578
do you see the `Spartanizer `menu next to the `Refactor`? Also, what version of eclipse and what operating system are you using>

[2017-07-02 10:19] tomnof commented on #1579
no invitation yet

[2017-07-02 10:20] tomnof commented on #1579
working

[2017-07-02 10:20] #1579 closed, assigned to nobody

[2017-07-02 10:21] ArthurSap opened #1580 "Athenizer not working on eclipse for Java EE"
I think if the spartanizer works on eclipse for Java EE so should the athenizer.

[2017-07-02 10:22] ArthurSap commented on #1580
Oh and I cant put any lables/milestones on issues

[2017-07-02 10:22] RoeyMaor opened #1581 "Error when trying to install QJoyPad"
![screenshot from 2017-07-02 13-19-14](https://user-images.githubusercontent.com/16507852/27769014-789acf38-5f29-11e7-9ff4-85a4fcdb7653.png)

Couldnt find which lib to install from the QJoyPad site, will continue looking

[2017-07-02 10:22] AviadCo commented on #1578
eclipse version:

Eclipse IDE for Java Developers

Version: Neon.1a Release (4.6.1)
Build id: 20161007-1200

Operation System: Ubonto 16.04

And i can see the  Spartanizermenu next to the Refactor.

[2017-07-02 10:23] NivShalmon commented on #1578
can you post a print screen of your eclipse? how the menus and toolbar look right now

[2017-07-02 10:24] NivShalmon commented on #1580
What do you mean not working? Does the installation fail? Does it not expand the code properly? What did you do (step by step) and how did it fail?

[2017-07-02 10:28] dormaayan commented on #1581
@RoeyMaor I think that's the right link: [here](http://qjoypad.sourceforge.net/#download)

[2017-07-02 10:30] AviadCo commented on #1578
i can't post a screenshot.. the tab is closed when i take the screenshot (automatically...)
i when i click on Spartinizer tab -> Athenizer -> {
Athenize
Selection
Window
Project
}

i can't see Toggle Athenizer

[2017-07-02 10:31] #1577 closed, assigned to amirsagiv83

[2017-07-02 10:37] ArthurSap commented on #1580
Uninstall previous Spartanizer plugin
Restart eclipse (and then close it)
Put the jar in the dropins folder
Open eclipse
Nothing happened (nor any buttons appeared).

[2017-07-02 10:39] tomerdragucki commented on #1578
Added to Installation wiki a pic for knowing that the plugin was installed.

[2017-07-02 10:40] NivShalmon commented on #1580
Then unfortunately I have to say we don't support Java EE at the moment and you should install the regular IDE for java to test our plugin.

[2017-07-02 10:40] #1580 closed, assigned to nobody

[2017-07-02 10:41] NivShalmon commented on #1578
All of the athenizer options are under the Athenize sub menu

[2017-07-02 10:41] ArthurSap commented on #1580
Oh god why
Oh well

[2017-07-02 10:41] RoeyMaor commented on #1581
This is what i followed.
The instructions say that to install i need to run ./config, then make, then make install.
The error above was when i ran ./config. I googled and found out the libraries to download. I followed the link and downloaded the latest QT library, but when i run make, i get a compilation error:
![screenshot from 2017-07-02 13-28-29](https://user-images.githubusercontent.com/16507

[2017-07-02 10:42] NivShalmon commented on #1578
Which wiki mentationed the Toogle Athenizer button without mentioning the Athenizer menu?

[2017-07-02 10:43] AviadCo opened #1582 "Athenizer causes compilation errors"
To recreate bug:

git clone https://github.com/TechnionYP5777/SmartCity-Market.git

run Athenizer of all project on Employee project.

Here is a screenshot of the compilation error:

https://www.dropbox.com/s/jak3hm4y1u1rs13/photo_2017-07-02_13-36-55.jpg?dl=0

[2017-07-02 10:46] dormaayan commented on #1581
@RoeyMaor , We don't support problems regrading the installation of Joystick Key-Binding, you can try to find another Joystick Key Binding Programs online

[2017-07-02 10:49] ravivos commented on #1582
There is no "Athenizer on all project"...
how did you run the athenizer on all project?

[2017-07-02 10:50] yuvalsimon commented on #1580
@ArthurSap  It worked in my computer, make sure you put the jar in eclipse/dropins

[2017-07-02 10:52] RoeyMaor commented on #1581
If i understand correctly, the joystick is only used as a cool key binding, meaning i could use all the features without it, correct?

[2017-07-02 10:52] yossigil commented on #1580
Good job @yuvalsimon @AdiOmari

[2017-07-02 10:53] ArthurSap commented on #1580
I put it there and it didn't work (Eclipse Neon 1 for Java EE)
But when I put it on the regular eclipse (Eclipse Oxygen) it worked

[2017-07-02 10:53] dormaayan commented on #1581
Right, you can simply use your keyboard and mouse wheel in order to make those operations
See wiki pages

[2017-07-02 10:53] #1581 closed, assigned to nobody

[2017-07-02 10:53] yossigil commented on #1581
Good job @dormaayan

[2017-07-02 10:54] AviadCo commented on #1582
Spartinzier -> Athenize... -> Project

[2017-07-02 10:55] yossigil commented on #1577
GOOD job @amirsagiv83

[2017-07-02 10:55] AviadCo opened #1583 "Add me as contributer"
So i can create an experience WIKI

[2017-07-02 10:56] NivShalmon commented on #1582
where did you install the plugin from?

[2017-07-02 10:58] ravivos commented on #1583
I added you and gave you writing permissions.
Accept the invitation

[2017-07-02 10:58] #1583 closed, assigned to nobody

[2017-07-02 10:59] AviadCo commented on #1578
![untitled-1](https://user-images.githubusercontent.com/12224702/27769245-a3666830-5f2e-11e7-89e1-1a9d22ee9936.jpg)

https://github.com/SpartanRefactoring/Main/wiki/Athenizer

[2017-07-02 11:00] ravivos commented on #1582
@AviadCo , did you uninstall the previous version you add, follow the installation instructions and download the JAR file + add it to your dropins folder?

[2017-07-02 11:00] Kolikant opened #1584 "I am unable to understand any of the options"
![image](https://user-images.githubusercontent.com/23051198/27769255-bf3bcd66-5f2e-11e7-8e51-c767bba25d0e.png)

the names don't mean anything to me and there isn't an explanation on them, the only way to understand what each one does is through trial and error and that's just not nice :(

[2017-07-02 11:00] Kolikant opened #1585 "no button to clear code in the playground"
it just allows to clear the spartanization result.
but if clicking the "Spartanize" button already overwrites it, then why does the clear button remove the result rather than the code to be spartanized? it seems to me that the code to be spartanized would be the one which we would like to be cleared

[2017-07-02 11:01] Kolikant opened #1586 "not replacing always true statement with removing the if"
I made exceptionally stupid code

![image](https://user-images.githubusercontent.com/23051198/27769261-ea70f1be-5f2e-11e7-98a4-1a8c2c01dae8.png)

however, even though the statement is always true, spartanization left it in

![image](https://user-images.githubusercontent.com/23051198/27769265-f213c81a-5f2e-11e7-844e-0bb26ed96d92.png)

[2017-07-02 11:02] NivShalmon commented on #1578
It says to press the button in `Spartanizer->Athenize->Toggle Athenizer`, not `Spartanizer->Toggle Athenizer`

[2017-07-02 11:03] #1578 closed, assigned to nobody

[2017-07-02 11:03] RoeyMaor commented on #1584
Have you tried to install the relevant release from this repo?

[2017-07-02 11:04] amirsagiv83 commented on #1586
We don't have a tipper for this particular situation. IntelliJ already has a built in inspection that checks for this and is enabled by default so we decided to leave this out.

[2017-07-02 11:04] #1586 closed, assigned to nobody

[2017-07-02 11:05] Kolikant commented on #1584
I installed from the eclipse plugin, is that not the updated version?

[2017-07-02 11:05] RoeyMaor commented on #1585
The clear button clears all of the code, you have installed the version from the old repo

[2017-07-02 11:05] #1585 closed, assigned to nobody

[2017-07-02 11:05] amirsagiv83 commented on #1585
Again, your'e working with the wrong release! take the latest release from this repo!

[2017-07-02 11:06] amirsagiv83 commented on #1584
in the installation menu in the wiki in this repo you can find exactly how to install the plugin.
https://github.com/SpartanRefactoring/Main/wiki/IntelliJ-Install-Me

[2017-07-02 11:07] amirsagiv83 commented on #1584
![image](https://user-images.githubusercontent.com/15860047/27769302-c66f523c-5f2f-11e7-97d9-2ceb28250a36.png)

[2017-07-02 11:07] #1584 closed, assigned to nobody

[2017-07-02 11:07] yuvalsimon commented on #1582
@AviadCo It works for me (with the last release):
![image](https://user-images.githubusercontent.com/17455055/27769297-b8ee49ce-5f2f-11e7-8901-a42ebe8b8799.png)
This is the code from your image
Maybe you don't have the last release?
(The error is because I don't have JavaFX I think)

[2017-07-02 11:20] ArthurSap opened #1587 "Bug with shrinking strings"
I used the code shrink on the following code and got this:
Original code:
[code]
New code:
`System.out.println("Elapsed time = " + System.currentTimeMillis() - startTime + " ms");`

As you can see ` System.currentTimeMillis() - startTime` isn't a viable string.

[2017-07-02 11:22] leyaniv opened #1588 "Leonidas\Spartanizer ignoring order of operations"
the following lines of code:
[code]

were changed to this:
[code]

causing unexpected results

[2017-07-02 11:22] ZivIzhar opened #1589 "Tabs in playground aren't transferring correctly"
![image](https://user-images.githubusercontent.com/16669466/27769445-dc567272-5f31-11e7-86a4-bc1c5670b0b4.png)

[2017-07-02 11:22] ArthurSap opened #1590 "Bug with multiple error catch"
I used a code that runs on java 7 (there was no requirement for java 8) with multiple errors:
[code]
and got this:
`try {gn.generate(args);} catch (NoSuchMethodException | InstantiationException | IllegalAccessException | InvocationTargetException | ClassNotFoundException ¢){System.out.println(¢);}`

With the following error:
`Multi-catch parameters are not allowed for source level below 1.7`

[2017-07-02 11:26] RoeyMaor opened #1591 "Reality-Testing Report"
Will publish my report and experience after the end of the second part tomorrow

[2017-07-02 11:27] RoeyMaor commented on #1589
This is not the current version of the plugin. please follow the installation instructions https://github.com/SpartanRefactoring/Main/wiki/IntelliJ-Install-Me

[2017-07-02 11:33] RoeiRaz commented on #1588
@leyaniv We weren't able to reproduce this bug. Are you sure you are using the latest release? (from https://github.com/SpartanRefactoring/Main/releases)

[2017-07-02 19:43] RoeyMaor commented on #1373
### Week 1:
- Wrote a wiki with sharon – the coding standards of the project
	https://github.com/TechnionYP5777/Leonidas-FTW/wiki/Coding-Standards

- Created social warnings
	https://github.com/TechnionYP5777/Leonidas-FTW/issues/131

- Created issue to accept coding standards
	https://github.com/TechnionYP5777/Leonidas-FTW/issues/132

<br>

### Week 2 – vacation

<br>

### Weeks 3-4:
- Researched

[2017-07-02 20:31] yossigil opened #1592 "Label should be final, not athenizer client game"

[2017-07-03 07:17] #1355 closed

[2017-07-03 07:48] RoeiRaz commented on #1372
## Week 1-2
Wrote a custom logging tool, and some tests for it
https://github.com/SpartanRefactoring/Main/issues/1366

## Week 3-4
Bug fixes,
worked with @OriRoth on migrating the Spartanizer to gradle.

## Week 5-8
Transferred Leonidas repo, with all the commit history, to the Spartanizer repo.
Wired the gradle model to make Leonidas be dependent on the Spartanizer (like requested), so we'll be a

[2017-07-03 07:48] #1372 closed

[2017-07-03 08:51] ravivos commented on #1592
Done

[2017-07-03 08:51] #1592 closed, assigned to ravivos

[2017-07-03 08:51] ravivos commented on #1591
Great

[2017-07-03 09:34] RoeyMaor opened #1593 "Athenize current selection not working - no binding in current selection"
for example:
![image](https://user-images.githubusercontent.com/16507852/27786953-d7f49e7e-5feb-11e7-9e1d-7d8fb3969bbd.png)
happens with other examples too

[2017-07-03 09:34] LiorBenAmi opened #1594 "Please give me permission to write wiki (Leonidas). tnx"

[2017-07-03 09:37] Kolikant opened #1595 "no, back to default button in toolbox"
the toolbox is great and has intuitive explanations. however, when I opened the spartanizer the first time, it had some sort of default choices, only having about half selected and half unselected.

I selected all in order to test everything, but now I don't have a way to return back to the default configurations of when the application has started.

maybe if it had some starting configurations, t

[2017-07-03 09:38] dormaayan commented on #1590
@ArthurSap: You are right, this specific tipper can't be applied while compiling with Java 7.
You can simply disable the specific tipper by Right Click on the project, choosing "Spartanizaition Preferences" under Refactoring

[2017-07-03 09:38] #1590 closed, assigned to nobody

[2017-07-03 09:44] OriRoth commented on #1593
It seems there is no binding in "current selection", we will solve it in the next release. In the meanwhile, use the mouse wheel/zoom the entire document in order to zoom this statement out.

[2017-07-03 09:44] RoeyMaor commented on #1595
The default configuration is the one where all tippers are active. there exists a button "select all" which de-facto acts as a back-to-default (since the default is that everything is checked). In the release we published here only some tippers were marked by default, but that wasn't our intention.

[2017-07-03 09:44] ravivos commented on #1582
I guess you downloaded the latest release and now it's working, right? 💯

[2017-07-03 09:44] #1582 closed, assigned to nobody

[2017-07-03 09:44] #1595 closed, assigned to nobody

[2017-07-03 09:45] EliaTraore opened #1596 "Can I have a writing permission? (Athenizer)"

[2017-07-03 09:47] Kolikant opened #1597 "analyze file not as informative as the toolbox"
the toolbox has great information and examples as to what each tipper means, however when you choose to analyze a file, you would get this
![image](https://user-images.githubusercontent.com/23051198/27787503-9cdaba6a-5fed-11e7-894e-d4a28b6d8a92.png)

without the ability to see here what each tipper would mean, proving difficulty in making sense of what to choose.

having clicking on the options, t

[2017-07-03 09:48] ArthurSap opened #1598 "No examples for tippers"
In the preferences window where we can choose tippers it says to double click for an example but almost all tipper don't have any example.

[2017-07-03 09:48] Kolikant commented on #1595
oh, that's why I thought a default option existed then. thanks

[2017-07-03 09:51] ZivIzhar opened #1599 "Update your old repo that it's outdated"
readme.md and stuff

[2017-07-03 09:51] amirsagiv83 commented on #1597
As you can understand this is not a bug. It's just a design decision we've made.
We would love it if you write your suggestion for giving more information in this window in your wiki report.

[2017-07-03 09:51] #1597 closed, assigned to nobody

[2017-07-03 09:52] Kolikant commented on #1597
you got it

[2017-07-03 09:52] SharonKL commented on #1594
@OriRoth

[2017-07-03 09:52] NivShalmon commented on #1598
@ArthurSap The tippers are part of the spartanizer, and not part of our project. Since the examples are a new mechanic we added, most tippers don't have them yet. Since we only do maintainance work on the spartanizer, we didn't have the time to go over every single tipper and add examples to all of them.
I'm putting this is the backlog for now

[2017-07-03 09:54] orenafek commented on #1599
Thank you for this comment.
You're absolutely right!
@SharonKL  is working on it.

[2017-07-03 09:54] SharonKL commented on #1599
@orenafek & @ZivIzhar are on it

[2017-07-03 09:54] ArthurSap commented on #1598
I don't really know to which project it belongs but since the athenizer does make use of the tippers (in the shrinking) I thought it was related.

[2017-07-03 09:58] SharonKL commented on #1599
Updated, thanks @orenafek:
https://github.com/TechnionYP5777/Leonidas-FTW/blob/master/README.MD

[2017-07-03 09:59] RoeyMaor opened #1600 "Zoom in / Zoom out once from the menu not working"
Am I using it correctly?
I tried to place my caret somewhere and then activate it from the menu, also tried marking the relevant code and then activating.
for example:
![screenshot from 2017-07-03 12-51-40](https://user-images.githubusercontent.com/16507852/27787973-6a543dd0-5fef-11e7-97bb-9f31021eaff7.png)

[2017-07-03 09:59] orenafek commented on #1599
![image](https://user-images.githubusercontent.com/15859817/27787976-72f95a06-5fef-11e7-9c07-5e3d6b129e76.png)

[2017-07-03 09:59] #1599 closed, assigned to amirsagiv83

[2017-07-03 10:00] ZivIzhar commented on #1589
![image](https://user-images.githubusercontent.com/16669466/27787986-7830c3ba-5fef-11e7-87c5-d9b9c02ee5bc.png)
A little better, but still all tabs are being removed!

[2017-07-03 10:01] ArthurSap opened #1601 "Zooming in on several methods and zooming out on one."
I tried to zoom in on several methods, and then to zoom out only on a single one. I put the courser on the method I wanted to zoom out on one (it was one of the first I zoomed in on) with the mouse scroll is zoomed out on the latest. Is this how it should be?

[2017-07-03 10:05] dormaayan commented on #1601
@ArthurSap : The Zoom in Zoom out scroller is working from top down of the file or from down to up. That's how it should be

[2017-07-03 10:05] #1601 closed, assigned to nobody

[2017-07-03 10:06] EliaTraore opened #1602 "Bug: No stopping point to the expension (Atanizer)"
If you press the atanizer button enough times, you'll get a code that doesn't compile -

![bug_atanizer](https://user-images.githubusercontent.com/15971916/27770336-9916d61e-5f45-11e7-9aad-fd69d2f7b2d7.gif)

[2017-07-03 10:10] ZivIzhar commented on #1589
The Code:

[code]

[2017-07-03 10:11] LiorBenAmi commented on #1594
. . .

[2017-07-03 10:15] ArthurSap opened #1603 "Athenizer expand active window (from the menu) adds the same imports several times"
Before:
![image](https://user-images.githubusercontent.com/15543389/27788497-8030d684-5ff1-11e7-9023-af8937917c0b.png)

After:
![image](https://user-images.githubusercontent.com/15543389/27788511-986500a4-5ff1-11e7-9f25-ee4dbdf6cdcb.png)

[2017-07-03 10:16] NivShalmon commented on #1602
Thank you for your support and detailed bug report.
This is a known bug, related to #1339. This happen because you press the button too fast. Put in backlog for now

[2017-07-03 10:17] #1596 closed, assigned to nobody

[2017-07-03 10:18] OriRoth commented on #1603
Can you check the plugin version? Help->Installation Details->Spartan Refactoring
If you dropped-in the plugin, just paste here the jar's name.

[2017-07-03 10:18] RoeyMaor commented on #1589
fixed it

[2017-07-03 10:18] #1589 closed, assigned to orenafek, amirsagiv83, RoeyMaor, SharonKL

[2017-07-03 10:20] tomerdragucki commented on #1600
Hey Roey! You are using it correctly (marking code and then activating). We fixed this right now and this will be added to our release later today. Thanks.

[2017-07-03 10:20] #1600 closed, assigned to ravivos, tomerdragucki

[2017-07-03 10:20] ZivIzhar opened #1604 "No example in LambdaExpressionRemoveRedundantCurlyBraces"
![image](https://user-images.githubusercontent.com/16669466/27788688-409d7238-5ff2-11e7-93b4-8d8302193335.png)
![image](http://i0.kym-cdn.com/photos/images/newsfeed/000/173/576/Wat8.jpg?1315930535)

[2017-07-03 10:21] NivShalmon commented on #1587
thank you for the bug report.
I've looked into this and unfortenatly, We won't be able to solve this issue during this reality test, so it is pushed into the backlog

[2017-07-03 10:21] orenafek commented on #1604
This is shameful.
@SharonKL can you deal with it ?

[2017-07-03 10:23] ArthurSap commented on #1603
il.org.spartan.plugin_2.13.1

[2017-07-03 10:25] OriRoth commented on #1603
Did you zoomed-in the whole file at once?

[2017-07-03 10:25] #1602 closed, assigned to nobody

[2017-07-03 10:25] dormaayan opened #1605 "Spartanize Current File Doesn't Work"
While I'm trying to Spartanize current file, it seems like being stuck in an infinite loop and an IDE error is thrown

[2017-07-03 10:27] RoeiRaz commented on #1605
Hi, could you add a pastebin of the file you tried to spartanize + the exception trace, if possible?

[2017-07-03 10:27] yuvalsimon commented on #1603
@ArthurSap What project is it?

[2017-07-03 10:27] tomnof opened #1606 "[Final] Athenizer widget won't come up"
I used the git push option, got a success message (not sure why, I haven't pushed anything, would expect to get a relevant message), and when I tried to re-open the widget again, I couldn't - nothing happened. Only after Eclipse restart, it worked again.

[2017-07-03 10:28] ArthurSap commented on #1603
@OriRoth From the Spartanize option window: Athenize... -> Active window.
@yuvalsimon I suppose its the athenizer.

[2017-07-03 10:30] EliaTraore commented on #1602
Fyi, this also happen with the button and not only in the widget

[2017-07-03 10:31] leyaniv opened #1607 "Leonidas saying "Spartanize this!" twice on mouse hover"
Is this suppose to happen?

![image](https://user-images.githubusercontent.com/11694372/27789047-9410afa6-5ff3-11e7-890c-5dadf5337ccc.png)

Also, I still do not have permission to edit your wiki

[2017-07-03 10:32] ZivIzhar commented on #1604
Also LispLastElement
@SharonKL

[2017-07-03 10:32] dormaayan commented on #1605
Yes, it's actually my assignment in Software Design which can be found [here](https://github.com/dormaayan/software-design-3)

Try it over `SubscriberInitializerImpl.java`

[2017-07-03 10:35] ravivos commented on #1603
@ArthurSap
he means - what is the code you used the plugin on?
we want to check it and fix ASAP

[2017-07-03 10:39] ArthurSap commented on #1603
@ravivos Its something personal, big ass project from work
I can try send it to you

[2017-07-03 10:40] tomerdragucki commented on #1593
Fixed. Thanks Roey! Will be available in the next release later today.

[2017-07-03 10:40] RoeyMaor commented on #1607
Regarding the wiki permissions - non of our team members are admins for this repo, we have tried to contact the admin @OriRoth to get you permissions, and are still trying. anyways, in the meantime you can open an issue where you will write your report.
Regarding the annotation description that appears twice - this is a bug in the annotation engine of intellij, and we have no control over it.

[2017-07-03 10:41] #1607 closed, assigned to nobody

[2017-07-03 10:41] #1593 closed, assigned to tomerdragucki

[2017-07-03 10:42] RoeyMaor commented on #1594
Regarding the wiki permissions - non of our team members are admins for this repo, we have tried to contact the admin @OriRoth to get you permissions, and are still trying. anyways, in the meantime you can open an issue where you will write your report.

[2017-07-03 10:42] #1594 closed, assigned to nobody

[2017-07-03 10:42] Kolikant opened #1608 "double clicking MethodDeclarationChangeSingleParameterToCent displays white screen"
![image](https://user-images.githubusercontent.com/23051198/27789468-6d36d8ea-5ff5-11e7-812e-159dc4dd57db.png)

waited 2 minutes, closes, tried again, waited two minutes, same result. empty screen

[2017-07-03 10:43] leyaniv commented on #1588
It happened to me at home using eclipse and the plugin from the marketplace (downloaded about 2 weeks ago).
I'll be able to test it again on tonight.
This issue might not be related to "Leonidas" (I wasn't aware of the difference between the projects)

[2017-07-03 10:43] amirsagiv83 commented on #1608
This bug is fixed. the same issue was opened yesterday... we just didnt publish a new release.
Thanks

[2017-07-03 10:44] #1608 closed, assigned to nobody

[2017-07-03 10:46] RoeyMaor commented on #1588
You are talking about the eclipse spartanizer for eclipse, this is not our project.
Refer to the installation guide of leonidas:
https://github.com/SpartanRefactoring/Main/wiki/IntelliJ-Install-Me

[2017-07-03 10:46] #1588 closed, assigned to nobody

[2017-07-03 10:56] OriRoth commented on #1603
This is a known bug. Using the mouse wheel to zoom should not produce redundant imports though.

[2017-07-03 10:56] ZivIzhar opened #1609 "The Add New Tipper window has UI problems"
First, it slides out of my screen:
![image](https://user-images.githubusercontent.com/16669466/27790018-5e4eca34-5ff7-11e7-8a5f-4f556348c3af.png)

Second, the window has no name

[2017-07-03 10:57] ravivos commented on #1603
@ArthurSap  no need, this is a known bug for "active window".
moved to backlog

[2017-07-03 11:02] AviadCo opened #1610 "[Final] - How do i know if i use the latest version?"

[2017-07-03 11:04] leyaniv opened #1611 "Leonidas: Exception in plugin"
It happens every time I click on Leonidas -> Spartanize. Tried on few files.

![image](https://user-images.githubusercontent.com/11694372/27790164-0cb16348-5ff8-11e7-981c-bd631573759b.png)

[code]

[2017-07-03 11:04] tomerdragucki commented on #1606
Hey Tom, thanks for opening the issue! We fixed the wrong git message issue and it'll be available in our next release later today. As for the widget not coming up issue, we still didn't manage to recreate it.

[2017-07-03 11:04] SharonKL commented on #1609
done @ZivIzhar

![image](https://user-images.githubusercontent.com/22201290/27790244-5e2faab8-5ff8-11e7-94c8-01cb1da8849b.png)

[2017-07-03 11:04] #1609 closed, assigned to orenafek, SharonKL, AnnaBel7

[2017-07-03 11:05] AviadCo commented on #1610
I think that preferences should include this information

[2017-07-03 11:05] RoeyMaor commented on #1591
https://github.com/SpartanRefactoring/Main/wiki/Roey-Maor's-Reality-test-report

[2017-07-03 11:05] ZivIzhar opened #1612 "Consider moving the "About" window in the menu be last"
It usually is last.

[2017-07-03 11:06] AdiOmari opened #1613 "Problem with notifications, not clickable (as one would expect) and repeated the number of rules to be applied"
![1](https://user-images.githubusercontent.com/5457431/27790338-bc4a7a06-5ff8-11e7-97ed-1c030f8d4930.png)

[2017-07-03 11:07] #1606 closed, assigned to tomerdragucki

[2017-07-03 11:08] ravivos commented on #1610
If you downloaded and installed through a jar file then it's the name of the jar file in your dropins folder.
Otherwise, it will be in the help->installation details

[2017-07-03 11:08] #1610 closed, assigned to nobody

[2017-07-03 11:09] AdiOmari opened #1614 "The enable/disable button defaults to “Enable spartanization” although the spartanizer is enabled by default"
![2](https://user-images.githubusercontent.com/5457431/27790428-077bcc3c-5ff9-11e7-97d0-9e6f620b7bb1.png)

[2017-07-03 11:09] RoeyMaor commented on #1612
fixed
![screenshot from 2017-07-03 14-08-49](https://user-images.githubusercontent.com/16507852/27790466-2df83c7e-5ff9-11e7-9e1d-c446d7a9b9b9.png)

[2017-07-03 11:09] #1612 closed, assigned to RoeyMaor, SharonKL

[2017-07-03 11:09] AnnaBel7 commented on #1604
Examples were added

[2017-07-03 11:09] #1604 closed, assigned to SharonKL, AnnaBel7

[2017-07-03 11:13] AdiOmari opened #1615 "Undoing (with “ctrl+z” to be specific) after sparanization does not work, it breaks the code keeping both versions"
![3](https://user-images.githubusercontent.com/5457431/27790597-d56c4248-5ff9-11e7-8679-889b836fe6e8.png)

[2017-07-03 11:14] AnnaBel7 commented on #1614
@AdiOmari It seems you are using an old release. This was fixed in newer releases. [The new release](https://github.com/SpartanRefactoring/Main/releases/tag/SpartanizerJ1.2).

[2017-07-03 11:14] #1614 closed, assigned to nobody

[2017-07-03 11:17] amirsagiv83 commented on #1611
Hi,

Youre still on the wrong release.

There is no spratanize button on the newest release..

the release is SpartanizeJ1.2

[2017-07-03 11:17] #1611 closed, assigned to nobody

[2017-07-03 11:17] AnnaBel7 commented on #1613
This is a known bug of Intellij's Annotator.

[2017-07-03 11:17] #1613 closed, assigned to nobody

[2017-07-03 11:18] AnnaBel7 commented on #1615
see comment in #1614

[2017-07-03 11:18] #1615 closed, assigned to nobody

[2017-07-03 11:19] LiorBenAmi opened #1616 "Leonidas - when run over the mouth over "tipped" line, get non equal number of "Spartanzie This!""
sometimes I get 4 lines of "Spartanzie This!", others 2 lines. its definition is not clear.

[2017-07-03 11:21] amirsagiv83 commented on #1616
This is a problem in IntelliJ's annotator and we dont have control on it.

[2017-07-03 11:21] #1616 closed, assigned to nobody

[2017-07-03 11:21] amirsagiv83 commented on #1605
fixed

[2017-07-03 11:21] #1605 closed, assigned to RoeiRaz

[2017-07-03 11:22] AviadCo opened #1617 "When trying to run undo - there are too many undos and i can't recover the original"
Add feature to recover file

[2017-07-03 13:36] noamyft opened #1618 "The spartianizer changed my code and caused tests to fail"
I just spartinzed my class. After I run the test, I discovered 2 tests failed.
When I looked into it, I discover that the spartanizer change my code:
Form this:

[code]

To this:

[code]

Meaning, this: **sp.getAmount() / periodInDays** changed to this: **periodInDays * sp.getAmount() / 1.**

From what I understand, it changed the operation from division to multiplication. If so, this is seriously

[2017-07-03 14:54] ravivos commented on #1617
Thank you, we will take it into consideration, maybe something to think about.
Mean while, you can use the athenizer to get some more "weight" to your code.
Did you try athenizing after spartanizing?

[2017-07-03 21:03] OriRoth commented on #1617
Check out the "Athenizer" preferences page. In there you'll be able to check "compound zooms" option which consolidate zoom operations.

[2017-07-03 21:04] OriRoth commented on #1618
@ravivos why did you assigned me? I am not related to arithmetic tippers. Talk to Yossi/Niv please.

[2017-07-03 21:06] OriRoth commented on #1591
Very complimentary, thank you.

[2017-07-03 21:06] #1591 closed, assigned to nobody

[2017-07-03 21:12] OriRoth commented on #1609
איזה בכיין אתה זיו זה משהו

[2017-07-03 21:14] OriRoth commented on #1609
No no you are alright, all bugs are important.

[2017-07-05 14:29] SpartanCI opened #1619 "SpartanRefactoring #4 failed"
Build 'SpartanRefactoring' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
- [yogi] 50d64cc4add539c553d4471b0fcedd99efb54599 - sync

- [yogi] b29f6e031b1410cf9da23b72c7458e8b6be8fca7 - fix warnings and errors

- [siyuval] ea23e4acb0697c56087b05b3ab45cfe9408e41b1 - closes #1548

- [siyuval] 71b45eefe407b247c0b98627fe54a0e75d797460 - cl

[2017-07-05 14:42] SpartanCI commented on #1619
Build 'SpartanRefactoring' is failing!

Last 50 lines of build output:

[code]
[view full build]{https://ssdlspartanci.cs.technion.ac.il/job/SpartanRefactoring/7/}

[2017-07-05 14:43] #1619 closed, assigned to nobody

[2017-07-05 14:43] SpartanCI commented on #1619
Build 'SpartanRefactoring' is failing!

Last 50 lines of build output:

[code]
[view full build]{https://ssdlspartanci.cs.technion.ac.il/job/SpartanRefactoring/8/}

[2017-07-05 14:45] SpartanCI opened #1620 "SpartanRefactoring #9 failed"
Build 'SpartanRefactoring' is failing!

Last 50 lines of build output:

[code]
[view full build]{https://ssdlspartanci.cs.technion.ac.il/job/SpartanRefactoring/9/}

[2017-07-05 14:48] #1620 closed, assigned to nobody

[2017-07-05 14:48] SpartanCI opened #1621 "SpartanRefactoring #10 failed"
Build 'SpartanRefactoring' is failing!

Last 50 lines of build output:

[code]
[view full build](https://ssdlspartanci.cs.technion.ac.il/job/SpartanRefactoring/10/)

[2017-07-05 15:13] SpartanCI commented on #1621
@yossigil Hi! I am the Jenkins account @OriRoth and @RoeiRaz registered to this repository (with write privileges). I will open issues for failing tests, you may talk to @OriRoth if you want to further configure me.

[2017-07-08 13:46] #1368 closed

[2017-07-09 17:50] hanneshorn opened #1622 "Eclipse update site does not exist"
Eclipse update site http://spartan.cs.technion.ac.il/site does not exist

[2017-07-09 18:40] OriRoth commented on #1622
Hello @hanneshorn, thank you for posting this issue. We are aware of the problem and work to fix it as soon as possible. In the meanwhile, I would suggest manual installation of the plugin:
1. Download the plugin [jar](https://github.com/SpartanRefactoring/Main/releases/tag/2.13.4)
2. Follow [manual installation](https://stackoverflow.com/questions/926594/installing-a-plain-plugin-jar-in-eclipse-3

[2017-07-15 09:42] yossigil commented on #1592
:+1:

[2017-07-15 09:43] yossigil commented on #1355
:+1:

[2017-07-15 09:43] yossigil commented on #134
:+1:

[2017-07-15 09:44] yossigil commented on #1450
Good job @yuvalsimon  ,

@AdiOmari

[2017-07-19 01:00] yuvalsimon opened #1623 "Perhaps bug in wizard.live()"
It accepts a collection of declaration fragments and considers fragments without initializers as dead variables (without checking the following code). Maybe need better name for this method?
Check out 48090bbb5cd93c8987ed9033751bcd623f2301eb for a bug resulted from this.

[2017-08-14 18:42] hanneshorn opened #1624 "Is this project dead? If so, could at least the Eclipse update site issue be fixed?"

[2017-08-14 19:37] OriRoth commented on #1624
Vise versa, the project is alive yet the update site have seen better days. I promise you will be notified whether this issue (faculty servers policy changes) is solved. I close this issue, you may stay tuned to #1622.

[2017-08-23 13:37] yossigil commented on #1624
@OriRoth : please do it

[2017-08-27 15:23] #1617 closed, assigned to nobody

[2017-08-27 15:24] OriRoth commented on #1598
Known.

[2017-08-27 15:24] #1598 closed, assigned to nobody

[2017-08-27 15:25] OriRoth commented on #1587
NO BACKLOG bug in parenthesis need check.

[2017-08-27 15:26] OriRoth commented on #1551
We did it better.

[2017-08-27 15:26] #1551 closed, assigned to dormaayan

[2017-08-27 15:45] OriRoth opened #1625 ""begin" usage ambiguity"
Every new file/every new project. `TraversalTappers`

[2017-08-27 21:26] hanneshorn commented on #1624
New version 2.13.5: with spartan jar file in eclipse dropins folder and starting eclipse with -clean doesn't appear to do anything.
A couple of releases back a Spartan menu used to show under "Window-Preferences-Java" (if I recall correctly). Is the Spartan menu somewhere else now?

[2017-09-01 16:08] wei-yuan opened #1626 "Correction of Ternarization.md"
Hi guys
Thanks for your tutorial
But I believe there might have something missing here in [Ternarization.md](https://github.com/SpartanRefactoring/Main/wiki/Ternarization)

Here is another example, taken from the JTL code development. The following code excerpt uses the string s twice.
[code]
to

[code]
[Correction file here](https://github.com/wei-yuan/Main-Wiki-Correction/blob/master/Ternarizati

[2017-09-01 16:16] OriRoth commented on #1626
I think the idea was to take a real world example (JTL) (i.e. existing code). Otherwise the two cases are identical and both can be spartanized.
Is there something I missed? Anyway thanks for your interest.

[2017-09-01 16:22] OriRoth commented on #1626
BTW the spartanization here can be incorrect in some contexts; the original code can return `null` while the spartanized version cannot. I think the current version of the spartanizer only merges the statements without pushing down the ternary operator:
[code]

[2017-09-02 02:47] wei-yuan commented on #1626
@OriRoth Thx for reply, I just want to make sure I didn't misunderstand anything

[2017-11-02 19:00] OriRoth commented on #1624
@hanneshorn it is probably a problem with the manual plugin installation. There is a new top menu option called `Spartanizer`, everything has been moved there.

[2017-11-02 19:03] OriRoth commented on #1624
The [update site](http://spartan.cs.technion.ac.il/site/) for the plugin specified at the Eclipse marketplace is on again! You can install the plugin in the usual way.
* The newest version will be uploaded somewhere in the future
* This project is not dead

[2017-11-02 19:03] #1624 closed, assigned to nobody

[2017-12-23 17:22] hanneshorn opened #1627 ""Remove redundant curly braces" tipper not in preferences menu"
As the subject line says.
In my project I get thousands of said tips. Can't see the forest for the trees!
Using java8 with Spartan v2.12.1

[2017-12-23 17:29] OriRoth commented on #1627
You can toggle unwanted tippers at the [preferences menu](https://github.com/SpartanRefactoring/Main/wiki/Spartanizer-Preferences). I would gladly help with further problems, if such arise.

[2017-12-23 21:50] hanneshorn commented on #1627
I'm aware of the settings menu. I just couldn't guess which item I'd have to turn off to disable said tip.

[2017-12-23 22:58] OriRoth commented on #1627
I cannot find the exact one. It should be under the `SyntacticBaggage` category. You can also use the `disable tip` from the marker's quick-fix menu (opened via cursor+ctrl+1 or mouse hover). @dormaayan maybe you can find the right one?

[2017-12-23 23:39] hanneshorn commented on #1627
Ori,
using the quick-fix menu to disable this tip did the trick.
But there doesn't seem a corresponding item in the preferences menu.
Thank you so much!

[2017-12-28 15:59] hanneshorn opened #1628 "latest version on eclipse marketplace"
Any chance to update the spartan version (v2.12.1) on eclipse marketplace to v2.13.5?

[2018-07-19 13:56] hanneshorn opened #1629 "is spartan dead? R.I.P."
No release for over a year and no commit activity for half a year.
This can only mean that the project has bitten the dust! Or has it not?

[2018-09-30 14:54] michalcohen opened #1630 "Bug with "Inline Next Increment""
When "expression(2)" refers to "index1", then the result isn't the same before and after the replacement.

[2018-09-30 21:09] michalcohen opened #1631 "Any Number Of Parameters"
Enable templates of the form:
`
/* start */
void method0 (AnyNumberOf parameters1){
    anyNumberOf(statement(2);
}
/* end */
`

[2018-10-31 06:47] HadadIdan commented on #326
ok

[2018-10-31 06:48] HadadIdan commented on #326
:+1:

[2018-10-31 06:58] maxcalderon1997 commented on #326
:+1:

[2018-10-31 07:01] OrYasso opened #1632 "foo"
working on my second tutorial session

[2018-10-31 07:01] HadadIdan opened #1633 "foo"
working on my second tutorial session

[2018-10-31 07:01] ghost opened #1634 "foo"
working on my second tutorial session

[2018-10-31 07:01] IlanitSmul opened #1635 "foo"
working on my second tutorial session

[2018-10-31 07:02] #1633 closed, assigned to nobody

[2018-10-31 07:03] #1632 closed, assigned to nobody

[2018-10-31 07:03] igorbash commented on #326
:+1:

[2018-10-31 07:04] OmerGlick commented on #326
👍

[2018-10-31 07:04] LiorBenYamin commented on #326
👍

[2018-10-31 07:05] NirChachmovitz commented on #326
👍

[2018-10-31 07:06] IlanitSmul commented on #1635
tutorial issue is #328

[2018-10-31 07:07] #1635 closed, assigned to nobody

[2018-10-31 07:08] ghost commented on #1634
#328

[2018-10-31 07:10] igorbash opened #1636 "foo"
working on my second tutorial session

[2018-10-31 07:12] ameeramer opened #1637 "foo"
working on my second tutorial session

[2018-10-31 07:13] shalev-kuba commented on #326
:+1:

[2018-10-31 07:15] #1637 closed, assigned to nobody

[2018-10-31 07:17] addirabasker commented on #326
:+1:

[2018-10-31 07:19] OrYasso commented on #326
:+1:

[2018-10-31 07:25] igorbash opened #1638 "foo"
working on my second tutorial session

[2018-10-31 07:26] igorbash commented on #1638
tutorial issue is #328

[2018-10-31 07:26] #1638 closed, assigned to nobody

[2018-10-31 07:26] NirChachmovitz opened #1639 "foo"
working on my second tutorial session

[2018-10-31 07:26] shalev-kuba opened #1640 "foo"
working on my second tutorial session

[2018-10-31 07:27] #1640 closed, assigned to nobody

[2018-10-31 07:27] NirChachmovitz commented on #1639
tutorial issue is #328

[2018-10-31 07:27] #1639 closed, assigned to nobody

[2018-10-31 07:27] LiorBenYamin opened #1641 "foo"
working on my second tutorial session

[2018-10-31 07:28] #1641 closed, assigned to nobody

[2018-10-31 07:47] ameeramer opened #1642 "A'meer A'mer: introduction_"

[2018-10-31 07:48] #1642 closed, assigned to nobody

[2018-10-31 07:51] ameeramer opened #1643 "Tutorial III: A presentable GitHub profile"
- [ ]  Use a picture, photo or distinct, familiar, personal
avatar. Don't use an automatic icon (we need this to be able to identify you in the tens of students we have):

| Example | Score | Why? |
| --- | --- | --- |
| ![image](https://cloud.githubusercontent.com/assets/12775400/19142710/39a00e24-8ba8-11e6-9971-da4e2f3b67c7.png) | Bad | Vague |
| ![image](https://cloud.githubusercontent.com/asse

[2018-10-31 07:52] ameeramer commented on #1643
@yossigil: Done.

[2018-10-31 07:53] #1643 closed, assigned to nobody

[2018-12-03 09:35] #1636 closed, assigned to yossigil

[2018-12-21 12:13] dormaayan opened #1644 "Testing Refactorings"
List of steps for test refactoring:
1. Convert simple non fluent Junit to simple assertions (TODO: add list)
2. Convert harmcrest to arithmetical expressions
3. Consolidate consequtive assertions
4. Consolidate methods with common setup and different tests
5. Remove verification of non-exception
6. Use expected exception instead of `try \ catch`
7. Split independent tests
8. Sane paramatrization o

[2018-12-21 12:34] yossigil commented on #1644
[code]

[2019-10-08 19:22] ghost opened #1645 "Migrate LGTM.com installation from OAuth to GitHub App"
Hi There,

This project is still using an old implementation of LGTM's automated code review, which has now been disabled. To continue using automated code review, and receive checks on your Pull Requests, please [install the GitHub App](https://github.com/apps/lgtm-com/installations/new) on this repository.

Thanks,
The LGTM Team